Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): update
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write

🐛(component): 修复 splitPanel 组件在拖拽时选中页面文字元素的问题
  package/component/src/component/checkbox/index.less
  package/component/src/component/splitPanel/index.vue
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.10.2 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 修复 collapse 组件 css 样式，border-radius 超过一定数值标题元素溢出组件的问题
  package/component/src/component/collapse/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 table 组件 total-row 启用后，数据超过表格既定高度，统计栏被压缩的问题
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 alpha 版本
  package/component/package.json
Due: prettier --write

✨(component): ✨(component): 发布 alpha 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

增加badge组件更多可能性
  package/component/src/component/badge/index.less
  package/component/src/component/badge/index.vue
  package/document-component/src/document/zh-CN/components/badge.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

增加avatar更多可能性
  package/component/src/component/avatar/index.less
  package/component/src/component/avatar/index.vue
  package/component/src/component/avatarList/index.vue
  package/component/src/component/avatarList/use-avatar-list.ts
  package/document-component/src/document/zh-CN/components/avatar.md
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

修复`ripple` 属性动画主题色没有跟随的问题
  package/component/src/component/badge/index.less
  package/component/src/component/badge/index.vue
  package/component/src/theme/public.less
  package/document-component/src/document/zh-CN/components/badge.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

修复下badge组件`color`属性
  package/component/src/component/badge/index.less
  package/component/src/component/badge/index.vue
  package/document-component/src/document/zh-CN/components/badge.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

提交badge组件测试用例
  package/component/src/component/badge/index.vue
  package/component/test/badge.test.ts
  package/document-component/src/document/zh-CN/components/badge.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/avatar/index.vue
  package/component/src/component/avatarList/index.vue
  package/component/src/component/avatarList/use-avatar-list.ts
  package/component/src/component/badge/index.vue
  package/component/test/badge.test.ts
  package/document-component/src/layouts/Layout.vue
  package/document-component/src/view/index.vue
  package/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/document-component/src/language/en_US.ts
  package/document-component/src/language/zh_CN.ts
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/document-component/src/document/zh-CN/components/color.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修复 color 属性不生效的问题
  package/component/src/component/badge/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 优化 badge 动画帧率
  package/component/src/component/badge/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/badge/index.vue
Due: prettier --write --no-verify, eslint --fix

1. 修复ripple属性背景色跟随问题 2. 修改独立下独立使用居中问题
  package/component/src/component/badge/index.less
  package/component/src/component/badge/index.vue
  package/component/src/theme/public.less
  package/component/test/badge.test.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): ✨(component): update
  package/component/package.json
  package/component/src/component/avatar/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/badge/index.vue
  package/component/test/badge.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

修复头像图片加载失败重复请求
  package/component/src/component/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

移除无效引用
  package/component/src/component/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 版本发布
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/avatar/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/document-component/src/components/LaySearch.vue
  package/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix

修复已知问题
  package/component/src/component/page/components/skip.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

修复已知问题
  package/component/src/component/datePicker/index.less
Due: none

✨(component): 发布 2.11.3 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/src/component/page/components/skip.vue
Due: prettier --write --no-verify, eslint --fix

更新avatar测试用例
  package/component/src/component/avatar/index.less
  package/component/test/avatar-list.test.ts
  package/component/test/avatar.test.ts
Due: prettier --write --no-verify, eslint --fix
