Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

📝(component): 重新编写 table 组件树表案例
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

🐛(component): 修复 table 组件树表状态全选后总控仍处于半选状态的问题
  package/component/src/component/table/hooks/useTable.ts
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 组件树表无法全选的问题
  package/component/src/component/table/hooks/useTable.ts
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): 完善 table 案例
  package/component/src/component/table/hooks/useTable.ts
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 checkbox 组件 skin 默认样式 label 与 icon 高度不一致的问题
  package/component/src/component/checkbox/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 调整 primary tag 主色为 #16baaa
  package/component/src/component/tag/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 完善 table 案例
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 修订版本号为 2.1.1
  package/component/package.json
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 完善 json-schema-form 组件
  package/json-schema-form/package.json
  package/json-schema-form/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

⬆️(component): 升级 vue 3.3.0 版本
  package.json
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/main.ts
  package/json-schema-form/.gitignore
  package/json-schema-form/README.md
  package/json-schema-form/package.json
  package/json-schema-form/shims-vue.d.ts
  package/json-schema-form/src/component/index.ts
  package/json-schema-form/src/component/index.vue
  package/json-schema-form/src/index.ts
  package/json-schema-form/src/types/index.ts
  package/json-schema-form/tsconfig.json
  package/json-schema-form/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 增加 autocomplete 下拉面板最大高度限制
  package/component/src/component/autoComplete/index.less
  package/component/src/component/autoComplete/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/autoComplete.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 改善 table 案例
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

✨(component): 升级 layer-vue 1.8.8 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/components/tab.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/Header.vue
  package/layer/src/component/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.1.2
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 加入 table 组件 loading 边距
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

📝(component): 更新日志
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 更新文档
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

update package/document-component/src/document/zh-CN/components/checkcard.md. 修正下checkcard文档
  package/document-component/src/document/zh-CN/components/checkcard.md
Due: prettier --write

🐛(component): 修复 tab 组件 title icon 与 closable 属性缺失响应式的问题
  package/component/src/component/tab/index.vue
  package/component/src/component/tabItem/index.vue
  package/document-component/src/document/zh-CN/components/tab.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.1.3
  package.json
  package/component/package.json
  package/component/src/component/tabItem/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新文档
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 select-option-group 与按需解析器兼容的问题
  package/component/package.json
  package/component/script/build.es.ts
  package/component/src/component/selectOptionGroup/index.less
  package/component/src/component/selectOptionGroup/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新文档
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 修订版本号，整理日志
  package/component/package.json
  package/component/script/build.es.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 form 组件 label-width 属性，用于统一设置 form-item 标签宽度
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.vue
  package/component/src/types/form.ts
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 修正 form 文档
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 icon-picker 组件 size 属性，默认值为 md, lg sm xs 为可选值
  package/component/src/component/button/index.hooks.ts
  package/component/src/component/cascader/index.hooks.ts
  package/component/src/component/checkbox/index.hooks.ts
  package/component/src/component/colorPicker/index.hooks.ts
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.hooks.ts
  package/component/src/component/iconPicker/index.hooks.ts
  package/component/src/component/iconPicker/index.less
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/input/index.hooks.ts
  package/component/src/component/inputNumber/index.hooks.ts
  package/component/src/component/radio/index.hooks.ts
  package/component/src/component/radioButton/index.hooks.ts
  package/component/src/component/select/index.hooks.ts
  package/component/src/component/switch/index.hooks.ts
  package/component/src/component/treeSelect/index.hooks.ts
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 color-picker 组件 size 属性
  package/component/src/component/button/index.hooks.ts
  package/component/src/component/cascader/index.hooks.ts
  package/component/src/component/checkbox/index.hooks.ts
  package/component/src/component/colorPicker/index.hooks.ts
  package/component/src/component/colorPicker/index.less
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/formItem/index.hooks.ts
  package/component/src/component/iconPicker/index.hooks.ts
  package/component/src/component/input/index.hooks.ts
  package/component/src/component/inputNumber/index.hooks.ts
  package/component/src/component/radio/index.hooks.ts
  package/component/src/component/radioButton/index.hooks.ts
  package/component/src/component/select/index.hooks.ts
  package/component/src/component/switch/index.hooks.ts
  package/component/src/component/treeSelect/index.hooks.ts
  package/component/src/types/form.ts
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 form 组件 size 属性，增加 input, select 等组件兼容，用于全局设置表单尺寸
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): form-item 加入 switch 与 select 组件的 size 属性适配
  package/component/src/component/select/index.vue
  package/component/src/component/switch/index.vue
Due: prettier --write --no-verify, eslint --fix

🌀(component): 优化 cascader 组件，统一 sm xs lg md 尺寸宽度皆为 220px
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.vue
  package/component/src/component/inputNumber/index.vue
  package/component/src/component/radioButton/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/button/index.less
  package/component/src/component/form/index.less
  package/component/src/component/formItem/index.vue
  package/component/src/component/inputNumber/index.vue
  package/component/src/component/radioButton/index.less
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/rate.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/checkbox/index.vue
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/form/index.less
  package/component/src/component/radio/index.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 完成 button 对 form 组件 size 属性的兼容
  package/component/src/component/button/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 优化 radio 组件 size 属性，不同值下给定不同的尺寸
  package/component/src/component/radio/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 select tree-select tag-input 组件在 form 下的样式问题
  package/component/src/component/form/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 优化 switch 样式
  package/component/src/component/form/index.less
  package/component/src/component/switch/index.less
Due: none

🌀(component): 优化 radio 组件样式
  package/component/src/component/radio/index.less
Due: none

✨(component): 优化 switch 组件在 form-item 不存尺寸下的居中问题
  package/component/src/component/form/index.less
Due: none

✨(component): 优化 rate 组件在 form-item 不同尺寸下的居中问题
  package/component/src/component/form/index.less
Due: none
