Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修改文档错误描述
  package/component/src/component/page/index.vue
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/document-component/src/view/guide.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/package.json
Due: prettier --write

✨(component): update
  package/layer/src/component/Header.vue
  package/layer/src/component/Resize.vue
  package/layer/src/component/index.vue
  package/layer/src/composable/useDragable.ts
  package/layer/src/composable/useMove.ts
  package/layer/src/composable/useResize.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 梳理更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.8.8 版本
  package/component/package.json
  package/document-component/src/App.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧: 移除 vue/reactivity 的使用
  package/component/src/component/datePicker/index.vue
  package/component/src/component/empty/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 升级 vue vueuse vuei18n 基础依赖
  package.json
  package/component/package.json
  package/component/src/component/datePicker/index.vue
  package/layer/src/component/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复按需时因 utils 打包进 badge 组件，导致涉及到引用 utils 的组件都会导入 badge 组件的问题
  package/component/script/build.es.ts
  package/component/src/component/treeSelect/index.vue
  package/component/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 修改 sandbox 链接
  README.md
  package/document-component/src/document/zh-CN/guide/getStarted.md
Due: prettier --write

✨(component): 标注需要改善的代码块
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 修改 snadbox 预览链接
  README.zh.md
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  README.md
  README.zh.md
Due: prettier --write

✨(component): 修复 upload 组件 cutOptions 属性缺少响应式的问题
  package/component/package.json
  package/component/src/component/upload/index.vue
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新日志
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 upload 组件裁剪后文件类型与裁剪前不一致的问题
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package.json
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write

🐛(layer): 修复 layer 组件 z-index 的相关问题, 并发布 1.4.9 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/tokens/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/layer/src/component/index.vue
  package/layer/src/tokens/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.8.10 版本
  package/component/package.json
  package/component/src/component/dropdown/index.less
  package/document-component/src/document/zh-CN/components/modal.md
Due: prettier --write

✨(component): 更新 modal.md 案例
  package/document-component/src/document/zh-CN/components/modal.md
Due: prettier --write

📝: layout 顶部链接去重, 改善边距
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 改善文档
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/layouts/Layout.vue
  package/document-component/src/view/index.vue
  package/document-component/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(radio): 改善 Radio defineEmits 类型
  package/component/src/component/radio/index.vue
  package/component/src/component/radio/interface.ts
  package/component/src/component/radio/typing.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/radio/index.vue
  package/component/src/component/radio/typing.ts
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/document-component/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): datePicker 新增format属性用于格式化值
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修复组件table行内编辑图标首次点击无效，只能从上到下开启编辑、从下到上关闭编辑，点击其他行图标也只从首行开始编辑
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

✨(component): update
  package/component/src/component/dropdown/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
