Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

refactor(tree): 移注第一版tree的实现
  docs/src/router/zh-CN.ts
  src/module/colorPicker/index.vue
  src/module/tree/TreeNode.vue
  src/module/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

feat(iconPicker): 缓存工作空间
  src/module/colorPicker/ColorBox.vue
  src/module/colorPicker/ColorPicker.vue
  src/module/colorPicker/colorPicker.type.ts
  src/module/colorPicker/colorUtil.ts
  src/module/colorPicker/index.vue
  src/use/usePosition.ts
Due: prettier --write --no-verify, eslint --fix

feat(iconPicker): 缓存工作空间
  src/module/colorPicker/ColorBox.vue
  src/module/colorPicker/ColorPicker.vue
Due: prettier --write --no-verify, eslint --fix

test
  src/use/usePosition.ts
Due: prettier --write --no-verify, eslint --fix

ci(deps): update deps
  package.json
Due: prettier --write

ci: 更新文档
  docs/docs/zh-CN/components/layout.md
  docs/docs/zh-CN/guide/introduce.md
  docs/index.html
  docs/src/assets/logo-2.png
  docs/src/assets/logo-3.svg
  docs/src/components/LaySearch.vue
  docs/src/router/zh-CN.ts
  docs/src/view/component.vue
  docs/src/view/guide.vue
  docs/src/view/home.vue
  src/css/layui.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

document: 更新文档
  docs/docs/zh-CN/guide/introduce.md
  docs/src/components/LayCode.vue
  docs/src/view/home.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(carousel): 初步完成 carousel 轮播组件
  docs/docs/zh-CN/components/carousel.md
  docs/src/view/home.vue
  src/module/carousel/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新文档
  docs/docs/zh-CN/guide/changelog.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  docs/src/view/index.vue
  package.json
  src/module/colorPicker/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新文档
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  docs/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

ci: 测试
  docs/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: component 文档分类
  docs/src/view/component.vue
  docs/src/view/guide.vue
Due: prettier --write --no-verify, eslint --fix

docs: 整理文档
  docs/docs/zh-CN/components/animation.md
  docs/docs/zh-CN/components/color.md
  docs/src/plugin/create-container.ts
  docs/src/plugin/demo.ts
  docs/src/plugin/highlight.ts
  docs/src/plugin/pre-wrapper.ts
  docs/src/plugin/snippet.ts
  docs/src/router/index.ts
  docs/src/router/zh-CN.ts
  docs/src/styles/code.css
  docs/src/view/component.vue
  docs/src/view/guide.vue
  docs/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 整理文档
  docs/docs/zh-CN/components/animation.md
  docs/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci: 集成 layer 资源文件
  docs/docs/zh-CN/guide/changelog.md
  docs/src/layouts/Layout.vue
  docs/src/styles/markdown.css
  src/css/layer.css
  src/css/layui.css
  src/image/icon-ext.png
  src/image/icon.png
  src/image/loading-0.gif
  src/image/loading-1.gif
  src/image/loading-2.gif
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(layout): 重构 layout 组件, 增强 carouel 轮播组件
  docs/docs/zh-CN/components/carousel.md
  docs/docs/zh-CN/components/layout.md
  docs/docs/zh-CN/guide/changelog.md
  docs/docs/zh-CN/guide/contribution.md
  docs/docs/zh-CN/guide/introduce.md
  docs/docs/zh-CN/guide/problem.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  docs/src/styles/markdown.css
  docs/src/view/component.vue
  docs/src/view/guide.vue
  docs/src/view/index.vue
  src/css/layer.css
  src/css/layui.css
  src/module/body/index.vue
  src/module/carousel/index.vue
  src/module/footer/index.vue
  src/module/header/index.vue
  src/module/layout/index.vue
  src/module/rate/index.vue
  src/module/scroll/index.vue
  src/module/side/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf: 更新文档
  docs/docs/zh-CN/components/carousel.md
  docs/docs/zh-CN/components/layout.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  docs/src/view/component.vue
  docs/src/view/guide.vue
  docs/src/view/index.vue
  src/css/layer.css
  src/module/carousel/index.vue
  src/module/footer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf: 更新文档
  docs/docs/zh-CN/components/checkbox.md
  docs/docs/zh-CN/components/input.md
  docs/docs/zh-CN/components/radio.md
  docs/docs/zh-CN/components/switch.md
  docs/docs/zh-CN/components/textarea.md
  docs/docs/zh-CN/guide/contribution.md
  docs/docs/zh-CN/guide/problem.md
Due: prettier --write

perf: 更新文档
  docs/docs/zh-CN/components/input.md
  docs/docs/zh-CN/components/radio.md
  docs/docs/zh-CN/components/switch.md
  docs/docs/zh-CN/components/textarea.md
  docs/docs/zh-CN/guide/contribution.md
  docs/docs/zh-CN/guide/problem.md
Due: prettier --write

perf: version to 0.2.0
  package.json
Due: prettier --write

perf: 修改 use 为 hooks
  docs/docs/zh-CN/components/switch.md
  docs/docs/zh-CN/guide/norms.md
  docs/src/router/zh-CN.ts
  docs/src/view/guide.vue
  src/hooks/index.ts
  src/hooks/useClickOutside.ts
  src/hooks/usePosition.ts
  src/module/colorPicker/ColorBox.vue
  src/module/dropdown/index.vue
  src/module/select/index.vue
  src/module/tab/index.vue
  src/module/tabItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf: 修改 use 为 hooks
  docs/docs/zh-CN/components/switch.md
  src/hooks/useClickOutside.ts
  src/module/dropdown/index.vue
  src/module/select/index.vue
  src/module/tabItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 新增 hooks 文档
  docs/docs/zh-CN/hooks/useClickOutside.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  docs/src/view/hooks.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 新增 hooks 文档
  docs/docs/zh-CN/hooks/useClickOutside.md
  docs/src/router/zh-CN.ts
  docs/src/view/hooks.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 优化文档
  docs/docs/zh-CN/components/block.md
  docs/docs/zh-CN/components/breadcrumb.md
  docs/docs/zh-CN/components/button.md
  docs/docs/zh-CN/components/cards.md
  docs/docs/zh-CN/components/collapse.md
  docs/docs/zh-CN/components/container.md
  docs/docs/zh-CN/components/dropdown.md
  docs/docs/zh-CN/components/empty.md
  docs/docs/zh-CN/components/field.md
  docs/docs/zh-CN/components/form.md
  docs/docs/zh-CN/components/grid.md
  docs/docs/zh-CN/components/icon.md
  docs/docs/zh-CN/components/line.md
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/components/page.md
  docs/docs/zh-CN/components/panel.md
  docs/docs/zh-CN/components/rate.md
  docs/docs/zh-CN/components/select.md
  docs/docs/zh-CN/components/switch.md
  docs/docs/zh-CN/components/table.md
  docs/docs/zh-CN/components/timeline.md
  docs/docs/zh-CN/components/transfer.md
  docs/docs/zh-CN/guide/introduce.md
  docs/docs/zh-CN/hooks/useClickOutside.md
  docs/src/plugin/create-block.ts
  docs/src/plugin/create-describe.ts
  docs/src/plugin/create-title.ts
  docs/src/view/component.vue
  docs/src/view/guide.vue
  docs/src/view/hooks.vue
  docs/src/view/index.vue
  src/hooks/useNestedEvent.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新文档
  docs/docs/zh-CN/components/dropdown.md
  docs/docs/zh-CN/components/progress.md
  docs/docs/zh-CN/components/rate.md
  docs/docs/zh-CN/guide/changelog.md
  docs/docs/zh-CN/guide/getStarted.md
  docs/docs/zh-CN/guide/introduce.md
  docs/docs/zh-CN/hooks/useClickOutside.md
  docs/src/plugin/create-describe.ts
  src/module/dropdown/index.vue
  src/module/dropdownItem/index.vue
  src/module/rate/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新文档
  docs/docs/zh-CN/components/rate.md
  src/module/dropdown/index.vue
  src/module/dropdownItem/index.vue
  src/module/rate/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(input): foucs blur 原生事件绑定
  docs/docs/zh-CN/components/breadcrumb.md
  docs/docs/zh-CN/components/input.md
  docs/docs/zh-CN/guide/changelog.md
  docs/docs/zh-CN/guide/introduce.md
  src/module/collapseItem/index.vue
  src/module/input/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(input): foucs blur 原生事件绑定
  docs/docs/zh-CN/components/input.md
  docs/docs/zh-CN/guide/introduce.md
  src/module/collapseItem/index.vue
  src/module/input/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(layer): 新增 遮盖层
  docs/docs/zh-CN/components/layer.md
  docs/docs/zh-CN/guide/changelog.md
  src/css/layer.css
  src/hooks/useFullScreen.ts
  src/module/layer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(layer): 放大缩小时 Iframe 高度自适应
  docs/docs/zh-CN/components/layer.md
  docs/index.html
  src/module/layer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf: publish version 0.2.2
  docs/docs/zh-CN/components/container.md
  docs/docs/zh-CN/components/layer.md
  package.json
  src/module/layer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf: publish version to 0.2.2
  docs/docs/zh-CN/components/layer.md
Due: prettier --write

docs: remove sandbox
  docs/src/view/guide.vue
Due: prettier --write --no-verify, eslint --fix

style: 优化 layer 样式
  docs/docs/zh-CN/components/carousel.md
  docs/docs/zh-CN/components/collapse.md
  docs/docs/zh-CN/components/layer.md
  docs/docs/zh-CN/components/textarea.md
  docs/docs/zh-CN/guide/changelog.md
  docs/src/layouts/Layout.vue
  docs/src/view/index.vue
  package.json
  pnpm-lock.yaml
  src/css/layer.css
  src/module/layer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

style: 优化 layer 样式
  docs/docs/zh-CN/components/layer.md
  pnpm-lock.yaml
Due: prettier --write
