Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

[其他] 修改 README.md 描述信息
  README.md
Due: prettier --write

[其他] 修改版本号
  package.json
Due: prettier --write

[新增] icon 组件
  docs/docs/zh-CN/components/button.md
  docs/docs/zh-CN/components/icon.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/module/button/index.ts
  src/module/button/index.vue
  src/module/icon/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] panel 组件
  docs/docs/zh-CN/components/button.md
  docs/docs/zh-CN/components/panel.md
  docs/prerender.js
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/panel/index.ts
  src/module/panel/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] card 组件
  docs/docs/zh-CN/components/cards.md
  docs/src/layouts/Layout.vue
  docs/src/router/index.ts
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/card/index.ts
  src/module/card/index.vue
  src/module/icon/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] card 卡片组件
  src/module/col/index.ts
  src/module/col/index.vue
  src/module/row/index.ts
  src/module/row/index.vue
Due: prettier --write --no-verify, eslint --fix

[新增] progress 进度条组件
  docs/src/components/LayCode.vue
  src/index.ts
  src/module/col/index.vue
  src/module/progress/index.ts
  src/module/progress/index.vue
  src/module/row/index.vue
Due: prettier --write --no-verify, eslint --fix

[删除] workflow
  .github/workflows/build docs.yml
  .github/workflows/test.yml
Due: none

[更新] README.md
  README.md
  src/module/button/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] button-group 按钮组
  docs/docs/zh-CN/components/button.md
  src/index.ts
  src/module/button/index.vue
  src/module/buttonGroup/index.ts
  src/module/buttonGroup/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] buttonContainer 按钮容器
  docs/docs/zh-CN/components/button.md
  src/index.ts
  src/module/buttonContainer/index.ts
  src/module/buttonContainer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] row 和 col 栅格组件
  docs/docs/zh-CN/components/grid.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/css/all.css
  src/css/layui.css
  src/index.ts
  src/module/col/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[完成] 徽章组件
  docs/docs/zh-CN/components/badge.md
  docs/docs/zh-CN/components/form.md
  docs/docs/zh-CN/components/layout.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/badge/index.ts
  src/module/badge/index.vue
  src/module/input/index.ts
  src/module/input/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] 更新日志
  CHANGELOG.md
Due: prettier --write

[新增] block 区块 辅助组件
  docs/docs/zh-CN/components/block.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/block/index.ts
  src/module/block/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] lay-line 分割线组件
  docs/docs/zh-CN/components/line.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/line/index.ts
  src/module/line/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] progress 进度条
  docs/docs/zh-CN/components/line.md
  docs/docs/zh-CN/components/progress.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/input/index.vue
  src/module/progress/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] timeline 时间线组件
  docs/docs/zh-CN/components/timeline.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/timeline/index.ts
  src/module/timeline/index.vue
  src/module/timelineItem/index.ts
  src/module/timelineItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] input 组件
  docs/docs/zh-CN/components/form.md
  src/module/input/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] textarea 组件
  docs/docs/zh-CN/components/form.md
  src/index.ts
  src/module/textarea/index.ts
  src/module/textarea/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] switch 组件, 解决 timeline 警告
  docs/docs/zh-CN/components/form.md
  docs/docs/zh-CN/components/timeline.md
  docs/src/layouts/Layout.vue
  src/index.ts
  src/module/switch/index.ts
  src/module/switch/index.vue
  src/module/timelineItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] favicon.ico
  docs/public/favicon.ico
Due: none

[优化] 文档 logo 与 菜单
  docs/src/assets/logo.png
  docs/src/layouts/Layout.vue
  docs/src/plugin/snippet.ts
  src/module/radio/index.vue
Due: prettier --write --no-verify, eslint --fix

update README.md.
  README.md
Due: prettier --write

[新增] container 容器组件, 支持 流模式 与 普通模式
  src/index.ts
  src/module/collapse/index.ts
  src/module/collapse/index.vue
  src/module/container/index.ts
  src/module/container/index.vue
  src/module/side/index.vue
Due: prettier --write --no-verify, eslint --fix

[新增] 容器文档
  docs/docs/zh-CN/components/container.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] 更新 progress 文档
  docs/docs/zh-CN/components/cards.md
  docs/docs/zh-CN/components/progress.md
  docs/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[更新] container 文档
  docs/docs/zh-CN/components/container.md
  docs/docs/zh-CN/guide/home.md
Due: prettier --write

[更新] 打包配置
  .helperrc.js
  docs/docs/zh-CN/guide/home.md
  package.json
  tsconfig.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

[发布] 更新 README.md
  README.md
  package.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

[更新] README.md
  README.md
Due: prettier --write

[依赖] 整体架构依赖升级
  docs/docs/zh-CN/guide/index.md
  docs/docs/zh-CN/guide/install.md
  docs/src/layouts/Layout.vue
  docs/src/plugin/demo.ts
  docs/src/router/zh-CN.ts
  docs/src/styles/vars.css
  package.json
  pnpm-lock.yaml
  src/module/badge/index.vue
  src/module/block/index.vue
  src/module/button/index.ts
  src/module/button/index.vue
  src/module/col/index.vue
  src/module/container/index.vue
  src/module/icon/index.vue
  src/module/input/index.vue
  src/module/line/index.vue
  src/module/progress/index.vue
  src/module/radio/index.vue
  src/module/row/index.vue
  src/module/switch/index.vue
  src/module/textarea/index.vue
  src/module/timelineItem/index.vue
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] 调整目录样式
  docs/docs/zh-CN/components/layout.md
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/guide/home.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  package.json
  src/index.ts
  src/module/menu/index.ts
  src/module/menu/index.vue
  src/module/menuChildItem/index.ts
  src/module/menuChildItem/index.vue
  src/module/menuItem/index.ts
  src/module/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] checkbox 组件 待完成 menu 组件
  docs/docs/zh-CN/components/animation.md
  docs/docs/zh-CN/components/container.md
  docs/docs/zh-CN/components/form.md
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/guide/install.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/css/all.css
  src/index.ts
  src/module/checkbox/index.ts
  src/module/checkbox/index.vue
  src/module/form/index.ts
  src/module/form/index.vue
  src/module/menuChildItem/index.vue
  src/module/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] 让 checkbox 具有响应式的能力
  src/module/checkbox/index.vue
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
