Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

slider
  example/docs/zh-CN/components/slider.md
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

slider 文档
  example/docs/zh-CN/components/slider.md
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

拆分 menu-item 组件, 为 sub-menu 与 menu-item
  example/docs/zh-CN/components/menu.md
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/introduce.md
  example/src/assets/logo-new.png
  example/src/view/component.vue
  src/css/layui.css
  src/index.ts
  src/module/menuItem/index.vue
  src/module/subMenu/index.ts
  src/module/subMenu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新日志
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

1.步骤条样式优化 2.添加简洁版步骤条（属性：simple） 3.添加点击切换时间监听（属性：onChange）方法
  example/docs/zh-CN/components/step.md
  example/src/view/component.vue
  src/module/step/index.less
  src/module/step/index.vue
  src/module/stepItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

1.步骤条样式优化 2.添加简洁版步骤条（属性：simple） 3.添加点击切换时间监听（属性：onChange）方法
  example/docs/zh-CN/guide/member.md
Due: prettier --write

refact: add style in tree components
  src/module/tree/index.less
  src/module/tree/index.vue
Due: prettier --write --no-verify, eslint --fix

v0.3.3
  package.json
Due: prettier --write

[修复] 分页组件中的最大页码数量计算时机导致的显示问题
  example/docs/zh-CN/components/page.md
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修复] 导出所有组件用于import引入
  src/index.ts
Due: prettier --write --no-verify, eslint --fix

切换package名称
  package.json
Due: prettier --write

[修复] 页码跳转输入框中捕获enter事件触发跳页
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix

[修复] select组件中外部参数变更后组件内的数值变化不生效的问题
  example/docs/zh-CN/components/select.md
  src/module/select/index.vue
  src/module/selectOption/index.vue
  src/module/type/select.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

publish 0.3.3
  example/docs/zh-CN/components/countup.md
  example/src/layouts/Layout.vue
  example/src/view/ecology.vue
  example/src/view/index.vue
  src/module/count/index.ts
  src/module/count/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

publish 0.3.3
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

更新日志
  example/docs/zh-CN/components/menu.md
Due: prettier --write

新增 avatar-list 头像列表
  example/docs/zh-CN/components/avatar.md
  example/docs/zh-CN/guide/changelog.md
  example/src/assets/css/markdown.css
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  package.json
  src/index.ts
  src/module/avatar/index.less
  src/module/avatarList/index.ts
  src/module/avatarList/index.vue
  src/module/menuItem/index.vue
  src/module/subMenu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

升级 vite 2.7.10
  package.json
Due: prettier --write

规整文档
  example/docs/zh-CN/components/avatar.md
  example/docs/zh-CN/components/backtop.md
  example/docs/zh-CN/components/badge.md
  example/docs/zh-CN/components/breadcrumb.md
  example/docs/zh-CN/components/card.md
  example/docs/zh-CN/components/carousel.md
  example/docs/zh-CN/components/checkbox.md
  example/docs/zh-CN/components/collapse.md
  example/docs/zh-CN/components/colorPicker.md
  example/docs/zh-CN/components/countup.md
  example/docs/zh-CN/components/dropdown.md
  example/docs/zh-CN/components/empty.md
  example/docs/zh-CN/components/field.md
  example/docs/zh-CN/components/grid.md
  example/docs/zh-CN/components/input.md
  example/docs/zh-CN/components/inputNumber.md
  example/docs/zh-CN/components/line.md
  example/docs/zh-CN/components/page.md
  example/docs/zh-CN/components/panel.md
  example/docs/zh-CN/components/progress.md
  example/docs/zh-CN/components/radio.md
  example/docs/zh-CN/components/rate.md
  example/docs/zh-CN/components/select.md
  example/docs/zh-CN/components/skeleton.md
  example/docs/zh-CN/components/slider.md
  example/docs/zh-CN/components/step.md
  example/docs/zh-CN/components/switch.md
  example/docs/zh-CN/components/tab.md
  example/docs/zh-CN/components/table.md
  example/docs/zh-CN/components/textarea.md
  example/docs/zh-CN/components/timeline.md
  example/docs/zh-CN/components/tooltip.md
  example/docs/zh-CN/components/transfer.md
  example/docs/zh-CN/components/tree.md
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

1.文档添加上一页下一页
  example/docs/zh-CN/components/avatar.md
  example/docs/zh-CN/components/countup.md
Due: prettier --write

修复 button disabled 状态下 click 仍然触发的问题
  example/docs/zh-CN/components/button.md
  src/module/button/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

add throttle for slider
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix

升级 vue 3.2.27
  example/docs/zh-CN/guide/changelog.md
  package.json
Due: prettier --write

简化 README.md 文件
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

简化 README.md 文件
  README.md
Due: prettier --write

修复 选项卡 closable 不可用
  example/docs/zh-CN/components/tab.md
  example/docs/zh-CN/guide/changelog.md
  src/module/tab/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

update README.md.
  README.md
Due: prettier --write

升级 rollup 2.64.0
  example/docs/zh-CN/guide/changelog.md
  package.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

升级 layer-vue 1.2.5
  example/docs/zh-CN/guide/changelog.md
  package.json
Due: prettier --write

layout 组件 side 因 flex 布局宽度不固定
  example/docs/zh-CN/guide/changelog.md
  src/module/layout/index.less
Due: prettier --write

1.分割面板
  example/docs/zh-CN/components/splitPanel.md
  example/src/router/zh-CN.ts
  src/index.ts
  src/module/splitPanel/index.less
  src/module/splitPanel/index.ts
  src/module/splitPanel/index.vue
  src/module/splitPanelItem/index.ts
  src/module/splitPanelItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

修复 下拉菜单 content 位置不准确
  src/css/layui.css
Due: prettier --write

升级 icons-vue 1.0.3
  example/docs/zh-CN/guide/changelog.md
  package.json
  src/tools/domUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

1.新增分割面板组件
  example/docs/zh-CN/components/splitPanel.md
  src/module/splitPanel/index.less
  src/module/splitPanel/index.vue
  src/module/splitPanelItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

1.团队描述添加splitPanel
  example/docs/zh-CN/guide/member.md
Due: prettier --write
