Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

更新 drawer 抽屉文档
  example/docs/zh-CN/components/drawer.md
  example/docs/zh-CN/guide/changelog.md
  example/src/router/zh-CN.ts
  example/src/view/utils/menus.ts
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

升级 layer-vue 1.3.1
  package.json
Due: prettier --write

优化顶部搜索
  example/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

add script package
  script/.keep
Due: none

refactor(layer): 全局引入时挂载 layer 到 globalProperties，优化使用体验
  src/index.ts
Due: prettier --write --no-verify, eslint --fix

slider - 支持step，增加step计算逻辑
  example/docs/zh-CN/components/slider.md
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新日志
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

修复 tab-item 组件 closable 属性警告
  example/docs/zh-CN/guide/changelog.md
  src/component/tabItem/index.vue
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

发布 0.3.5
  package.json
Due: prettier --write

rename index.css to index.less
  example/src/layouts/Layout.vue
  package.json
  src/index.ts
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

支持直接使用icon属性配置按钮图标
  src/component/button/index.vue
Due: prettier --write --no-verify, eslint --fix

add playground
  example/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

独立 layui-nav 样式
  package.json
  src/component/menu/index.less
  src/component/menu/index.vue
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

升级 vue 3.2.29
  example/src/view/guide.vue
  package.json
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(docs):集成 layui-vue playground;
  example/src/components/LayCode.vue
  example/src/plugin/usePlayground.ts
Due: prettier --write --no-verify, eslint --fix

fix(docs):部分文档适配 playground
  example/docs/zh-CN/components/animation.md
  example/docs/zh-CN/components/backtop.md
  example/docs/zh-CN/components/confirm.md
  example/docs/zh-CN/components/drawer.md
  example/docs/zh-CN/components/grid.md
  example/docs/zh-CN/components/layout.md
  example/docs/zh-CN/components/load.md
  example/docs/zh-CN/components/modal.md
  example/docs/zh-CN/components/msg.md
  example/docs/zh-CN/components/select.md
  example/docs/zh-CN/components/splitPanel.md
Due: prettier --write

support on-demand loading
  package.json
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

修复 table header 与 body 的滚动同步问题
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

更新 按需 文档
  example/docs/zh-CN/guide/getStarted.md
Due: prettier --write

新增 发布 命令
  package.json
Due: prettier --write

提交 exception 组件
  example/docs/zh-CN/components/exception.md
  example/src/router/zh-CN.ts
  example/src/view/utils/menus.ts
  src/component/exception/image/403.svg
  src/component/exception/image/404.svg
  src/component/exception/image/500.svg
  src/component/exception/index.less
  src/component/exception/index.ts
  src/component/exception/index.vue
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新 exception 组件
  example/docs/zh-CN/components/exception.md
  src/component/exception/image/401.svg
  src/component/exception/image/403.svg
  src/component/exception/image/404.svg
  src/component/exception/image/500.svg
  src/component/exception/index.less
  src/component/exception/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

empty
  src/component/empty/index.svg
Due: none

新增 menu 组件 theme 属性, 可选值 dark 与 light
  example/docs/zh-CN/components/menu.md
  package.json
  src/component/menu/index.less
  src/component/menu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新 menu 文档
  example/docs/zh-CN/components/menu.md
Due: prettier --write

提交 result 组件
  example/docs/zh-CN/components/result.md
  example/src/router/zh-CN.ts
  example/src/view/utils/menus.ts
  package.json
  src/component/exception/index.vue
  src/component/result/index.less
  src/component/result/index.ts
  src/component/result/index.vue
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

menu 组件新增 inverted 属性
  example/docs/zh-CN/components/menu.md
  src/component/menu/index.less
  src/component/menu/index.vue
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

新增 menu 组件 inverted 属性
  example/docs/zh-CN/components/menu.md
Due: prettier --write

新增 menu 组件 level 层级
  example/docs/zh-CN/components/menu.md
  src/component/menu/index.less
  src/component/menu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

补充部分注释
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/components/icon.md
  example/docs/zh-CN/components/panel.md
Due: prettier --write

更新文档
  example/docs/zh-CN/components/avatar.md
  example/docs/zh-CN/components/badge.md
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/components/card.md
  example/docs/zh-CN/components/input.md
  example/docs/zh-CN/components/rate.md
  example/docs/zh-CN/components/skeleton.md
  example/docs/zh-CN/components/switch.md
Due: prettier --write

完成 result 组件
  example/docs/zh-CN/components/checkbox.md
  example/docs/zh-CN/components/inputNumber.md
  example/docs/zh-CN/components/menu.md
  example/docs/zh-CN/components/page.md
  example/docs/zh-CN/components/radio.md
  example/docs/zh-CN/components/result.md
  example/docs/zh-CN/components/slider.md
  example/docs/zh-CN/components/table.md
  example/docs/zh-CN/components/textarea.md
  example/docs/zh-CN/components/transfer.md
  example/docs/zh-CN/guide/changelog.md
  package.json
  src/component/container/index.less
  src/component/menu/index.less
  src/component/result/index.less
  src/component/result/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新文档
  example/docs/zh-CN/components/exception.md
  example/docs/zh-CN/components/result.md
  example/src/layouts/Layout.vue
  example/src/view/guide.vue
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

发布 0.3.6
  package.json
Due: prettier --write

发布 0.3.7-alpha.1
  example/docs/zh-CN/guide/changelog.md
  package.json
Due: prettier --write

slider - 增加step
  example/docs/zh-CN/components/slider.md
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
