Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 checkbox 组件 skin 属性为默认值的样式，消除 label 与 icon 之间的间隙
  package/component/src/component/checkbox/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): [修正] date-picker 组件 年月选择点击“现在”按钮无法正确更新年份问题。
  package/component/src/component/datePicker/components/YearPanel.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 调整更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 checkbox 组件 size 属性 skin 为 default 时不生效的问题
  package/component/src/component/checkbox/index.less
  package/component/src/component/form/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 修订版本号为 2.3.1
  package/component/package.json
Due: prettier --write

✨(component): update
  package/component/src/components.ts
  package/component/src/index.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 补充 table 文档 sort-change 事件说明
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 修复 table 组件 childrenColumnName 属性无效的问题
  package/component/src/component/table/TableData.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 select 组件 options 属性
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): layer 组件 btn 选项新增 style 与 class 属性，btn0 跟随主题色
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/theme/index.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订 layer-vue 版本号为 1.8.9
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write

✨(component): 新增 tree 组件 tail-node-icon 属性
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.vue
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.3.2
  package/component/package.json
  package/component/src/component/carousel/index.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/select/index.vue
  package/component/src/component/tree/TreeNode.vue
  package/component/src/provider/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 集成 rollup/plugin-terser 改善打包
  package/component/package.json
  package/component/script/build.all.ts
  package/component/script/build.es.ts
  package/component/script/build.umd.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 tree 组件 OriginalTreeData 类型，移除 field 无效属性
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.type.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/component/script/build.all.ts
  package/component/script/build.es.ts
  package/component/script/build.umd.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 tree 组件 data 属性 OriginalTreeData[] 类型兼容
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.type.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 upload 组件 beforeUpload 属性 Promise 返回值类型兼容
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新文档
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 tag 组件 type 属性为 primary 时不跟随主题色的问题
  package/component/src/component/tag/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 修订版本号为 2.3.3-alpha.3
  package/component/package.json
Due: prettier --write

✨(component): 新增 layer 组件 titleStyle 属性
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/Header.vue
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layer-vue 1.8.10 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  package/layer/src/component/Header.vue
  package/layer/src/component/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layer-vue 1.8.11 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  package/layer/src/theme/index.css
  pnpm-lock.yaml
Due: prettier --write

✨(component): 修订版本号为 2.3.3
  package/component/package.json
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update wechat.jpg
  wechat.jpg
Due: none

✨(component): 移除 build.helper 打包
  package/component/package.json
  package/component/script/build.helper.cjs
Due: prettier --write

✨(component): update
  package/component/src/component/tag/index.vue
  package/document-component/src/document/zh-CN/components/tag.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/package.json
  package/component/src/component/tag/index.vue
  package/document-component/src/document/zh-CN/components/tag.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.3.4
  package/component/package.json
Due: prettier --write

✨(component): 明确 layer 组件 end 与 close 属性的回调说明
  package/document-component/src/document/zh-CN/components/layer.md
Due: prettier --write

✨(component): 新增 table 组件 getCheckData 方法说明
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

✨(component): 改善 button 组件 loading，suffix-icon, prefix-icon 属性逻辑
  package/component/src/component/button/index.less
  package/component/src/component/button/index.vue
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 form 组件 model 属性为深层时，执行 reset 报错问题
  package/component/package.json
  package/component/src/component/form/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 layer 组件 global-index 层级无法共享的问题
  package/component/package.json
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  package/layer/src/tokens/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订 2.3.5 版本号
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/resources.vue
  package/layer/src/tokens/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 升级 layer-vue 1.8.12 版本
  package/component/package.json
  package/document-component/src/view/resources.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
