Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

!302 feat(form): 新增isLabelTooltip属性控制label是否超出隐藏 * docs: update version * feat(form): 新增isLabelTooltip属性控制label是否超出隐藏 #I9GYFP
  docs/document-component/src/document/zh-CN/components/form.md
  packages/component/src/component/carousel/__tests__/carousel.test.tsx
  packages/component/src/component/form/index.vue
  packages/component/src/component/formItem/FormItemLabel.tsx
  packages/component/src/component/formItem/index.hooks.ts
  packages/component/src/component/formItem/index.vue
  packages/component/src/component/formItem/types.ts
  packages/component/src/types/form.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: play config layer path
  play/main.ts
Due: prettier --write --no-verify, eslint --fix

feat(layui-vue): release v2.17.0
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write

feat(json-schema-form): release v.1.0.5
  packages/json-schema-form/package.json
Due: prettier --write

fix(table): multi-level header fixed dislocation
  packages/component/package.json
  packages/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: prettierrc endOfLine set lf
  .prettierrc
Due: none

!306 fix(upload): cut属性失效 * fix(upload): cut状态失效 #I9J0MD
  packages/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

!307 merge release 2.17.1 * !306 fix(upload): cut属性失效 * chore: prettierrc endOfLine set lf
  .prettierrc
  packages/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(layui-vue): release v2.17.1
  docs/document-component/src/document/zh-CN/guide/changelog.md
  docs/document-component/src/view/index.vue
  packages/component/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(json-schema-form): release v.1.0.6
  packages/json-schema-form/CHANGELOG.md
  packages/json-schema-form/package.json
  packages/json-schema-form/src/component/form-block/form-block.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): cell title attr
  packages/component/package.json
  packages/component/src/component/table/TableData.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(component/cascader): cascader 级联选择器新增 panel 属性，可以显示成一个面板
  docs/document-component/src/document/zh-CN/components/cascader.md
  packages/component/src/component/cascader/index.less
  packages/component/src/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(table): 新增totalRow,totalRowMethod说明
  docs/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

docs(tooltip): 补充popperClass, popperStyle说明
  docs/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write

!303 fix(layer): 设置animDuration属性无效 * fix(layer): 设置animDuration属性无效 #I9IJLY
  docs/document-component/src/document/zh-CN/components/layer.md
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!308 fix(table): 筛选column显示隐藏状态未与column数据绑定 * chore: update * fix(table): 筛选column显示隐藏状态未与column数据绑定
  packages/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!309 feat(datePicker): 新增default-time属性 * feat(datePicker): 新增default-time属性 #I9HA34
  docs/document-component/src/document/zh-CN/components/datePicker.md
  packages/component/package.json
  packages/component/src/component/datePicker/components/DateRange.vue
  packages/component/src/component/datePicker/index.vue
  packages/component/src/component/datePicker/interface.ts
  packages/component/src/utils/vueUtil.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

!310 feat(inputNumber): 新增indicator属性 * 在输入框上新增 title 属性，用来显示长文本 * 修复疏漏，isBlur默认为 true * 1.inputType变量命名改为isBlur。 * feat(layui-vue): inputNumber 支持显示后缀
  docs/document-component/src/document/zh-CN/components/inputNumber.md
  packages/component/src/component/inputNumber/index.less
  packages/component/src/component/inputNumber/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!313 feat(formItem): 新增tips属性 * feat(component/formItem): formItem 增加一个 tips 属性，在表单的下方显示说明
  docs/document-component/src/document/zh-CN/components/form.md
  packages/component/src/component/form/index.less
  packages/component/src/component/formItem/index.vue
  packages/component/src/component/formItem/types.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!317 feat(table): columns.customSlot属性新增function类型 * chore: renderFunction replace to render component * feat(table): columns.customSlot属性新增function类型 #I9J6B0
  docs/document-component/src/document/zh-CN/components/table.md
  packages/component/src/component/_components/render.ts
  packages/component/src/component/_components/renderFunction.ts
  packages/component/src/component/dropdown/index.vue
  packages/component/src/component/tab/index.vue
  packages/component/src/component/table/TableData.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(layer): release v.2.3.3
  packages/layer/package.json
Due: prettier --write

feat(layui-vue): release v2.17.2
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
  packages/component/src/component/inputNumber/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(json-schema-form): release v1.0.7
  packages/json-schema-form/CHANGELOG.md
  packages/json-schema-form/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(datePicker): props default-time Optional
  packages/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(layui-vue): release v2.17.3
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write

feat(json-schema-form): release v1.0.8
  packages/json-schema-form/CHANGELOG.md
  packages/json-schema-form/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(layer): 新增 layer.prompt 输入层，支持 text、password 和 textarea 三种输入方式
  docs/document-component/src/document/zh-CN/components/layer.md
  docs/document-layer/src/document/zh-CN/demo.md
  packages/layer/src/component/Prompt.vue
  packages/layer/src/component/index.vue
  packages/layer/src/index.ts
  packages/layer/src/theme/index.less
  packages/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: playground migrate to github
  .gitee/ISSUE_TEMPLATE/bug.yml
  docs/document-component/src/components/LayCode.vue
  docs/document-component/src/document/zh-CN/components/layer.md
  docs/document-component/src/utils/code-playground.ts
  docs/document-layer/src/document/zh-CN/demo.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: encodeURIComponent openPlay code
  docs/document-component/src/components/LayCode.vue
Due: prettier --write --no-verify, eslint --fix

fix(dts): moduleResolution为bundler无法引用types #I9NKO9
  packages/component/package.json
Due: prettier --write

chore(custom): 增强了 TS IntelliSense
  packages/layer/src/component/Header.vue
  packages/layer/src/component/Iframe.vue
  packages/layer/src/component/Notifiy.vue
  packages/layer/src/component/Photos.vue
  packages/layer/src/component/Shade.vue
  packages/layer/src/component/index.vue
  packages/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix

docs(component/layer): layer 文档扩充
  docs/document-layer/src/document/zh-CN/help.md
  docs/document-layer/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(component/layer): 修复 layer.prompt 点击查看密码无反应的问题
  packages/layer/src/component/Prompt.vue
Due: prettier --write --no-verify, eslint --fix

chore(custom): 增强了 TS IntelliSense
  packages/layer/src/composable/useDragable.ts
  packages/layer/src/types/index.ts
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
