Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

🌀(switch): 调整 size 尺寸
  package/component/src/component/datePicker/index.vue
  package/component/src/component/switch/index.less
  package/component/src/provider/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(checkbox): 新增 size 属性, 用于尺寸调整
  package/component/src/component/radio/index.less
  package/component/src/component/radio/index.vue
  package/component/src/component/switch/index.vue
  package/document-component/src/document/zh-CN/components/radio.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(checkbox): 新增 size 属性
  package/component/src/component/checkbox/index.less
  package/component/src/component/checkbox/index.vue
  package/component/src/component/radio/index.vue
  package/document-component/src/document/zh-CN/components/checkbox.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(release): 1.3.0
  package/component/package.json
  package/component/script/build.es.ts
  package/component/src/component/checkbox/index.vue
  package/document-component/src/document/zh-CN/components/checkbox.md
  package/document-component/src/document/zh-CN/components/menu.md
  package/document-component/src/document/zh-CN/components/radio.md
  package/document-component/src/document/zh-CN/components/switch.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/member.md
  package/document-component/src/view/index.vue
  package/document-layer/index.html
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(release): 1.3.0
  package/component/script/build.es.ts
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(release): 1.3.1
  package/component/package.json
  package/component/script/build.es.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(release): 1.3.1
  package/component/script/build.es.ts
Due: prettier --write --no-verify, eslint --fix

✨: dropdown 默认渲染至 body
  package/component/src/component/dropdown/index.less
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdownSubMenu/index.vue
  package/component/src/component/menu/index.less
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/document-component/src/document/zh-CN/components/dropdown.md
  package/document-component/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 drawer content 高度异常
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛: colorPicker, datePicker, iconPicker 开启滚动更新
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(table): 修复 scroll 在固定列时不固定的问题
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [menu]tooltip 未跟随菜单主题颜色的问题
  package/component/src/component/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.3.2
  package/component/package.json
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/dropdown/index.less
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/colorPicker.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.3.2
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/package.json
  package/component/src/component/cascader/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): cascader-item 高度统一,添加了min-height样式;
  package/component/src/component/cascader/index.less
Due: none

📝: 修复主题面板
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 优化 select 多选样式
  package/component/src/component/select/index.less
  package/document-component/src/document/zh-CN/components/menu.md
  package/document-component/src/document/zh-CN/components/panel.md
Due: prettier --write

🌀(component): 统一 cascader 与 date-picker 宽度
  package/component/src/component/cascader/index.less
  package/component/src/component/datePicker/index.less
Due: none

📝(component): 补充 textarea 文档
  package/document-component/src/document/zh-CN/components/textarea.md
Due: prettier --write

✨(component): 发布 1.3.4
  package/component/package.json
  package/document-component/src/document/zh-CN/components/tab.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复datePicker构建之后time选择器错误
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.3.5
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 调整 ripple 文档
  package/component/src/component/datePicker/components/TimePanel.vue
  package/document-component/src/document/zh-CN/components/ripple.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(color): 调整颜色搭配
  package/document-component/src/assets/background.svg
  package/document-component/src/document/zh-CN/components/color.md
Due: prettier --write

📝(component): update
  package/component/src/component/panel/index.less
  package/component/src/theme/variable.less
  package/document-component/src/document/zh-CN/components/card.md
  package/document-component/src/document/zh-CN/components/color.md
  package/document-component/src/document/zh-CN/components/panel.md
  package/document-component/src/document/zh-CN/guide/getStarted.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 列筛选布局
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.3.6
  package/component/package.json
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.3.6
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/package.json
  package/component/src/component/formItem/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/formItem/index.vue
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 input 组件 maxlength 属性, 原生属性限制输入长度
  package/component/src/component/input/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 调整 password 属性, 当有 length > 0 时启用
  package/component/src/component/input/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 调整 input 组件 input 与 change 事件, event 类型参数修改为 string 类型的 value
  package/component/src/component/input/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): 更新 input 文档
  package/component/src/component/input/index.ts
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 textarea 组件 maxlength 属性不可用
  package/component/src/component/input/index.ts
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/components/textarea.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 switch 组件禁用状态样式
  package/component/src/component/switch/index.less
Due: none

🐛(component): 修复 select 组件 allow-clear 属性为非必填
  package/component/src/component/select/index.vue
  package/component/src/component/textarea/index.less
  package/component/src/component/textarea/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 统一级别联动与下拉选择图标
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/document-component/package.json
  package/document-component/src/view/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
