Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/datePicker/components/DateRange.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 优化表单 disabled 状态
  package/component/src/component/colorPicker/index.less
  package/component/src/component/iconPicker/index.less
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/input/index.less
  package/component/src/component/switch/index.less
  package/component/src/component/tagInput/index.less
  package/component/src/component/textarea/index.less
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/components/checkbox.md
  package/document-component/src/document/zh-CN/components/skeleton.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.7.2 版本
  package/component/package.json
  package/component/src/component/input/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 1.7.3 版本
  package/component/package.json
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/notifiy.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  package/layer/src/component/Notifiy.vue
  package/layer/src/component/index.vue
  package/layer/src/theme/index.css
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/table/index.vue
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): 优化文档
  package/document-component/src/assets/css/markdown.css
  package/document-component/src/components/LayCode.vue
  package/document-component/src/document/zh-CN/components/icon.md
  package/document-component/src/document/zh-CN/guide/introduce.md
  package/document-component/src/plugin/create-describe.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): update
  package/document-component/src/components/LayCode.vue
Due: prettier --write --no-verify, eslint --fix

🐛(table): 修复树表格与字段文字省略同时开启时单元格错位
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write

🐛(upload): 修复 upload 组件连续选择两个相同文件无法触发上传的问题
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.7.4-alpha.1
  package/component/package.json
Due: prettier --write

🐛(component): 修复 tag-input 与 textarea 边框颜色在 hover 状态不统一的问题
  package/component/src/component/tagInput/index.less
  package/component/src/component/textarea/index.less
  package/document-component/src/document/zh-CN/components/tab.md
Due: prettier --write

🌀(select): 统一单选与多选状态下的 hover 样式
  package/component/src/component/carousel/index.vue
  package/component/src/component/tab/index.vue
  package/component/src/component/tagInput/index.less
  package/document-component/src/document/zh-CN/components/tab.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(select): 优化 disabled 属性启用时将不再显示 allow-clear 操作, 本次变动涉及 input tag-input select 组件
  package/component/src/component/input/index.vue
  package/component/src/component/tagInput/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(button): 增加所有类型按钮 active 状态样式
  package/component/src/component/button/index.less
  package/component/src/component/input/index.vue
  package/component/src/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

🌀(button-group): 优化分割线样式
  package/component/src/component/buttonGroup/index.less
  package/document-component/src/document/zh-CN/components/button.md
Due: prettier --write

🐛(button): 修复 disabled 属性只标注属性不生效的问题
  package/component/src/component/button/index.vue
  package/document-component/src/document/zh-CN/components/button.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(select and tab): 修复插槽解析逻辑 (优化速度)
  package/component/src/component/select/index.vue
  package/component/src/component/tab/index.vue
  package/document-component/src/document/zh-CN/components/tab.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(textarea): 修复拼字阶段触发 update:modelValue 的问题
  package/component/src/component/select/index.vue
  package/component/src/component/tab/index.vue
  package/component/src/component/textarea/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(input-number): 修复 disabled-input 状态下 btn 层级过低的问题
  package/component/src/component/form/index.less
  package/component/src/component/inputNumber/index.less
Due: none

✨(input): 新增 max 与 min 属性, 用于控制 type=number 下的最大值与最小值
  package/component/src/component/input/index.vue
  package/component/src/component/inputNumber/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(button): 修正 button.md 文档
  package/component/src/component/inputNumber/index.vue
  package/document-component/src/document/zh-CN/components/button.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修正 input-number 文档
  package/document-component/src/document/zh-CN/components/inputNumber.md
Due: prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/components/inputNumber.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(input-number): 修复手动输入拼接字符串的问题
  package/component/src/component/inputNumber/index.vue
  package/document-component/src/document/zh-CN/components/inputNumber.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(form): textarea 与 select 组件验证失败后边框无变化的问题
  package/component/src/component/form/index.less
  package/component/src/component/inputNumber/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layui-vue 1.7.4 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write

✨(component): 优化 collapse 折叠面板动画
  package/component/src/component/collapse/index.less
  package/component/src/component/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 清理调试代码
  package/component/src/component/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(popper): 修复自动位置计算逻辑, 导致小三角错误显示
  package/component/src/component/popper/index.vue
  package/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛: bugfix:issues: I5ZKVX & I5ZKV8
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(select): 修复验证边框颜色
  package/component/src/component/form/index.less
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write

✨(component): 发布 1.7.5 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/utils/code-playground.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/input/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/component/src/component/tagInput/index.less
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 pageHeader 组件 backIcon 属性, 修复 select 组件 label 为 null 时的搜索问题
  package/component/src/component/pageHeader/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 增加 select-option 默认高度
  package/component/src/component/pageHeader/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): update
  package/component/src/component/input/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): datePicker 修复年选择器清空后的bug,并新增三个事件
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
