Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

edit sandbox.svg color
  example/src/assets/sandbox.svg
Due: none

edit sandbox.svg color
  README.en.md
  README.md
Due: prettier --write

support custom language packs
  README.en.md
  example/src/layouts/Layout.vue
  example/src/main.ts
  src/locales/index.ts
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

edit document address
  README.md
Due: prettier --write

new document customization language pack
  example/src/layouts/Layout.vue
  example/src/locales/en_US.ts
  example/src/locales/zh_CN.ts
  example/src/router/zh-CN.ts
  example/src/view/environment.vue
  src/component/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

document internationalization
  example/docs/zh-CN/components/quote.md
  example/docs/zh-CN/guide/introduce.md
  example/src/layouts/Layout.vue
  example/src/plugin/common-plugins.ts
  example/src/plugin/create-quote.ts
  example/src/router/zh-CN.ts
  example/src/view/environment.vue
  example/src/view/utils/menus.ts
  src/component/block/index.less
  src/component/block/index.vue
  src/component/field/index.less
  src/component/field/index.vue
  src/component/quote/index.less
  src/component/quote/index.ts
  src/component/quote/index.vue
  src/component/select/index.less
  src/component/skeleton/index.less
  src/component/transfer/index.less
  src/index.ts
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

new color selection panel
  README.md
  example/src/assets/background.svg
  example/src/view/index.vue
  src/component/colorPicker/ColorBox.vue
  src/component/colorPicker/ColorPicker.vue
  src/component/colorPicker/colorPicker.type.ts
  src/component/colorPicker/colorUtil.ts
  src/component/colorPicker/index.less
  src/component/colorPicker/index.ts
  src/component/colorPicker/index.vue
  src/component/row/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

升级 icons-vue 1.0.5
  README.md
  package.json
Due: prettier --write

更新日志
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

add color-picker component
  src/component/colorPicker/index.less
  src/component/colorPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

修改 backtop 文档
  example/docs/zh-CN/components/backtop.md
  example/docs/zh-CN/components/colorPicker.md
  example/docs/zh-CN/components/icon.md
Due: prettier --write

[修复]横向导航菜单子菜单呈现位置问题
  example/docs/zh-CN/components/menu.md
  src/component/menu/index.less
  src/component/subMenu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

独立 icon-picker 样式
  example/docs/zh-CN/guide/changelog.md
  example/src/view/environment.vue
  src/component/iconPicker/index.less
  src/component/iconPicker/index.vue
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: commitlint 集成
  .husky/commit-msg
  commitlint.config.js
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 添加commit:push
  package.json
Due: prettier --write

chore: commit时格式整理
  .husky/commit-msg
  package.json
Due: prettier --write

style: formatting code
  src/theme/variable.less
Due: none

chore: rename locales file
  src/index.ts
  src/language/index.ts
  src/language/locales/en_US.ts
  src/language/locales/zh_CN.ts
Due: prettier --write --no-verify, eslint --fix

style: optimize packaging code
  build.less.ts
Due: prettier --write --no-verify, eslint --fix

chore(build): 迁移 build.* 构建脚本到 script 目录下
  build.less.ts
  package.json
  script/.keep
  script/build.all.ts
  script/build.es.ts
  script/build.less.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(component): 全屏组件
  example/docs/zh-CN/components/fullscreen.md
  example/src/router/zh-CN.ts
  example/src/view/utils/menus.ts
  src/component/fullscreen/index.less
  src/component/fullscreen/index.ts
  src/component/fullscreen/index.vue
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

style(fullscreen): 代码格式调整
  src/component/fullscreen/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 更新日志
  example/docs/zh-CN/guide/changelog.md
  script/build.less.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 物料市场
  example/docs/zh-CN/components/timeline.md
  example/src/layouts/Layout.vue
  example/src/locales/en_US.ts
  example/src/locales/zh_CN.ts
  example/src/router/zh-CN.ts
  example/src/view/material.vue
  src/component/fullscreen/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 删除文案
  example/docs/zh-CN/components/timeline.md
Due: prettier --write

docs: 物料市场
  example/src/view/material.vue
Due: prettier --write --no-verify, eslint --fix

docs: 编写 color-picker 文档
  example/docs/zh-CN/components/colorPicker.md
  src/component/colorPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 主题编辑器
  example/src/layouts/Layout.vue
  src/component/colorPicker/index.less
  src/component/colorPicker/index.vue
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix

fix: 修复下拉菜单嵌套下拉菜单包裹问题
  src/component/colorPicker/index.vue
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix

docs: 编写更新日志
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  example/src/locales/en_US.ts
  example/src/locales/zh_CN.ts
  example/src/router/zh-CN.ts
  example/src/view/extend.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 升级 vue 3.2.31
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 升级 icons-vue 与 layer-vue
  package.json
Due: prettier --write

docs: 更新日志
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

chore: 修改生命周期函数
  example/docs/zh-CN/components/drawer.md
  example/docs/zh-CN/components/modal.md
  example/docs/zh-CN/components/msg.md
  package.json
Due: prettier --write

chore: 发布 0.3.8-alpha.7
  package.json
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 0.3.8-alpha.7
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: sandbox.svg 404
  README.en.md
  README.md
  sandbox.svg
Due: prettier --write

chore: edit README.md
  README.en.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
