Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 form 组件 reset 方法逻辑错误
  package/component/src/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 替换 loading 设计资源
  package/layer/src/index.ts
  package/layer/src/theme/iconfont.css
  package/layer/src/theme/index.css
  package/layer/src/theme/loading-0.gif
  package/layer/src/theme/loading-0.svg
  package/layer/src/theme/loading-1.gif
  package/layer/src/theme/loading-1.svg
  package/layer/src/theme/loading-2.gif
  package/layer/src/theme/loading-2.svg
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 layer 组件夜间模式兼容性
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

【BUG修复】Autocomplete 选中时未更新 modelValue
  package/component/src/component/autoComplete/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/step/index.less
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/components/textarea.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.3.8
  package/component/package.json
  package/component/src/component/form/index.vue
  package/component/src/component/textarea/index.vue
  package/component/src/provider/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新到 2.3.9-alpha.1 版本
  package/component/package.json
  package/component/src/theme/variable.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 line 组件夜间模式下无法正常显示的问题
  package/component/src/component/line/index.less
  package/component/src/component/line/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.3.9
  package/component/package.json
Due: prettier --write

📝(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 datePick 组件 在 datetime 模式下交互逻辑问题
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/TimePanel.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

重构水印组件 修复水印能被删除问题
  package/component/src/component/watermark/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/watermark.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 tag 组件 color 属性，在夜间模式无法正常生效的问题
  package/component/src/component/tag/index.vue
  package/document-component/src/document/zh-CN/components/watermark.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/line/index.vue
  package/component/src/component/tag/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 tab 组件滑动逻辑没有将 tab-item 外边距计算在内的问题
  package/component/src/component/tab/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 调整 checkbox 与 checkbox-group 组件 update:modelValue 与 change 事件的执行顺序
  package/component/src/component/checkbox/index.vue
  package/component/src/component/checkboxGroup/index.vue
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/input/index.vue
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.3.10
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 rate 组件清空操作，在 form-item 中不垂直居中的问题
  package/component/package.json
  package/component/src/component/form/index.less
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 date-picker 组件 size 属性缺省情况下不随 form 全局配置的问题
  package/component/src/component/datePicker/index.hooks.ts
  package/component/src/component/datePicker/index.vue
  package/component/src/component/form/index.less
  package/component/src/component/input/index.vue
  package/component/src/component/tab/index.vue
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/datePicker/index.vue
  package/component/src/component/watermark/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 rate 组件清空操作仅在 modelValue 大于 0 时显示
  package/component/src/component/rate/index.vue
  package/component/src/component/slider/index.less
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号 2.3.12
  package/component/package.json
Due: prettier --write

🌀(component): 优化 color-picker 与 icon-picker 组件在 form-item 组件 pane 模式下的样式
  package/component/src/component/form/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🌀(component): 优化 cascader 组件选中项 border-radius 溢出 panel 的问题
  package/component/src/component/cascader/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 新增 breadcrumb 组件 separator-icon 属性，用于设置图标分割符
  package/component/src/component/breadcrumb/index.vue
  package/component/src/component/breadcrumbItem/index.vue
  package/document-component/src/document/zh-CN/components/breadcrumb.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.3.13
  package/component/package.json
Due: prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 更新 breadcrumb 文档
  package/document-component/src/document/zh-CN/components/breadcrumb.md
Due: prettier --write

✨(component): update
  package/component/src/component/form/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 form 组件提交验证案例中 rules 配置错误从而导致 demo 无效的问题
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 新增 layer 组件 moving 回调函数，用于处理拖拽中的自定义逻辑
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 组件 columns 属性 ellipsisiTooltip 配置按需模式不生效的问题
  package/component/package.json
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 升级 layer-vue 到 1.9.1 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write

✨(component): 调整 vue.logo 来源
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
