Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): 调整 docsearch 样式
  package/document-component/src/components/LaySearch.vue
Due: prettier --write --no-verify, eslint --fix

⚡️: sandbox 迁移至 vercel
  package/document-component/src/utils/code-playground.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/carousel/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/carousel/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/getStarted.md
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/guide/getStarted.md
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write

✨(component): 修复文件上传异常
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.6.9-alpha.1 版本
  package/component/package.json
Due: prettier --write

✨(component): update
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write

✨(component): 优化 carouselItem 代码 ts 警告
  package/component/src/component/carouselItem/index.vue
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/carouselItem/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 upload 组件代码
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 补充头像案例说明
  package/component/src/component/affix/index.vue
  package/component/src/component/avatarList/index.vue
  package/document-component/src/document/zh-CN/components/avatar.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 创建 CarouselItemProps 类型
  package/component/src/component/carouselItem/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 兼容 index.vue 移动端显示
  package/document-component/src/assets/css/mobile.css
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/avatarList/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/assets/css/mobile.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 根据 id 保证弹层实例唯一
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layer-vue 1.4.6 版本
  package/component/package.json
  package/layer/package.json
  package/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): ✨(component): 发布 layer-vue 1.4.6 版本
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 完善 ts 类型
  package/component/src/component/button/interface.ts
  package/component/src/component/cascader/index.vue
  package/component/src/component/cascader/interface.ts
  package/component/src/component/checkbox/index.vue
  package/component/src/component/checkbox/interface.ts
  package/component/src/component/checkboxGroup/index.vue
  package/component/src/component/collapse/index.vue
  package/component/src/component/collapseItem/index.vue
  package/component/src/component/countUp/index.vue
  package/component/src/component/input/index.vue
  package/component/src/component/input/interface.ts
  package/component/src/component/inputNumber/index.vue
  package/component/src/component/inputNumber/interface.ts
  package/component/src/component/radio/index.vue
  package/component/src/component/radio/interface.ts
  package/component/src/component/ripple/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/select/interface.ts
  package/component/src/component/tagInput/index.vue
  package/component/src/component/tagInput/inerface.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 开放 tree-select 组件
  package/component/src/component/cascader/interface.ts
  package/component/src/component/checkbox/interface.ts
  package/component/src/component/checkboxGroup/index.vue
  package/component/src/component/countUp/index.vue
  package/component/src/component/input/interface.ts
  package/component/src/component/inputNumber/interface.ts
  package/component/src/component/radio/interface.ts
  package/component/src/component/select/interface.ts
  package/component/src/component/tagInput/inerface.ts
  package/component/src/component/tree/index.vue
  package/component/src/component/treeSelect/index.vue
  package/component/src/component/treeSelect/interface.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/treeSelect/index.vue
  package/component/src/component/treeSelect/interface.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 badge 代码警告
  package/component/src/component/affix/index.vue
  package/component/src/component/avatar/index.vue
  package/component/src/component/backTop/index.vue
  package/component/src/component/badge/index.vue
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 简化 breadcrumb 代码
  package/component/src/component/affix/index.vue
  package/component/src/component/badge/index.vue
  package/component/src/component/breadcrumb/index.vue
  package/component/src/component/breadcrumbItem/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 临时解决 date-picker 类型警告
  package/component/src/component/checkbox/index.vue
  package/component/src/component/checkboxGroup/index.vue
  package/component/src/component/col/index.vue
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/container/index.vue
  package/component/src/component/countUp/index.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/dropdown/index.vue
  package/component/src/component/input/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 整理代码
  package/component/src/component/dropdownMenuItem/index.vue
  package/component/src/component/dropdownSubMenu/index.vue
  package/component/src/component/empty/index.vue
  package/component/src/component/exception/index.vue
  package/component/src/component/field/index.vue
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.vue
  package/component/src/component/fullscreen/index.vue
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/inputNumber/index.vue
  package/component/src/component/layout/index.vue
  package/component/src/component/line/index.vue
  package/component/src/component/menu/index.vue
  package/component/src/component/menuItem/index.vue
  package/component/src/component/subMenu/index.vue
  package/component/src/component/switch/index.vue
  package/component/src/component/switch/interface.ts
  package/component/src/component/tab/index.vue
  package/component/src/component/tab/interface.ts
  package/component/src/component/tabItem/index.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 修复 slider 警告
  package/component/src/component/badge/index.vue
  package/component/src/component/menu/index.vue
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/page/index.vue
  package/component/src/component/pageHeader/index.vue
  package/component/src/component/panel/index.vue
  package/component/src/component/popper/index.vue
  package/component/src/component/popper/interface.ts
  package/component/src/component/progress/index.vue
  package/component/src/component/quote/index.vue
  package/component/src/component/radio/index.vue
  package/component/src/component/radioGroup/index.vue
  package/component/src/component/rate/index.vue
  package/component/src/component/result/index.vue
  package/component/src/component/ripple/index.vue
  package/component/src/component/ripple/interface.ts
  package/component/src/component/row/index.vue
  package/component/src/component/scroll/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/component/src/component/side/index.vue
  package/component/src/component/skeleton/index.vue
  package/component/src/component/skeletonItem/index.vue
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/Vertical.vue
  package/component/src/component/slider/VerticalRange.vue
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/utils/index.ts
  package/component/src/component/switch/interface.ts
  package/component/src/component/tab/interface.ts
  package/component/src/component/table/TablePage.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/badge/index.vue
  package/component/src/component/popper/index.vue
  package/component/src/component/popper/interface.ts
  package/component/src/component/progress/index.vue
  package/component/src/component/ripple/index.vue
  package/component/src/component/ripple/interface.ts
  package/component/src/component/selectOption/index.vue
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/Vertical.vue
  package/component/src/component/slider/VerticalRange.vue
  package/component/src/component/slider/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 整理 splitPanel 警告
  package/component/src/component/splitPanel/index.vue
  package/component/src/component/splitPanelItem/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 整理 tag 组件类型
  package/component/src/component/splitPanelItem/index.vue
  package/component/src/component/step/index.vue
  package/component/src/component/stepItem/index.vue
  package/component/src/component/tag/index.vue
  package/component/src/component/tag/interface.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): end
  package/component/src/component/tag/index.vue
  package/component/src/component/tag/interface.ts
  package/component/src/component/tagInput/index.vue
  package/component/src/component/textarea/index.vue
  package/component/src/component/timeline/index.vue
  package/component/src/component/timelineItem/index.vue
  package/component/src/component/transfer/index.vue
  package/component/src/component/transition/index.vue
  package/component/src/component/treeSelect/index.vue
  package/component/src/component/upload/index.vue
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/menuItem/index.vue
  package/component/src/component/subMenu/SubMenuPopup.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 清理 slider 组件 console.log 调试代码
  package/component/src/component/popper/index.vue
  package/component/src/component/popper/interface.ts
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/VerticalRange.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

Update theme.md
  package/document-component/src/document/zh-CN/guide/theme.md
Due: prettier --write

📝(component): 简化 README.md 文件
  README.md
  README.zh.md
Due: prettier --write

✨(component): 整理 README.md
  README.md
  README.zh.md
Due: prettier --write

✨(component): 发布 1.6.9 版本
  package/component/package.json
  package/component/src/component/select/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/introduce.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix
