Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 穿梭框选中效果加入半选状态
  package/component/src/component/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix

📝: 更新日志
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️: 使用 flex 重构 transfer 布局
  package/component/src/component/transfer/index.less
  package/component/src/component/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(transfer): 新增 leftFooter 与 rightFooter 底部插槽
  package/component/src/component/transfer/index.less
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/components/transfer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): 优化page组件 hover状态下文字颜色与当前主题色保持一致
  package/component/src/component/page/index.less
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/components/page.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [popup-menu]修复悬浮菜单样式
  package/component/src/component/menuItem/index.vue
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/component/src/component/subMenu/index.vue
  package/document-component/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️: merge branch 'next' into feat-popup-menu
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

♻️: merge branch 'next' into feat-popup-menu
  package/component/src/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): [menu]修复折叠时偶现闪烁的问题
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/component/src/component/subMenu/index.vue
  package/document-component/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛: 修复 popup-menu 在按需时使用的问题, 待解决 dropdown 无法在 scroll 正常使用
  package/component/package.json
  package/component/src/component/menu/index.less
  package/component/src/component/menuItem/index.vue
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/component/src/component/subMenu/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(version): 发布 1.2.6
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(version): 发布 1.2.6
  package/component/src/component/subMenu/SubMenuPopup.vue
Due: prettier --write --no-verify, eslint --fix

📝: update README.md
  README.md
  README.zh.md
Due: prettier --write

✨(dropdown): 支持渲染到 body
  package/component/src/component/dropdown/index.less
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/interface.ts
Due: prettier --write --no-verify, eslint --fix

🌀: 调整悬浮菜单样式
  package/component/src/component/menu/index.less
  package/component/src/component/menu/index.vue
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/document-component/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 组件 max-height 下 sm 尺寸 th 不生效 close #I5F8DA
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

🐛(component): 修复级联组件示例警告
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 table 组件 skin 属性, 用于切换风格, 可选参数为 row line nob, 默认为空
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 实现 table 行列固定, 待完善
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table css 冲突
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(table): 严格控制 table 边框与错位像素, 待完善
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🌀(component): 优化 tansfer 穿梭框样式
  package/component/src/component/transfer/index.less
  package/document-component/src/assets/css/index.css
Due: prettier --write

🐛(component): table
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): table
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🌀(component): 优化carousel首次加载时不应存在动画效果，而是应立即显示默认的item
  package/component/src/component/carousel/index.less
  package/component/src/component/carouselItem/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [dropdown]指定下拉面板渲染容器
  package/component/src/component/dropdown/index.vue
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/component/src/component/subMenu/index.vue
  package/document-component/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [dropdown]修复使用面板默认渲染节点时, dropdownSubMenu 多级菜单异常关闭的问题
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdownSubMenu/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): [dropdown] dropdown-menu-item 新增 disabled 属性
  package/component/src/component/carouselItem/index.vue
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdownMenuItem/index.vue
  package/component/src/component/dropdownSubMenu/index.vue
  package/document-component/src/document/zh-CN/components/dropdown.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): 修复 treetable 的 slots 的参数 data 不正确问题
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(layer): 发布 1.4.0
  package/component/package.json
  package/document-layer/public/favicon.ico
  package/document-layer/src/assets/demo.png
  package/document-layer/src/document/zh-CN/demo.md
  package/document-layer/src/document/zh-CN/help.md
  package/document-layer/src/document/zh-CN/index.md
  package/document-layer/src/document/zh-CN/question.md
  package/document-layer/src/layouts/Layout.vue
  package/document-layer/src/router/zh-CN.ts
  package/layer/src/component/CloseBtn.vue
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: layer文档示例图片路径更换,Notify不强制取消遮罩
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新文档
  package/component/package.json
  package/document-component/src/document/zh-CN/components/modal.md
  package/document-component/src/document/zh-CN/components/msg.md
  package/document-component/src/document/zh-CN/components/notifiy.md
  package/document-component/src/document/zh-CN/components/photo.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/resource.vue
  package/document-component/src/view/utils/menus.ts
  package/document-layer/src/layouts/Layout.vue
  package/layer/src/component/Notifiy.vue
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新文档
  package/document-component/src/document/zh-CN/components/notifiy.md
  package/document-component/src/document/zh-CN/components/photo.md
  package/document-component/src/view/resource.vue
  package/document-layer/src/layouts/Layout.vue
  package/layer/src/component/Notifiy.vue
  package/layer/src/index.ts
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: 发布 1.2.7 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/components/noticeBar.md
  package/document-component/src/document/zh-CN/components/photo.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/layouts/Layout.vue
  package/document-layer/package.json
  package/document-layer/src/layouts/Layout.vue
  package/layer/package.json
  package/layer/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: 发布 1.2.7 版本
  package/document-component/src/layouts/Layout.vue
  package/document-layer/src/layouts/Layout.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛: ...
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复layer.notify关闭图标样式错误
  package/layer/src/theme/index.css
Due: prettier --write

✨(component): cascader组件优化change回调参数
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
