Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.2.11 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 1.2.11 版本
  package/component/src/component/datePicker/day.ts
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

♻️(component): datePicker 重构
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/PanelFoot.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/day.ts
  package/component/src/component/datePicker/index.less
  package/component/src/component/datePicker/index.vue
  package/component/src/component/datePicker/interface.ts
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): 优化datePicker细节
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/PanelFoot.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/components/components/DateContent.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 input 组件 prepend append 插槽
  package/component/src/component/affix/index.vue
  package/component/src/component/input/index.less
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): 重新定义 input-number 尺寸
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/PanelFoot.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/components/components/DateContent.vue
  package/component/src/component/datePicker/day.ts
  package/component/src/component/datePicker/index.vue
  package/component/src/component/datePicker/interface.ts
  package/component/src/component/input/index.vue
  package/component/src/component/inputNumber/index.less
  package/component/src/component/inputNumber/index.vue
  package/document-component/src/document/zh-CN/components/inputNumber.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): 优化 icon-picker 显示
  package/component/src/component/iconPicker/index.less
  package/component/src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

🌀(component): 修复 select-input 样式
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

📝: update
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/iconPicker.md
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

[#I5HADI]fix(docs): 主题面板显示异常
  package/document-component/src/assets/css/index.css
Due: prettier --write

♻️(component): datePicker再次重构,加入date与datetime的范围选择
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/PanelFoot.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/components/components/DateContent.vue
  package/component/src/component/datePicker/index.less
  package/component/src/component/datePicker/index.vue
  package/component/src/component/datePicker/interface.ts
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 input 组件 password 属性
  package/component/package.json
  package/component/src/component/input/index.less
  package/component/src/component/input/index.vue
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新文档
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/PanelFoot.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/components/components/DateContent.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/datePicker/interface.ts
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): datePicker 加入年月范围选择,调整部分结构
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/components/MonthRange.vue
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): 调整 select 多选的 tag 样式
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(select): update
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/components/MonthRange.vue
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(input-number): update
  package/document-component/src/document/zh-CN/components/inputNumber.md
Due: prettier --write

✨(component): 优化datePicker 新增readonly与allClear两个属性
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): datePicker 初始值为空时的容错(date,datetime)
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 input-number 内容不居中的问题
  package/component/src/component/inputNumber/index.less
  package/component/src/component/upload/index.less
  package/document-component/src/document/zh-CN/components/colorPicker.md
Due: prettier --write

✨(component): layer.photos 新增缩略图thumb选项
  package/document-layer/src/document/zh-CN/demo.md
  package/document-layer/src/document/zh-CN/help.md
  package/layer/src/component/Photos.vue
  package/layer/src/component/index.vue
  package/layer/src/theme/index.css
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 table 组件 columns 配置 hide 属性, 默认隐藏列
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): 新增 type 为 number 序号列
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/layer/src/component/Photos.vue
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): 新增 expand-index 属性, 控制展开操作的所在列
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): rate组件 has-clear改为allow-clear
  package/component/src/component/rate/index.vue
  package/document-component/src/document/zh-CN/components/rate.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): 修复 typescript 类型警告
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

♻️(table): 重构 checkbox 实现方式
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): input select cascader datepicker加入size属性
  package/component/src/component/cascader/index.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/input/index.less
  package/component/src/component/input/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/components/input.md
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): 新增 type 属性 radio 值 与 selectedKey 属性, 用于支持单选
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): 统一form表单组件 默认width
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.vue
  package/component/src/component/datePicker/index.less
  package/component/src/component/datePicker/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/document-component/src/assets/css/index.css
  package/document-component/src/document/zh-CN/components/cascader.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): 统一select与cascader下拉图标,select新增清空属性
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(table): update
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): 新增 table 空数据状态
  package/component/src/component/cascader/index.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/input/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(table): 统一 allow-clear 为 false
  package/component/src/component/datePicker/index.vue
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 table 组件 columns 配置 totalRow 属性, 用于支持列统计
  package/component/src/component/datePicker/index.vue
  package/component/src/component/table/index.vue
  package/component/src/provider/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/theme.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(table): update
  package/component/src/component/datePicker/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 transfer 组件因 checkbox 组件更新而导致的选择逻辑错误
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 恢复 provider 组件
  package/component/src/component/transfer/index.vue
  package/component/src/provider/index.vue
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): switch组件新增 尺寸选项
  package/component/src/component/switch/index.less
  package/component/src/component/switch/index.vue
  package/document-component/src/document/zh-CN/components/switch.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
