Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

fix: page 组件 pages 属性为单数时计算逻辑错误
  package/component/src/component/page/index.vue
  package/document/src/document/zh-CN/components/page.md
  package/document/src/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新日志
  package/component/src/component/fullscreen/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci: 增加 postinstall 避免首次拉包后需要构建产物的问题
  package/component/package.json
  package/icons/package.json
  package/layer/package.json
Due: prettier --write

docs: 更新日志
  package/document/src/document/zh-CN/guide/changelog.md
  package/icons/package.json
  package/layer/package.json
Due: prettier --write

feat: 新增 config-provider 夜间模式偏好配置
  package/component/package.json
  package/component/src/provider/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/document/zh-CN/guide/dark.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 修复 container 组件 fluid 属性的类型推断警告
  package/component/src/component/container/index.vue
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: button-group style
  package/component/src/component/buttonGroup/index.less
  package/document/src/assets/css/code.css
  package/document/src/assets/css/markdown.css
  package/document/src/document/zh-CN/guide/introduce.md
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: tab style
  package/component/src/component/container/index.vue
  package/component/src/component/tab/index.less
  package/document/src/document/zh-CN/components/container.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: panel style
  package/component/src/component/panel/index.less
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

fix(scroll): 修复屏幕缩放时滚动条异常
  package/component/src/component/scroll/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(scroll): 边距样式
  package/component/src/component/scroll/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新 夜间模式 文档
  package/document/src/document/zh-CN/guide/dark.md
Due: prettier --write

fix(scroll): 滚动条样式
  package/component/src/component/scroll/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: 新增 button 组件 border-style 属性
  package/component/src/component/button/index.vue
  package/document/src/document/zh-CN/components/button.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 加强 carousel 组件
  package/component/src/component/button/index.vue
  package/component/src/component/carousel/index.vue
  package/component/src/component/scroll/index.vue
  package/document/src/document/zh-CN/components/carousel.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 layui-vue 1.0.2
  package.json
  package/component/package.json
  package/document/src/document/zh-CN/components/carousel.md
  package/document/src/document/zh-CN/guide/changelog.md
  package/icons/package.json
  package/layer/package.json
Due: prettier --write

fix(tab): 修复纵向排列样式
  package/component/src/component/tab/index.less
Due: none

chore(sandbox): 自动格式化代码
  package/document/package.json
  package/document/src/components/LayCode.vue
  package/document/src/plugin/usePlayground.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 empty 组件 image 插槽, 完成部分组件的按需加载
  package/component/src/component/button/index.less
  package/component/src/component/button/index.vue
  package/component/src/component/button/interface.ts
  package/component/src/component/buttonContainer/index.less
  package/component/src/component/buttonGroup/index.less
  package/component/src/component/card/index.less
  package/component/src/component/container/index.vue
  package/component/src/component/empty/index.less
  package/component/src/component/empty/index.vue
  package/component/src/component/footer/index.less
  package/component/src/component/panel/index.less
  package/component/src/component/timeline/index.vue
  package/component/src/resolver/index.ts
  package/component/src/theme/index.less
  package/document/src/document/zh-CN/components/animation.md
  package/document/src/document/zh-CN/components/empty.md
  package/document/src/document/zh-CN/components/panel.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 合并代码
  package/component/src/component/button/index.vue
  package/component/src/component/button/interface.ts
  package/component/src/component/container/index.vue
  package/component/src/resolver/index.ts
  package/document/src/plugin/usePlayground.ts
Due: prettier --write --no-verify, eslint --fix

docs: 更新日志
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

feat(badge): 添加动画
  package/component/src/component/badge/index.less
  package/component/src/component/badge/index.vue
  package/document/src/document/zh-CN/components/badge.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

增加垂直滚动
  package/component/src/component/noticeBar/index.vue
Due: prettier --write --no-verify, eslint --fix

修改了垂直滚动的时间
  package/component/src/component/noticeBar/index.vue
  package/document/src/document/zh-CN/components/noticeBar.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

增加垂直滚动的是示例
  package/document/src/document/zh-CN/components/noticeBar.md
Due: prettier --write

fix: 优化 home 在不同分辨率下的展示效果
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: 完成 badge 的按需样式
  package/component/src/component/badge/index.less
  package/component/src/component/badge/index.vue
  package/component/src/resolver/index.ts
  package/component/src/theme/index.less
Due: prettier --write --no-verify, eslint --fix

chore: 完成 logo 与 header 按需
  package/component/src/component/header/index.less
  package/component/src/component/logo/index.less
  package/component/src/component/logo/index.vue
  package/component/src/resolver/index.ts
  package/component/src/theme/index.less
Due: prettier --write --no-verify, eslint --fix

chore: 完成 layout 按需样式
  package/component/src/component/layout/index.less
  package/component/src/resolver/index.ts
Due: prettier --write --no-verify, eslint --fix

chore: 完成 avatar 与 avatar-list 按需样式
  package/component/src/resolver/index.ts
Due: prettier --write --no-verify, eslint --fix

chore: 完成 row 与 col 按需样式
  package/component/src/component/row/index.less
  package/component/src/resolver/index.ts
Due: prettier --write --no-verify, eslint --fix

chore: 设置 locale 为 zh_CN
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

地区选择器
  package/component/src/component/area/index.ts
  package/component/src/component/area/index.vue
Due: prettier --write --no-verify, eslint --fix

地址选择器的示例
  package/component/src/component/area/index.vue
  package/document/src/document/zh-CN/components/area.md
  package/document/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

属性说明
  package/document/src/document/zh-CN/components/area.md
Due: prettier --write

chore: 完成 breadcrumb 的按需
  package/component/src/component/avatar/index.less
  package/component/src/component/backTop/index.less
  package/component/src/component/breadcrumb/index.vue
  package/component/src/resolver/index.ts
  package/component/src/theme/index.less
Due: prettier --write --no-verify, eslint --fix

docs: 更新日志
  package/component/src/resolver/index.ts
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 完成 scroll 按需
  package/component/src/component/scroll/index.less
  package/component/src/component/scroll/index.vue
  package/component/src/resolver/index.ts
Due: prettier --write --no-verify, eslint --fix

chore: 删除 theme 在线调试中无效的变量项
  package/component/src/component/scroll/index.ts
  package/component/src/component/scroll/index.vue
  package/document/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

update package/document/src/router/zh-CN.ts.
  package/document/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
