Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

feat: 优化 switch 组件
  src/component/switch/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: 优化 switch 组件
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

fix: 修复因 docsearch 产生的对等依赖警告
  example/index.html
  example/src/components/LaySearch.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 switch 组件 onswitch-color 与 unswitch-color 属性
  example/docs/zh-CN/guide/changelog.md
  example/index.html
  example/src/layouts/Layout.vue
  src/component/switch/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

style: eslint
  example/src/components/LayAnchor.vue
  example/src/layouts/Layout.vue
  package.json
  src/component/switch/index.vue
  src/component/table/index.vue
  src/theme/variable.less
  src/utils/guidUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 0.4.2
  example/docs/zh-CN/components/card.md
  example/docs/zh-CN/components/menu.md
  example/docs/zh-CN/components/select.md
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  package.json
  src/component/card/index.less
  src/component/card/index.vue
  src/component/select/index.less
  src/component/table/index.vue
  src/theme/index.less
  src/utils/guidUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 0.4.2
  src/component/card/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: 新增 upload 组件
  example/docs/zh-CN/components/upload.md
  src/component/upload/index.ts
  src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 upload 组件
  src/component/upload/index.vue
  src/component/upload/layui-upload.js
Due: prettier --write --no-verify, eslint --fix

feat: 新增 upload 组件
  src/component/upload/layui-upload.js
Due: prettier --write --no-verify, eslint --fix

perf(date-picker): 代码优化
  src/component/datePicker/day.ts
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

perf(date-picker): 代码优化
  src/component/datePicker/day.ts
  src/component/datePicker/index.vue
  src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: menu 组件 level 属性不生效
  example/docs/zh-CN/components/menu.md
  example/docs/zh-CN/guide/changelog.md
  src/component/menu/index.less
  src/component/menu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 修复文档 side 不显示
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 梳理 transition 使用文档
  example/docs/zh-CN/components/transition.md
  example/docs/zh-CN/guide/changelog.md
  src/component/datePicker/day.ts
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: input 组件 height 高度固定 38 px
  example/docs/zh-CN/guide/changelog.md
  src/component/datePicker/day.ts
  src/component/datePicker/index.vue
  src/component/input/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 修复 文档层级 问题
  example/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

refactor: 更改提交邮箱邮箱显示问题
  src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: 新增 date-picker 组件 name 属性, type 属性 date 与 datetime 值
  example/docs/zh-CN/guide/changelog.md
  package.json
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 进一步完善 date-picker 组件
  example/docs/zh-CN/guide/changelog.md
  src/component/datePicker/index.vue
  src/theme/date.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor: 重构upload组件
  example/docs/zh-CN/components/upload.md
  example/src/router/zh-CN.ts
  example/src/view/utils/menus.ts
  src/component/upload/index.less
  src/component/upload/index.vue
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor: 重构upload组件
  src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

refactor: 补充提交
  src/index.ts
Due: prettier --write --no-verify, eslint --fix

docs: 更新文档
  example/docs/zh-CN/guide/changelog.md
  src/component/datePicker/index.vue
  src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: table 支持标题自定义
  example/docs/zh-CN/components/table.md
  example/docs/zh-CN/guide/changelog.md
  package.json
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新日志
  example/docs/zh-CN/guide/changelog.md
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 发布 0.4.3 版本
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

[添加] 给rowClick和rowDoubleClick事件添加第二个回调参数evt原始事件，用于行选后的事件处理
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

[添加] table的tr中的contextmenu事件，用于集成行及右键菜单处理
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(build): umd 构建，支持 <script> 直接引入使用
  .gitignore
  package.json
  script/build.umd.ts
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: upload文档修正
  example/docs/zh-CN/components/upload.md
  src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: upload 文档修正
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 提供 unpkg 浏览器导入
  example/docs/zh-CN/guide/getStarted.md
  example/src/assets/dark.svg
  example/src/assets/layui-logo.png
  example/src/assets/light.svg
Due: prettier --write

docs: 更新日志
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 button 组件 suffix-icon 与 prefix-icon 属性
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/guide/changelog.md
  example/src/view/index.vue
  src/component/button/index.vue
  src/component/button/interface.ts
  src/component/buttonGroup/index.less
  src/types/public.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新 button 文档
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/guide/changelog.md
  src/component/button/index.less
  src/component/button/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 card 组件 shadow 属性
  example/docs/zh-CN/components/card.md
  src/component/button/index.vue
  src/component/card/index.less
  src/component/card/index.vue
  src/component/card/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新日志
  example/docs/zh-CN/guide/changelog.md
  src/component/card/index.vue
  src/component/card/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 格式化
  src/theme/variable.less
Due: none

chore: 发布 0.4.4
  example/docs/zh-CN/components/datePicker.md
  example/docs/zh-CN/guide/changelog.md
  package.json
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
