Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

chore: edit README.md
  README.en.md
  README.md
Due: prettier --write

chore: 发布 0.3.8-alpha.8
  README.md
  package.json
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 新增 gitee issues 模板
  .gitee/ISSUE_TEMPLATE.zh-CN.md
  README.md
  example/src/view/material.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 修改 gitee issues 模板
  .gitee/ISSUE_TEMPLATE.zh-CN.md
Due: prettier --write

docs: 新增物料投递链接
  .gitee/ISSUE_TEMPLATE.zh-CN.md
  example/src/view/material.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 0.3.8
  example/docs/zh-CN/guide/changelog.md
  package.json
Due: prettier --write

chore: 翻译 README.md
  README.en.md
  README.md
Due: prettier --write

chore: 更新 README.md
  README.en.md
  README.md
Due: prettier --write

chore: 更新 README.md
  README.md
Due: prettier --write

ci: babel/types
  package.json
  src/component/layer/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: the install method is missing parameters
  package.json
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 菜单反选样式跟随主题定制
  src/component/menu/index.less
Due: none

feat: 完善辅助色主题配置
  src/component/badge/index.less
  src/component/body/index.less
  src/theme/index.less
Due: none

ci: vue/use
  package.json
  src/component/colorPicker/index.vue
  src/component/dropdown/index.vue
  src/component/menuItem/index.vue
  src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 横向导航栏模式下 children 无法自动隐藏
  example/docs/zh-CN/components/menu.md
  example/docs/zh-CN/components/transfer.md
  example/docs/zh-CN/guide/theme.md
  src/component/dropdown/index.vue
  src/component/select/index.vue
  src/component/subMenu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

build: 删除 build.less.ts 文件
  example/docs/zh-CN/components/menu.md
  package.json
  script/build.less.ts
  src/component/menu/index.less
  src/component/menu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: edit gitee issues template
  .gitee/ISSUE_TEMPLATE.zh-CN.md
  src/component/menu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 修改 logo 信息
  .gitee/ISSUE_TEMPLATE.zh-CN.md
  README.md
  example/docs/zh-CN/guide/getStarted.md
  example/docs/zh-CN/guide/introduce.md
  example/src/assets/logo.jpg
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 menu 组件 collapse 属性
  example/docs/zh-CN/components/menu.md
  example/docs/zh-CN/guide/getStarted.md
  example/docs/zh-CN/guide/introduce.md
  example/src/view/index.vue
  example/src/view/material.vue
  src/component/button/index.less
  src/component/button/index.vue
  src/component/formItem/cnValidateMessage.ts
  src/component/menu/index.less
  src/component/menu/index.vue
  src/component/menuItem/index.vue
  src/component/subMenu/index.vue
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 修复菜单 collapse 动画
  src/component/button/index.vue
  src/component/menu/index.less
  src/component/menu/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: edit README.md
  README.en.md
  README.md
  package.json
Due: prettier --write

chore: edit README.md
  README.md
  example/docs/zh-CN/components/color.md
Due: prettier --write

update src/utils/domUtil.ts.
  src/utils/domUtil.ts
Due: prettier --write --no-verify, eslint --fix

chore(fullscreen): 删除部分测试内容
  src/component/fullscreen/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(backtop): 组件卸载时移除事件监听
  src/component/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix

update README.md.
  README.md
Due: prettier --write

update README.en.md.
  README.en.md
Due: prettier --write

refactor(countup): 重构,移除 countup.js
  example/docs/zh-CN/components/countup.md
  package.json
  src/component/countUp/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

style(countup): 代码格式调整
  src/component/countUp/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(useplayground): 修改链接
  example/src/plugin/usePlayground.ts
Due: prettier --write --no-verify, eslint --fix

chore: 升级 layer 1.3.8 待解决内部 use 问题
  example/docs/zh-CN/components/modal.md
  package.json
  src/component/layer/index.ts
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(modal.md): props 参数错误,宽高改为 area
  example/docs/zh-CN/components/modal.md
Due: prettier --write

ci: 初步集成 algolia
  example/src/components/LaySearch.vue
  example/src/main.ts
  package.json
  src/component/backTop/index.vue
  src/utils/domUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 删除 main.ts 依赖
  example/src/main.ts
  src/component/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix

style: 调整 docsearch 样式
  example/src/components/LaySearch.vue
Due: prettier --write --no-verify, eslint --fix

docs: 更新日志
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/member.md
  example/src/components/LaySearch.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
