Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

feat(datePicker): default-time在非range模式下生效
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/component/DatePicker.vue
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/MonthRange.vue
  packages/component/component/datePicker/component/common/Time.vue
  packages/component/component/datePicker/hook/useBaseDatePicker.ts
  packages/component/component/datePicker/util.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(menu): height error
  packages/component/component/menu/index.less
Due: none

!498 fix(menu): 高度异常 * fix(menu): height error
  packages/component/component/menu/index.less
Due: none

!497 feat(datePicker): default-time在非range模式下生效 * feat(datePicker): default-time在非range模式下生效
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/component/DatePicker.vue
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/MonthRange.vue
  packages/component/component/datePicker/component/common/Time.vue
  packages/component/component/datePicker/hook/useBaseDatePicker.ts
  packages/component/component/datePicker/util.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

update docs/src/view/index.vue.
  docs/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

update docs/src/components/LayAnchor.vue.
  docs/src/components/LayAnchor.vue
Due: prettier --write --no-verify, eslint --fix

fix(table): 清空dataSource与selectedKeys同时进行，selectedKeys清空异常
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/hooks/useTableSelected.ts
  packages/component/utils/arrayUtil.ts
Due: prettier --write --no-verify, eslint --fix

chore: updat test
  packages/component/component/table/__tests__/table.test.tsx
Due: prettier --write --no-verify, eslint --fix

!499 fix(table): 清空dataSource与selectedKeys同时进行，selectedKeys清空异常 * chore: updat test * fix(table): 清空dataSource与selectedKeys同时进行，selectedKeys清空异常
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/hooks/useTableSelected.ts
  packages/component/utils/arrayUtil.ts
Due: prettier --write --no-verify, eslint --fix

style(tree): 展开/收起 图标异常
  packages/component/component/tree/index.less
Due: none

!500 style(tree): 展开/收起 图标异常 * style(tree): 展开/收起 图标异常
  packages/component/component/tree/index.less
Due: none

feat(layui): release v2.23.2
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

create pipeline-20250723.yml
  .workflow/pipeline-20250723.yml
Due: none

fix(checkcard): disabled属性变化未生效
  packages/component/component/checkcard/__tests__/checkcard.test.tsx
  packages/component/component/checkcard/index.vue
  packages/component/component/checkcard/interface.ts
  packages/component/component/checkcardGroup/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(menu): 展开/收起图标位置异常
  packages/component/component/menu/index.less
Due: none

ci(layui): 清除未使用的dependencies包
  packages/layui/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update
  packages/layui/package.json
Due: prettier --write

!503 ci(layui): 清除未使用的dependencies包 * chore: update * ci(layui): 清除未使用的dependencies包
  packages/layui/package.json
  pnpm-lock.yaml
Due: prettier --write

!501 fix(checkcard): disabled属性变化未生效 * fix(checkcard): disabled属性变化未生效
  packages/component/component/checkcard/__tests__/checkcard.test.tsx
  packages/component/component/checkcard/index.vue
  packages/component/component/checkcard/interface.ts
  packages/component/component/checkcardGroup/index.vue
Due: prettier --write --no-verify, eslint --fix

!502 fix(menu): 展开/收起图标位置异常 * fix(menu): 展开/收起图标位置异常
  packages/component/component/menu/index.less
Due: none

feat(layui): release v2.23.3
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

fix(avatar): 清空 src 属性后缺损元素位置异常
  packages/component/component/avatar/__tests__/avatar.test.ts
  packages/component/component/avatar/index.vue
  packages/component/component/avatar/interface.ts
  packages/component/component/avatarList/constant.ts
  packages/component/component/avatarList/index.vue
  packages/component/component/avatarList/interface.ts
  packages/component/component/avatarList/use-avatar-list.ts
Due: prettier --write --no-verify, eslint --fix

!504 fix(avatar): 清空 src 属性后缺损元素位置异常 * fix(avatar): 清空 src 属性后缺损元素位置异常
  packages/component/component/avatar/__tests__/avatar.test.ts
  packages/component/component/avatar/index.vue
  packages/component/component/avatar/interface.ts
  packages/component/component/avatarList/constant.ts
  packages/component/component/avatarList/index.vue
  packages/component/component/avatarList/interface.ts
  packages/component/component/avatarList/use-avatar-list.ts
Due: prettier --write --no-verify, eslint --fix

!505 fix(radioButton/radioGourp): 元素之间重复边框 * fix(radio-group): 修复单选button中每个按钮中间有2条线的样式bug
  packages/component/component/radioButton/index.less
Due: none

chore: eslint page component
  packages/component/component/page/components/count.vue
  packages/component/component/page/components/limits.vue
  packages/component/component/page/components/next.vue
  packages/component/component/page/components/pager.vue
  packages/component/component/page/components/prev.vue
  packages/component/component/page/components/refresh.vue
  packages/component/component/page/components/simple.vue
  packages/component/component/page/components/skip.vue
  packages/component/component/page/index.vue
  packages/component/component/page/usePage.ts
Due: prettier --write --no-verify, eslint --fix

chore: eslint select
  packages/component/component/select/index.hooks.ts
  packages/component/component/select/index.vue
  packages/component/component/selectOption/index.vue
  packages/component/component/selectOptionGroup/index.vue
Due: prettier --write --no-verify, eslint --fix
