Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): 新增 switch 组件 name 属性
  package/component/src/component/cascader/index.less
  package/component/src/component/switch/index.less
  package/component/src/component/switch/index.vue
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

📝: 修改 README.md 旧链接
  README.md
Due: prettier --write

📝(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/package.json
Due: prettier --write

🌀(component): 优化 table 固定列阴影样式与计算逻辑
  package/component/src/component/affix/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🌀(component): 优化 table 子表嵌套
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/panel.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): update
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): tree组件 修复checkedKeys 缺失emit Update
  package/component/src/component/tree/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/package.json
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/table/index.vue
  package/component/src/component/tree/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(layer): firefox 下 move 和 resize 异常
  package/layer/src/composable/useMove.ts
  package/layer/src/composable/useResize.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/package.json
  package/component/src/component/switch/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-layer/src/layouts/Layout.vue
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 span-method 属性, 支持行列合并
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): 新增 defaultExpandAll 属性, 默认展开行, 适用子表与树表
  package/component/package.json
  package/component/src/component/switch/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 table 组件 v-model:expandKeys 属性, 意为当前展开行
  package/component/package.json
  package/component/src/component/checkbox/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 编写 table 行内编辑案例
  package/component/src/component/checkbox/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(table): 完善 行内编辑 案例
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

🌀(input): 优化 suffix 与 prefix 插槽无底色的问题
  package/component/src/component/input/index.less
Due: none

✨(component): 修复按需模式下的样式污染
  package/component/package.json
  package/component/src/component/checkbox/index.less
  package/component/src/component/input/index.less
  package/component/src/component/inputNumber/index.less
  package/component/src/component/radio/index.less
  package/component/src/component/select/index.less
  package/component/src/component/switch/index.less
Due: prettier --write

✨(component): 发布 1.3.12
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(button): 优化 index.less
  package/component/src/component/button/index.less
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): [Tag}新增 Tag 组件
  package/component/src/component/tag/index.less
  package/component/src/component/tag/index.ts
  package/component/src/component/tag/index.vue
  package/component/src/component/tag/interface.ts
  package/component/src/component/tagInput/Tag.vue
  package/component/src/component/tagInput/index.less
  package/component/src/component/tagInput/index.ts
  package/component/src/component/tagInput/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/tag.md
  package/document-component/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️: rename inputTag to tagInput
  package/component/src/component/tagInput/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/tagInput.md
  package/document-component/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.3.14
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🔧(git): 第 1700 次 commit
  .gitignore
Due: none

🐛(component): 修复 通告栏 宽度越界
  package/component/src/component/noticeBar/index.vue
  package/document-component/src/document/zh-CN/components/noticeBar.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [tag]添加 shape, disabled 属性
  package/component/src/component/tag/index.less
  package/component/src/component/tag/index.vue
  package/document-component/src/document/zh-CN/components/tag.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [tag]新增 maxWidth 属性
  package/component/src/component/tag/index.less
  package/component/src/component/tag/index.vue
  package/document-component/src/document/zh-CN/components/tag.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [tag]新增 variant 属性, 优化颜色表现
  package/component/src/component/tag/index.less
  package/component/src/component/tag/index.vue
  package/document-component/src/document/zh-CN/components/tag.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增文档菜单目录, 新特性用于放置 tag 与 tagInput 文档
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): typescript 警告
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(button): 新增 loading-icon 属性, 允许自定义加载图标
  package/component/src/component/button/index.vue
  package/component/src/component/page/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/button.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 调整 line 分割线说明
  package/document-component/src/document/zh-CN/components/line.md
Due: prettier --write

✨(switch): 新增 loading 与 loading-icon 属性
  package/component/src/component/switch/index.vue
  package/document-component/src/document/zh-CN/components/switch.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 transfer 标题 与 项描述 在个别分辨率区间显示不全的问题
  package/component/package.json
  package/component/src/component/checkbox/index.less
  package/component/src/component/checkbox/index.vue
  package/component/src/component/page/index.vue
  package/component/src/component/switch/index.vue
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/components/switch.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 switch 属性文档
  package/component/src/component/checkbox/index.vue
  package/document-component/src/document/zh-CN/components/switch.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 新增 button 组件下拉案例
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/view/component.vue
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 组件 skin 属性为 row 时, header 多出 1px 高度
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write
