Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

优化slider的相关属性
  package/component/src/component/slider/components/bar.vue
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/types/sliderType.ts
  package/component/src/component/slider/useSlider.ts
  package/document-component/src/document/zh-CN/components/slider.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 table 组件 columns 属性 ignoreExport 配置，用户配置列导出忽略
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 新增 badge 组件 color, ripple 属性说明
  package/component/src/component/badge/index.vue
  package/document-component/src/document/zh-CN/components/badge.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/src/component/badge/index.vue
  package/component/src/component/slider/components/bar.vue
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/types/sliderType.ts
  package/component/src/component/slider/useSlider.ts
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 tooltip 文档
  package/document-component/src/document/zh-CN/components/tooltip.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 更新文档
  package/document-component/src/document/zh-CN/components/loading.md
  package/document-component/src/view/guide.vue
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 组件 columns 属性 ell.. 配置刷新数据后失效的问题
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/components/tooltip.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

增加slider组件is-follow-mark属性
  package/component/src/component/slider/components/use-slider-bar.ts
  package/component/src/component/slider/components/use-slider-mark.ts
  package/component/src/component/slider/index.less
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/types/sliderType.ts
  package/component/src/component/slider/useSlider.ts
  package/document-component/src/document/zh-CN/components/slider.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

slider增加reverse属性
  package/component/src/component/slider/components/use-slider-bar.ts
  package/component/src/component/slider/index.less
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/types/sliderType.ts
  package/component/src/component/slider/useSlider.ts
  package/document-component/src/document/zh-CN/components/slider.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

update package/component/src/component/table/hooks/useAutoColsWidth.ts. 增加后端获取数据中有number类型数据时宽度自动计算
  package/component/src/component/table/hooks/useAutoColsWidth.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/slider/components/use-slider-bar.ts
  package/component/src/component/slider/components/use-slider-mark.ts
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/types/sliderType.ts
  package/component/src/component/slider/useSlider.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): ✨(component): update
  package/component/package.json
Due: prettier --write

修改下mark-ts类型
  package/component/src/component/slider/components/use-slider-mark.ts
  package/component/src/component/slider/types/sliderType.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): [修复] cascader 组件 多次触发 change 事件的问题
  package/component/src/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 修复类型问题，移除不必要的 import 操作
  package/component/src/component/slider/components/use-slider-mark.ts
  package/component/src/component/slider/useSlider.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 改善 date-picker 组件样式
  package/component/src/component/datePicker/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 slider 在 form-item 居中的问题
  package/component/src/component/form/index.less
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 2.10.0-alpha.2 版本
  package/component/package.json
Due: prettier --write

🐛(component): 修复 slider 在 form-item 中的居中问题
  package/component/src/component/form/index.less
  package/component/src/component/slider/index.less
  package/component/src/component/slider/index.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.10.0 版本
  package/component/package.json
  package/component/src/component/form/index.less
Due: prettier --write

update package/component/src/component/upload/index.vue. (场景：多文件手动提交上传的情况，可能需要多次去选择需要上传的文件) 修复在不自动提交时，第一打开系统选择文件窗体选择文件后，第二次开系统选择文件窗体没有选择任何文件，取消窗口后，_files=[] 为空数组 导致_files[0].type报错
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/page/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/page.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.10.1-alpha.1 版本
  package/component/package.json
Due: prettier --write

✨(component): update
  package/component/src/component/page/index.vue
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 tree-select 组件 multiple 属性为 false 时，change 事件触发两次的问题
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 table 组件 totalRow 合并行始终固定在表格最底部，不再随数据流位置而变化
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 修复 table 组件 children 属性内的子节点 totalRow 属性不起作用的问题
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.10.1-alpha.2 版本
  package/component/package.json
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layer-vue 2.1.1 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/Shade.vue
  package/layer/src/component/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.10.1 版本
  package/component/package.json
  package/layer/src/component/Shade.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛: 修改 package.json,为Bundler添加types
  package/component/package.json
  package/icons/package.json
  package/layer/package.json
Due: prettier --write

1. 修复分页总数为0显示问题
  package/component/src/component/page/components/pager.vue
Due: prettier --write --no-verify, eslint --fix

完善slider测试用例
  package/component/src/component/slider/components/bar.vue
  package/component/src/component/slider/components/use-slider-bar.ts
  package/component/src/component/slider/components/use-slider-mark.ts
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/use-slider.ts
  package/component/test/slider.test.ts
Due: prettier --write --no-verify, eslint --fix

修复下page组件total为0的显示问题
  package/component/src/component/page/components/pager.vue
  package/component/src/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复拖拽后刷新数据列错位的问题
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 table 组件 resize 属性启用后，拖拽列刷新数据后宽度错位的问题
  package/component/package.json
  package/component/src/component/page/index.vue
  package/component/src/component/slider/components/bar.vue
  package/component/src/component/slider/use-slider.ts
  package/component/test/slider.test.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
