Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): update
  package/component/package.json
  package/component/src/component/table/TableRow.vue
  package/component/src/component/tree/TreeNode.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
Due: prettier --write

✨(component): 同步 next 改动
  package/component/src/component/cascader/index.vue
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/space/index.vue
  package/component/src/component/table/index.vue
  package/component/src/utils/uuidUtil.ts
  package/document-component/src/document/zh-CN/components/colorPicker.md
  package/document-component/src/document/zh-CN/components/iconPicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/cascader/index.vue
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/space/index.vue
  package/component/src/utils/uuidUtil.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/cascader/index.vue
  package/component/src/component/input/index.vue
  package/component/src/language/locales/en_US.ts
  package/component/src/language/locales/zh_CN.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/language/locales/zh_CN.ts
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

update package/component/src/component/table/TableRow.vue.
  package/component/src/component/table/TableRow.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新文档
  package/component/package.json
  package/document-component/prerender.js
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/components/colorPicker.md
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/components/iconPicker.md
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 处理 column 在 tree-table 无法传递的问题
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/package.json
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(select): 删除 show-empty 与 empty-message 属性, 取消 placeholder 与 search-placeholder 属性默认值
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(page): i18n support
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/MonthRange.vue
  package/component/src/component/datePicker/components/PanelFoot.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/empty/index.vue
  package/component/src/component/page/index.vue
  package/component/src/language/locales/en_US.ts
  package/component/src/language/locales/zh_CN.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

⬇️(vue-i18n): 回退版本
  package/component/package.json
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/MonthRange.vue
  package/component/src/component/datePicker/components/PanelFoot.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/empty/index.vue
  package/component/src/component/page/index.vue
  package/component/src/language/locales/en_US.ts
  package/component/src/language/locales/zh_CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(date-picker): i18n support
  package/component/package.json
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/components/DateContent.vue
  package/component/src/language/locales/en_US.ts
  package/component/src/language/locales/zh_CN.ts
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(i18n): 重构 i18n 文档
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/components/DateContent.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/guide/locale.md
  package/document-component/src/language/zh_CN.ts
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-component/src/language/zh_CN.ts
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

🐛(page): 修复起始页计算逻辑
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/components/page.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新下载量
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.7.0-alpha.1 版本
  package/component/package.json
  package/component/src/component/page/index.vue
  package/component/src/language/locales/zh_CN.ts
  package/document-component/src/document/zh-CN/components/exception.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/locale.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 简化 icon 文档
  package/component/src/component/page/index.vue
  package/component/src/language/locales/zh_CN.ts
  package/document-component/src/document/zh-CN/components/icon.md
  package/document-component/src/document/zh-CN/components/ripple.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(icon): 简化 icon 文档
  package/document-component/src/document/zh-CN/components/icon.md
Due: prettier --write

✨(panel): 改善 panel 文档
  package/document-component/src/document/zh-CN/components/icon.md
  package/document-component/src/document/zh-CN/components/panel.md
Due: prettier --write

✨(transition): 改善 transition 文档
  package/document-component/src/document/zh-CN/components/transition.md
Due: prettier --write

✨(component): 优化 input 与 switch 组件 disabled 禁用样式
  package/component/src/component/cascader/index.vue
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/input/index.less
  package/component/src/component/input/index.vue
  package/component/src/component/switch/index.less
  package/component/src/component/switch/index.vue
  package/component/src/index.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix

🐛(select): 修复多选模式下 disabled 属性失效
  package/component/src/component/cascader/index.vue
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/input/index.vue
  package/component/src/component/select/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 input select tag-input 禁用样式
  package/component/src/component/select/index.vue
  package/component/src/component/tagInput/index.less
Due: prettier --write --no-verify, eslint --fix

✨(component): select cascader colorpicker 等组件 disabled 效果优化
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.vue
  package/component/src/component/colorPicker/index.less
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/tagInput/index.less
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.7.0-alpha.2 版本
  package/component/package.json
Due: prettier --write

✨(component): 发布 1.7.0 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修复月份范围选择与日期范围选择月份单位未翻译的问题
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/components/MonthRange.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 date-picker 组件 range 模式 lay-dropdown 无法解析的警告信息
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/components/MonthRange.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 date-picker 组件 placeholder 属性 string[] 类型支持
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/transfer/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 调整 locale 文档
  package/document-component/src/document/zh-CN/guide/locale.md
Due: prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/guide/locale.md
Due: prettier --write

✨(component): upload 组件 i18n 兼容
  package/component/src/component/upload/index.vue
  package/component/src/language/locales/en_US.ts
  package/component/src/language/locales/zh_CN.ts
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.7.1 版本
  package/component/package.json
  package/component/src/component/upload/index.vue
  package/component/src/language/locales/en_US.ts
  package/component/src/language/locales/zh_CN.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(date-picker): 日期选择器范围选择年份显示错误
  package/component/src/component/datePicker/components/DateRange.vue
Due: prettier --write --no-verify, eslint --fix
