Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

chore: 优化 table.vue 代码结构
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/noticeBar.md
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 新增 table 组件 coulmn 配置 align 属性
  package/component/src/component/scroll/index.ts
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

update package/component/src/component/noticeBar/index.vue.
  package/component/src/component/noticeBar/index.vue
Due: prettier --write --no-verify, eslint --fix

update package/document/src/document/zh-CN/components/noticeBar.md.
  package/document/src/document/zh-CN/components/noticeBar.md
Due: prettier --write

fix: 修复 table 列不对齐问题
  package/component/src/component/table/index.less
Due: none

docs: 更新日志
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci: remove unecessary dependencies
  package/component/package.json
  package/icons/package.json
  package/layer/package.json
Due: prettier --write

feat(ripple): 水波纹组件
  package/component/src/component/ripple/index.less
  package/component/src/component/ripple/index.ts
  package/component/src/component/ripple/index.vue
  package/component/src/index.ts
  package/document/src/document/zh-CN/components/ripple.md
  package/document/src/router/zh-CN.ts
  package/document/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 修复 table.css 样式
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document/src/components/LayAnchor.vue
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新 table.md 文档
  package/component/src/component/table/index.vue
  package/document/src/components/LayAnchor.vue
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor: 修正文档
  package.json
  package/component/src/component/table/index.vue
  package/document/src/components/LayAnchor.vue
  package/document/src/document/zh-CN/components/upload.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新 table.md 文档
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write

docs: 修正upload文档
  package.json
  package/document/src/document/zh-CN/components/upload.md
Due: prettier --write

docs: 修正upload文档
  package/document/src/document/zh-CN/components/upload.md
Due: prettier --write

refactor: 增加disabledPreview属性对预览区域与上传业务按钮进行 禁用 状态隔离,方便业务后续实现
  package/component/src/component/upload/index.less
  package/component/src/component/upload/index.vue
  package/document/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 默认剪裁功能丢失原图片信息
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

ci: edit package.json homepage
  package/component/package.json
  package/icons/package.json
  package/layer/package.json
Due: prettier --write

docs: 更新日志
  package/component/src/component/upload/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新 grid 栅格 props 说明
  package/document/src/document/zh-CN/components/grid.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

滑块验证
  package/component/src/component/slider/sliderVerify.vue
Due: prettier --write --no-verify, eslint --fix

提示文字可自定义
  package/component/src/component/slider/sliderVerify.vue
Due: prettier --write --no-verify, eslint --fix

package: use dayjs to replace moment
  package/component/package.json
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: string not finish with "
  package/document/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix

ci: merge feat-ripple-dev
  package/component/src/component/area/index.ts
  package/component/src/component/area/index.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/ripple/index.ts
  package/component/src/component/ripple/index.vue
  package/component/src/component/slider/sliderVerify.vue
  package/document/src/router/zh-CN.ts
  package/document/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix

chore: prepare notice bar component refactoring
  package/component/src/component/noticeBar/index.ts
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/ripple/index.vue
  package/component/src/index.ts
  package/document/src/document/zh-CN/components/noticeBar.md
  package/document/src/router/zh-CN.ts
  package/document/src/view/utils/menus.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: complete result on demand
  package/component/src/component/area/index.ts
  package/component/src/component/area/index.vue
  package/component/src/component/backTop/index.vue
  package/component/src/resolver/index.ts
  package/document/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix

docs: change-log
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

chore: detail adjustment
  package/component/package.json
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 回退到 Sight 的提交
  package/component/src/component/ripple/index.less
  package/component/src/component/ripple/index.vue
  package/document/src/document/zh-CN/components/animation.md
  package/document/src/document/zh-CN/components/fullscreen.md
  package/document/src/document/zh-CN/components/ripple.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 移除 xlsx 依赖, 重构 table 导出
  package/component/package.json
  package/component/src/component/ripple/index.vue
  package/component/src/component/table/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 移除 xlsx 依赖, 重构 table 导出
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 更新日志
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

fix: table export 时忽略未知的列
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 1.0.3
  package/document/src/document/zh-CN/components/area.md
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 1.0.3
  package/document/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix

fix: 修复 table 组件 column 配置 width 属性不生效
  package/component/src/component/table/index.less
Due: none

docs: 更新日志
  package/component/package.json
  package/document/src/document/zh-CN/components/table.md
  package/document/src/document/zh-CN/guide/changelog.md
  package/icons/package.json
  package/layer/package.json
Due: prettier --write

chore: add README.md
  package/component/README.md
  package/icons/README.md
  package/layer/README.md
Due: prettier --write

fix: 未设置 width 的 column 自动分配宽度
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 修复 checkbox 夜间模式样式不兼容
  package/component/src/component/checkbox/index.less
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
