Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

[修正] 仓库 案例 地址
  docs/src/layouts/Layout.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] collapse 组件
  docs/docs/zh-CN/components/collapse.md
  src/module/collapse/index.vue
  src/module/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] menu 菜单组件
  docs/docs/zh-CN/components/dropdown.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/dropdown/index.ts
  src/module/dropdown/index.vue
  src/module/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] tab 选项卡组件
  docs/docs/zh-CN/components/tab.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/tab/index.ts
  src/module/tab/index.vue
  src/module/tabItem/index.ts
  src/module/tabItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[暂存] 待实现 dropdown 组件
  src/module/tab/index.vue
  src/module/tabItem/index.vue
Due: prettier --write --no-verify, eslint --fix

[文档] 目录 hover 状态出现下划线
  docs/src/layouts/Layout.vue
  docs/src/styles/markdown.css
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] color 组件
  docs/docs/zh-CN/components/color.md
  docs/src/styles/markdown.css
  src/module/breadcrumbItem/index.vue
  src/module/menuChildItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🕛 [修复] menu 组件目录展开
  src/module/menu/index.vue
  src/module/menuItem/index.vue
  src/module/panel/index.vue
Due: prettier --write --no-verify, eslint --fix

update README.md.
  README.md
Due: prettier --write

[文档] 新增顶部选择
  docs/docs/zh-CN/components/dropdown.md
  docs/docs/zh-CN/components/line.md
  docs/src/components/LaySearch.vue
  docs/src/layouts/Layout.vue
  docs/src/main.ts
  src/module/iconPicker/index.ts
  src/module/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] dropdown 下拉菜单
  docs/docs/zh-CN/components/dropdown.md
  docs/docs/zh-CN/components/iconPicker.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  docs/src/styles/markdown.css
  src/css/layui-vue.css
  src/css/layui.css
  src/index.ts
  src/module/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] dropdown 组件 trigger 属性，支持 hover click 触发方式
  docs/docs/zh-CN/components/dropdown.md
  docs/index.html
  src/css/layui.css
  src/index.ts
  src/module/dropdown/index.vue
  src/module/dropdownItem/index.ts
  src/module/dropdownItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修复] dropdown 组件 触发逻辑
  package.json
  src/module/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] iconPicker 图标选择器, 状态：初步集成
  docs/docs/zh-CN/components/iconPicker.md
  docs/src/styles/markdown.css
  src/index.ts
  src/module/breadcrumb/index.vue
  src/module/breadcrumbItem/index.vue
  src/module/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] iconPicker 组件
  docs/docs/zh-CN/components/iconPicker.md
  docs/src/layouts/Layout.vue
  src/css/layui.css
  src/module/iconPicker/index.vue
  src/module/resource/icons.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] 更新主页
  docs/docs/zh-CN/components/collapse.md
  docs/docs/zh-CN/components/dropdown.md
  docs/docs/zh-CN/guide/changelog.md
  docs/docs/zh-CN/guide/home.md
  docs/docs/zh-CN/guide/install.md
  docs/src/components/LayCode.vue
  docs/src/layouts/Layout.vue
  docs/src/styles/code.css
  docs/src/styles/markdown.css
  package.json
  src/css/layui.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] 新增 anim 文档
  docs/docs/zh-CN/components/animation.md
  docs/src/styles/markdown.css
Due: prettier --write

[修复] icon 列表样式冲突
  docs/docs/zh-CN/components/animation.md
  docs/src/styles/markdown.css
Due: prettier --write

[新增] iconPicker 组件 page 属性, 支持分页
  docs/docs/zh-CN/components/animation.md
  docs/docs/zh-CN/components/iconPicker.md
  package.json
  src/css/layui.css
  src/module/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] iconPicker 搜索功能
  docs/docs/zh-CN/components/grid.md
  docs/docs/zh-CN/guide/changelog.md
  docs/src/styles/markdown.css
  src/css/layui.css
  src/module/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新趋势图
  README.md
Due: prettier --write

[新增] menu 组件
  docs/docs/zh-CN/components/iconPicker.md
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/guide/home.md
  docs/src/assets/logo-3.svg
  src/module/menu/index.vue
  src/module/menuChildItem/index.vue
  src/module/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] rate 评分组件
  docs/docs/zh-CN/components/color.md
  docs/docs/zh-CN/components/rate.md
  package.json
  src/module/rate/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] tab 组件 type 属性
  docs/docs/zh-CN/components/tab.md
  src/module/tab/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] tab 选项卡组件
  docs/docs/zh-CN/components/tab.md
  src/module/tab/index.vue
  src/module/tabItem/index.ts
  src/module/tabItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] 更新文档
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/components/page.md
  docs/docs/zh-CN/components/tab.md
  docs/docs/zh-CN/guide/changelog.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/page/index.ts
  src/module/page/index.vue
  src/module/table/index.ts
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(tree): add tree component and wip workspace
  docs/docs/zh-CN/components/tree.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/tree/index.ts
  src/module/tree/index.vue
  src/module/tree/props.ts
  src/module/tree/type.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(page): add page component
  docs/docs/zh-CN/components/page.md
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci(document): 新增文档内容检索
  docs/src/components/LaySearch.vue
  src/module/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(page): 初步完成 page 组件, 存在类型转换问题待处理
  docs/docs/zh-CN/components/page.md
  docs/src/layouts/Layout.vue
  package.json
  src/css/layui.css
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[暂存]: 暂存工作区
  src/module/icon/index.vue
  src/module/tree/TreeEntity.vue
  src/module/tree/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(page): 完善 page 组件
  docs/docs/zh-CN/components/page.md
  src/css/layui.css
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): 初步集成 table 组件
  docs/docs/zh-CN/components/table.md
  docs/docs/zh-CN/guide/changelog.md
  docs/src/components/LaySearch.vue
  src/css/layui.css
  src/module/tab/index.vue
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
