Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

💄: issue link
  .gitee/ISSUE_TEMPLATE/bug.yml
Due: none

⬆️: 整体依赖升级
  package.json
  package/component/package.json
  package/component/src/component/calendar/index.vue
  package/component/src/component/tree/TreeNode.vue
  package/component/src/language/index.ts
  package/icons/vite.config.ts
  package/layer/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄:
  package/component/src/component/calendar/index.vue
  package/component/src/component/tag/interface.ts
  package/icons/vite.config.ts
  package/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

🧹: 补充changelog file
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🧹: 清除layer docs中其他demo
  package/document-layer/src/document/zh-CN/demo.md
Due: prettier --write

♻️(component): (input-number) 组件内部逻辑重构|新增precision配置支持精度 #I8VNLY
  package/component/src/component/inputNumber/index.vue
  package/component/src/utils/vueUtil.ts
  package/document-component/src/document/zh-CN/components/inputNumber.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹(component): (layer) 弹窗右上(最小化,全屏,关闭)调整为layui-icon
  package/layer/src/component/CloseBtn.vue
  package/layer/src/component/HeaderBtn.vue
  package/layer/src/component/Notifiy.vue
  package/layer/src/component/index.vue
  package/layer/src/index.ts
  package/layer/src/theme/index.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔩: add commit chore emoji
  .cz-config.js
Due: prettier --write --no-verify, eslint --fix

🐛(component): (tooltip) 添加hide事件，当tooltip弹窗隐藏后触发
  package/component/src/component/popper/index.vue
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): (input-number) 修改precision默认值说明
  package/document-component/src/document/zh-CN/components/inputNumber.md
Due: prettier --write

🧹: update chore emoji
  .cz-config.js
  package/component/src/component/tag/interface.ts
Due: prettier --write --no-verify, eslint --fix

🧹: update changelog.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 解决冲突
  package/component/src/component/inputNumber/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): (layer) props closeBtn string type
  package/document-component/src/document/zh-CN/components/layer.md
Due: prettier --write

🌀(component): 调整 layer 顶部操作栏主题色适配
  package/layer/src/theme/index.css
Due: prettier --write

✨(component): 发布 layer-vue 2.2.1 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write

✨(component): 发布 2.14.1-alpha.1 版本
  package/component/package.json
  package/component/src/component/inputNumber/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新数据
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

🌀(component): 优化 table 组件 default-toolbar 的 border-radius 属性跟随主题
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 更新生态 npm 与 license 标签
  package/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 修补文档样式
  package/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix

🌀(component): 优化 date-picker 组件底部按钮 border-radius 跟随主题
  package/component/src/component/datePicker/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): (tree, treeSlect) 新增replaceFields属性，支持自定义字段
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/component/src/component/tree/tree.type.ts
  package/component/src/component/tree/useTree.ts
  package/component/src/component/tree/utils.ts
  package/component/src/component/treeSelect/index.vue
  package/component/src/utils/treeUtil.ts
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): (table) border异常 #I8Y142
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): ✨(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🧹: update changelo file
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): (tree, treeSelect) 新增defaultExpandAll属性，是否默认展开所有节点
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/component/src/component/tree/tree.type.ts
  package/component/src/component/tree/useTree.ts
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修复 layer 资源引入错误
  packages/layer/src/component/HeaderBtn.vue
  packages/layer/src/component/Notifiy.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 升级 typescript 依赖版本
  package.json
  packages/component/package.json
  packages/layer/package.json
  pnpm-lock.yaml
Due: prettier --write

🧹: add backtop to the docs
  docs/document-component/src/view/components.vue
Due: prettier --write --no-verify, eslint --fix

🧹: remove junk code
  docs/document-component/src/view/components.vue
Due: prettier --write --no-verify, eslint --fix

🧹: 删除package/component/keyboard目录
  packages/component/src/component/keyboard/index.less
Due: none

✨(component): (colorPicker) 新增allowClear、simple属性控制清空与确认按钮
  docs/document-component/src/document/zh-CN/components/colorPicker.md
  packages/component/src/component/colorPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹: update
  docs/document-component/src/document/zh-CN/components/colorPicker.md
Due: prettier --write

🧹(component): (table) bottom-border error
  docs/document-component/src/document/zh-CN/components/table.md
  packages/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹: update
  docs/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
