Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 组件 defaultToolbar 在国际化场景下不兼容的问题
  package/component/src/component/table/index.vue
  package/component/src/language/locales/en_US.ts
  package/component/src/language/locales/zh_CN.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

修改错误class
  package/component/src/component/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

修复改变max异常问题
  package/component/src/component/slider/use-slider.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 2.11.5 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 2.11.5 版本
  package/component/src/component/slider/use-slider.ts
  package/component/src/component/table/index.vue
  package/component/src/language/locales/en_US.ts
  package/component/src/language/locales/zh_CN.ts
  package/component/test/avatar-list.test.ts
  package/component/test/avatar.test.ts
Due: prettier --write --no-verify, eslint --fix

fix issues #I8FBUK select组件允许清空属性未在文档中体现
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write

wip fix #I7YLN5 form表单组件行内表单能在lay-form上统一设置吗
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.vue
  package/component/src/types/form.ts
Due: prettier --write --no-verify, eslint --fix

layer增加 resizeStart resizeEnd 回调事件
  package/layer/src/component/index.vue
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix

add form inline test
  package/component/test/form-inline.test.ts
Due: prettier --write --no-verify, eslint --fix

docs 让form组件支持mode属性，以支持全局表单项的显示模式的变更
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write

feat Table 组件添加 emptyDescription 属性，以替换没有数据时的默认文本 feat Table 组件添加 empty 插槽，意在替换整个LayEmpty
  package/component/src/component/table/index.vue
  package/component/test/table-empty.test.ts
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

test Table组件在使用empty插槽后，没有LayEmpty了
  package/component/test/table-empty.test.ts
Due: prettier --write --no-verify, eslint --fix

style 将form中的modeComputedRef 移动到index.hook.ts中
  package/component/src/component/formItem/index.hooks.ts
  package/component/src/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

style FormItem组件labelWidth、labelPosition、isRequired 移入 index.hook.ts
  package/component/src/component/formItem/index.hooks.ts
  package/component/src/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write

✨(component): 更新日志
  package/layer/src/component/index.vue
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 2.12.0
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

给 TreeSelect 添加 title 插槽
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 添加watermark组件文档展示
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): (watermark)props改变重新生成
  package/component/src/component/watermark/index.vue
  package/component/src/component/watermark/utils.ts
  package/document-layer/src/document/zh-CN/demo.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/watermark/index.vue
  package/component/src/components.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 新增 watermark 组件 fontFamily 属性
  package/component/src/component/watermark/index.vue
  package/document-component/src/document/zh-CN/components/watermark.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.13.0 版本
  package/component/package.json
  package/component/src/component/watermark/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): (input-number) add step-strictly attrs
  package/component/src/component/inputNumber/index.vue
  package/document-component/src/document/zh-CN/components/inputNumber.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): (watermark) css is not introduced
  package/component/src/component/watermark/index.vue
Due: prettier --write --no-verify, eslint --fix

update
  package/component/src/component/input/index.vue
  package/component/src/component/inputNumber/index.vue
  package/component/src/component/watermark/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.13.1 版本
  package/component/package.json
Due: prettier --write

🔧: iSSUE_TEMPLATE increase demo address priority
  .gitee/ISSUE_TEMPLATE/bug.yml
Due: none

📝: volar 说明
  package/component/README.md
Due: prettier --write

📝: 文档指南 Volar说明
  package/document-component/src/document/zh-CN/guide/getStarted.md
Due: prettier --write

🐛(component): 修复 form required 缺陷
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 调整文档
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/guide/getStarted.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.13.2 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): (table) 修复defaultExpandAll为true时tableExpandKeys未初始化
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛: 修复issue配置文件代码格式错误
  .gitee/ISSUE_TEMPLATE/bug.yml
Due: none

✨(component): (form) label长度溢出移入显示tooltip #I8UMQH
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.hooks.ts
  package/component/src/component/formItem/index.vue
  package/component/src/types/form.ts
  package/component/src/types/tooltip.ts
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): (form-item) 引入tooltip less
  package/component/src/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

🔧: issue演示地址设置必填
  .gitee/ISSUE_TEMPLATE/bug.yml
Due: none

✨(component): (TreeSelect) 搜索逻辑调整 #I8ULRO
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
