Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

chore(dropdown): eslint format
  packages/component/component/dropdown/index.ts
  packages/component/component/dropdown/index.vue
  packages/component/component/dropdown/interface.ts
  packages/component/component/dropdown/utils.ts
Due: prettier --write --no-verify, eslint --fix

chore(popper): floating-ui update strategy defaultValue to fixed
  packages/component/component/popper/usePopper/usePopper.ts
Due: prettier --write --no-verify, eslint --fix

refactor(dropdown): use poppper component
  docs/src/document/zh-CN/components/dropdown.md
  packages/component/component/dropdown/index.vue
  packages/component/component/dropdownMenu/index.vue
  packages/component/component/dropdownMenuItem/index.vue
  packages/component/component/dropdownSubMenu/index.vue
  packages/component/component/menuItem/index.vue
  packages/component/component/popper/component/content.vue
  packages/component/component/popper/component/trigger.vue
  packages/component/component/popper/popper.vue
  packages/component/component/popper/types.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!483 refactor(dropdown): use poppper component * refactor(dropdown): use poppper component
  docs/src/document/zh-CN/components/dropdown.md
  packages/component/component/dropdown/index.vue
  packages/component/component/dropdownMenu/index.vue
  packages/component/component/dropdownMenuItem/index.vue
  packages/component/component/dropdownSubMenu/index.vue
  packages/component/component/menuItem/index.vue
  packages/component/component/popper/component/content.vue
  packages/component/component/popper/component/trigger.vue
  packages/component/component/popper/popper.vue
  packages/component/component/popper/types.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(json-schema-form): release v1.0.16
  docs/src/document/zh-CN/components/jsonSchemaForm.md
  packages/json-schema-form/CHANGELOG.md
  packages/json-schema-form/package.json
  packages/json-schema-form/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(popper/types): Partial TeleportProps
  packages/component/component/dropdown/interface.ts
  packages/component/component/popper/types.ts
Due: prettier --write --no-verify, eslint --fix

fix(treeSelect): 设置replaceFields.children 输入框未反填二级内容
  packages/component/component/treeSelect/__tests__/treeSelect.test.tsx
  packages/component/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: type
  packages/component/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

ci: docs dir vite replace to rolldown-vite
  docs/package.json
  docs/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

!484 fix(treeSelect): 设置replaceFields.children 输入框未反填二级内容 * chore: type * fix(treeSelect): 设置replaceFields.children 输入框未反填二级内容
  packages/component/component/treeSelect/__tests__/treeSelect.test.tsx
  packages/component/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

!485 ci: docs目录 vite 替换为 rolldown-vite * ci: docs dir vite replace to rolldown-vite
  docs/package.json
  docs/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

!482 feat(datePicker): 新增 default与footer 插槽 * test: add test * chore: slots types * docs: update * feat(datePicker): support default and footer slots
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/_components/render.ts
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/component/DatePicker.vue
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/MonthRange.vue
  packages/component/component/datePicker/component/TimeRange.vue
  packages/component/component/datePicker/component/YearRange.vue
  packages/component/component/datePicker/component/common/Date.vue
  packages/component/component/datePicker/component/common/DateContent.vue
  packages/component/component/datePicker/component/common/DatePickerRender.vue
  packages/component/component/datePicker/component/common/Month.vue
  packages/component/component/datePicker/component/common/Year.vue
  packages/component/component/datePicker/component/interface.ts
  packages/component/component/datePicker/hook/useBaseDatePicker.ts
  packages/component/component/datePicker/hook/useDatePicker.ts
  packages/component/component/datePicker/index.vue
  packages/component/component/datePicker/interface.ts
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(table): 存在fixed表头，偏移异常
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/hooks/useTable.ts
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

!486 fix(table): 存在多个 fixed 表头，固定表头偏移异常 * fix(table): 存在fixed表头，偏移异常
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/hooks/useTable.ts
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

!451 feat(cascader): 新增 selectLabel 方法 * feat(cascader): add defineExpose selectLabel
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascader/__tests__/cascader.test.tsx
  packages/component/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

wip: tab header
  packages/component/component/_components/render.ts
  packages/component/component/tab/components/TabHeader.vue
  packages/component/component/tab/components/interface.ts
  packages/component/component/tab/constant.ts
  packages/component/component/tab/hooks/useTab.ts
  packages/component/component/tab/hooks/useTabHeader.ts
  packages/component/component/tab/hooks/useTabSlot.ts
  packages/component/component/tab/index.ts
  packages/component/component/tab/interface.ts
  packages/component/component/tab/tab.vue
  packages/component/component/tabItem/index.vue
  packages/component/component/tabItem/interface.ts
  packages/component/component/table/components/TableToolbar.tsx
  packages/component/utils/common.ts
  packages/component/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

!491 DescriptionsItem 组件 BaseAlignType right多了个空格 * BaseAlignType right多了个空格
  packages/component/component/descriptionsItem/interface.ts
Due: prettier --write --no-verify, eslint --fix

refactor: done
  docs/src/document/zh-CN/components/tab.md
  packages/component/component/tab/__tests__/tab.test.tsx
  packages/component/component/tab/components/TabHeader.vue
  packages/component/component/tab/constant.ts
  packages/component/component/tab/hooks/useTabHeader.ts
  packages/component/component/tab/hooks/useTabSlot.ts
  packages/component/component/tab/index.less
  packages/component/component/tab/index.ts
  packages/component/component/tab/index.vue
  packages/component/component/tab/interface.ts
  packages/component/component/tab/tab.vue
  packages/component/theme/public.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update notes
  packages/component/component/tab/hooks/useTabHeader.ts
Due: prettier --write --no-verify, eslint --fix

ci(layui): 生成d.ts前删除旧产物
  packages/layui/package.json
Due: prettier --write

chore: sfc export Props type
  packages/component/component/tab/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/tab/hooks/useTabHeader.ts
Due: prettier --write --no-verify, eslint --fix

fix: combinind layer style error
  packages/component/component/tab/hooks/useTabHeader.ts
  packages/component/component/tabItem/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(table/type): column.sort 补充boolean类型
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(table): tableToolbar print handle
  packages/component/component/table/components/TableToolbar.tsx
Due: prettier --write --no-verify, eslint --fix

feat(table): 新增column.exportCellType
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/hooks/useToolbar.ts
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!494 feat(table): 新增column.exportCellType * feat(table): 新增column.exportCellType
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/hooks/useToolbar.ts
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!493 chore(table/type): column.sort 补充boolean类型 * chore(table/type): column.sort 补充boolean类型
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

wip: format all non-.md files
  docs/package.json
  docs/prerender.js
  docs/src/App.vue
  docs/src/components/LayAnchor.vue
  docs/src/components/LayCode.vue
  docs/src/components/LayContributor.vue
  docs/src/components/LaySearch.vue
  docs/src/components/LayTableBox.vue
  docs/src/document/zh-CN/components/components/Children.vue
  docs/src/document/zh-CN/components/components/Children1.vue
  docs/src/document/zh-CN/components/components/Children2.vue
  docs/src/entry-server.ts
  docs/src/layouts/Layout.vue
  docs/src/main.ts
  docs/src/plugin/all-plugins.ts
  docs/src/plugin/create-anchor.ts
  docs/src/plugin/create-contributor.ts
  docs/src/plugin/create-demo.ts
  docs/src/plugin/create-describe.ts
  docs/src/plugin/create-previous-next.ts
  docs/src/plugin/create-quote.ts
  docs/src/plugin/create-table.ts
  docs/src/plugin/create-title.ts
  docs/src/plugin/highlight.ts
  docs/src/plugin/pre-wrapper.ts
  docs/src/plugin/snippet.ts
  docs/src/router/index.ts
  docs/src/router/zh-CN.ts
  docs/src/utils/code-playground.ts
  docs/src/utils/code-stackblitz.ts
  docs/src/view/components.vue
  docs/src/view/guide.vue
  docs/src/view/index.vue
  docs/src/view/resources.vue
  docs/src/view/utils/guideMenus.ts
  docs/src/view/utils/menus.ts
  docs/tsconfig.json
  docs/vite.config.ts
  eslint.config.mjs
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(chat): 新组件：LayChat对话组件
  packages/component/component/chat/index.less
  packages/component/component/chat/index.vue
  packages/component/component/scroll/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(cascader/cascaderPanel): eslint format
  packages/component/component/cascader/index.hooks.ts
  packages/component/component/cascader/index.vue
  packages/component/component/cascader/interface.ts
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.vue
  packages/component/component/cascaderPanel/interface.ts
Due: prettier --write --no-verify, eslint --fix

feat(cascader): expose selectLabel name update to getSelectLabel
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(layui): release v2.23.0
  docs/src/document/zh-CN/components/datePicker.md
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

fix(table): 按需未引入 space 组件样式
  packages/component/component/table/index.less
Due: none

chore(cascader): update test
  packages/component/component/cascader/__tests__/cascader.test.tsx
Due: prettier --write --no-verify, eslint --fix

fix(table): 响应式columns变量 fixed异常
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/hooks/useTable.ts
Due: prettier --write --no-verify, eslint --fix

!496 fix(table): 响应式columns变量 fixed异常 * fix(table): 响应式columns变量 fixed异常
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/hooks/useTable.ts
Due: prettier --write --no-verify, eslint --fix

feat(layui): release v2.23.1
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

feat(chat): 组件化
  packages/component/component/chat/index.less
  packages/component/component/chat/index.ts
  packages/component/component/chat/index.vue
  packages/component/component/chat/interface.ts
Due: prettier --write --no-verify, eslint --fix

feat(chat): 多媒体消息支持
  packages/component/component/chat/index.less
  packages/component/component/chat/index.vue
  packages/component/utils/common.ts
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
