Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

📝: add LICENSE.txt
  LICENSE
  package/document/src/components/LayCode.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 按需加载部分组件样式未正确加载的问题
  package/component/src/component/carousel/index.vue
  package/component/src/component/colorPicker/index.less
  package/component/src/component/countUp/index.vue
  package/component/src/component/datePicker/index.less
  package/component/src/component/iconPicker/index.less
  package/component/src/component/inputNumber/index.less
  package/component/src/component/layout/index.less
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/selectOption/index.vue
  package/component/src/component/slider/index.less
  package/component/src/component/subMenu/index.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/component/src/component/transfer/index.less
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.less
  package/component/src/component/upload/index.less
Due: prettier --write --no-verify, eslint --fix

🐛(component): tree和table图标引入错误的问题
  package/component/script/build.es.ts
  package/component/src/component/table/index.vue
  package/component/src/component/tree/TreeNode.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): table 组件 selected-keys 属性 watch 需要 deep 监听
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): url上传失效修复
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

📝: 删除低分辨率下 side 隐藏的问题
  package/component/src/language/index.ts
  package/document/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

📝: 📝: 删除低分辨率下 side 隐藏的问题
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 颜色选择器取色器
  package/component/src/component/colorPicker/EyeDropper.vue
  package/component/src/component/colorPicker/index.vue
  package/document/src/document/zh-CN/components/colorPicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

add Chinese README
  README.zh.md
Due: prettier --write

update README.zh.md.
  README.zh.md
Due: prettier --write

♻️(component): 使用 setup script 重构 scroll 组件
  package/component/src/component/scroll/index.less
  package/component/src/component/scroll/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛: 修复 slider 组件缺少 name 属性
  package/component/src/component/colorPicker/EyeDropper.vue
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/scroll/index.vue
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/Vertical.vue
  package/component/src/component/slider/VerticalRange.vue
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/sliderVerify.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 slider 组件 btn 背景色
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/Vertical.vue
  package/component/src/component/slider/VerticalRange.vue
  package/component/src/component/slider/index.less
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/sliderVerify.vue
Due: prettier --write --no-verify, eslint --fix

📝: 更新日志
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/Vertical.vue
  package/component/src/component/slider/VerticalRange.vue
  package/component/src/component/table/Column.vue
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/table.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: 发布 1.0.5 版本
  package/component/package.json
  package/component/src/component/table/Column.vue
  package/component/src/component/table/index.vue
  package/component/src/theme/public.less
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 scroll 组件属性必填警告
  package/component/src/component/scroll/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛: 修复 scroll 组件属性必填警告
  package/component/src/component/scroll/index.vue
Due: prettier --write --no-verify, eslint --fix

♻️: 更新 scroll 组件属性命名
  package/component/src/component/scroll/index.vue
  package/document/src/document/zh-CN/components/scroll.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新日志
  package/component/package.json
  package/component/src/component/scroll/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛: 修复 scroll 组件 scroll-width 过期属性
  package/document/src/components/LayAnchor.vue
Due: prettier --write --no-verify, eslint --fix

📝: 更新日志
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝: 发布 1.0.6 版本
  package/component/package.json
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

feat(slider - 增加断点 showdots): slider - 增加断点
  example/docs/zh-CN/components/slider.md
  src/component/slider/Standard.vue
  src/component/slider/StandardRange.vue
  src/component/slider/Vertical.vue
  src/component/slider/VerticalRange.vue
  src/component/slider/index.less
  src/component/slider/index.vue
  src/component/slider/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 menu 组件 changeSelectedKey 与 changeOpenKeys 事件
  package/component/src/component/menu/index.vue
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: 合并slider代码
  pnpm-lock.yaml
Due: none

📝: 更新 locale 扩展文档
  package/component/package.json
  package/component/src/component/menu/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/document/zh-CN/guide/locale.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

⏪: 删除 yarn.yaml 与 yarn-lock.yaml 文件
  package/component/src/component/slider/index.vue
  yarn-error.log
  yarn.lock
Due: prettier --write --no-verify, eslint --fix

💄: 新增 yarn-lock 与 yarn-error.log 忽略
  .gitignore
Due: none

删除文件 README.en.md
  README.en.md
Due: prettier --write

💄: 修改 gitee issues 模板
  .gitee/ISSUE_TEMPLATE.zh-CN.md
Due: prettier --write

📝: 编辑 README.zh.md 说明
  README.zh.md
Due: prettier --write

📝: 更新成员信息
  package/document/src/document/zh-CN/guide/member.md
Due: prettier --write

🐛(component): 修复 side 组件 width 属性失效
  package/component/src/component/side/index.vue
  package/document/src/document/zh-CN/components/layout.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: menu组件新增childSpacing属性添加与父菜单的间距以更好的进行视觉分辨。
  package/component/src/component/menu/index.less
  package/component/src/component/menu/index.vue
  package/document/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 按需加载下 dropdown 样式污染
  package/component/src/component/dropdown/index.less
  package/document/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

🐛(docs): 修复按需加载下菜单样式
  package/document/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix
