Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

升级 vue 3.2.26
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/member.md
  example/src/components/LayComment.vue
  example/src/components/LayTableBox.vue
  example/src/router/zh-CN.ts
  example/src/view/guide.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛[修复]下拉菜单触发方式为hover时，移动不到菜单子项的问题
  src/css/layui.css
Due: prettier --write

🐛 修复 icon-picker 选择图标自动隐藏内容
  example/docs/zh-CN/guide/changelog.md
  src/module/dropdown/index.vue
  src/module/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📁 整理 changelog
  example/docs/zh-CN/guide/changelog.md
  example/src/view/guide.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀 升级 layer 1.2.0
  package.json
Due: prettier --write

🔥 更新 modal 文档
  example/docs/zh-CN/components/modal.md
Due: prettier --write

fix: fix tree cant be chechked
  pnpm-lock.yaml
  src/module/checkbox/index.vue
  src/module/tree/TreeNode.vue
  src/module/tree/tree.ts
  src/module/tree/useTree.ts
Due: prettier --write --no-verify, eslint --fix

chore: ignore phpm-lock.yaml
  .gitignore
Due: none

slider组件
  example/docs/zh-CN/components/slider.md
  src/module/slider/index.less
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

slider组件
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix

✨[完善]表单使用async-validator4.0.7实现校验功能 🐛[修复]下拉框点击自身不能隐藏和设置modelValue为空时不能置空下拉框
  example/docs/zh-CN/components/form.md
  package.json
  src/module/form/index.vue
  src/module/formItem/cnValidateMessage.ts
  src/module/formItem/index.less
  src/module/formItem/index.vue
  src/module/select/index.vue
  src/module/type/form.ts
  src/module/type/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

slider - add disabled
  example/docs/zh-CN/components/slider.md
  src/module/slider/index.less
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛 [修复]穿梭框按钮不对齐问题
  src/module/transfer/index.less
  src/module/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix

feat:初版实现基础功能，返回顶部，固定按钮，自定义内容，特定容器内部显示
  example/docs/zh-CN/components/backtop.md
  example/src/layouts/Layout.vue
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  src/module/backTop/index.less
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix:修改 backtopRef Error描述
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix

fix:修改API文档
  example/docs/zh-CN/components/backtop.md
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat:按钮 active 动画保持和原版一致
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix

feat:1. backtop组件新增组件样式和图标样式的常用属性,方便使用 \n 2. 更新backtop API 文档
  example/docs/zh-CN/components/backtop.md
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛[优化] 表单监听子项值监听改为深层次监听，避免值为对象无法监听的问题，修改表单demo加入多选下拉框和 validate-message 描述
  example/docs/zh-CN/components/form.md
  src/module/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨ [新增]下拉框支持多选；初版本提交
  example/docs/zh-CN/components/select.md
  src/module/select/index.less
  src/module/select/index.vue
  src/module/selectOption/index.vue
  src/module/type/select.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs:更新 backtop 文档
  example/docs/zh-CN/components/backtop.md
Due: prettier --write

⛅ 更新日志
  example/docs/zh-CN/components/datePicker.md
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

⛅ 更新日志
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

🍂 release 0.2.9
  example/docs/zh-CN/guide/changelog.md
  package.json
Due: prettier --write

🍂 修正更新日志
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

✨ 1.新增 circular 属性，使用圆形图标； 💄 2.修改为 flex 布局； 🎨 3.优化代码结构 📖 4.更新文档
  example/docs/zh-CN/components/backtop.md
  src/module/backTop/index.less
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📖 更新文档
  example/docs/zh-CN/components/backtop.md
Due: prettier --write

update README.md.
  README.md
Due: prettier --write

remove pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

更新 README.md
  README.md
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新 README.md
  README.md
Due: prettier --write

🐛 1. 长按滚动条滑动无法实时显示按钮的问题 🎨 2.优化节流和返回顶部动画
  example/docs/zh-CN/components/backtop.md
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

👌 1.自动寻找可滚动祖先元素; 2.props circular 修改为 circle 3.优化平滑滚动 4.更新文档示例
  example/docs/zh-CN/components/backtop.md
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
