Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

perf(table): 新增 row 行单击 row-double 行双击事件
  docs/docs/zh-CN/components/avatar.md
  docs/docs/zh-CN/components/table.md
  docs/docs/zh-CN/guide/changelog.md
  src/module/table/component/checkbox.vue
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci: 升级 vue 3.2.21
  docs/docs/zh-CN/components/table.md
  docs/docs/zh-CN/guide/changelog.md
  package.json
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(layer): 新增 btnAlign 按钮布局
  docs/docs/zh-CN/components/layer.md
  docs/docs/zh-CN/guide/changelog.md
  src/module/layer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(tree): document
  docs/docs/zh-CN/components/layer.md
  docs/docs/zh-CN/components/tree.md
  src/module/layer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(layer): 使用 guid 作为 layer 实例的唯一标识
  docs/docs/zh-CN/components/tree.md
  src/module/layer/index.vue
  src/tools/guidUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(layer): 新增 anim 属性, 支持 7 种入场动画
  docs/docs/zh-CN/components/layer.md
  docs/docs/zh-CN/guide/changelog.md
  src/css/layer.css
  src/module/layer/index.vue
  src/tools/guidUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新日志
  docs/docs/zh-CN/guide/changelog.md
  src/module/layer/index.vue
  src/tools/guidUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf: 发布 0.2.3 版本
  docs/docs/zh-CN/guide/changelog.md
  src/module/breadcrumbItem/index.vue
  src/module/carousel/index.vue
  src/module/layer/index.vue
  src/module/page/index.vue
  src/module/rate/index.vue
  src/module/selectOption/index.vue
  src/module/side/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf: 发布 0.2.3 版本
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix

:corn: remove eslint and commitlint
  .editorconfig
  .eslintrc.js
  .husky/commit-msg
  .lintstagedrc
  .postcssrc.json
  .prettierrc
  CHANGELOG.md
  commitlint.config.js
  docs/prerender.js
  docs/src/assets/css/code.css
  docs/src/assets/css/index.css
  docs/src/assets/css/markdown.css
  docs/src/assets/css/vars.css
  docs/src/assets/layout.png
  docs/src/entry-server.ts
  docs/src/main.ts
  docs/src/styles/custom-blocks.css
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/module/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

:hibiscus: remove .browserslistrc
  .browserslistrc
  package.json
Due: prettier --write

[重构] button buttonGroup buttonContainer 组件, 未破坏功能的前提下改进代码
  package.json
  shims-vue.d.ts
  src/css/layui.css
  src/hooks/useClickOutside.ts
  src/module/button/index.less
  src/module/button/index.ts
  src/module/button/index.vue
  src/module/buttonContainer/index.less
  src/module/buttonContainer/index.ts
  src/module/buttonContainer/index.vue
  src/module/buttonGroup/index.less
  src/module/buttonGroup/index.ts
  src/module/buttonGroup/index.vue
  tsconfig.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

[重构] row col 组件, 支持 24 栅格, 非破坏性重构
  src/css/layui.css
  src/module/col/index.vue
  src/module/row/index.less
  src/module/row/index.ts
  src/module/row/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[调整] panel 组件代码结构
  docs/docs/zh-CN/components/card.md
  docs/docs/zh-CN/components/color.md
  docs/src/router/zh-CN.ts
  docs/src/view/index.vue
  src/css/layui.css
  src/module/panel/index.less
  src/module/panel/index.ts
  src/module/panel/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[调整] 优化 layout 组件代码结构
  src/module/body/index.less
  src/module/body/index.vue
  src/module/button/index.vue
  src/module/col/index.vue
  src/module/footer/index.less
  src/module/footer/index.vue
  src/module/layout/index.less
  src/module/layout/index.vue
  src/module/row/index.vue
  src/module/side/index.less
  src/module/side/index.vue
Due: prettier --write --no-verify, eslint --fix

[优化] 组件代码
  docs/docs/zh-CN/components/color.md
  docs/src/assets/css/markdown.css
  src/css/layui.css
  src/module/badge/index.less
  src/module/badge/index.vue
  src/module/block/index.less
  src/module/block/index.vue
  src/module/card/index.less
  src/module/card/index.vue
  src/module/checkbox/index.less
  src/module/checkbox/index.vue
  src/module/container/index.less
  src/module/container/index.vue
  src/module/icon/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[优化] 栅格文档
  docs/docs/zh-CN/components/grid.md
  src/css/layui.css
  src/module/empty/index.less
  src/module/empty/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修复] rate 评分组件
  docs/docs/zh-CN/components/checkbox.md
  src/css/layui.css
  src/module/checkbox/index.vue
  src/module/rate/index.less
  src/module/rate/index.vue
  src/module/switch/index.less
  src/module/switch/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[优化] timeline 时间线组件
  src/css/layui.css
  src/module/timeline/index.less
  src/module/timeline/index.vue
  src/module/timelineItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[暂存] 重构 switch 逻辑
  docs/docs/zh-CN/components/switch.md
  docs/docs/zh-CN/guide/norms.md
  docs/src/view/guide.vue
  src/module/button/index.vue
  src/module/layer/index.vue
  src/module/switch/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修复] timeline 组件样式
  docs/docs/zh-CN/components/switch.md
  docs/docs/zh-CN/guide/changelog.md
  docs/src/assets/css/markdown.css
  src/font/iconfont.ts
  src/module/iconPicker/index.vue
  src/module/input/index.less
  src/module/input/index.vue
  src/module/switch/index.ts
  src/module/switch/index.vue
  src/module/tab/index.vue
  src/module/textarea/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] layer 组件 outAnim 出场动画
  docs/docs/zh-CN/components/layer.md
  docs/docs/zh-CN/guide/changelog.md
  docs/src/components/LayTableBox.vue
  src/module/header/index.less
  src/module/header/index.vue
  src/module/layer/index.vue
  src/module/menu/index.vue
  src/module/type/select.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] checkbox-group 复选框组
  docs/docs/zh-CN/components/checkbox.md
  src/index.ts
  src/module/checkbox/index.vue
  src/module/checkboxGroup/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[增强] checkbox 组件, v-model 支持 array 数据类型
  docs/docs/zh-CN/guide/changelog.md
  src/module/checkbox/index.vue
  src/module/table/index.vue
  src/module/transfer/component/checkbox.vue
  src/module/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[优化] table 和 tranfer 组件复选实现
  docs/docs/zh-CN/guide/changelog.md
  src/module/checkbox/index.vue
  src/module/table/component/checkbox.vue
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[发布] 0.2.4 版本
  docs/src/layouts/Layout.vue
  docs/src/view/index.vue
  package.json
  src/module/transfer/index.vue
  src/module/tree/TreeNode.vue
  src/module/tree/index.vue
  src/module/tree/tree.ts
  src/module/tree/useTree.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

� release 0.2.4 version
  .gitignore
  LICENSE
  README.md
  docs/index.html
  docs/src/view/guide.vue
  package.json
  shims-vue.d.ts
  src/index.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📌 release 0.2.4
  docs/index.html
Due: prettier --write

📌 release 0.2.4
  src/index.ts
Due: prettier --write --no-verify, eslint --fix

📌 release 0.2.4
  .gitignore
Due: none

📌 release 0.2.4
  LICENSE
Due: none

📌 release 0.2.4
  README.md
Due: prettier --write

📌 release 0.2.4
  package.json
Due: prettier --write

📌 release 0.2.4
  shims-vue.d.ts
Due: prettier --write --no-verify, eslint --fix

📌 release 0.2.4
  tsconfig.json
Due: prettier --write

📌 release 0.2.4
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix

😉 修复 layer offset 百分比偏移
  docs/docs/zh-CN/components/avatar.md
  package.json
  src/css/layui.css
  src/font/iconfont.less
  src/module/avatar/index.less
  src/module/avatar/index.vue
  src/module/layer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

⭕ 修复因依赖版本冲突所导致的警告信息
  package.json
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
