Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

🐛: 修复按需加载下生态栏目的样式
  package/document/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix

📝(menu): 补充 child-spacing 层级缩进 demo
  package/document/src/document/zh-CN/components/menu.md
Due: prettier --write

📝: 更新日志
  package/component/src/component/side/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(input): 新增 input 组件 autofocus 原生属性
  package/component/src/component/input/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: 新增 input 组件 autocomplete 原生属性
  package/component/src/component/input/index.vue
  package/document/src/document/zh-CN/components/input.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄(input): 修正 input 组件格式
  package/component/src/component/input/index.vue
  package/component/src/component/inputNumber/index.vue
Due: prettier --write --no-verify, eslint --fix

📝: 更新 input 事件列表
  package/component/src/component/input/index.vue
  package/component/src/component/inputNumber/index.vue
  package/document/src/document/zh-CN/components/input.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧: 升级 layui-vue-resolver 0.0.8
  package/document/components.d.ts
  package/document/package.json
  package/document/src/auto-imports.d.ts
  package/document/vite.config.demand.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧: 升级 unplugin-layui-vue-resolver 0.0.10
  package/document/package.json
Due: prettier --write

🐛: 修复 radio 与 checkbox 组件无 from 包裹时隐藏原生元素
  package/component/src/component/checkbox/index.less
  package/component/src/component/checkbox/index.vue
  package/component/src/component/radio/index.less
  package/component/src/component/radio/index.vue
  package/component/src/component/select/index.less
  package/component/src/theme/public.less
  package/document/src/document/zh-CN/components/checkbox.md
  package/document/src/document/zh-CN/components/input.md
  package/document/src/document/zh-CN/components/radio.md
  package/document/src/document/zh-CN/components/switch.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧: 升级 vueuse/core 8.4.2
  package/component/package.json
  package/document/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write

🐛: 修复 changeOpenKeys 内存引用的问题
  package/component/src/component/menu/index.vue
  package/component/src/component/subMenu/index.vue
  package/document/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: 升级 vite 2.9.8
  package/component/package.json
  package/component/src/component/menu/index.vue
  package/component/src/component/subMenu/index.vue
  package/document/package.json
  package/document/src/document/zh-CN/guide/changelog.md
  package/icons/package.json
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: 发布 1.0.7 版本
  package/component/package.json
Due: prettier --write

增加一个手风琴模式示例.
  package/document/src/document/zh-CN/components/menu.md
Due: prettier --write

修改了示例的标题.
  package/document/src/document/zh-CN/components/menu.md
Due: prettier --write

标题修改.
  package/document/src/document/zh-CN/components/menu.md
Due: prettier --write

🐛: 删除手风琴案例
  package/document/src/document/zh-CN/components/menu.md
Due: prettier --write

🐛(fullscreen): 先按 F11 进入全屏,组件退出全屏不生效的问题
  package/component/src/component/fullscreen/index.vue
Due: prettier --write --no-verify, eslint --fix

💄: 调整 document 的 style 样式
  package/document/src/assets/css/code.css
  package/document/src/components/LayCode.vue
  package/document/src/components/LaySearch.vue
  package/document/src/components/LayTableBox.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️: 提炼 devDependencies 公共依赖
  package.json
  package/component/package.json
  package/component/src/component/fullscreen/index.vue
  package/document/package.json
  package/document/src/components/LayTableBox.vue
  package/icons/package.json
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧: 修改 prettier.js 配置
  .prettierrc
Due: none

📝: update README.zh.md
  README.zh.md
Due: prettier --write

♻️(table): 重构 column 渲染逻辑
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新日志
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨: 升级 prismjs 1.28.0
  package/document/package.json
Due: prettier --write

✨: 升级 pinia 2.0.14
  package/document/package.json
Due: prettier --write

⚡️: 优化 prism 高亮样式
  package/document/src/assets/css/code.css
  package/document/src/plugin/snippet.ts
  package/document/src/plugin/usePlayground.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(menu): 修复 menu 组件 mored 图标不随状态变化
  package/component/src/component/menu/index.less
  package/component/src/component/menu/index.vue
  package/component/src/component/subMenu/index.vue
  package/document/src/plugin/snippet.ts
  package/document/src/plugin/usePlayground.ts
Due: prettier --write --no-verify, eslint --fix

✨(menu): 新增 menu 组件 expandIcon 插槽
  package/component/src/component/menu/index.vue
  package/component/src/component/subMenu/index.vue
  package/document/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新日志
  package/component/src/component/subMenu/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新 menu 文档
  package/document/src/document/zh-CN/components/menu.md
Due: prettier --write

📝(component): 修复 button 组件 radius 文档
  package/component/src/component/collapseItem/index.vue
  package/document/package.json
  package/document/src/document/zh-CN/components/button.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 补充 card 属性说明
  package/document/src/document/zh-CN/components/card.md
Due: prettier --write

📝: 更新文档
  package/document/src/components/LayCode.vue
  package/document/src/document/zh-CN/components/input.md
  package/document/src/document/zh-CN/guide/member.md
  package/document/src/plugin/demo.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 添加自动按需引入使用说明
  package/document/components.d.ts
  package/document/package.json
  package/document/src/document/zh-CN/guide/getStarted.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新文档
  package/component/package.json
  package/component/src/component/checkbox/index.vue
  package/document/src/document/zh-CN/components/menu.md
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/document/zh-CN/guide/getStarted.md
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(i18n): 修复按需加载下 i18n 的注册问题
  package/component/src/component/input/index.vue
  package/component/src/component/page/index.vue
  package/component/src/index.ts
  package/component/src/language/index.ts
  package/component/src/provider/index.vue
  package/component/src/utils/withInstall.ts
  package/document/src/document/zh-CN/guide/getStarted.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
