Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  .husky/commit-msg
  build/commit-eslint.js
  eslint.config.mjs
Due: prettier --write --no-verify, eslint --fix

!474 ci: eslint replace prettier * chore: update * chore: eslint ignores .sh * ci: commit后只eslint暂存区文件 * ci: eslint replace perttier
  .editorconfig
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .prettierignore
  .prettierrc
  .vscode/settings.json
  build/commit-eslint.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

!472 fix(inputNumber): 自定义宽度，indicator显示异常 * fix(inputNumber): 自定义宽度，indicator显示异常
  packages/component/component/inputNumber/index.less
Due: none

style: 修复Tree选择框样式覆盖CheckboxV2问题
  packages/component/component/treeV2/index.less
Due: none

!471 fix(upload): 当slots.preview为空时，对应区域则不渲染 * fix(upload): 当slots.preview为空时，对应区域则不渲染
  packages/component/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: 初步重构完成
  .husky/commit-msg
  build/commit-eslint.js
  docs/src/document/zh-CN/components/tree.md
  docs/src/document/zh-CN/components/treeSelect.md
  eslint.config.mjs
  package.json
  packages/component/component/_components/render.ts
  packages/component/component/tagInput/index.vue
  packages/component/component/tagInput/inerface.ts
  packages/component/component/tagInput/interface.ts
  packages/component/component/tree/TreeNode.vue
  packages/component/component/tree/__tests__/hook.test.tsx
  packages/component/component/tree/__tests__/tree.test.tsx
  packages/component/component/tree/constant.ts
  packages/component/component/tree/hooks/useTree.ts
  packages/component/component/tree/index.less
  packages/component/component/tree/index.vue
  packages/component/component/tree/interface.ts
  packages/component/component/tree/tree.ts
  packages/component/component/tree/tree.type.ts
  packages/component/component/tree/useTree.ts
  packages/component/component/tree/utils.ts
  packages/component/component/treeSelect/__tests__/treeSelect.test.tsx
  packages/component/component/treeSelect/index.vue
  packages/component/component/treeSelect/interface.ts
  packages/component/component/treeV2/TreeNode.vue
  packages/component/component/treeV2/index.hook.ts
  packages/component/component/treeV2/index.less
  packages/component/component/treeV2/index.ts
  packages/component/component/treeV2/index.vue
  packages/component/index.ts
  packages/component/types/index.ts
  packages/component/utils/index.ts
  packages/component/utils/treeUtil.ts
  packages/component/utils/type.ts
  packages/layui/package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 禁止节点禁止被触发
  packages/component/component/tagInput/__tests__/tagInput.test.tsx
  packages/component/component/tree/TreeNode.vue
Due: prettier --write --no-verify, eslint --fix

chore: update
  docs/src/document/zh-CN/components/tree.md
  packages/component/component/tree/hooks/useTree.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(tree): 文档组件标签调整/删除无法处理代码
  docs/src/document/zh-CN/components/tree.md
  packages/component/component/tree/hooks/useTree.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(layui): release v2.22.0
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

docs(upload): code block width extra long
  docs/src/document/zh-CN/components/upload.md
Due: prettier --write

docs: add baidu buried points
  docs/index.html
Due: prettier --write

docs: 2.22.0 release time and layui-vue link
  docs/src/document/zh-CN/components/layer.md
  docs/src/document/zh-CN/guide/changelog.md
Due: prettier --write

fix(table): columns.titleSlot无效
  docs/src/document/zh-CN/components/table.md
  eslint.config.mjs
  packages/component/component/_components/render.ts
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/components/TableHeader.vue
  packages/component/component/table/components/TableMain/TableMain.vue
  packages/component/component/table/components/TableMain/TableMainTd.tsx
  packages/component/component/table/components/TablePage.vue
  packages/component/component/table/components/TableToolbar.vue
  packages/component/component/table/components/TableTotal.vue
  packages/component/component/table/components/types.ts
  packages/component/component/table/constant.ts
  packages/component/component/table/hooks/useAutoColsWidth.ts
  packages/component/component/table/hooks/useResize.ts
  packages/component/component/table/hooks/useTable.ts
  packages/component/component/table/hooks/useTableColumns.ts
  packages/component/component/table/hooks/useTableExpand.ts
  packages/component/component/table/hooks/useTablePage.ts
  packages/component/component/table/hooks/useTableSelected.ts
  packages/component/component/table/hooks/useToolbar.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!476 fix(table): columns.titleSlot无效 * fix(table): columns.titleSlot无效
  docs/src/document/zh-CN/components/table.md
  eslint.config.mjs
  packages/component/component/_components/render.ts
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/components/TableHeader.vue
  packages/component/component/table/components/TableMain/TableMain.vue
  packages/component/component/table/components/TableMain/TableMainTd.tsx
  packages/component/component/table/components/TablePage.vue
  packages/component/component/table/components/TableToolbar.vue
  packages/component/component/table/components/TableTotal.vue
  packages/component/component/table/components/types.ts
  packages/component/component/table/constant.ts
  packages/component/component/table/hooks/useAutoColsWidth.ts
  packages/component/component/table/hooks/useResize.ts
  packages/component/component/table/hooks/useTable.ts
  packages/component/component/table/hooks/useTableColumns.ts
  packages/component/component/table/hooks/useTableExpand.ts
  packages/component/component/table/hooks/useTablePage.ts
  packages/component/component/table/hooks/useTableSelected.ts
  packages/component/component/table/hooks/useToolbar.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci(eslint): 控制台新增格式化进度日志
  build/commit-eslint.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

!477 ci(eslint): 控制台新增格式化进度日志 * ci(eslint): 控制台新增格式化进度日志
  build/commit-eslint.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(table): fixed column异常显示resize dom
  packages/component/component/table/index.less
Due: none

!478 fix(table): fixed column异常显示resize dom * fix(table): fixed column异常显示resize dom
  packages/component/component/table/index.less
Due: none

feat(datePicker): eslint format
  packages/component/component/datePicker/component/DatePicker.vue
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/MonthRange.vue
  packages/component/component/datePicker/component/TimeRange.vue
  packages/component/component/datePicker/component/YearRange.vue
  packages/component/component/datePicker/component/common/Date.vue
  packages/component/component/datePicker/component/common/DateContent.vue
  packages/component/component/datePicker/component/common/Footer.vue
  packages/component/component/datePicker/component/common/InputBlock.vue
  packages/component/component/datePicker/component/common/Month.vue
  packages/component/component/datePicker/component/common/Shortcuts.vue
  packages/component/component/datePicker/component/common/Time.vue
  packages/component/component/datePicker/component/common/Year.vue
  packages/component/component/datePicker/component/interface.ts
  packages/component/component/datePicker/hook/useBaseDatePicker.ts
  packages/component/component/datePicker/hook/useDatePicker.ts
  packages/component/component/datePicker/hook/useProps.ts
  packages/component/component/datePicker/hook/useShortcutsRange.ts
  packages/component/component/datePicker/index.vue
  packages/component/component/datePicker/interface.ts
  packages/component/component/datePicker/util.ts
Due: prettier --write --no-verify, eslint --fix

feat(datePicker): 新增static(面板)模式
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/component/common/InputBlock.vue
  packages/component/component/datePicker/index.less
  packages/component/component/datePicker/index.vue
  packages/component/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 统一borderColor变量
  packages/component/component/datePicker/index.less
Due: none

ci(eslint): remove git add step
  build/commit-eslint.js
Due: prettier --write --no-verify, eslint --fix

!479 feat(datePicker): 新增static(面板)模式 * chore: 统一borderColor变量 * feat(datePicker): 新增static(面板)模式
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/component/common/InputBlock.vue
  packages/component/component/datePicker/index.less
  packages/component/component/datePicker/index.vue
  packages/component/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!475 fix(table): 数据为空时表头checkbox应为未选中状态 * fix(table): 数据为空时表头checkbox应为未选中状态
  packages/component/component/table/hooks/useTableSelected.ts
Due: prettier --write --no-verify, eslint --fix

test(table): dataSource为空，表头checkbox状态应为空
  packages/component/component/table/__tests__/table.test.tsx
Due: prettier --write --no-verify, eslint --fix

feat(layui): release v2.22.1
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

fix(render): props key kebab-case transform to camelCase
  eslint.config.mjs
  packages/component/component/_components/__tests__/render.test.tsx
  packages/component/component/_components/render.ts
  packages/component/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

fix(table/types): 修复 TableColumn 中 type 存在时 key 仍为必填的问题
  packages/component/component/table/components/TableMain/TableMainTd.tsx
  packages/component/component/table/components/TableTotal.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

!480 fix(table/types): 修复 TableColumn 中 type 存在时 key 仍为必填的问题 * fix(table/types): 修复 TableColumn 中 type 存在时 key 仍为必填的问题
  packages/component/component/table/components/TableMain/TableMainTd.tsx
  packages/component/component/table/components/TableTotal.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

feat(layui-vue): release v2.22.2
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

feat(table): 导出数据为Number时，单元格类型调整为数字
  packages/component/component/table/hooks/useToolbar.ts
Due: prettier --write --no-verify, eslint --fix

!481 feat(table): 导出数据为Number时，单元格类型调整为数字 * feat(table): 导出数据为Number时，单元格类型调整为数字
  packages/component/component/table/hooks/useToolbar.ts
Due: prettier --write --no-verify, eslint --fix

docs(cascader): slot demo
  docs/src/document/zh-CN/components/cascader.md
Due: prettier --write

feat(datePicker): support default and footer slots
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/_components/render.ts
  packages/component/component/datePicker/component/DatePicker.vue
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/MonthRange.vue
  packages/component/component/datePicker/component/TimeRange.vue
  packages/component/component/datePicker/component/YearRange.vue
  packages/component/component/datePicker/component/common/Date.vue
  packages/component/component/datePicker/component/common/DateContent.vue
  packages/component/component/datePicker/component/common/DatePickerRender.vue
  packages/component/component/datePicker/component/common/Month.vue
  packages/component/component/datePicker/component/common/Year.vue
  packages/component/component/datePicker/component/interface.ts
  packages/component/component/datePicker/hook/useBaseDatePicker.ts
  packages/component/component/datePicker/hook/useDatePicker.ts
  packages/component/component/datePicker/index.vue
  packages/component/component/datePicker/interface.ts
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update
  docs/src/document/zh-CN/components/datePicker.md
Due: prettier --write

chore: slots types
  packages/component/component/datePicker/index.vue
  packages/component/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix

test: add test
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(popper): eslint format
  packages/component/component/popper/component/content.vue
  packages/component/component/popper/component/forward-ref.tsx
  packages/component/component/popper/component/trigger.vue
  packages/component/component/popper/hook/useDelayTrigger.ts
  packages/component/component/popper/index.ts
  packages/component/component/popper/popper.vue
  packages/component/component/popper/types.ts
  packages/component/component/popper/usePopper/index.ts
  packages/component/component/popper/usePopper/types.ts
  packages/component/component/popper/usePopper/usePopper.ts
  packages/component/component/popper/usePopper/utils.ts
  packages/component/component/popper/utils.ts
Due: prettier --write --no-verify, eslint --fix

chore(tooltip): eslint format
  packages/component/component/tooltip/index.ts
  packages/component/component/tooltip/index.vue
  packages/component/component/tooltip/types.ts
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
