Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

🐛(component): update
  package/component/src/component/formItem/index.vue
  package/component/src/component/menu/index.less
  package/document-component/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 调整 menu 的 popup menu 背景色
  package/component/src/component/menu/index.less
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/document-component/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): [tooltip] 重构 tooltip
  package/component/src/component/dropdown/index.vue
  package/component/src/component/popper/index.vue
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [tooltip]trigger contextMenu 时阻止默认行为
  package/component/src/component/dropdown/index.vue
  package/component/src/component/popper/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): update
  package/component/src/component/menu/index.less
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝: [tooltip]更新文档
  package/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write

✨(component): [subMenuPopup]横向菜单的子菜单 trigger 统一为 hover
  package/component/src/component/subMenu/SubMenuPopup.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): [subMenuPopup]横向菜单的二级菜单 placement 由 bottom-start 修改为 bottom
  package/component/src/component/subMenu/SubMenuPopup.vue
Due: prettier --write --no-verify, eslint --fix

♻️(component): [teleportWrapper]使用 mutation observer,确保即使在渲染目标元素前挂载了 teleportWrapper, 他也能正常工作
  package/component/src/component/_components/teleportWrapper.vue
  package/component/src/utils/withInstall.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): [teleportWrapper]修复渲染时机
  package/component/src/component/_components/teleportWrapper.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): [dropdown]修复点击菜单项时只能关闭当前层级的问题
  package/component/src/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): 更新 GetStarted.md 安装说明
  package/component/src/component/affix/index.less
  package/component/src/component/affix/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/guide/getStarted.md
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/affix/index.vue
  package/component/src/component/dropdown/index.vue
  package/document-component/src/document/zh-CN/guide/getStarted.md
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): release 1.4.12
  package/component/package.json
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/dark.md
  package/document-component/src/document/zh-CN/guide/getStarted.md
  package/document-component/src/document/zh-CN/guide/theme.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 rate 组件 modelValue 缺少响应式
  package/component/src/component/rate/index.vue
  package/document-component/src/document/zh-CN/components/rate.md
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复穿梭框无法检索的问题
  package/component/src/component/rate/index.vue
  package/component/src/component/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/getStarted.md
Due: prettier --write

🐛(component): 修复 customSlot 结合 tooltip 的问题
  package/component/src/component/popper/index.vue
  package/component/src/component/table/TableRow.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): update
  package/component/src/component/popper/index.vue
  package/component/src/component/table/TableRow.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 移除 transfer 组件 console.log
  package/component/src/component/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix

✨: dts 文件生成
  .prettierignore
  package.json
  package/component/package.json
  package/component/script/build.all.ts
  package/component/src/component/space/index.vue
  package/component/src/component/tag/index.less
  package/component/src/component/tag/index.vue
  package/component/src/component/tag/interface.ts
  package/document-component/src/document/zh-CN/components/tag.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 transfer 组件 v-model 属性 与 change 事件
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/components/transfer.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复文档缺陷
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/components/icon.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/package.json
  package/document-component/src/document/zh-CN/components/transfer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): [tag]新增 tag 组件
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/dropdown.md
  package/document-component/src/document/zh-CN/components/tag.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [dropdown]新增 contentClass 属性
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/useFirstElement.ts
  package/component/src/component/dropdown/util.ts
  package/document-component/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): update
  README.md
  README.zh.md
Due: prettier --write

✨(component): release 1.4.14
  package.json
  package/component/package.json
  package/component/src/component/splitPanelItem/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧: 移除 vite-plugin-dts
  package.json
  package/component/script/build.all.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [tabitem] 新增 icon 属性
  package/component/script/build.all.ts
  package/component/src/component/tab/index.vue
  package/component/src/component/tab/interface.ts
  package/component/src/component/tabItem/index.vue
  package/document-component/src/document/zh-CN/components/tab.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

修复 breadcrumb-item 无法正确传递 attrs 的问题
  package/component/src/component/breadcrumbItem/index.vue
  package/document-component/src/document/zh-CN/components/breadcrumb.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): cascader组件 外部清空modelValue内部displayValue不清空问题
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [tolltip]:修复 content 自动定位
  package/component/src/component/popper/index.vue
  package/component/src/component/tagInput/Tag.vue
  package/component/src/component/tooltip/index.vue
Due: prettier --write --no-verify, eslint --fix

update package/document-component/src/document/zh-CN/components/input.md.
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write

♻️(wip): [tagInput] 重构 tagInput
  package/component/src/component/tagInput/index.less
  package/component/src/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): [cascader] 修复 trigger
  package/component/src/component/cascader/index.vue
  package/component/src/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): [carouse]修复更新
  package/component/src/component/carousel/index.vue
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/components/carousel.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

新增 标签输入框 文档菜单项
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 调整 tag 样式, 简化文档 demo
  package/component/src/component/tag/index.less
  package/document-component/src/document/zh-CN/components/tag.md
Due: prettier --write
