Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

chore(component/Segmented): 增加文档说明、样式调整和功能调整
  docs/src/document/zh-CN/components/segmented.md
  packages/component/component/segmented/index.less
  packages/component/component/segmented/index.vue
  packages/component/component/segmented/interfaces.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 补充结尾 :::
  docs/src/document/zh-CN/components/segmented.md
Due: prettier --write

docs: fix :::
  docs/src/document/zh-CN/components/segmented.md
Due: prettier --write

docs: 移动端文档优化
  docs/src/assets/css/mobile.less
Due: none

!392 docs: 镜像调整 * docs: 镜像调整
  README.md
  README.zh.md
Due: prettier --write

!393 docs: 移动端样式调整 * docs: 移动端文档优化 * docs: 移动端文档优化 * style: 移动端样式调整
  docs/src/assets/css/mobile.less
Due: none

feat(component/timeSelect): 新增时间点选择器
  packages/component/component/timeSelect/index.less
  packages/component/component/timeSelect/index.ts
  packages/component/component/timeSelect/index.vue
  packages/component/component/timeSelect/interfaces.ts
  packages/component/component/timeSelect/useTime.ts
  packages/component/index.ts
Due: prettier --write --no-verify, eslint --fix

refactor(splitPanel): 重写设置splitPanel-item宽度逻辑
  packages/component/component/splitPanel/index.less
  packages/component/component/splitPanel/index.vue
  packages/component/component/splitPanel/interface.ts
  packages/component/component/splitPanelItem/index.vue
Due: prettier --write --no-verify, eslint --fix

修正语言文件链接 修正语言文件链接
  docs/src/document/zh-CN/guide/locale.md
Due: prettier --write

错别字
  docs/src/document/zh-CN/guide/changelog.md
Due: prettier --write

fix(component/timeSelect): 修复format和valueFormat不生效的问题
  packages/component/component/timeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(component/timeSelect): 增加代码注释、增加 props 响应式、增加 props 和样式调整
  packages/component/component/timeSelect/index.less
  packages/component/component/timeSelect/index.vue
  packages/component/component/timeSelect/interfaces.ts
Due: prettier --write --no-verify, eslint --fix

chore: code optimiza
  docs/src/document/zh-CN/components/splitPanel.md
  packages/component/component/splitPanel/index.vue
  packages/component/component/splitPanel/interface.ts
  packages/component/component/splitPanel/splitPanel.ts
  packages/component/component/splitPanelItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(component/timePicker): 增加 modelValue 的响应式，增加时间戳日期格式
  packages/component/component/timeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

docs(component/timePicker): 增加文档
  docs/src/document/zh-CN/components/timeSelect.md
  docs/src/router/zh-CN.ts
  docs/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(component/timeSelect): 文档修正
  docs/src/document/zh-CN/components/timeSelect.md
Due: prettier --write

chore(component/timeSelect): 增加 skip 属性，跳过某些时间点
  docs/src/document/zh-CN/components/timeSelect.md
  packages/component/component/timeSelect/index.vue
  packages/component/component/timeSelect/interfaces.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(tooltip): update version info
  docs/src/document/zh-CN/components/tooltip.md
Due: prettier --write

docs(component/datePicker): 增加年份选择器的使用文档
  docs/src/document/zh-CN/components/datePicker.md
Due: prettier --write

fix(descriptions): 渲染丢失响应式
  packages/component/component/descriptions/__tests__/descriptions.test.tsx
  packages/component/component/descriptions/descriptions-cell.ts
Due: prettier --write --no-verify, eslint --fix

fix: modelValue为空时内部currentDate为当前时间
  packages/component/component/datePicker/components/YearPanel.vue
Due: prettier --write --no-verify, eslint --fix

refactor(dropdown): use floating-ui
  .eslintrc.js
  docs/src/document/zh-CN/components/dropdown.md
  docs/src/document/zh-CN/components/tooltip.md
  package.json
  packages/component/component/dropdownV2/dropdownV2.vue
  packages/component/component/dropdownV2/index.less
  packages/component/component/dropdownV2/index.ts
  packages/component/component/dropdownV2/types.ts
  packages/component/component/popper/component/content.vue
  packages/component/component/popper/component/trigger.vue
  packages/component/component/popper/popper.vue
  packages/component/component/popper/types.ts
  packages/component/component/select/index.vue
  packages/component/component/tooltip/index.vue
  packages/component/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: teleportProps
  packages/component/component/dropdownV2/dropdownV2.vue
  packages/component/component/dropdownV2/types.ts
  packages/component/component/form/index.less
  packages/component/component/popper/component/content.vue
Due: prettier --write --no-verify, eslint --fix

feat: add alignPoint props
  packages/component/component/dropdownV2/dropdownV2.vue
  packages/component/component/dropdownV2/interface.ts
  packages/component/component/dropdownV2/utils.ts
  packages/component/component/popper/types.ts
Due: prettier --write --no-verify, eslint --fix

fix: 兼容autoComplete组件
  docs/src/document/zh-CN/components/button.md
  docs/src/document/zh-CN/components/checkcard.md
  docs/src/document/zh-CN/components/dropdown.md
  packages/component/component/autoComplete/index.vue
  packages/component/component/cascader/index.vue
  packages/component/component/colorPicker/index.vue
  packages/component/component/datePicker/index.vue
  packages/component/component/dropdown/index.less
  packages/component/component/dropdown/index.vue
  packages/component/component/dropdown/interface.ts
  packages/component/component/dropdown/util.ts
  packages/component/component/dropdown/utils.ts
  packages/component/component/dropdownMenu/index.vue
  packages/component/component/dropdownMenuItem/index.vue
  packages/component/component/dropdownSubMenu/index.vue
  packages/component/component/dropdownV2/dropdownV2.vue
  packages/component/component/dropdownV2/index.less
  packages/component/component/dropdownV2/index.ts
  packages/component/component/dropdownV2/interface.ts
  packages/component/component/iconPicker/index.vue
  packages/component/component/menu/index.less
  packages/component/component/menu/index.vue
  packages/component/component/menuItem/index.vue
  packages/component/component/popper/hook/useDelayTrigger.ts
  packages/component/component/select/index.vue
  packages/component/component/subMenu/SubMenuPopup.vue
  packages/component/component/subMenu/index.vue
  packages/component/component/table/index.vue
  packages/component/component/treeSelect/index.vue
  packages/component/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  packages/component/component/dropdown/index.vue
  packages/component/component/menuItem/index.vue
  packages/component/component/popper/types.ts
  packages/component/component/popper/usePopper/types.ts
Due: prettier --write --no-verify, eslint --fix

test(auto-complete): add test
  packages/component/component/autoComplete/__tests__/auto-complete.test.tsx
Due: prettier --write --no-verify, eslint --fix

fix: 兼容 select
  docs/src/document/zh-CN/components/autoComplete.md
  docs/src/document/zh-CN/components/dropdown.md
  docs/src/document/zh-CN/components/select.md
  packages/component/component/autoComplete/index.vue
  packages/component/component/select/__tests__/select.test.tsx
  packages/component/component/select/index.vue
  packages/json-schema-form/src/component/__tests__/form.test.tsx
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(select): add test
  packages/component/component/select/__tests__/select.test.tsx
Due: prettier --write --no-verify, eslint --fix

fix: 兼容treeSelect
  docs/src/document/zh-CN/components/treeSelect.md
  packages/component/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(component/cascader): 增加测试项
  packages/component/component/cascader/__tests__/cascader.test.tsx
Due: prettier --write --no-verify, eslint --fix

fix: 兼容cascader
  docs/src/components/LayTableBox.vue
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascader/index.vue
  packages/component/component/cascader/interface.ts
  packages/component/component/scroll/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(component/datePicker): 增加测试项
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/__tests__/yearPanel.test.tsx
Due: prettier --write --no-verify, eslint --fix

docs(iconPicker): remove warn
  docs/src/document/zh-CN/components/iconPicker.md
Due: prettier --write

fix: 兼容iconPicker
  docs/src/document/zh-CN/components/iconPicker.md
  packages/component/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(component/cascader): cascader 在数据源的 value 重复时会发出警告，并增加和润色了文档
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(component/cascader): 修复代码中一处的说明
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: 兼容colorPicker
  docs/src/document/zh-CN/components/colorPicker.md
  docs/src/document/zh-CN/components/iconPicker.md
  packages/component/component/colorPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  docs/src/document/zh-CN/components/dropdown.md
  packages/component/component/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
