Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

!364 feat(table): 添加expand(行展开)事件 * chore(table): 调整expand事件名为expand-change * feat(table): 新增expand事件
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/TableData.vue
  packages/component/component/table/hooks/useEmit.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!365 fix(form):取消表单submit默认行为 * fix(form):取消表单submit默认行为
  packages/component/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix

!366 style(compoents): 修复因设置全局box-sizing=boxder-box导致样式问题 * style(compoents): 修复因设置全局box-sizing=boxder-box导致样式问题
  packages/component/component/iconPicker/index.less
  packages/component/component/tree/index.less
Due: none

!368 fix(table): data-source改变default-expand-all未更新 * fix(table): data-source改变default-expand-all未更新 #IAF37Y
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!372 fix(component/avatar): 修复 Avatar 组件在 src 和 fallback 均不能加载图片时的高频请求问题 * fix(component/avatar): 修复 Avatar 组件在 src 和 fallback 均不能加载图片时的高频请求问题
  packages/component/component/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

!373 fix(table): 存在多级表头&totalRow开启行统计时设置fixed报错 * fix(table): 存在多级表头&totalRow开启行统计时设置fixed报错 #IAG1V5
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!374 fix(layer): 修复umd格式下globalIndex无默认值 * fix(layer): 修复umd格式下globalIndex无默认值
  packages/layer/src/tokens/index.ts
Due: prettier --write --no-verify, eslint --fix

docs(cascader): 补充新版本提示
  docs/src/document/zh-CN/components/cascader.md
  docs/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(type): useEmit type
  packages/component/component/autoComplete/index.vue
  packages/component/component/table/hooks/useEmit.ts
Due: prettier --write --no-verify, eslint --fix

feat(layer): release v2.4.3
  packages/layer/package.json
Due: prettier --write

feat(layui-vue): release v2.18.0
  docs/src/document/zh-CN/guide/changelog.md
  docs/src/view/index.vue
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(json-schema-form): release v1.0.13
  packages/json-schema-form/CHANGELOG.md
  packages/json-schema-form/package.json
Due: prettier --write

chore: build sh
  package.json
Due: prettier --write

docs: 补充@layui/unplugin-vue-components说明
  docs/src/document/zh-CN/guide/getStarted.md
Due: prettier --write

fix(cascader): 添加引入使用的组件，防止按需加载内部组件未编译
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(tree): 修复不存在连线时hover状态整行未居中对齐
  packages/component/component/tree/index.less
Due: none

add Dockerfile.
  Dockerfile
Due: none

rename Dockerfile to baobaobao.
  baobaobao
Due: none

rename baobaobao to Dockerfile.
  Dockerfile
Due: none

fix(cascader): 补充引入对应组件(解决按需加载内部使用组件未编译)
  packages/component/component/cascader/index.less
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.less
  packages/component/component/cascaderPanel/index.vue
  packages/component/component/tagInput/index.less
Due: prettier --write --no-verify, eslint --fix

feat: 避免@import less产物混入css文件中
  packages/component/component/cascader/index.less
  packages/layui/package.json
  packages/layui/script/build.es.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(tree): 父子节点关联子节点未全选checkedKeys含含父节点 #IAHT4X
  packages/component/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

chore: add test
  packages/component/component/tree/__tests__/tree.test.tsx
Due: prettier --write --no-verify, eslint --fix

fix(cascader): options重新赋值内部panel面板未刷新
  packages/component/component/cascader/__tests__/cascader.test.tsx
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

!375 fix(tree): 父子节点关联子节点未全选checkedKeys含含父节点 * chore: add test * fix(tree): 父子节点关联子节点未全选checkedKeys含含父节点 #IAHT4X
  packages/component/component/tree/__tests__/tree.test.tsx
  packages/component/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

!377 fix(cascader): options重新赋值内部panel面板未刷新 * fix(cascader): options重新赋值内部panel面板未刷新
  packages/component/component/cascader/__tests__/cascader.test.tsx
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(layui-vue): release v2.18.1
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

fix(tree): checkedKey异常 #IAJ814
  packages/component/component/tree/TreeNode.vue
  packages/component/component/tree/__tests__/tree.test.tsx
  packages/component/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

fix(radio-group): 修复单项数据流内部选中并未跟随modelValue状态
  docs/src/document/zh-CN/components/radio.md
  packages/component/component/radio/__tests__/radio.test.tsx
  packages/component/component/radio/index.vue
  packages/component/component/radioGroup/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(checkbox-group): 修复单项数据流内部选中并未跟随modelValue状态
  packages/component/component/checkbox/__tests__/checkbox.test.tsx
  packages/component/component/checkbox/index.vue
  packages/component/component/checkboxGroup/index.vue
Due: prettier --write --no-verify, eslint --fix

!378 feat(qrcode): 添加options参数用于传入qcCode其他参数 * update packages/component/component/qrcode/index.vue.
  packages/component/component/qrcode/index.vue
Due: prettier --write --no-verify, eslint --fix

!379 docs(qrcode): options params directions * update docs/src/document/zh-CN/components/qrcode.md.
  docs/src/document/zh-CN/components/qrcode.md
Due: prettier --write

!380 fix(tree): checkedKeys回显层级异常 * fix(tree): checkedKey异常 #IAJ814
  packages/component/component/tree/TreeNode.vue
  packages/component/component/tree/__tests__/tree.test.tsx
  packages/component/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

!381 fix(radioGroup/checkboxGroup): 单向数据流，选中状态并未跟随modelValue状态 * fix(checkbox-group): 修复单项数据流内部选中并未跟随modelValue状态 * fix(radio-group): 修复单项数据流内部选中并未跟随modelValue状态
  docs/src/document/zh-CN/components/radio.md
  packages/component/component/checkbox/__tests__/checkbox.test.tsx
  packages/component/component/checkbox/index.vue
  packages/component/component/checkboxGroup/index.vue
  packages/component/component/radio/__tests__/radio.test.tsx
  packages/component/component/radio/index.vue
  packages/component/component/radioGroup/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(layui-vue): release v2.18.2
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

feat: layQrcode 组件支持内插图片
  docs/src/document/zh-CN/components/qrcode.md
  packages/component/component/qrcode/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 vRelativeTime 指令，用于显示人性化时间
  docs/src/document/zh-CN/components/relativeTime.md
  docs/src/router/zh-CN.ts
  docs/src/view/utils/menus.ts
  packages/component/directives/index.ts
  packages/component/directives/relative-time/index.ts
  packages/component/directives/types.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 LaySegemented 表单项
  docs/src/document/zh-CN/components/segmented.md
  docs/src/router/zh-CN.ts
  docs/src/view/utils/menus.ts
  packages/component/component/segmented/index.less
  packages/component/component/segmented/index.ts
  packages/component/component/segmented/index.vue
  packages/component/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(radioButton): 结合radioGroup未触发change事件
  packages/component/component/radio/__tests__/radio.test.tsx
  packages/component/component/radioButton/__tests__/radioButton.test.tsx
  packages/component/component/radioButton/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(treeSelect): props.data改变内部未更新
  docs/src/document/zh-CN/components/treeSelect.md
  packages/component/component/tagInput/index.less
  packages/component/component/treeSelect/__tests__/treeSelect.test.tsx
  packages/component/component/treeSelect/index.vue
  packages/component/utils/treeUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write
