Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

📝(component): 整理更新日志
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
  package/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 精简 checkcard 文档，整理更新日志
  package/component/src/component/checkcard/index.less
  package/document-component/src/document/zh-CN/components/checkcard.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 优化 tree-select 组件多选启用时，值类型不匹配时的异常提醒信息
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/checkcard.md
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 组件列筛选面板排版错误的问题
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 修订 lay-check-card 组件为 lay-checkcard
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/document-component/src/document/zh-CN/components/checkcard.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): 修改checkcard选中方式
  package/component/src/component/checkcard/index.vue
  package/component/test/checkcard.test.ts
  package/document-component/src/document/zh-CN/components/checkcard.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复md描述标签解析问题
  package/document-component/src/plugin/create-describe.ts
Due: prettier --write --no-verify, eslint --fix

移除下错误注释
  package/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 优化 table 与 select 组件 scroll 样式
  package/component/src/component/select/index.less
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 优化 tree-select 下拉面板样式，滚动展示
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/component/src/component/treeSelect/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/plugin/create-describe.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新文档
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

🐛(component): 修复 select 组件多选模式，value 在 option 中不存在时，tag 无法删除的问题
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 tree-select 组件多选模式，value 在 option 中不存在时，回显 undefined 并且无法删除的问题
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 table 案例
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

✨(component): 优化 table 组件 loading 图标不随 table 高度垂直居中的问题，并调整颜色与尺寸
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 form.md 文档
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write

🐛(component): 修复 date-picker 组件 model-value 不能为 null 的问题
  package/component/src/component/datePicker/index.vue
  package/document-component/src/assets/layui.png
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.0.0-beta.3
  package/component/package.json
Due: prettier --write

✨(component): 优化 Date Picker 组件 content 滚动条 Css 样式
  package/component/src/component/datePicker/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 整理更新日志
  package/component/src/component/datePicker/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/table/index.vue
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新微信交流群二维码
  wechat.jpg
Due: none

✨(component): 初步实现 popconfirm 组件
  package/component/src/component/popconfirm/index.less
  package/component/src/component/popconfirm/index.ts
  package/component/src/component/popconfirm/index.vue
  package/component/src/component/popper/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/tooltip.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 重新编写 layer 文档
  package/component/src/component/popconfirm/index.vue
  package/component/src/component/popper/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/color.md
  package/document-component/src/document/zh-CN/components/confirm.md
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/components/load.md
  package/document-component/src/document/zh-CN/components/modal.md
  package/document-component/src/document/zh-CN/components/msg.md
  package/document-component/src/document/zh-CN/components/notifiy.md
  package/document-component/src/document/zh-CN/components/photo.md
  package/document-component/src/document/zh-CN/components/tooltip.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/resources.vue
  package/document-component/src/view/utils/menus.ts
  package/document-layer/src/layouts/Layout.vue
  package/layer/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): datePicker 组件修复在某些情况下修改modelValue后回显不生效问题
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

(component): 升级导读
  package/document-component/src/document/zh-CN/components/components/Children1.vue
  package/document-component/src/document/zh-CN/components/components/Children2.vue
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/guide/upgrade.md
  package/document-component/src/main.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): merge code
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 完善导读指南
  package/document-component/src/document/zh-CN/guide/upgrade.md
Due: prettier --write

📝(component): 更新日志
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/upgrade.md
Due: prettier --write

🐛(component): 修复 table 组件 sort 字段排序时，其他已排序字段状态不清空的问题
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 完善 popconfirm 组件
  package/component/src/component/popconfirm/index.less
  package/component/src/component/popconfirm/index.vue
  package/component/src/component/popper/index.vue
  package/component/src/component/table/index.vue
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新文档
  package/component/src/component/popconfirm/index.vue
  package/component/src/component/popper/index.vue
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/components/layer.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新文档
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/layer.md
Due: prettier --write

✨(component): 更新 layer 文档
  package/document-component/src/document/zh-CN/components/layer.md
Due: prettier --write

✨(component): 调整 tooltip 组件 is-dark 属性默认值由 true 改为 false
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/components/popconfirm.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 新增 popconfirm 文档
  package/component/src/component/popconfirm/index.vue
  package/document-component/src/document/zh-CN/components/popconfirm.md
  package/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 组件 sort-change 事件始终为 asc 与 desc 的问题，优化取消排序时，关键字为空字符串
  package/component/src/component/popconfirm/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 table 组件 getCheckData 方法，用于获取选中数据，而不仅仅是选中主键
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): update
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/upgrade.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 增加日历组件
  package/component/src/component/calendar/date-table.vue
  package/component/src/component/calendar/index.less
  package/component/src/component/calendar/index.ts
  package/component/src/component/calendar/index.vue
  package/component/src/component/calendar/utils.ts
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/calendar.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本为 2.0.0-beta.4
  package/component/package.json
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/member.md
  package/document-component/src/view/utils/menus.ts
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/theme/index.css
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write
