Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

📝(all): 更新日志
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(input): 📝(all): 更新日志
  package/component/package.json
  package/document/src/document/zh-CN/components/input.md
Due: prettier --write

🐛(input): typescript 错误
  package/component/src/component/input/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(input): 新增 prefix-icon 与 suffix-icon 属性
  package/component/src/component/input/index.less
  package/component/src/component/input/index.vue
  package/document/src/document/zh-CN/components/input.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.1.6 版本
  package/component/package.json
  package/component/src/component/input/index.vue
  package/document/src/document/zh-CN/components/input.md
  package/document/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): table
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/table.md
  package/document/src/document/zh-CN/components/tooltip.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): 修复 number 错误的类型引用
  .npmrc
  package/component/src/component/table/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix

🐛(table): 修复 table 按需加载时无法正常加载 checkbox 组件
  package/component/package.json
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: 新增 github issues 模板
  .github/ISSUE_TEMPLATE.md
Due: prettier --write

🔧: 修改 husky 脚本
  .husky/commit-msg
Due: none

🐛(component): table
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(upload): 新增 default 插槽
  package/component/src/component/upload/index.vue
  package/document/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(all): 更新日志
  package/component/package.json
  package/document/src/components/LayAnchor.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(transfer): 新增 width 与 height 属性
  package/component/src/component/input/index.vue
  package/component/src/component/transfer/index.less
  package/component/src/component/transfer/index.vue
  package/document/src/document/zh-CN/components/transfer.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(transfer): 修复 transfer-data 高度
  package/component/package.json
  package/component/src/component/input/index.vue
  package/component/src/component/transfer/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.1.7
  package/component/src/component/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(home): 更新主页
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(input-number): 修复 input-number 类型错误 fixed https://gitee.com/layui/layui-vue/issues/I5CIOC
  package/component/src/component/input/index.vue
  package/component/src/component/inputNumber/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(tree & carousel): 修复 tree 与 carousel 语法错误
  package/component/src/component/carousel/index.vue
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/useTree.ts
Due: prettier --write --no-verify, eslint --fix

⬆️(vueuse/core): 8.7.3
  package/component/package.json
  package/component/src/component/carousel/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(textarea): 添加 show-count 属性, 显示字数
  package/component/src/component/carousel/index.vue
  package/component/src/component/textarea/index.less
  package/component/src/component/textarea/index.vue
  package/document/src/document/zh-CN/components/textarea.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

⬆️(vite): 2.9.12
  package.json
  package/component/src/component/carousel/index.vue
  package/document/package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(textarea): update
  package/document/src/document/zh-CN/components/textarea.md
Due: prettier --write

✨(resources): 新增 layui-vue-helper 的 Vscode 辅助插件
  package/document/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix

✨(checkbox): 新增 isIndeterminate 半选状态
  package/component/src/component/checkbox/index.vue
  package/document/components.d.ts
  package/document/package.json
  package/document/src/document/zh-CN/components/checkbox.md
  package/document/src/document/zh-CN/guide/plugin.md
  package/document/src/router/zh-CN.ts
  package/document/src/view/guide.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄(checkbox): 优化 checkbox 选中代码
  package/component/src/component/checkbox/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(layer): typescript 错误
  package/component/src/component/checkbox/index.vue
  package/layer/src/component/Iframe.vue
  package/layer/src/component/Shade.vue
  package/layer/src/component/Title.vue
  package/layer/src/component/index.vue
  package/layer/src/tokens/index.ts
  package/layer/src/types/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛(carousel): 修复轮播图初始化时无法获取 item 列表
  package/component/src/component/carousel/index.vue
  package/layer/src/component/Iframe.vue
  package/layer/src/component/index.vue
  package/layer/src/tokens/index.ts
  package/layer/src/types/index.ts
Due: prettier --write --no-verify, eslint --fix

📝(all): 更新日志
  package/component/src/component/card/index.vue
  package/component/src/component/carousel/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(ie): 移除 ie 兼容 css
  package/component/src/component/carousel/index.vue
  package/component/src/component/colorPicker/index.less
  package/component/src/component/form/index.less
  package/component/src/component/fullscreen/index.less
  package/component/src/component/inputNumber/index.less
  package/component/src/component/menu/index.less
  package/component/src/component/page/index.less
  package/component/src/component/progress/index.less
  package/component/src/component/row/index.less
  package/component/src/component/slider/index.less
  package/component/src/component/tab/index.less
  package/component/src/theme/public.less
  package/document/src/document/zh-CN/guide/changelog.md
  package/layer/src/theme/index.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(tree): 修复 tree slots 语法错误
  package/component/src/component/tree/TreeNode.vue
Due: prettier --write --no-verify, eslint --fix

🐛(checkbox): 暗色模式未选中状态显示异常
  package/component/src/component/checkbox/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(table): tableCheckedKeys 加入半选状态
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/tree.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(all): 补充文档
  package/component/src/component/checkbox/index.vue
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/checkbox.md
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.1.8
  package/component/package.json
  package/component/src/provider/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.1.8
  package/component/src/provider/index.vue
  package/document/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增pageHeader组件 在页面路径不复杂的情况下可以使用该组件代替面包屑组件
  package/component/src/component/pageHeader/index.less
  package/component/src/component/pageHeader/index.ts
  package/component/src/component/pageHeader/index.vue
  package/component/src/index.ts
  package/document/src/document/zh-CN/components/pageHeader.md
  package/document/src/router/zh-CN.ts
  package/document/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): pageHeader组件 新增默认插槽设置,用于开发者想自定义右侧内容,而不仅仅是局限于文字
  package/component/src/component/pageHeader/index.vue
  package/document/src/document/zh-CN/components/pageHeader.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(all): 更新文档
  package/component/src/index.ts
  package/document/src/document/zh-CN/components/drawer.md
  package/document/src/main.ts
  package/document/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(all): 更新文档
  package/document/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
