Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

📝: 更新日志
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/radioGroup/index.ts
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(version): 发布 1.1.3
  package.json
  package/component/package.json
  package/document/src/document/zh-CN/components/radio.md
  package/document/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write

✨(table): add sub-table tree-table
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/tree.type.ts
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): add sub-table tree-table
  package/component/src/component/table/TableRow.vue
  package/component/src/component/tree/TreeNode.vue
Due: prettier --write --no-verify, eslint --fix

🐛(table): 修改 table-row 组件 props 命名
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
Due: prettier --write --no-verify, eslint --fix

✨(all): update
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(table): 新增 indent-size 设置 tree-table 行级缩进
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/table.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(tree): 新增 title 插槽, 允许自定义节点
  package/component/src/component/table/TableRow.vue
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.vue
  package/document/public/favicon.ico
  package/document/src/document/zh-CN/components/tree.md
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(select): 修复 typescript 警告
  package/component/src/component/select/index.vue
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): update
  package/component/src/component/colorPicker/index.vue
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(table): 新增 childrenColumnName 属性
  package/component/src/component/badge/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): 更新文档
  package/component/package.json
  package/component/src/component/table/TableRow.vue
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.1.4
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🌀(component): 修复 tab 样式
  package/component/src/component/tab/index.less
  package/component/src/component/tab/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(tab): 修复 brief 背景色为 transparent
  package/component/package.json
  package/component/src/component/tab/index.less
  package/document/src/document/zh-CN/guide/getStarted.md
  package/document/src/document/zh-CN/guide/problem.md
  package/document/src/document/zh-CN/guide/theme.md
Due: prettier --write

⚡️(docsearch): 本地化 docsearch 资源
  package/component/package.json
  package/component/src/component/menu/index.less
  package/component/src/component/tab/index.vue
  package/document/index.html
  package/document/public/docsearch/index.css
  package/document/public/docsearch/index.js
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(tab): 添加滚动
  package/component/src/component/tab/index.less
  package/component/src/component/tab/index.vue
  package/document/src/document/zh-CN/components/tab.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(tab): 调整 tab tools 样式
  package/component/package.json
  package/component/src/component/tab/index.less
Due: prettier --write

📝: 更新日志
  package/component/package.json
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(input / layer): 接受 issues 提议
  package/component/package.json
  package/component/src/component/input/index.less
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/view/index.vue
  package/layer/package.json
  package/layer/src/theme/index.css
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(form-item): 新增 label-position 对齐方式
  package/component/package.json
  package/component/src/component/form/index.less
  package/component/src/component/formItem/index.vue
  package/document/src/document/zh-CN/components/form.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.1.5
  package/component/package.json
  package/component/src/component/form/index.less
  package/component/src/component/formItem/index.vue
  package/component/src/component/select/index.vue
  package/document/src/assets/css/index.css
  package/document/src/assets/css/mobile.css
  package/document/src/document/zh-CN/components/form.md
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.1.5
  package/document/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

⬆️: 升级 vue 3.2.37
  package.json
  pnpm-lock.yaml
Due: prettier --write

⬆️: 升级 darkreader 4.9.51
  package/component/package.json
  package/document/package.json
  pnpm-lock.yaml
Due: prettier --write

⬇️: 删除 animate.css
  package.json
  package/component/package.json
  pnpm-lock.yaml
Due: prettier --write

⬆️: 升级 typescript 4.7.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

⬆️: 升级 rollup 2.75.5
  package.json
  pnpm-lock.yaml
Due: prettier --write

⬆️: 升级 vueuse/core 8.6.0
  package/component/package.json
  pnpm-lock.yaml
Due: prettier --write

⬆️: 升级 husky 8.0.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

⬆️: 升级 vue-router 4.0.15
  package/document/package.json
Due: prettier --write

✨(dropdown): 修改 context-menu 弹出策略, 仅更改触发不方式, 不影响弹出方案
  package/component/src/component/dropdown/index.less
  package/component/src/component/dropdown/index.vue
  package/document/src/document/zh-CN/components/dropdown.md
  package/document/src/layouts/Layout.vue
  package/document/src/plugin/highlight.ts
  package/document/src/router/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(dropdown): 整理代码
  package/component/src/component/dropdown/index.vue
  package/document/src/layouts/Layout.vue
  package/document/src/plugin/highlight.ts
Due: prettier --write --no-verify, eslint --fix

🌀(dropdown-menu && dropdown-menu-item): 整理代码
  package/component/src/component/dropdownMenu/index.vue
  package/component/src/component/dropdownMenuItem/index.vue
Due: prettier --write --no-verify, eslint --fix

✨: 更新日志
  package/component/src/component/dropdownMenu/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛: 更新过期链接
  package/document/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix

🐛(input-number): 修复对齐方式居中
  package/component/src/component/inputNumber/index.less
  package/document/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix

✨(radio-group): 新增 name 属性, 简化 radio 配置
  package/component/src/component/radio/index.vue
  package/component/src/component/radioGroup/index.vue
  package/document/src/document/zh-CN/components/radio.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(修正描述): ✨(radio-group): 新增 name 属性, 简化 radio 配置
  package/component/src/component/radio/index.vue
  package/component/src/component/radioGroup/index.vue
  package/document/src/document/zh-CN/components/radio.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(date-picker): v-model 默认 年月日 解析不成功
  package/component/src/component/datePicker/index.vue
  package/document/src/components/LayAnchor.vue
Due: prettier --write --no-verify, eslint --fix
