Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

🐛(component): (table) tableColumns deep watch
  packages/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🧹: update changelog file
  docs/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 更新日志
  docs/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 2.14.1 版本
  packages/component/package.json
Due: prettier --write

🐛(component): (input-number) 外部修改modelValue未触发内部值改变 #I8YLC5
  packages/component/src/component/inputNumber/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 2.14.2 版本
  docs/document-component/src/components/LayCode.vue
  docs/document-component/src/document/zh-CN/components/inputNumber.md
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): (split-panel) 修复未进行拖动元素失焦问题 #I8YP2U
  docs/document-component/src/document/zh-CN/components/splitPanel.md
  packages/component/src/component/splitPanel/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹: update
  docs/document-component/src/document/zh-CN/components/form.md
Due: prettier --write

🧹(component): (date-picker) 删除popper底部清除按钮
  packages/component/src/component/datePicker/components/PanelFoot.vue
  packages/component/src/language/locales/en_US.ts
  packages/component/src/language/locales/zh_CN.ts
Due: prettier --write --no-verify, eslint --fix

🧹: update changelog.md
  docs/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write

🐛(component): 临时回退依赖版本
  package.json
  pnpm-lock.yaml
Due: prettier --write

✨(component): update
  package.json
  packages/component/package.json
  pnpm-lock.yaml
Due: prettier --write

✨(component): 发布 2.14.4 版本
  packages/component/package.json
Due: prettier --write

✨(component): 新增 grid 组件 pull 与 push 属性
  docs/document-component/src/document/zh-CN/components/grid.md
  packages/component/src/component/col/index.vue
  packages/component/src/component/row/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/src/component/col/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹: vite define process env
  package.json
  packages/component/script/build.umd.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹: 新增play目录(用于调试组件)
  package.json
  packages/component/script/build.umd.ts
  play/app.example.vue
  play/index.html
  play/main.ts
  play/package.json
  play/src/.gitignore
  play/vite.config.ts
  play/vite.init.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹: play icon
  play/index.html
Due: prettier --write

🧹: update
  play/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 switch 组件 span 激活时动画
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/src/component/switch/index.less
  packages/component/src/component/switch/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/src/component/switch/index.less
Due: prettier --write

✨(component): 发布 2.15.0 版本
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write

🌀(component): (step) 提升composition属性优先级(为row时center将失效)
  docs/document-component/src/document/zh-CN/components/step.md
  packages/component/src/component/stepItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✅: adjust test directory
  package.json
  packages/component/src/component/avatar/__tests__/avatar.test.ts
  packages/component/src/component/avatarList/__tests__/avatar-list.test.ts
  packages/component/src/component/badge/__tests__/badge.test.ts
  packages/component/src/component/button/__tests__/button.test.ts
  packages/component/src/component/checkcard/__tests__/checkcard.test.ts
  packages/component/src/component/checkcardGroup/__tests__/checkcard-group.test.ts
  packages/component/src/component/form/__tests__/form-inline.test.ts
  packages/component/src/component/page/__tests__/page.test.ts
  packages/component/src/component/slider/__tests__/slider.test.ts
  packages/component/src/component/table/__tests__/table-empty.test.ts
  packages/component/tsconfig.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

✅(component): (affix) add test
  packages/component/src/component/affix/__tests__/affix.test.tsx
  packages/component/src/component/affix/index.vue
  packages/component/src/test-utils/index.ts
  packages/component/src/test-utils/make-scroll.ts
  packages/component/src/test-utils/sleep.ts
  packages/component/vitest.config.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): (tree) checkedKeys值丢失 #I901ZR
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/src/component/tree/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹(component): (tree) patch type
  packages/component/src/component/tree/index.vue
  packages/component/src/test-utils/index.ts
  packages/component/src/test-utils/make-scroll.ts
  packages/component/src/test-utils/sleep.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): (tree) add check-strictly
  docs/document-component/src/document/zh-CN/components/tree.md
Due: prettier --write

🔧: esbuild Charset
  packages/icons/vite.config.ts
  packages/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

✅(component): (autoComplete) add tests
  docs/document-component/src/document/zh-CN/components/autoComplete.md
  packages/component/src/component/autoComplete/__tests__/auto-complete.test.tsx
  packages/icons/vite.config.ts
  packages/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: @layui/icons-vue(1.1.1-alpha.1) @layui/layer-vue(2.2.3-alpha.1) @layui/layui-vue(2.15.1-alpha.1)
  package.json
  packages/component/package.json
  packages/icons/package.json
  packages/layer/package.json
  pnpm-lock.yaml
Due: prettier --write

🐛(component): (slider) 二次改变modelValue为0时，响应丢失
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/src/component/slider/index.vue
  packages/component/src/component/slider/use-slider.ts
  play/app.example.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): (table) totalRow合计精度问题 #I90LJE
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): publish 2.15.1-alpha.2
  packages/component/package.json
Due: prettier --write

🐛: update changelog.md
  docs/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 更新日志
  docs/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 2.15.1 版本
  packages/component/package.json
Due: prettier --write

✨(component): publish @layui/icons-vue@1.1.1
  packages/icons/package.json
Due: prettier --write

✨(component): publish @layui/layer-vue@2.2.3
  packages/layer/package.json
  pnpm-lock.yaml
Due: prettier --write
