Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

[新增] radio 单选组件
  docs/docs/zh-CN/components/form.md
  src/module/radio/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

update README.md.
  README.md
Due: prettier --write

[优化] 菜单结构
  docs/src/layouts/Layout.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] 更新文档菜单
  docs/docs/zh-CN/components/badge.md
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/components/timeline.md
  docs/docs/zh-CN/guide/changelog.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/module/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[组件] 初步集成 breadcrumb 面包屑
  docs/docs/zh-CN/components/breadcrumb.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  docs/src/styles/vars.css
  src/index.ts
  src/module/breadcrumb/index.ts
  src/module/breadcrumb/index.vue
  src/module/breadcrumbItem/index.ts
  src/module/breadcrumbItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] 新增 color 文档, 修正 lay-block 组件样式
  docs/docs/zh-CN/components/block.md
  docs/docs/zh-CN/components/button.md
  docs/docs/zh-CN/components/color.md
  docs/docs/zh-CN/components/grid.md
  docs/docs/zh-CN/components/icon.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  docs/src/styles/markdown.css
  src/css/all.css
  src/css/layui.css
  src/index.ts
  src/module/breadcrumb/index.vue
  src/module/count/index.ts
  src/module/count/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修复] checkbox 和 progress 警告
  docs/docs/zh-CN/components/form.md
  src/module/badge/index.vue
  src/module/checkbox/index.vue
  src/module/progress/index.vue
  src/module/side/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] 调整文档构建
  docs/docs/zh-CN/components/color.md
  docs/docs/zh-CN/guide/changelog.md
  docs/docs/zh-CN/guide/home.md
  docs/docs/zh-CN/guide/install.md
  docs/vite.config.ts
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] 更新 README.md
  docs/docs/zh-CN/guide/home.md
  docs/src/assets/logo-2.png
Due: prettier --write

[新增] collapse 组件
  .pnpm-debug.log
  docs/docs/zh-CN/components/panel.md
  docs/src/styles/markdown.css
  src/index.ts
  src/module/collapseItem/index.ts
  src/module/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新文档
  docs/docs/zh-CN/components/badge.md
  docs/docs/zh-CN/components/cards.md
  docs/docs/zh-CN/components/collapse.md
  docs/docs/zh-CN/components/color.md
  docs/docs/zh-CN/components/container.md
  docs/docs/zh-CN/components/grid.md
  docs/docs/zh-CN/components/icon.md
  docs/docs/zh-CN/components/line.md
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/components/panel.md
  docs/docs/zh-CN/components/progress.md
  docs/docs/zh-CN/components/table.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  docs/src/styles/markdown.css
  src/module/collapse/index.vue
  src/module/collapseItem/index.vue
  src/module/menu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] avatar 头像组件
  docs/docs/zh-CN/components/avatar.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  docs/src/styles/markdown.css
  src/css/layui-vue.css
  src/index.ts
  src/module/avatar/index.ts
  src/module/avatar/index.vue
  src/module/badge/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] avatar 组件
  src/index.ts
  src/module/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

[新增] icon 列表
  docs/docs/zh-CN/components/icon.md
  docs/src/styles/markdown.css
  src/module/icon/index.vue
  src/module/side/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[文档] 整理 form 案例
  docs/docs/zh-CN/components/form.md
  docs/src/styles/markdown.css
Due: prettier --write

[新增] field 字段组件
  docs/docs/zh-CN/components/field.md
  docs/docs/zh-CN/guide/install.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/field/index.ts
  src/module/field/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] select 组件, 待完善
  docs/docs/zh-CN/components/field.md
  docs/docs/zh-CN/components/form.md
  docs/src/layouts/Layout.vue
  src/index.ts
  src/module/select/index.ts
  src/module/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

publish version 0.0.7
  package.json
Due: prettier --write

[新增] scroll 组件
  docs/docs/zh-CN/guide/changelog.md
  src/index.ts
  src/module/scroll/index.ts
  src/module/scroll/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] select option 组件
  docs/docs/zh-CN/components/form.md
  src/index.ts
  src/module/select/index.vue
  src/module/selectOption/index.ts
  src/module/selectOption/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新文档
  docs/docs/zh-CN/components/button.md
  src/module/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新文档
  docs/docs/zh-CN/components/layout.md
  docs/docs/zh-CN/guide/changelog.md
Due: prettier --write

[新增] breadcrumb 组件 separator 属性, 允许自定义分隔符
  docs/docs/zh-CN/components/breadcrumb.md
  src/module/breadcrumb/index.vue
  src/module/breadcrumbItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] empty 组件
  docs/docs/zh-CN/components/empty.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/css/layui-vue.css
  src/index.ts
  src/module/empty/index.svg
  src/module/empty/index.ts
  src/module/empty/index.vue
  src/module/menu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

publish version to 0.0.8
  docs/docs/zh-CN/components/empty.md
  docs/docs/zh-CN/guide/changelog.md
  package.json
Due: prettier --write

[新增] select 组件
  docs/docs/zh-CN/components/form.md
  src/module/select/index.vue
  src/module/selectOption/index.vue
  src/module/type/index.ts
  src/module/type/select.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

update docs/docs/zh-CN/components/badge.md. 没对齐
  docs/docs/zh-CN/components/badge.md
Due: prettier --write

[新增] form-item 组件
  docs/docs/zh-CN/components/form.md
  src/index.ts
  src/module/form/index.vue
  src/module/formItem/index.ts
  src/module/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] rate 组件
  docs/docs/zh-CN/components/rate.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/rate/index.ts
  src/module/rate/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
