Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

🐛(component): 优化 table 组件 空 状态水平垂直居中位置显示
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 组件 page 属性 limits 配置内容省略显示的问题
  package/component/src/component/page/components/limits.vue
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/package.json
  package/component/src/component/page/components/limits.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 layer.reset 方法无效的问题
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 升级 layer-vue 到 2.0.2 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 2.7.0-alpha.3 版本
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 优化 table 组件 background 背景色为 #ffffff
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 2.7.0-alpha.4 版本
  package/component/package.json
Due: prettier --write

整合slider组件
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/Vertical.vue
  package/component/src/component/slider/VerticalRange.vue
  package/component/src/component/slider/index.less
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/useSlider.ts
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/components/slider.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

增加poppers事件导出
  package/component/src/component/popper/index.vue
Due: prettier --write --no-verify, eslint --fix

修复slider区间拖拽错误
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/VerticalRange.vue
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/useSlider.ts
Due: prettier --write --no-verify, eslint --fix

修复tooltip错误
  package/component/src/component/slider/useSlider.ts
Due: prettier --write --no-verify, eslint --fix

修复下错误
  package/component/src/component/slider/useSlider.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 2.7.0 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/table/TablePage.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.7.1 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 icon-picker 组件按需模式部分样式丢失的问题
  package/component/package.json
  package/component/src/component/iconPicker/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 优化 vue.logo 资源
  package/document-component/src/assets/vue.svg
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write

✨(component): 发布 2.7.2 版本
  package/component/package.json
  package/component/src/component/iconPicker/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 2.7.4 版本
  package/component/package.json
  package/component/src/component/page/components/count.vue
  package/component/src/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 升级 layer-vue 到 2.0.3 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 layer-vue 2.0.4 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  package/layer/src/composable/useDragable.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.8.0-alpha.2 版本
  package/component/package.json
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.8.0 版本
  package/component/package.json
Due: prettier --write

✨(component): ✨(component): 发布 2.8.0 版本
  package/component/package.json
  package/layer/package.json
  package/layer/src/composable/useDragable.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 collapse-item 组件 title 属性为非必填项
  package/component/src/component/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/component/src/component/collapseItem/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.9.0-alpha.1 版本
  package/component/package.json
Due: prettier --write

✨(component): update
  package/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 form-item 组件 prop 配置 x[0].y 格式时，form 组件 reset 方法不兼容
  package/component/src/component/form/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/form/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 改善 button.md 中下拉按钮案例，页面滚动下拉面板不跟随按钮的问题
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 2.9.0 版本
  package/component/package.json
Due: prettier --write

重构slider组件
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/Vertical.vue
  package/component/src/component/slider/VerticalRange.vue
  package/component/src/component/slider/components/bar.vue
  package/component/src/component/slider/components/mark.vue
  package/component/src/component/slider/components/use-slider-bar.ts
  package/component/src/component/slider/components/use-slider-mark.ts
  package/component/src/component/slider/index.less
  package/component/src/component/slider/index.ts
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/interface.ts
  package/component/src/component/slider/types/sliderType.ts
  package/component/src/component/slider/useSlider.ts
  package/component/src/component/slider/utils/index.ts
  package/document-component/src/document/zh-CN/components/slider.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layer-vue 2.0.6 版本
  package/component/package.json
  package/layer/package.json
  package/layer/src/composable/useDragable.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新文档
  package/document-component/src/document/zh-CN/components/slider.md
Due: prettier --write

✨(component): update
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/slider/components/bar.vue
  package/component/src/component/slider/components/mark.vue
  package/component/src/component/slider/components/use-slider-bar.ts
  package/component/src/component/slider/components/use-slider-mark.ts
  package/component/src/component/slider/index.vue
  package/component/src/component/slider/types/sliderType.ts
  package/component/src/component/slider/useSlider.ts
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write
