Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

docs: 更新日志
  package/component/package.json
  package/document/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write

chore: 更新
  package/component/package.json
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 日志
  package/document/src/document/zh-CN/components/table.md
  package/document/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  package/layer/src/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

通知栏提交
  package/component/src/component/noticeBar/index.ts
  package/component/src/component/noticeBar/index.vue
  package/component/src/index.ts
  package/document/src/document/zh-CN/components/noticeBar.md
  package/document/src/router/zh-CN.ts
  package/document/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(carousel): 修复索引越界
  package/component/src/component/carousel/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 更新日志
  package/document/src/components/LayAnchor.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 升级全局依赖
  package.json
  package/component/package.json
  package/component/src/component/carousel/index.vue
  package/component/src/component/noticeBar/index.ts
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/tree/TreeNode.vue
  package/component/src/index.ts
  package/document/package.json
  package/document/src/document/zh-CN/components/transition.md
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/router/zh-CN.ts
  package/icons/package.json
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor(line): 重构 line, 支持竖直分割线和带内容分割线
  package/component/src/component/line/index.less
  package/component/src/component/line/index.vue
  package/document/src/document/zh-CN/components/line.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

build: 发布 1.0.4 版本
  package/component/src/component/noticeBar/index.ts
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

build: 发布 1.0.4 版本
  package/component/src/component/line/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(dropdown): 新增上下文菜单
  package/component/src/component/dropdown/index.less
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/interface.ts
  package/document/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

style: compress index.less
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/page/index.vue
  package/component/src/resolver/index.ts
  package/component/src/theme/index.less
Due: prettier --write --no-verify, eslint --fix

style: compress index.less
  package/component/src/component/dropdown/index.vue
  package/component/src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

style: compress index.less
  package/component/src/component/formItem/index.vue
  package/component/src/component/menu/index.less
  package/component/src/component/page/index.less
  package/component/src/component/rate/index.less
  package/component/src/component/select/index.less
  package/component/src/theme/index.less
  package/component/src/theme/public.less
  package/component/src/theme/variable.less
  package/document/src/assets/css/index.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix 当Tooltip在LayLayer中时由于LayLayer的zIndex=9999导致此处的tooltip显示被覆盖
  package/component/src/component/popper/index.less
Due: none

style: 优化 index.less
  package/component/src/component/backTop/index.vue
  package/component/src/component/form/index.less
  package/component/src/component/form/index.vue
  package/component/src/component/layout/index.less
  package/component/src/component/side/index.less
  package/component/src/component/timeline/index.less
  package/component/src/component/timelineItem/index.vue
  package/component/src/theme/index.less
  package/component/src/theme/public.less
Due: prettier --write --no-verify, eslint --fix

style: 优化 index.less
  package/component/src/component/dropdown/index.less
  package/component/src/component/iconPicker/index.less
  package/component/src/resolver/index.ts
  package/component/src/theme/index.less
  package/component/src/theme/public.less
  package/document/src/document/zh-CN/components/avatar.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 完善 resolver 自动按需加载器
  package/component/src/component/breadcrumbItem/index.less
  package/component/src/component/carouselItem/index.less
  package/component/src/component/checkboxGroup/index.less
  package/component/src/component/col/index.less
  package/component/src/component/collapse/index.less
  package/component/src/component/collapseItem/index.less
  package/component/src/component/collapseItem/index.vue
  package/component/src/component/countUp/index.less
  package/component/src/component/datePicker/font/iconfont.eot
  package/component/src/component/datePicker/font/iconfont.svg
  package/component/src/component/datePicker/font/iconfont.ttf
  package/component/src/component/datePicker/font/iconfont.woff
  package/component/src/component/datePicker/index.less
  package/component/src/component/datePicker/index.vue
  package/component/src/component/dropdown/index.less
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdownMenuItem/index.less
  package/component/src/component/form/index.less
  package/component/src/component/formItem/index.less
  package/component/src/component/formItem/index.vue
  package/component/src/resolver/index.ts
  package/component/src/theme/index.less
  package/component/src/theme/public.less
  package/document/src/assets/css/index.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

test: manualChunks
  package/component/.gitignore
  package/component/package.json
  package/component/script/build.esm.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 修复第三方包的 chunk 被随机到组件的问题
  package/component/script/build.esm.ts
Due: prettier --write --no-verify, eslint --fix

chore: 修改 es 为 esm 包
  package/component/package.json
  package/component/script/build.es.ts
  package/component/script/build.esm.ts
  package/component/src/resolver/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 修改 esm 为 es 包
  package/component/package.json
  package/component/script/build.es.ts
  package/component/src/resolver/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧 工具: 集成 cz-customizable 依赖
  .cz-config.js
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨特性: 集成 custom commitlint 配置
  .cz-config.js
  .eslintrc.js
  .gitee/ISSUE_TEMPLATE.zh-CN.md
  .gitignore
  .husky/commit-msg
  .prettierrc
  LICENSE
  README.en.md
  README.md
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨特性: 集成 custom commitlint 配置
  package/component/tsconfig.json
Due: prettier --write

✨特性: 集成 custom commitlint 配置
  package/component/src/component/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

✨特性: 新增 avatar 组件 radius 属性
  package/component/src/component/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

✨特性: 集成 custom commitlint 配置
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛修复: timeline-item 边距
  package/component/src/component/timeline/index.less
  package/component/src/component/timeline/index.vue
  package/component/src/component/timelineItem/index.vue
  package/component/src/theme/public.less
Due: prettier --write --no-verify, eslint --fix

🐛修复(component): 🐛修复: 按需加载部分被引用组件无法解析的问题
  package/component/script/build.es.ts
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/skeletonItem/index.vue
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/Vertical.vue
  package/component/src/component/slider/VerticalRange.vue
  package/component/src/component/stepItem/index.vue
  package/component/src/component/transfer/index.vue
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

♻️重构: 使用 setup script 重构 notice-bar 通告栏
  package/component/package.json
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/select/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✅测试: 发布 layui-vue.1.0.5-dev.1 版本
  package/component/package.json
Due: prettier --write

🔧: 修改 commitlint 配置
  .cz-config.js
Due: prettier --write --no-verify, eslint --fix

🐛修复(component): 按需加载部分被依赖组件未解析的问题
  package/component/src/component/backTop/index.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/input/index.vue
  package/component/src/component/inputNumber/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): table 组件 columns 宽度超出 table-box 时错位
  LICENSE
  package/component/package.json
  package/component/src/component/table/index.vue
  package/document/src/assets/css/code.css
  package/document/src/assets/css/index.css
  package/document/src/assets/css/vars.css
  package/document/src/components/LayCode.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write
