Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

🐛(layer):
  package/component/package.json
  package/document/src/document/zh-CN/components/modal.md
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 更新日志
  package/document/src/document/zh-CN/guide/changelog.md
  package/layer/src/component/index.vue
  package/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(ssr): 升级 ssr-darkreader 4.9.45
  package/component/package.json
  package/component/src/component/tree/useTree.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增Cascader级联选择组件
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.ts
  package/component/src/component/cascader/index.vue
  package/component/src/index.ts
  package/document/src/document/zh-CN/components/cascader.md
  package/document/src/document/zh-CN/components/datePicker.md
  package/document/src/router/zh-CN.ts
  package/document/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): progress进度组件 新增环形进度条选项
  package/component/src/component/progress/index.less
  package/component/src/component/progress/index.vue
  package/document/src/document/zh-CN/components/progress.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): cascader组件更新,下拉效果依赖于dropdown组件,当数据过多时滚动效果依赖于layScroll组件
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.vue
  package/document/src/document/zh-CN/components/cascader.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(cascader): 更新文档
  package/component/src/component/cascader/index.vue
  package/document/src/document/zh-CN/components/modal.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️: 合并冲突
  package/component/src/component/cascader/index.vue
  package/document/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix

♻️: 合并冲突
  package/component/src/component/progress/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(all): 发布 1.1.9
  package/component/package.json
  package/document/src/document/zh-CN/guide/changelog.md
  package/layer/src/tokens/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.1.9
  package/layer/src/tokens/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): [cascader]dropdown 样式污染
  package/component/src/component/cascader/index.less
Due: none

🐛(all): 修复 darkreader 不存在
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(all): 发布 1.1.10
  package/component/package.json
Due: prettier --write

✨(all): 更新日志
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛: 优化文档在 firefox 的显示
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(oscs): 安全认证
  README.md
  package/document/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(oscs): 安全认证
  README.zh.md
Due: prettier --write

✨(component): [dropdown]下拉面板位置自适应
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.vue
  package/component/src/component/dropdown/index.less
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/interface.ts
  package/document/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(lint): fix linter
  package/component/src/component/cascader/index.vue
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/interface.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): progress 环形进度条兼容夜间模式
  package/component/src/component/progress/index.less
  package/component/src/component/progress/index.vue
  package/document/src/document/zh-CN/components/progress.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 添加 layui-vue-helper 文档
  package/component/src/component/dropdown/index.vue
  package/document/src/auto-imports.d.ts
  package/document/src/document/zh-CN/guide/plugin.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [dropdown]下拉面板大小变化时自适应位置
  package/component/src/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): [dropdown]滚动、触发器或面板尺寸变化时更新下拉面板位置; clickOutsideToClose 属性
  package/component/src/component/dropdown/index.vue
  package/document/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [cascader]:滚动时更新面板位置
  package/component/src/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): [dropdown]: contentOffset属性，控制触发器距离面板的偏移距离
  package/component/src/component/dropdown/index.vue
  package/document/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(all): 更新日志
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): ✨(component): 新增轮播图支持过渡动画，默认为滑动,修复autoplay为false时仍自动播放问题
  package/component/src/component/carousel/index.less
  package/component/src/component/carousel/index.vue
  package/component/src/component/carouselItem/index.vue
  package/document/src/document/zh-CN/components/carousel.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 更新文档
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛: 修复 cascader 按需加载无法正常引入
  package/component/src/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 完善Progress组件 环形模式,新增circleSize和circleWidth两个属性来控制环形进度条尺寸和线条宽度
  package/component/src/component/progress/index.less
  package/component/src/component/progress/index.vue
  package/component/src/provider/index.vue
  package/document/src/document/zh-CN/components/progress.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新日志
  package/component/src/component/carousel/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新日志
  package/component/src/provider/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀: progress 优化暗色模式的颜色
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛: progress SVG 滤镜叠加
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

📝: document contributor
  package/document/package.json
  package/document/src/components/LayContributor.vue
  package/document/src/document/zh-CN/components/animation.md
  package/document/src/document/zh-CN/components/avatar.md
  package/document/src/document/zh-CN/components/backtop.md
  package/document/src/document/zh-CN/components/badge.md
  package/document/src/document/zh-CN/components/breadcrumb.md
  package/document/src/document/zh-CN/components/button.md
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/main.ts
  package/document/src/plugin/common-plugins.ts
  package/document/src/plugin/contributor.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): cascader组件特性更新,新增动态插槽用于自定内容
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.vue
  package/document/src/document/zh-CN/components/cascader.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(document): 在线编辑
  package/document/src/components/LayContributor.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.2.0
  package/component/package.json
  package/component/src/component/carouselItem/index.vue
  package/document/src/components/LayContributor.vue
  package/document/src/document/zh-CN/components/carousel.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
