Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨: (json-schema-form) up version(fix style、add README)
  packages/json-schema-form/README.md
  packages/json-schema-form/package.json
  packages/json-schema-form/src/component/form/index.less
  packages/json-schema-form/tsconfig.json
Due: prettier --write

🐛: package.json exports types
  packages/component/package.json
Due: prettier --write

update packages/component/src/component/upload/index.vue. 只有开启且能裁剪时才filetoDataURL->readAsDataURL
  packages/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): (table) 跨级展开隐藏状态错乱 #I98Y95
  packages/component/src/component/table/TableData.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): (table) titleSlot add column columndIndex #I97417
  docs/document-component/src/document/zh-CN/components/table.md
  packages/component/src/component/table/index.vue
  packages/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: update changelog.md
  docs/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 2.16.5 版本
  packages/component/package.json
Due: prettier --write

✨(component): 修改 layer-vue 版本号
  docs/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): (slider) modelValue精度丢失 #I995I6
  packages/component/src/component/slider/use-slider.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): (upload) 新增用户可手动触发上传方法 #I99KSN
  docs/document-component/src/document/zh-CN/components/upload.md
  packages/component/package.json
  packages/component/src/component/upload/index.vue
  packages/component/src/utils/arrayUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): (upload) 新增用户可手动触发上传方法 #I99WUO
  docs/document-component/src/document/zh-CN/components/upload.md
  packages/component/package.json
  packages/component/src/component/upload/index.vue
  packages/component/src/utils/arrayUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): (treeSelect) 单选清空二次选择相同值未触发改变 #I9A9NT
  packages/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): (table) 数据改变getCheckboxProps未重新计算 #I9A9Y1
  packages/component/src/component/table/TableData.vue
Due: prettier --write --no-verify, eslint --fix

🧹: update changelog.md
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write

📝(component): (upload) add Exposes block
  docs/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write

✨(component): (table) 新增单元格双击事件(cell-double)
  docs/document-component/src/document/zh-CN/components/table.md
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/src/component/table/TableData.vue
  packages/component/src/component/table/index.vue
  packages/component/src/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.16.6 版本
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write

🐛(component): (table) 双击cell未冒泡到双击row事件 #I9BGAP
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
  packages/component/src/component/table/TableData.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.16.7 版本
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write

🔧: open vite server host
  docs/document-component/vite.config.ts
  docs/document-layer/vite.config.ts
  play/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): (input|date-picker) input.value未实时显示modelValue值|初始化兼容YYYYMM情况
  packages/component/package.json
  packages/component/src/component/datePicker/index.vue
  packages/component/src/component/input/index.hooks.ts
  packages/component/src/component/input/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): (tooltip) 调整是否显示省略号判断
  packages/component/package.json
  packages/component/src/component/tooltip/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): (treeSelect) 修复选中节点触发两次change回调 #I9CSNH
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹: config json-schema-form stackblitz
  docs/document-component/src/utils/code-stackblitz.ts
Due: prettier --write --no-verify, eslint --fix

🧹: stackblitz config
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
  docs/document-component/src/utils/code-stackblitz.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): (jsonSchemaForm) add special note
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
Due: prettier --write

✨(component): (json-schema-form) 调整slots.customRender参数
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/json-schema-form/package.json
  packages/json-schema-form/src/component/__tests__/form.test.tsx
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹: remove log
  packages/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): (upload) 额外请求参数移至beforeUpload钩子之后执行 #I9E4FA
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): (upload) update auto defaultValue to true
  docs/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write

📝: add WeChat group link
  README.md
  README.zh.md
Due: prettier --write

!295 chore(carousel): add exposure attribute * test(carousel): append tests * chore: cz remove emoji icon type * ✨(component): (carousel) add expose
  .cz-config.js
  docs/document-component/src/document/zh-CN/components/carousel.md
  package.json
  packages/component/package.json
  packages/component/src/component/carousel/__tests__/carousel.test.tsx
  packages/component/src/component/carousel/index.vue
  packages/component/src/component/carouselItem/index.vue
  pnpm-lock.yaml
  wechat.jpg
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update changelog.md
  docs/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

feat(layui-vue): release v2.16.8
  packages/component/package.json
Due: prettier --write

feat(jsonSchemaForm): hidden can hide or destroy dom
  packages/json-schema-form/package.json
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!297 style(datePicker): slide in and form required border color * style(datePicker): slide in and form required border color #I9G48C
  packages/component/src/component/datePicker/index.less
  packages/component/src/component/form/index.less
Due: none

!298 fix(treeSelect): modelValue首次赋值为0不生效 * fix(treeSelect): modelValue首次赋值为0不生效 #I9GLX2
  packages/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

!299 fix(table): 列宽改变二次渲染单元格错位 * chore: update * fix(table): 数据二次渲染单元格宽度错位 #I9GD51
  packages/component/src/component/table/hooks/useResize.ts
  packages/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!300 feat(upload): 新增选择文件后回调 * docs: update version * feat(upload): 新增选择文件后回调 #I9I0Q9
  docs/document-component/src/document/zh-CN/components/upload.md
  packages/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!301 fix(select): multiple场景下点击placeholder区域不触发弹窗 * chore: update * fix(select): multiple场景下点击placeholder区域不触发弹窗 #I9GYBL
  packages/component/src/component/tagInput/index.less
  packages/component/src/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix
