Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): 修复 select 无法异步加载的问题
  package/component/package.json
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): ✨(component): update
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.5.1
  package/component/package.json
Due: prettier --write

✨(component): update index.vue
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 treeSelect 组件
  package/component/src/component/treeSelect/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 处理 tree 组件 n 多问题
  package/component/src/component/checkbox/index.vue
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/component/src/component/tree/tree.type.ts
  package/component/src/component/tree/useTree.ts
  package/component/src/component/treeSelect/index.less
  package/component/src/component/treeSelect/index.vue
  package/component/src/index.ts
  package/component/src/utils/treeUtil.ts
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 date-picker 组件样式
  package/component/src/component/datePicker/index.less
  package/component/src/component/select/index.less
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/useTree.ts
  package/component/src/utils/treeUtil.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): table 组件 indentSize 属性, 在加载远程数据时不生效的问题
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): update
  package/component/src/component/tree/tree.ts
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 tree 组件 title 插槽不生效的问题
  package/component/package.json
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.less
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/component/src/component/tree/useTree.ts
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/cascader/index.vue
  package/component/src/component/checkbox/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/component/src/component/timelineItem/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.6.0 版本
  package/component/src/component/selectOption/index.vue
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.vue
  package/component/src/component/treeSelect/index.vue
  package/component/src/index.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 回退
  package/layer/src/component/index.vue
  package/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 不简化功能的前提下简化代码量
  package/document-layer/src/main.ts
  package/document-layer/src/router/zh-CN.ts
  package/layer/src/component/index.vue
  package/layer/src/theme/index.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(layer): 修复 close 与 btn 的 hover 状态抖动的问题
  package/document-layer/src/router/zh-CN.ts
  package/layer/src/theme/index.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(layer): 修复 content-height 计算错误
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(layer): 发布 layer-vue 1.4.3
  package/component/package.json
  package/document-layer/src/document/zh-CN/demo.md
  package/document-layer/src/main.ts
  package/document-layer/src/router/zh-CN.ts
  package/layer/package.json
  package/layer/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 1.6.1 版本
  package/component/package.json
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 select-option 的选择样式
  package/component/src/component/select/index.less
Due: none

📝(component): 完善 modal 模态床文档案例
  package/document-component/src/document/zh-CN/components/modal.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 完善 progress 进度条文档案例
  package/document-component/src/document/zh-CN/components/progress.md
Due: prettier --write

✨(component): 升级 vue 3.2.40 与 typescript 4.8.4
  package.json
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/component/src/component/tree/tree.type.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 tree 组件 checkStrictly 为 true 时, 初始化仍关联选中
  package/component/src/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 upload 组件 size 属性文件大小限制提示信息单位换算错误
  package/component/src/component/tree/tree.ts
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.6.2 版本
  package/component/package.json
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/iconPicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): ...
  package/component/src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 select 状态图标在点击选项后不重置的问题
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 select-option 组件 hover 状态丢失
  package/component/src/component/select/index.less
  package/component/src/component/selectOption/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 select 组件多选无法被删除的问题
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 layer 组件 end 触发两次的问题
  package/component/src/component/select/index.vue
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.6.3 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write

✨(component): update
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 select 相关缺陷，并调整文档显示格式
  package/component/package.json
  package/component/src/component/select/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/components/LayTableBox.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/select/index.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 修复 radio 不兼容 number 类型的问题
  package/component/src/component/radio/index.vue
  package/component/src/component/radioGroup/index.vue
  package/document-component/src/document/zh-CN/components/radio.md
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 完善单选框案例描述
  package/document-component/src/document/zh-CN/components/radio.md
Due: prettier --write

✨(component): 优化 avatar 组件代码结构
  package/component/src/component/avatar/index.vue
  package/component/src/component/avatarList/index.vue
Due: prettier --write --no-verify, eslint --fix
