Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 实现 table 组件多级表头
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

📝(component): 新增 table 组件 document 案例
  package/component/src/component/calendar/date-table.vue
  package/component/src/component/calendar/index.vue
  package/component/src/component/calendar/utils.ts
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/router/zh-CN.ts
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 table 组件 document 案例
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

✨(component): 更新 table 文档
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

水印组件添加
  package/component/src/component/watermark/index.less
  package/component/src/component/watermark/index.ts
  package/component/src/component/watermark/index.vue
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/watermark.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新日志
  package/component/src/component/watermark/index.vue
  package/document-component/src/document/zh-CN/components/watermark.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 恢复贡献者声明
  package/component/src/component/watermark/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更换 table 组件 useResize 节流实现
  package/component/src/component/table/hooks/useResize.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): 更新 layer 文档
  package/component/src/component/watermark/index.vue
  package/document-component/src/document/zh-CN/components/layer.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 整理更新日志，临时移除日历与水印的引用
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 修订版本号为 2.0.0-beta.5 增强 layer 组件
  package/component/package.json
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新文档
  package/document-component/src/document/zh-CN/components/layer.md
Due: prettier --write

✨(component): 修订版本号为 2.0.0
  package/component/package.json
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 修订版本号为 2.0.1
  package/component/package.json
  package/component/src/component/form/index.less
  package/component/src/component/iconPicker/index.less
  package/component/src/component/iconPicker/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 更新文档
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 加入版本更新提示
  package/component/package.json
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/store/app.ts
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 组件 getCheckData 方法无法获取树表选中数据的问题
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.0.2
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 checkcard 案例图片资源失效的问题
  package/document-component/src/document/zh-CN/components/checkcard.md
  package/document-component/src/document/zh-CN/guide/upgrade.md
Due: prettier --write

🐛(component): 修复 checkcard-group 的 disabled 与 modelValue 属性不生效的问题
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/document-component/src/document/zh-CN/components/checkcard.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.0.3
  package/component/package.json
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.0.4
  package/component/package.json
  package/component/src/component/form/index.less
  package/component/src/component/radio/index.less
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复modalVal响应式数据
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/document-component/src/document/zh-CN/components/checkcard.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.0.5
  package/component/package.json
  package/component/src/component/form/index.less
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 tree-select 组件 data 属性变化时 input 无法正常回填的问题
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(custom): 更正checkcard默认为多选模式
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/component/test/checkcard-group.test.ts
  package/component/test/checkcard.test.ts
  package/document-component/src/document/zh-CN/components/checkcard.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 修改checkcard图片引用路径文档
  package/document-component/src/document/zh-CN/components/checkcard.md
Due: prettier --write

⬆️(component): table 单元格列宽拖动
  package/component/src/component/table/hooks/useResize.ts
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

(package) 新增 json-schema-form 组件
  package/component/package.json
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/main.ts
  package/json-schema-form/.gitignore
  package/json-schema-form/README.md
  package/json-schema-form/package.json
  package/json-schema-form/shims-vue.d.ts
  package/json-schema-form/src/component/index.ts
  package/json-schema-form/src/component/index.vue
  package/json-schema-form/src/index.ts
  package/json-schema-form/src/types/index.ts
  package/json-schema-form/tsconfig.json
  package/json-schema-form/vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订 json-schema-form 版本号为 0.0.1
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/component/test/checkcard-group.test.ts
  package/component/test/checkcard.test.ts
  package/json-schema-form/package.json
  package/json-schema-form/src/component/index.vue
  package/json-schema-form/src/types/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/json-schema-form/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): 持续补全 json-schema-form 案例
  package/document-component/src/document/zh-CN/components/form.md
  package/json-schema-form/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/components/form.md
  package/json-schema-form/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 layer 文档
  package/document-component/src/document/zh-CN/components/components/Children.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/main.ts
  package/json-schema-form/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 增加 table 组件多样编辑案例
  package/document-component/src/document/zh-CN/components/components/Children.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 table 文档
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

📝(component): 改善半选案例
  package/document-component/src/document/zh-CN/components/checkbox.md
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

📝(component): 完善 table 多级表头案例
  package/document-component/src/document/zh-CN/components/checkbox.md
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

📝(component): update
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
