Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): cascader组件 新增replaceFields属性 用于自义定key
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 input 组件 v-model 值不能为 0
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/components/input.md
  package/document-component/src/document/zh-CN/components/select.md
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新日志
  package/component/src/component/cascader/index.vue
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛: dropdownSubMenu 未撑满可用空间的问题
  package/component/src/component/dropdown/index.less
Due: none

💄(component): 完善 input 与 textarea 组件
  package/component/src/component/datePicker/index.vue
  package/component/src/component/input/index.vue
  package/component/src/component/textarea/index.less
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/components/textarea.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛: layer 类型
  package/component/src/component/input/index.vue
  package/layer/src/component/Notifiy.vue
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

♻️(component): 清除layer.notifiy工具函数中的ts-ignore
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 date-picker 组件 placeholder 属性
  package/component/src/component/datePicker/index.vue
  package/component/src/component/input/index.vue
  package/component/src/types/public.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): ✨(component): cascader 增加 allow-clear 用于清空
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: 发布 1.2.8 版本
  package/component/package.json
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: 发布 1.2.8 版本
  package/component/src/component/cascader/index.vue
  package/component/src/component/datePicker/index.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛: 删除 date-picker 不该有的属性
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): table 多列固定
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): table 边框不对其的问题
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): tree组件 加入半选状态,优化data改变是视图更新,优化checkedKeys支持下级节点,默认开启过渡动画,优化关闭连线后支持行内点击
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/document-component/src/document/zh-CN/components/checkbox.md
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复datePicker 改变modelValue后视图不更新问题
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): transition组件 新增time属性自定义过渡时长
  package/component/src/component/transition/index.vue
  package/component/src/component/transition/transitions/collapseTransition.vue
  package/component/src/component/transition/transitions/fadeTransition.vue
  package/document-component/src/document/zh-CN/components/transition.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): splitPanel
  package/component/src/component/splitPanel/index.less
  package/component/src/component/splitPanel/index.vue
  package/component/src/component/splitPanelItem/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/component/src/component/transition/index.vue
  package/component/src/component/transition/transitions/collapseTransition.vue
  package/component/src/component/transition/transitions/fadeTransition.vue
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/document-component/src/document/zh-CN/components/splitPanel.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 🐛(component): splitPanel
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package.json
  package/component/src/component/table/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(table): 更新数据案例
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

📝(更新日志): 📝(table): 更新数据案例
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(release): 1.2.9
  package/component/package.json
Due: prettier --write

♻️(component): 统一CheckBox与Radio组件 属性语义
  package/component/src/component/checkbox/index.vue
  package/component/src/component/radio/index.vue
  package/component/src/component/selectOption/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/component/src/component/tree/TreeNode.vue
  package/document-component/src/document/zh-CN/components/checkbox.md
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/radio.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [修复] page 组件 外部更改v-model视图不刷新问题
  package/component/package.json
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): datepicker 开启simple后点击无效,修复上一次更新带来的影响
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

♻️(component): 优化radio 组件 动画效果
  package/component/src/component/radio/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复datePicker初始值为空时无法点击Bug
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增formItem 组件 新增label-width属性，用于控制宽度
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 修改changelog
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🌀(component): 优化inputNumber与button在禁用状态下的样式
  package/component/package.json
  package/component/src/component/button/index.less
  package/component/src/component/inputNumber/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增CheckBoxGroup disabled属性
  package/component/src/component/checkbox/index.vue
  package/component/src/component/checkboxGroup/index.vue
  package/document-component/src/document/zh-CN/components/checkbox.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增radioGroup组件 disabled属性
  package/component/src/component/checkbox/index.less
  package/component/src/component/checkbox/index.vue
  package/component/src/component/checkboxGroup/index.vue
  package/component/src/component/radio/index.vue
  package/component/src/component/radioGroup/index.vue
  package/document-component/src/document/zh-CN/components/checkbox.md
  package/document-component/src/document/zh-CN/components/radio.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/src/component/checkbox/index.vue
  package/component/src/component/checkboxGroup/index.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/formItem/index.vue
  package/component/src/component/inputNumber/index.vue
  package/component/src/component/page/index.vue
  package/component/src/component/radio/index.vue
  package/component/src/component/radioGroup/index.vue
Due: prettier --write --no-verify, eslint --fix

⬆️: less 4.1.3
  package.json
Due: prettier --write

⬆️: vite 3.0.0
  pnpm-lock.yaml
Due: none

🐛(component): datePicker dayJS解析时间错误
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

♻️(component): 优化datepicker 弹出后内部元素的定位
  package/component/src/component/datePicker/day.ts
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix
