Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新changelog文档
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 input-number 组件经度丢失
  package/component/src/component/inputNumber/index.vue
  package/component/src/component/inputNumber/math.ts
  package/document-component/src/document/zh-CN/components/inputNumber.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 page-header 组件 backIcon 插槽
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/input/index.vue
  package/component/src/component/inputNumber/index.vue
  package/component/src/component/inputNumber/math.ts
  package/component/src/component/pageHeader/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.7.6 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/components/pageHeader.md
Due: prettier --write

✨(component): update
  package/component/src/component/pageHeader/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(tooltip / select): 优化 select 自定义选项与 tooltip 边缘三角方向问题
  package/component/package.json
  package/component/src/component/popper/calcPosition.ts
  package/component/src/component/popper/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/components/tooltip.md
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 input-number 小数精度问题
  package/component/src/component/inputNumber/index.vue
  package/component/src/component/inputNumber/math.ts
  package/component/src/component/popper/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/inputNumber.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(dropdown): 根据 issues 修复 dropdown 内容切换宽度计算不正确的问题
  package/component/src/component/dropdown/index.vue
  package/component/src/component/inputNumber/math.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 select 搜索拼字响应性能底下的问题
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修正文档
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write

✨(component): 更新日志
  package/component/src/component/dropdown/index.vue
  package/document-component/src/document/zh-CN/components/space.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 select-option 代码逻辑
  package/component/src/component/checkbox/index.vue
  package/component/src/component/dropdown/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.7.7 版本
  package/component/package.json
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix backTop 返回顶部 无法生效 实测 document.documentElement document.body 无法触发滚动事件 removeEventListener 需要使用addEventListener 相同的函数(引用地址)
  package/component/src/component/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): update
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

✨(component): 🐛(component): update
  package/component/src/component/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix

♻️: ♻️: ♻️: 重构upload支持跟随form组件提交,补充在文档的示例
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️: 修正review项,提供withForm属性,修正相应文档部分
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

调整 withForm 属性为 auto 属性
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 调整 upload 文档, 简化 demo
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): datePicker组件 新增layui-laydate-current样式,用于modelValue为空时高亮当前时间
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/MonthRange.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/components/components/DateContent.vue
  package/component/src/component/datePicker/index.less
Due: prettier --write --no-verify, eslint --fix

✨(component): date-picker 组件 btn border-radius 细节处理
  package/component/src/component/datePicker/index.less
Due: none

✨(date-picker): 针对 datepicker 组件 btn 样式的缝缝补补
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/MonthRange.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/components/components/DateContent.vue
  package/component/src/component/datePicker/index.less
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 优化 date-picker 样式
  package/component/src/component/datePicker/index.less
Due: none

🐛(component): 修复 table 组件复杂表头存在多个时, 部分表头边框无法正常显示
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): tag-input 样式, tag-width 超出 input 宽度时自动省略文本
  package/component/src/component/tag/index.vue
  package/component/src/component/tagInput/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): 优化 default-toolbar 属性支持 array 配置指定操作
  package/component/src/component/table/index.vue
  package/component/src/component/tag/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(select): 统一 select 组件 dropdown 关闭时统一清空查询内容
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/select/index.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/package.json
  package/document-component/src/document/zh-CN/components/upload.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 table 组件 ellipsisTooltip 属性不生效
  package/component/src/component/table/TableRow.vue
  package/document-component/src/document/zh-CN/components/animation.md
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/components/icon.md
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/components/transition.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 复原因测试改动的文档案例
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

✨(component): 发布 1.7.8 版本
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 调整日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🌀(tag): update
  package/component/src/component/tag/index.less
  package/component/src/component/tag/index.vue
  package/document-component/src/document/zh-CN/components/tag.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): update
  package/component/src/component/tag/index.less
  package/component/src/component/tag/index.vue
  package/document-component/src/document/zh-CN/components/tag.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(select): 新增 search-method 属性
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/dropdown/index.vue
  package/component/src/component/selectOption/index.vue
  package/component/src/component/tab/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(README.md): update
  README.md
  README.zh.md
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(select): 新增 showSearch 属性 与 searchMethod 属性说明
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
