Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): 发布 2.4.0-alpha.1 版本
  package/component/package.json
Due: prettier --write

✨(component): 发布 2.4.0 版本
  package/component/package.json
Due: prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): [修复] datepicker 组件 使用 format 属性自定义格式后后组件时间计算错误的问题
  package/component/src/component/datePicker/day.ts
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 issues template
  .gitee/ISSUE_TEMPLATE/bug.yml
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): ✨(component): 新增 issues template
  .gitee/ISSUE_TEMPLATE/bug.yml
Due: none

✨(component): 更新日志
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.4.1 版本
  package/component/package.json
Due: prettier --write

🐛(component): 修复 loading 组件 type 属性为 1 2 时, 夜间模式不适配的问题
  package/component/src/provider/index.vue
  package/document-component/src/components/LaySearch.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 layer 组件 teleport 与 teleportDisabled 属性，传送门相关
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/Shade.vue
  package/layer/src/component/index.vue
  package/layer/src/composable/useDragable.ts
  package/layer/src/theme/index.css
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/Shade.vue
  package/layer/src/component/index.vue
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/loading/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/index.vue
  package/layer/src/composable/useDragable.ts
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layer-vue 2.0.0 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/composable/useDragable.ts
  package/layer/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

重构下分页组件
  package/component/src/component/page/index.less
  package/component/src/component/page/index.vue
  package/component/src/component/table/TablePage.vue
  package/component/src/component/table/index.less
  package/component/test/page.test.ts
  package/document-component/src/document/zh-CN/components/page.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

修复已知问题
  package/component/src/component/page/index.less
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/components/page.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [新增] datePicker 组件 max,min 属性，用于控制组件内的可选择的最大值与最小值。
  package/component/src/component/datePicker/components/DatePanel.vue
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/component/src/component/datePicker/components/TimePanel.vue
  package/component/src/component/datePicker/components/YearPanel.vue
  package/component/src/component/datePicker/components/components/DateContent.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/datePicker/interface.ts
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

分页组件新增disabled与hide-on-single-page属性
  package/component/src/component/page/index.less
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/components/page.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

完善分页属性文档
  package/document-component/src/document/zh-CN/components/page.md
Due: prettier --write

🐛(component): 修复 table 组件 fixed 列内容超出列宽后溢出的问题
  package/component/src/component/table/TableData.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新文档
  package/component/src/component/page/index.vue
  package/component/src/component/table/TableData.vue
  package/component/src/component/table/TablePage.vue
  package/component/test/page.test.ts
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复分页组件无法在按需模式下正常使用的问题
  package/component/package.json
  package/component/script/build.es.ts
  package/component/src/component/page/index.less
  package/component/src/component/page/index.vue
  package/component/src/component/table/TableData.vue
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.6.0 版本
  package/component/package.json
  package/component/script/build.es.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

完善分页组件相应功能
  package/component/src/component/page/components/count.vue
  package/component/src/component/page/components/limits.vue
  package/component/src/component/page/components/next.vue
  package/component/src/component/page/components/pager.vue
  package/component/src/component/page/components/prev.vue
  package/component/src/component/page/components/refresh.vue
  package/component/src/component/page/components/simple.vue
  package/component/src/component/page/components/skip.vue
  package/component/src/component/page/index.less
  package/component/src/component/page/index.vue
  package/component/src/component/page/usePage.ts
  package/component/test/page.test.ts
  package/document-component/src/document/zh-CN/components/page.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

优化分页组件&完善分页测试用例
  package/component/src/component/page/components/next.vue
  package/component/src/component/page/components/pager.vue
  package/component/src/component/page/components/prev.vue
  package/component/src/component/page/components/simple.vue
  package/component/src/component/page/components/skip.vue
  package/component/src/component/page/index.less
  package/component/src/component/page/index.vue
  package/component/src/component/table/index.less
  package/component/test/page.test.ts
  package/document-component/src/document/zh-CN/components/page.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.6.1 版本
  package/component/package.json
Due: prettier --write

✨(component): 发布 2.6.2 版本
  package/component/package.json
  package/component/src/component/page/components/limits.vue
  package/component/src/component/page/components/pager.vue
  package/component/src/component/page/components/refresh.vue
  package/component/src/component/page/components/simple.vue
  package/component/src/component/page/components/skip.vue
  package/component/src/component/page/index.vue
  package/component/src/component/page/usePage.ts
  package/component/test/page.test.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.6.3 版本
  package/component/package.json
  package/component/src/theme/variable.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 新增 table 组件 ellipsisTooltipTheme 属性
  package/component/src/component/table/TableData.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 升级 layer-vue 到 2.0.1 版本
  package/component/package.json
  package/component/src/component/table/TableData.vue
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/tokens/index.ts
  package/layer/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新文档
  package/document-component/src/document/zh-CN/components/table.md
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.6.4 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 修复表格 height 属性作用于 body 而非整个 table 的问题，并兼容 % 值
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新日志
  package/component/package.json
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write
