Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

📝(component): update
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/components/breadcrumb.md
  package/document-component/src/document/zh-CN/components/grid.md
  package/document-component/src/document/zh-CN/components/layout.md
  package/document-component/src/document/zh-CN/components/menu.md
  package/document-component/src/document/zh-CN/components/pageHeader.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/components/animation.md
  package/document-component/src/document/zh-CN/components/breadcrumb.md
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/components/card.md
  package/document-component/src/document/zh-CN/components/color.md
  package/document-component/src/document/zh-CN/components/container.md
  package/document-component/src/document/zh-CN/components/fullscreen.md
  package/document-component/src/document/zh-CN/components/grid.md
  package/document-component/src/document/zh-CN/components/icon.md
  package/document-component/src/document/zh-CN/components/layout.md
  package/document-component/src/document/zh-CN/components/menu.md
  package/document-component/src/document/zh-CN/components/pageHeader.md
  package/document-component/src/document/zh-CN/components/panel.md
  package/document-component/src/document/zh-CN/components/ripple.md
  package/document-component/src/document/zh-CN/components/skeleton.md
  package/document-component/src/document/zh-CN/components/space.md
  package/document-component/src/document/zh-CN/components/tooltip.md
  package/document-component/src/document/zh-CN/components/transfer.md
  package/document-component/src/document/zh-CN/components/transition.md
Due: prettier --write

🐛(layer): image 标题闪烁
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/src/component/Photos.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

⚡️(layer): 优化 content 计算逻辑, 由 js 计算调整为 flex 自适应布局
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/index.vue
  package/layer/src/theme/index.css
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 补充常见问题
  package/document-component/src/document/zh-CN/guide/problem.md
Due: prettier --write

📝(theme): update
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/introduce.md
  package/document-component/src/document/zh-CN/guide/problem.md
  package/document-component/src/document/zh-CN/guide/theme.md
  package/document-component/src/view/guide.vue
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): lint
  package/document-component/src/view/guide.vue
Due: prettier --write --no-verify, eslint --fix

📝(locale / dark): update
  package/document-component/src/document/zh-CN/guide/dark.md
  package/document-component/src/document/zh-CN/guide/locale.md
  package/document-component/src/document/zh-CN/guide/theme.md
Due: prettier --write

✨(component): 发布 layui-vue@1.9.0 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/components/modal.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/getStarted.md
  package/document-component/src/document/zh-CN/guide/introduce.md
  package/document-component/src/view/guide.vue
  package/document-component/src/view/index.vue
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄(component): lint
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 起草 AutoComplete 组件
  package/component/src/component/autoComplete/index.less
  package/component/src/component/autoComplete/index.ts
  package/component/src/component/autoComplete/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/autoComplete.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 table 组件导出，number 列不被导出的问题，以及忽略 radio 与 checkbox 列的导出
  package/component/package.json
  package/component/src/component/autoComplete/index.vue
  package/component/src/component/table/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): 修复复杂表头 children 内的列无法固定的问题
  package/component/package.json
  package/component/src/component/autoComplete/index.vue
  package/component/src/component/table/composables/useTable.ts
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.9.1 版本
  package/component/package.json
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(page): 新增 page 组件 showPage 属性开启时，显示首页直达功能，从而改善易用性
  package/component/src/component/page/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 page 组件的 select 高度, 使其与其他元素保持统一
  package/component/src/component/page/index.less
  package/component/src/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 完善 autoComplete 组件，修复 avatar 文档链接失效
  package/component/src/component/autoComplete/index.vue
  package/document-component/src/document/zh-CN/components/autoComplete.md
  package/document-component/src/document/zh-CN/components/avatar.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 整理文档
  package/component/src/component/autoComplete/index.vue
  package/document-component/src/document/zh-CN/components/autoComplete.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 进一步完善 autoComplete
  package/component/src/component/autoComplete/index.vue
  package/document-component/src/document/zh-CN/components/autoComplete.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/problem.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.9.2 版本
  package/component/package.json
  package/component/src/component/autoComplete/index.less
  package/component/src/component/autoComplete/index.vue
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/autoComplete.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): lint
  package/component/src/component/autoComplete/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/dropdown/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 新增 table 组件 table-border-radius 变量, 增加 global-border-radius 对 table 边框的影响
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 1.9.3 版本
  package/component/package.json
Due: prettier --write

feat: 表格列宽拖动
  .eslintrc.js
  package/component/src/component/table/hooks/useResize.ts
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/component/src/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

✨(autocomplete): 新增 autocomplete 组件 size 属性，用于设置 input 输入框尺寸
  package/component/src/component/autoComplete/index.vue
  package/document-component/src/document/zh-CN/components/autoComplete.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 upload 组件 before-upload 属性，用于设置上传前回调，参数为 file | file[]，通过返回 false 来阻止上传
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/upload.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.9.4-alpha.1 版本
  package/component/package.json
Due: prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write

feat: 表格列宽拖动功能
  package/component/src/component/table/hooks/useResize.ts
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/component/src/component/table/typing.ts
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): 修复 table 组件 resize 的样式调整造成 cell 固定列的阴影一直显示的问题
  package/component/package.json
  package/component/src/component/table/hooks/useResize.ts
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄(table): 统一 table 组件 useResize 与 useTable hooks 存放目录
  package/component/src/component/table/hooks/useTable.ts
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新文档
  package/document-component/src/document/zh-CN/components/autoComplete.md
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

🐛(datepicker): 月份面板 1 月份点击选中值被清空的问题
  package/component/src/component/datePicker/components/MonthPanel.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layui-vue@1.9.4 版本
  package/component/package.json
  package/component/src/component/datePicker/components/MonthPanel.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layui-vue@1.9.5 版本
  package/component/package.json
  package/component/src/component/autoComplete/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 完善 components.ts
  package/component/src/components.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): 更新 get-started 文档，添加 volar 支持
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/guide/getStarted.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

update package/document-component/src/document/zh-CN/components/barcode.md. 修正条形码文档属性错误
  package/document-component/src/document/zh-CN/components/barcode.md
Due: prettier --write

🐛(table): 修复 selectedKeys 与 expandKeys 属性不正确造成的 volar 的检测错误提示
  package/component/package.json
  package/component/src/component/menuItem/index.vue
  package/component/src/component/table/TableData.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/menu.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/getStarted.md
Due: prettier --write --no-verify, eslint --fix, prettier --write
