Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨: playground hash gzip
  package/document-component/package.json
  package/document-component/src/composable/usePlayground.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): [dropdown]优化定位算法
  package/component/src/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): [dropdown]支持 right,left 位置
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/interface.ts
  package/document-component/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 table 组件 even 属性, 用于开启斑马条纹
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀: fix linter
  package/component/src/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增affix 锚点组件
  package/component/src/component/affix/index.less
  package/component/src/component/affix/index.ts
  package/component/src/component/affix/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/affix.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: update
  package/component/script/build.all.ts
  package/component/script/build.es.ts
  package/component/script/build.umd.ts
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/dropdown.md
  package/document-component/src/document/zh-CN/components/table.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(layer): 修复 drawer 出场动画不生效
  package/component/src/component/affix/index.vue
  package/document-layer/main.ts
  package/layer/src/component/index.vue
  package/layer/src/theme/index.css
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(layer): 修复 close 与 closeAll 案例
  package/document-layer/src/document/zh-CN/index.md
  package/layer/src/index.ts
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): affix组件 新增scroll回调,修改props
  package/component/src/component/affix/index.vue
  package/document-component/src/document/zh-CN/components/affix.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(layer): 重构文档
  package/document-layer/index.html
  package/document-layer/src/App.vue
  package/document-layer/src/components/LayCode.vue
  package/document-layer/src/document/zh-CN/demo.md
  package/document-layer/src/document/zh-CN/help.md
  package/document-layer/src/document/zh-CN/index.md
  package/document-layer/src/entry-client.ts
  package/document-layer/src/entry-server.ts
  package/document-layer/src/layouts/Layout.vue
  package/document-layer/src/main.ts
  package/document-layer/src/router/zh-CN.ts
  package/document-layer/tsconfig.json
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [menu]悬浮菜单
  package/component/src/component/menu/index.vue
  package/component/src/component/menu/useLevel.ts
  package/component/src/component/menuItem/index.vue
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/component/src/component/subMenu/index.vue
  package/component/src/component/tooltip/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(all): 更新日志
  package/component/package.json
  package/component/src/component/affix/index.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/input/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/components/LayCode.vue
  package/document-layer/src/layouts/Layout.vue
  package/document-layer/src/main.ts
  package/document-layer/src/router/zh-CN.ts
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [menu]添加悬浮菜单箭头
  package/component/src/component/subMenu/SubMenuPopup.vue
Due: prettier --write --no-verify, eslint --fix

📝: 更新团队页面加入个人信息
  package/document-component/src/document/zh-CN/guide/member.md
Due: prettier --write

🐛(component): 修复cascader组件 children不能为空的问题
  package/component/src/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(all): 发布 1.2.4
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(all): 发布 1.2.4
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

📝: cascader文档修正
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/guide/member.md
Due: prettier --write

🐛(component): 尝试解决layer.open 内容自适应
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): layer 新增 full\min\restore 三种回调事件
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: chore: 补充文档
  package/document-layer/src/assets/css/index.css
  package/document-layer/src/components/Children2.vue
  package/document-layer/src/components/LayCode.vue
  package/document-layer/src/composable/usePlayground.ts
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛: 切换主题 Embedded Dark Reader cannot access a cross-origin resource
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(table): 新增 cellStyle cellClassName rowStyle rowClassName 属性, 用于自定义单元格样式
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 删除监听rgb颜色变动时改变色相值代码，解决了在颜色面板中拉动选取颜色，触碰颜色面板边角时，导致色相变为0(红色)，即颜色面板会变动为红色色相选择的问题
  package/component/src/component/colorPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(document): 修复使用到switch开关组件文字描述功能的文档没有正常显示的问题，原因：api属性变动，而文档中组件没有跟着变动
  package/document-component/src/document/zh-CN/components/skeleton.md
  package/document-component/src/document/zh-CN/components/switch.md
  package/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write

📝(component): 更新日志
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/component/src/provider/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [tab]新增 title 插槽
  package/component/src/component/tab/RenderTitle.vue
  package/component/src/component/tab/index.vue
  package/component/src/component/tab/interface.ts
  package/component/src/component/tabItem/index.vue
  package/document-component/src/document/zh-CN/components/tab.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): table 和 select 按需加载部分依赖组件未解析的问题
  package/component/src/component/select/index.vue
  package/component/src/component/table/TableRow.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增layer.notifiy()方法,修复layer传入time:0时直接执行销毁的错误
  package/document-layer/src/document/zh-CN/demo.md
  package/document-layer/src/document/zh-CN/index.md
  package/layer/src/component/Notifiy.vue
  package/layer/src/component/index.vue
  package/layer/src/index.ts
  package/layer/src/theme/index.css
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(all): 补充文档
  package/component/package.json
  package/document-component/src/document/zh-CN/components/tab.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
Due: prettier --write

✨(component): [dropdown]menuItem 添加插槽,新增 subMenu
  package/component/src/component/dropdown/index.less
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdownMenuItem/index.vue
  package/component/src/component/dropdownSubMenu/index.ts
  package/component/src/component/dropdownSubMenu/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/dropdown.md
  package/layer/src/component/Notifiy.vue
  package/layer/src/component/index.vue
  package/layer/src/index.ts
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️: 移除未使用代码
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

✨(release): 1.2.5
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(release): 1.2.5
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): tooltip
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): tooltip
  package/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write

📝: changelog
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

♻️: 完善layer.notify()入场动画,不再依赖anim属性
  package/layer/src/component/index.vue
  package/layer/src/index.ts
  package/layer/src/theme/index.css
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄: fix linter
  package/component/src/component/menu/index.vue
  package/component/src/component/menu/useLevel.ts
  package/component/src/component/menuItem/index.vue
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/component/src/component/subMenu/index.vue
  package/component/src/component/tooltip/index.vue
Due: prettier --write --no-verify, eslint --fix
