Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  packages/component/component/page/__tests__/page.test.ts
Due: prettier --write --no-verify, eslint --fix

!401 docs(json-schema-form): 补充formItemProps链接锚点 * 修正formItemProps链接
  docs/src/document/zh-CN/components/jsonSchemaForm.md
Due: prettier --write

!399 fix(descriptions): 渲染内部descriptions-item丢失响应式 * fix(descriptions): 渲染丢失响应式
  packages/component/component/descriptions/__tests__/descriptions.test.tsx
  packages/component/component/descriptions/descriptions-cell.ts
Due: prettier --write --no-verify, eslint --fix

!395 refactor(splitPanel): 重写设置splitPanel-item宽度逻辑 * chore: code optimiza * refactor(splitPanel): 重写设置splitPanel-item宽度逻辑
  docs/src/document/zh-CN/components/splitPanel.md
  packages/component/component/splitPanel/index.less
  packages/component/component/splitPanel/index.vue
  packages/component/component/splitPanel/interface.ts
  packages/component/component/splitPanel/splitPanel.ts
  packages/component/component/splitPanelItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: popper/content内部vShow赋值调整为同步
  packages/component/component/popper/component/content.vue
Due: prettier --write --no-verify, eslint --fix

fix(tooltip): arrow箭头位置异常
  packages/component/component/popper/utils.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/autoComplete/__tests__/auto-complete.test.tsx
  packages/component/component/cascader/__tests__/cascader.test.tsx
  packages/component/component/datePicker/__tests__/yearPanel.test.tsx
  packages/component/component/page/__tests__/page.test.ts
  packages/component/component/select/__tests__/select.test.tsx
Due: prettier --write --no-verify, eslint --fix

chore(component/timeSelect): eslint、props 引入调整
  packages/component/component/timeSelect/index.ts
  packages/component/component/timeSelect/index.vue
  packages/component/component/timeSelect/interfaces.ts
  packages/component/component/timeSelect/useTime.ts
Due: prettier --write --no-verify, eslint --fix

feat: 增加 vscode 测试启动配置
  .vscode/launch.json
Due: prettier --write

chore(component/timeSelect): 增加测试用例、增加文档说明、代码微调
  docs/src/document/zh-CN/components/timeSelect.md
  packages/component/component/timeSelect/__tests__/timeSelect.test.tsx
  packages/component/component/timeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(component/segmented): eslint
  packages/component/component/segmented/index.vue
  packages/component/component/segmented/interfaces.ts
Due: prettier --write --no-verify, eslint --fix

fix(component/laySegmented): 修复在表单模式下，初次渲染时没有设置内部radio选中状态的问题
  packages/component/component/segmented/__tests__/segmented.test.tsx
  packages/component/component/segmented/index.vue
Due: prettier --write --no-verify, eslint --fix

!404 chore(idea): 增加 vscode 测试启动配置 * feat: 增加 vscode 测试启动配置
  .vscode/launch.json
Due: prettier --write

fix(component/LayTagInput): 修复标签输入框输入单个字符就删除时会删除Tag的问题；现在在有 modelValue 和 props.max 的情况下会剔除多出来的 Tag
  packages/component/component/tagInput/__tests__/tagInput.test.tsx
  packages/component/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(tooltip/dropdown): 处理出现tooltip/dropdown多层级点击内部弹层，外部状态保持不变
  packages/component/component/popper/__tests__/popper.test.tsx
  packages/component/component/popper/component/content.vue
  packages/component/component/popper/types.ts
Due: prettier --write --no-verify, eslint --fix

fix(component/tagInput): 修复剔除问题；修复 collapsedTagData 在空数组时仍然显示 +1 的问题
  packages/component/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

docs(component/LayTagInput): 文档更新
  docs/src/document/zh-CN/components/tagInput.md
Due: prettier --write

fix(component/LayTagInput): 修复递归调用问题
  packages/component/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 文档的”组件“页现在按照各个组件的字母表顺序排序
  docs/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

!406 docs: 组件页按照组件英文名排序 * docs: 文档的”组件“页现在按照各个组件的字母表顺序排序
  docs/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

chore(component/LayTagInput): 增加拦截器、测试用例和文档调整
  docs/src/document/zh-CN/components/tagInput.md
  packages/component/component/tagInput/__tests__/tagInput.test.tsx
  packages/component/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(component/LayTagInput): 文档补充
  docs/src/document/zh-CN/components/tagInput.md
Due: prettier --write

refactor(datePicker): init component
  packages/component/component/datePickerV2/component/YearPanel.vue
  packages/component/component/datePickerV2/component/common/commonBlock.vue
  packages/component/component/datePickerV2/component/interface.ts
  packages/component/component/datePickerV2/day.ts
  packages/component/component/datePickerV2/hook/useDateCommon.ts
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/index.less
  packages/component/component/datePickerV2/index.ts
  packages/component/component/datePickerV2/index.vue
  packages/component/component/datePickerV2/interface.ts
  packages/component/index.ts
  packages/component/types/common.ts
Due: prettier --write --no-verify, eslint --fix

chore(component/LayTextarea): 多项修复
  docs/src/document/zh-CN/components/textarea.md
  packages/component/component/textarea/__tests__/textarea.test.tsx
  packages/component/component/textarea/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(component/LayCarousel): 多项修复
  packages/component/component/carousel/index.vue
Due: prettier --write --no-verify, eslint --fix

docs(component/LayTextarea): 增加 `rows` 和 `autosize` 互斥的说明
  docs/src/document/zh-CN/components/textarea.md
Due: prettier --write

fix(tree): show-line为false时展开最后一级报错
  packages/component/component/tree/TreeNode.vue
  packages/component/component/tree/__tests__/tree.test.tsx
Due: prettier --write --no-verify, eslint --fix

update docs/src/document/zh-CN/components/tagInput.md.
  docs/src/document/zh-CN/components/tagInput.md
Due: prettier --write

feat: 增加更多 vscode 的启动配置
  .vscode/launch.json
Due: prettier --write

fix: 去除多余启动配置
  .vscode/launch.json
Due: prettier --write

test(component/LayCarousel): 增加测试用例 #IAP00B
  packages/component/component/carousel/__tests__/carousel.test.tsx
Due: prettier --write --no-verify, eslint --fix

fix(component/LayTagInput): 修复在 composition 下输入单个字符清除后删除 tag 的问题
  packages/component/component/tagInput/__tests__/tagInput.test.tsx
  packages/component/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

add default pipeline template yaml
  .workflow/branch-pipeline.yml
  .workflow/master-pipeline.yml
  .workflow/pr-pipeline.yml
Due: none

fix(qrcode): 设置width/height未生效与图片未居中
  packages/component/component/qrcode/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: yaer month
  packages/component/component/datePickerV2/component/Picker.vue
  packages/component/component/datePickerV2/component/YearPanel.vue
  packages/component/component/datePickerV2/component/common/InputBlock.vue
  packages/component/component/datePickerV2/component/common/Month.vue
  packages/component/component/datePickerV2/component/common/PanelFoot.vue
  packages/component/component/datePickerV2/component/common/Year.vue
  packages/component/component/datePickerV2/component/common/commonBlock.vue
  packages/component/component/datePickerV2/component/interface.ts
  packages/component/component/datePickerV2/hook/useDateCommon.ts
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/index.less
  packages/component/component/datePickerV2/index.vue
  packages/component/component/datePickerV2/interface.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/datePickerV2/component/Picker.vue
  packages/component/component/datePickerV2/component/common/Footer.vue
  packages/component/component/datePickerV2/component/common/Month.vue
  packages/component/component/datePickerV2/component/common/Year.vue
Due: prettier --write --no-verify, eslint --fix

chore: 去除多余泛型，去除 template 中 props
  packages/component/component/textarea/index.vue
  packages/component/component/textarea/interface.ts
Due: prettier --write --no-verify, eslint --fix

!418 docs: 优化匹配 title 生成anchor * 优化匹配 title 生成anchor
  docs/src/plugin/create-anchor.ts
Due: prettier --write --no-verify, eslint --fix

feat: Complete year month yearmonth date type
  packages/component/component/datePickerV2/__tests__/yearPanel.test.tsx
  packages/component/component/datePickerV2/component/DatePicker.vue
  packages/component/component/datePickerV2/component/common/Date.vue
  packages/component/component/datePickerV2/component/common/DateContent.vue
  packages/component/component/datePickerV2/component/common/Footer.vue
  packages/component/component/datePickerV2/component/common/InputBlock.vue
  packages/component/component/datePickerV2/component/common/Month.vue
  packages/component/component/datePickerV2/component/common/Year.vue
  packages/component/component/datePickerV2/component/interface.ts
  packages/component/component/datePickerV2/day.ts
  packages/component/component/datePickerV2/hook/useDateCommon.ts
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/index.vue
  packages/component/component/datePickerV2/interface.ts
  packages/component/types/util.ts
Due: prettier --write --no-verify, eslint --fix

feat: add time type
  packages/component/component/datePickerV2/component/DatePicker.vue
  packages/component/component/datePickerV2/component/common/Date.vue
  packages/component/component/datePickerV2/component/common/InputBlock.vue
  packages/component/component/datePickerV2/component/common/Time.vue
  packages/component/component/datePickerV2/component/interface.ts
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/index.vue
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
