Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): 发布 1.8.2 版本
  package/component/package.json
  package/component/src/component/select/index.vue
  package/component/src/component/tag/index.vue
  package/component/src/component/tree/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/select/index.vue
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(tree-select): 修复多选模式点击节点报错问题
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): 格式化
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/textarea.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(date-picker): 修复 date-picker 组件范围选择 type 属性为 yearmonth 时右下角仍展示具体日期的问题
  package/component/src/component/datePicker/components/MonthRange.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 input 组件 style 属性 border-radius 设置过大导致边角缺失的问题
  package/component/src/component/input/index.less
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(input): 修复 type 属性为 number 时显示原生加减操作的问题
  package/component/src/component/input/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 更新日志
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(tree-select): 修复 tree-select 组件 checkStrictly 属性为 false 时，子节点不删除的问题
  package/component/src/component/treeSelect/index.vue
  package/component/src/utils/treeUtil.ts
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 tree-select 的交互逻辑，补充部分代码注释
  package/component/src/component/treeSelect/index.vue
  package/component/src/utils/treeUtil.ts
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.8.3 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(select): close issues https://gitee.com/layui/layui-vue/issues/I69KTX
  package/component/package.json
  package/component/src/component/select/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): 修复 columns 配置 children 内 customSlot 不生效的问题
  package/component/package.json
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/hooks/useTable.ts
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/hooks/useTable.ts
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.8.4 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

删除案例上的disable
  package/document-component/src/document/zh-CN/components/cascader.md
Due: prettier --write

♻️(table): 新建 typing.ts 类型声明文件
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/composables/useTable.ts
  package/component/src/component/table/index.vue
  package/component/src/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

🔧(component): add arrayUtil diff function
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/component/src/utils/arrayUtil.ts
Due: prettier --write --no-verify, eslint --fix

✨(table): 修复 children 列尾节点 border 不存在的问题
  package/component/src/component/table/composables/useTable.ts
  package/component/src/component/table/index.vue
  package/component/src/component/table/typing.ts
  package/component/src/utils/arrayUtil.ts
  package/component/src/utils/treeUtil.ts
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): 改善代码可读性，补充代码片段注释
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/utils/arrayUtil.ts
  package/component/src/utils/treeUtil.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): update
  package/component/package.json
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.vue
  package/component/src/component/upload/index.vue
  package/component/src/types/form.ts
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): update
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 @layui/layui-vue@1.8.5-alpha.3
  package/component/package.json
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.8.5 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛: upload
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 layui-vue@1.8.6-alpha.1 版本
  package/component/package.json
Due: prettier --write

✨(component): 新增 table 组件自定义列插槽 row column rowIndex columnIndex 参数，data 为过时参数，仍可用
  package/component/package.json
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 upload 组件 before 的重复回调
  package/component/package.json
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/composables/useTable.ts
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/components/upload.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 layui-vue@1.8.6 版本
  package/component/package.json
Due: prettier --write

✨(component): [新增] cascader 组件 changeOnSelect参数，用于开启选择即改变功能。
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 textarea 组件 rols 和 cols 属性
  package/component/package.json
  package/component/src/component/textarea/index.less
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/components/textarea.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(layer): 修复 zIndex 属性非响应式的问题
  package/component/src/component/cascader/index.vue
  package/component/src/component/textarea/index.vue
  package/layer/package.json
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 tree 组件 expandKeys 属性
  package/component/package.json
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/document-component/src/document/zh-CN/components/textarea.md
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write
