Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

feat(upload): 支持directory(文件夹上传)参数
  docs/src/document/zh-CN/components/upload.md
  packages/component/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(layer): release V2.4.8
  packages/layer/package.json
Due: prettier --write

feat(layui-vue): release v2.21.2
  docs/src/document/zh-CN/components/textarea.md
  docs/src/document/zh-CN/components/upload.md
  docs/src/document/zh-CN/guide/changelog.md
  docs/src/view/index.vue
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(splitPanel): splitPanelItem无法设置style/class与splitPanel可渲染非splitPanelItem组件
  packages/component/component/splitPanel/index.ts
  packages/component/component/splitPanel/index.vue
  packages/component/component/splitPanel/interface.ts
  packages/component/component/splitPanel/splitPanel.ts
  packages/component/component/splitPanel/splitPanel.tsx
  packages/component/component/splitPanelItem/index.vue
  packages/component/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

!464 fix(splitPanel): splitPanelItem无法设置style/class与splitPanel可渲染非splitPanelItem组件 * fix(splitPanel): splitPanelItem无法设置style/class与splitPanel可渲染非splitPanelItem组件
  packages/component/component/splitPanel/index.ts
  packages/component/component/splitPanel/index.vue
  packages/component/component/splitPanel/interface.ts
  packages/component/component/splitPanel/splitPanel.ts
  packages/component/component/splitPanel/splitPanel.tsx
  packages/component/component/splitPanelItem/index.vue
  packages/component/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

ci(build): 优化es产物结构
  packages/layui/package.json
  packages/layui/script/build.es.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: publint
  build/util.ts
  packages/icons/package.json
  packages/icons/vite.config.ts
  packages/json-schema-form/package.json
  packages/json-schema-form/vite.config.ts
  packages/layer/package.json
  packages/layer/vite.config.ts
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 通过接口获得下载量
  docs/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

!467 docs: 通过接口获得下载量 * docs: 通过接口获得下载量
  docs/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

!466 chore: 优化各包 package.json 导出字段 * chore: publint
  build/util.ts
  packages/icons/package.json
  packages/icons/vite.config.ts
  packages/json-schema-form/package.json
  packages/json-schema-form/vite.config.ts
  packages/layer/package.json
  packages/layer/vite.config.ts
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update changelog
  docs/src/document/zh-CN/guide/changelog.md
Due: prettier --write

chore: 处理按需加载产物
  packages/component/component/popper/usePopper/types.ts
  packages/component/component/popper/usePopper/utils.ts
  packages/component/component/textarea/index.vue
  packages/component/utils/domUtil.ts
  packages/layui/package.json
  packages/layui/script/build.es.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!465 ci(build): 优化es产物结构 * chore: 处理按需加载产物 * ci(build): 优化es产物结构
  packages/component/component/popper/usePopper/types.ts
  packages/component/component/popper/usePopper/utils.ts
  packages/component/component/textarea/index.vue
  packages/component/utils/domUtil.ts
  packages/layui/package.json
  packages/layui/script/build.es.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(descriptionsItem): umd中使用labelStyle/labelClass未生效
  packages/component/component/descriptions/descriptions-cell.ts
  packages/component/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

!468 fix(descriptionsItem): umd中使用labelStyle/labelClass未生效 * fix(descriptionsItem): umd中使用labelStyle/labelClass未生效
  packages/component/component/descriptions/descriptions-cell.ts
  packages/component/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

wip: code structure refactor completed
  packages/component/component/_components/render.ts
  packages/component/component/page/index.vue
  packages/component/component/page/interface.ts
  packages/component/component/table/TableData.vue
  packages/component/component/table/components/Header.vue
  packages/component/component/table/components/TableHeader.vue
  packages/component/component/table/components/TableMain/TableMain.vue
  packages/component/component/table/components/TableMain/TableMainTd.tsx
  packages/component/component/table/components/TableMain/index.ts
  packages/component/component/table/components/TablePage.vue
  packages/component/component/table/components/TableToolbar.vue
  packages/component/component/table/components/TableTotal.vue
  packages/component/component/table/components/types.ts
  packages/component/component/table/constant.ts
  packages/component/component/table/hooks/useAutoColsWidth.ts
  packages/component/component/table/hooks/useEmit.ts
  packages/component/component/table/hooks/useNextTable.ts
  packages/component/component/table/hooks/useResize.ts
  packages/component/component/table/hooks/useTable.ts
  packages/component/component/table/hooks/useTableColumns.ts
  packages/component/component/table/hooks/useTableExpand.ts
  packages/component/component/table/hooks/useTablePage.ts
  packages/component/component/table/hooks/useTableSelected.ts
  packages/component/component/table/hooks/useToolbar.ts
  packages/component/component/table/index.less
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
  packages/component/tsconfig.json
  packages/component/types/common.ts
  packages/component/types/index.ts
  packages/component/utils/arrayUtil.ts
  packages/component/utils/type.ts
  packages/layui/tsconfig.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

wip: resolve I8J9H9
  packages/component/component/table/components/TableHeader.vue
  packages/component/component/table/components/TableToolbar.vue
  packages/component/component/table/constant.ts
  packages/component/component/table/hooks/useTable.ts
  packages/component/component/table/hooks/useTableColumns.ts
  packages/component/component/table/hooks/useTableSelected.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

test: add tests
  packages/component/component/checkboxV2/index.vue
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/components/TablePage.vue
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

wip: dataSource and fix dts
  packages/component/component/table/components/TableHeader.vue
  packages/component/component/table/components/TableMain/TableMainTd.tsx
  packages/component/component/table/components/TableTotal.vue
  packages/component/component/table/components/types.ts
  packages/component/component/table/constant.ts
  packages/component/component/table/hooks/useTable.ts
  packages/component/component/table/hooks/useToolbar.ts
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

wip: 存在column.children 不可拖动改变宽度
  packages/component/component/table/components/TableHeader.vue
  packages/component/component/table/components/TableTotal.vue
  packages/component/component/table/constant.ts
  packages/component/component/table/hooks/useResize.ts
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: add emit checkbox/checkbox-all
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/components/TableMain/TableMain.vue
  packages/component/component/table/hooks/useTableSelected.ts
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: extend default-toolbar
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/components/TableToolbar.vue
  packages/component/component/table/hooks/useToolbar.ts
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: optimization tableMain props
  packages/component/component/table/components/TableMain/TableMain.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

chore: fix some issue
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/components/TableMain/TableMain.vue
  packages/component/component/table/components/TableToolbar.vue
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add props.page.change and warn emit change
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/components/TablePage.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add slots.page
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/index.less
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add column.ellipsisTooltipProps
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/components/TableMain/TableMain.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  packages/component/component/checkbox/index.less
  packages/component/component/checkboxV2/index.less
  packages/component/component/checkboxV2/index.vue
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/components/TableHeader.vue
  packages/component/component/table/components/TableMain/TableMain.vue
  packages/component/component/table/components/TableMain/TableMainTd.tsx
  packages/component/component/table/components/TableToolbar.vue
  packages/component/component/table/components/TableTotal.vue
  packages/component/component/table/hooks/useTable.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 优化page.change提示场景
  packages/component/component/table/components/TablePage.vue
Due: prettier --write --no-verify, eslint --fix

fix(select): 当下拉弹窗隐藏，用户输入自动显示下拉弹窗
  packages/component/component/select/__tests__/select.test.tsx
  packages/component/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(upload): 当slots.preview为空时，对应区域则不渲染
  packages/component/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(inputNumber): 自定义宽度，indicator显示异常
  packages/component/component/inputNumber/index.less
Due: none

chore: add test #IBBTTA
  packages/component/component/table/__tests__/table.test.tsx
Due: prettier --write --no-verify, eslint --fix

fix(popper): 多层级点击外部隐藏失效
  packages/component/component/popper/component/content.vue
  packages/component/component/popper/types.ts
Due: prettier --write --no-verify, eslint --fix

!470 fix(select): 当下拉弹窗隐藏，用户输入自动显示下拉弹窗 * fix(select): 当下拉弹窗隐藏，用户输入自动显示下拉弹窗
  packages/component/component/select/__tests__/select.test.tsx
  packages/component/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

!473 fix(popper): 多层级点击外部隐藏失效 * fix(popper): 多层级点击外部隐藏失效
  packages/component/component/popper/component/content.vue
  packages/component/component/popper/types.ts
Due: prettier --write --no-verify, eslint --fix

ci: eslint replace perttier
  .editorconfig
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .prettierignore
  .prettierrc
  .vscode/settings.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci: commit后只eslint暂存区文件
  .husky/commit-msg
  .vscode/settings.json
  build/commit-eslint.js
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: eslint ignores .sh
  .husky/commit-msg.sh
  eslint.config.mjs
Due: none

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
