Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

docs: update
  docs/src/document/zh-CN/components/layer.md
Due: prettier --write

chore: code update
  packages/component/component/treeV2/TreeNode.vue
  packages/component/component/treeV2/index.hook.ts
  packages/component/component/treeV2/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: code update
  packages/component/component/treeV2/TreeNode.vue
  packages/component/component/treeV2/index.hook.ts
  packages/component/component/treeV2/index.less
  packages/component/component/treeV2/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(component/TreeV2): 修复并调整节点事件
  packages/component/component/treeV2/TreeNode.vue
  packages/component/component/treeV2/index.vue
  packages/component/component/treeV2/interface.ts
Due: prettier --write --no-verify, eslint --fix

fix(component/LayTable): 修复树形表格无法导出children的问题
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: update links
  docs/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

!431 docs: 友链更新 * docs: update links
  docs/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: code update
  packages/component/component/treeV2/TreeNode.vue
  packages/component/component/treeV2/index.hook.ts
  packages/component/component/treeV2/interface.ts
Due: prettier --write --no-verify, eslint --fix

chore: updarte
  build/baseConfig.ts
  packages/icons/src/component/icon/index.vue
  packages/icons/vite.config.ts
  packages/json-schema-form/vite.config.ts
  packages/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

!432 build: optimization build config * chore: updarte
  build/baseConfig.ts
  packages/icons/src/component/icon/index.vue
  packages/icons/vite.config.ts
  packages/json-schema-form/vite.config.ts
  packages/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

feat(layui-icons): release v1.1.3
  packages/icons/package.json
Due: prettier --write

feat(layui-layer): release v2.4.4
  packages/layer/package.json
Due: prettier --write

feat(json-schema-form): release v1.0.15
  packages/json-schema-form/CHANGELOG.md
  packages/json-schema-form/package.json
Due: prettier --write

!421 fix(descriptions): 存在title/extra渲染header部分 * 根据内容是否显示layui-descriptions-header
  packages/component/component/descriptions/descriptions.vue
Due: prettier --write --no-verify, eslint --fix

feat(layui-vue): release v2.19.0
  docs/src/components/LayAnchor.vue
  docs/src/document/zh-CN/guide/changelog.md
  docs/src/plugin/create-anchor.ts
  docs/src/view/index.vue
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: dayjs plugin name error
  packages/component/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: supplement the suffix of the dayjs plugin
  packages/component/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/json-schema-form/vite.config.ts
  packages/layui/script/build.umd.ts
Due: prettier --write --no-verify, eslint --fix

fix(tab): 切换后tab-item中的select下拉未正常渲染
  packages/component/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(page): 开启ellipsisTooltip 前置翻页信息跳转不准确
  packages/component/component/page/__tests__/page.test.ts
  packages/component/component/page/components/pager.vue
Due: prettier --write --no-verify, eslint --fix

docs: 属性简单调整
  docs/src/document/zh-CN/components/page.md
Due: prettier --write

chore: 前置折叠部分反转排序
  packages/component/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(form): 新增asyncValidator支持
  packages/component/component/form/index.vue
  packages/component/component/formItem/index.vue
  packages/component/types/form.ts
Due: prettier --write --no-verify, eslint --fix

test: add asyncValidator
  packages/component/component/form/__tests__/form.test.tsx
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(select): autoFitMinWidth props
  docs/src/document/zh-CN/components/select.md
  packages/component/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(datepicker): date/range 模式下modelValue初始化下拉右侧看板日期错误
  packages/component/component/datePicker/__tests__/datePicker-range.test.tsx
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/component/DateRange.vue
Due: prettier --write --no-verify, eslint --fix

!430 fix(component/LayTable): 修复树形表格无法导出children的问题 * fix(component/LayTable): 修复树形表格无法导出children的问题
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!433 fix(tab): 切换后tab-item中的select下拉未正常渲染 * fix(tab): 切换后tab-item中的select下拉未正常渲染
  packages/component/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix

!434 fix(page): 开启ellipsisTooltip 前置翻页信息跳转不准确 * Merge branch 'jevin/fix-page-prev-ellipsisTooltip' of 1.gitee.com:layu… * chore: 前置折叠部分反转排序 * docs: 属性简单调整 * fix(page): 开启ellipsisTooltip 前置翻页信息跳转不准确
  docs/src/document/zh-CN/components/page.md
  packages/component/component/page/__tests__/page.test.ts
  packages/component/component/page/components/pager.vue
  packages/component/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!435 feat(form): 新增asyncValidator支持 * docs: update * test: add asyncValidator * feat(form): 新增asyncValidator支持
  docs/src/document/zh-CN/components/form.md
  packages/component/component/form/__tests__/form.test.tsx
  packages/component/component/form/index.vue
  packages/component/component/formItem/index.vue
  packages/component/types/form.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!436 fix(table): 开启 default-toolbar 控制台存在警告 * chore: update
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!437 feat(select): autoFitMinWidth props * feat(select): autoFitMinWidth props
  docs/src/document/zh-CN/components/select.md
  packages/component/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!438 fix(datepicker): date/range 模式下modelValue初始化下拉右侧看板日期错误 * fix(datepicker): date/range 模式下modelValue初始化下拉右侧看板日期错误
  packages/component/component/datePicker/__tests__/datePicker-range.test.tsx
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/component/DateRange.vue
Due: prettier --write --no-verify, eslint --fix

chore: update page test
  packages/component/component/page/__tests__/page.test.ts
Due: prettier --write --no-verify, eslint --fix

feat(layui-vue): release v2.19.1
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

fix(component/LayIconPicker): 修复子组件渲染问题
  packages/component/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(component/LayTree): 增加 loadOnCheck 属性，多选模式下点击 CheckBox 控制是否懒加载
  packages/component/component/treeV2/TreeNode.vue
  packages/component/component/treeV2/interface.ts
Due: prettier --write --no-verify, eslint --fix

fix(component/LayTagInput): 修复标签输入框在开启检索时，无法通过鼠标关闭标签的问题
  packages/component/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: .env
  packages/json-schema-form/vite.config.ts
  packages/layui/script/build.umd.ts
Due: prettier --write --no-verify, eslint --fix
