Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

docs(tooltip): add popper-class/popper-style
  docs/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write

docs(layer): add slot docs
  docs/document-component/src/document/zh-CN/components/layer.md
Due: prettier --write

chore(component/cascaderPanel): 新增严格模式
  docs/document-component/src/document/zh-CN/components/cascader.md
  packages/component/src/component/cascader/index.vue
  packages/component/src/component/cascaderPanel/index.hook.ts
  packages/component/src/component/cascaderPanel/index.less
  packages/component/src/component/cascaderPanel/index.vue
  packages/component/src/component/cascaderPanel/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(slider): 重构popper后兼容slider组件
  docs/document-component/src/document/zh-CN/components/slider.md
  packages/component/src/component/form/index.vue
  packages/component/src/component/popper/popper.vue
  packages/component/src/component/slider/__tests__/slider.test.ts
  packages/component/src/component/slider/components/bar.vue
  packages/component/src/component/slider/components/mark.vue
  packages/component/src/component/slider/components/use-slider-bar.ts
  packages/component/src/component/slider/components/use-slider-mark.ts
  packages/component/src/component/slider/index.vue
  packages/component/src/component/slider/types/sliderType.ts
  packages/component/src/component/slider/use-slider.ts
  packages/component/src/component/tooltip/types.ts
  packages/component/src/types/tooltip.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  packages/component/src/component/slider/types/sliderType.ts
  packages/component/src/component/slider/use-slider.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/src/component/slider/use-slider.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/layer/src/component/Prompt.vue
  packages/layui/script/build.all.ts
  packages/layui/script/build.es.ts
  packages/layui/script/build.umd.ts
  packages/layui/script/constant.ts
Due: prettier --write --no-verify, eslint --fix

fix(popper): popper隐藏后取消autoUpdate监听回调
  packages/component/src/component/popper/component/content.vue
  packages/component/src/component/popper/usePopper/usePopper.ts
  packages/component/src/component/popper/utils.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/src/component/popper/component/content.vue
  packages/component/src/component/popper/usePopper/usePopper.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/form/index.less
Due: none

chore: docs workspace
  pnpm-workspace.yaml
Due: none

chore(merge): new code
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.less
  packages/component/component/cascaderPanel/index.ts
  packages/component/component/cascaderPanel/index.vue
  packages/component/component/cascaderPanel/interface.ts
Due: prettier --write --no-verify, eslint --fix

chore: docs workspace
  docs/package.json
  docs/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  packages/layui/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(layer): content属性在type为6场景下值为VNode失效 #IA7YPB
  .eslintrc.js
  docs/src/document/zh-CN/components/layer.md
  packages/layer/src/component/Iframe.vue
  packages/layer/src/component/Notifiy.vue
  packages/layer/src/component/index.vue
  packages/layer/src/types/index.ts
  packages/layer/src/utils/index.ts
  packages/layer/src/utils/layer.ts
  packages/layer/src/utils/render.ts
  play/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(popper): init tests page
  packages/component/component/carousel/__tests__/carousel.test.tsx
  packages/component/component/popper/__tests__/popper.test.tsx
  packages/component/index.ts
  play/main.ts
Due: prettier --write --no-verify, eslint --fix

fix(tree/treeSelect): 搜索后勾选/清空modelValue异常 #IA6ZK5
  docs/src/document/zh-CN/components/tree.md
  packages/component/component/tagInput/index.vue
  packages/component/component/tree/TreeNode.vue
  packages/component/component/tree/index.vue
  packages/component/component/tree/tree.ts
  packages/component/component/tree/tree.type.ts
  packages/component/component/tree/useTree.ts
  packages/component/component/treeSelect/index.vue
  packages/component/component/treeSelect/useTreeSelect.ts
  play/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(tree): 设置replaceFields，checkStrictly为false时父子节点联动失效 #IA8NHV
  packages/component/component/tree/TreeNode.vue
  packages/component/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  docs/src/document/zh-CN/components/treeSelect.md
  packages/component/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  packages/component/component/popper/utils.ts
Due: prettier --write --no-verify, eslint --fix

!344 fix(layer): content属性在type为6场景下值为VNode失效 * Merge branch '2.x' of gitee.com:layui-vue/layui-vue into jevin/fix-lay… * fix(layer): content属性在type为6场景下值为VNode失效 #IA7YPB
  .eslintrc.js
  docs/src/document/zh-CN/components/layer.md
  packages/layer/src/component/Iframe.vue
  packages/layer/src/component/Notifiy.vue
  packages/layer/src/component/index.vue
  packages/layer/src/types/index.ts
  packages/layer/src/utils/index.ts
  packages/layer/src/utils/layer.ts
  packages/layer/src/utils/render.ts
  play/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update version
  docs/src/document/zh-CN/components/slider.md
  docs/src/document/zh-CN/components/tree.md
Due: prettier --write

feat(layer): release v2.4.2
  packages/layer/package.json
Due: prettier --write

feat(layui-vue): release v2.17.7
  docs/src/document/zh-CN/guide/changelog.md
  docs/src/document/zh-CN/guide/theme.md
  packages/json-schema-form/CHANGELOG.md
  packages/json-schema-form/package.json
  packages/layui/package.json
Due: prettier --write

chore: update
  packages/component/component/input/index.hooks.ts
  packages/json-schema-form/package.json
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  packages/json-schema-form/package.json
Due: prettier --write

chore: update
  packages/layui/package.json
Due: prettier --write

feat(layer): render replace createApp mount content
  packages/layer/package.json
  packages/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

add vercel.json.
  vercel.json
Due: prettier --write

add _redirects.
  _redirects
Due: none

update _redirects.
  _redirects
Due: none

add docs/_redirects.
  docs/_redirects
Due: none

add docs/move.sh.
  docs/move.sh
Due: none

update docs/package.json.
  docs/package.json
Due: prettier --write

add move.
  move
Due: none

update package.json.
  package.json
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
