Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

docs(component/layer): 文档纰漏更正
  docs/document-layer/src/document/zh-CN/help.md
Due: prettier --write

fix(iconPicker): disabled状态下可进行清除操作 #I9KSXM
  packages/component/src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

style(formItem): date-picker width follow parent box
  packages/component/src/component/form/index.less
Due: none

docs(component/layer): 更新 Layer 文档
  docs/document-component/src/document/zh-CN/components/layer.md
Due: prettier --write

update docs/document-component/src/view/index.vue.
  docs/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

style(formItem): inline mode width to minWidth
  packages/component/src/component/form/index.less
Due: none

fix(popper):The popper z-index should be greater than the layer
  packages/component/src/component/popper/index.less
Due: none

fix(datePicker): type为time范围选择初始化滚动位置失效
  packages/component/src/component/datePicker/components/TimeRange.vue
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(datePicker): add clear event
  packages/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

docs(datePicker): supplement docs
  docs/document-component/src/document/zh-CN/components/datePicker.md
  packages/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

style: form>label非pane模式
  packages/component/src/component/form/index.less
  packages/component/src/component/form/index.vue
  packages/component/src/component/formItem/index.vue
  packages/component/src/component/formItem/types.ts
  play/main.ts
Due: prettier --write --no-verify, eslint --fix

chore: add sponsors
  docs/document-component/src/assets/css/mobile.css
  docs/document-component/src/language/en_US.ts
  docs/document-component/src/language/zh_CN.ts
  docs/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

style: form整体样式优化
  docs/document-component/src/document/zh-CN/components/form.md
  packages/component/src/component/form/index.less
  packages/component/src/component/form/index.vue
  packages/component/src/component/formItem/index.hooks.ts
  packages/component/src/component/formItem/index.vue
  packages/component/src/component/formItem/types.ts
  packages/component/src/types/form.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: change sponsors block layout
  docs/document-component/src/assets/css/mobile.css
  docs/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!320 fix(dts): moduleResolution为bundler无法引用types * fix(dts): moduleResolution为bundler无法引用types #I9NKO9
  packages/component/package.json
Due: prettier --write

!321 fix(iconPicker): disabled状态下可进行清除操作 * chore: update * fix(iconPicker): disabled状态下可进行清除操作 #I9KSXM
  packages/component/src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

!323 fix(popper): zIndex应大于layer * fix(popper):The popper z-index should be greater than the layer
  packages/component/src/component/popper/index.less
Due: none

!324 fix(datePicker): type为time范围选择初始化滚动位置失效 * fix(datePicker): type为time范围选择初始化滚动位置失效
  packages/component/src/component/datePicker/components/TimeRange.vue
Due: prettier --write --no-verify, eslint --fix

!325 feat(datePicker): 新增clear事件 * docs(datePicker): supplement docs * feat(datePicker): add clear event
  docs/document-component/src/document/zh-CN/components/datePicker.md
  packages/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!326 style: form整体样式优化 * style: form整体样式优化 * style: form>label非pane模式
  docs/document-component/src/document/zh-CN/components/form.md
  packages/component/src/component/form/index.less
  packages/component/src/component/form/index.vue
  packages/component/src/component/formItem/index.hooks.ts
  packages/component/src/component/formItem/index.vue
  packages/component/src/component/formItem/types.ts
  packages/component/src/types/form.ts
  play/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(layer): release v2.3.4
  packages/layer/package.json
Due: prettier --write

feat(lay-ui): release v2.17.4
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write

feat(json-schema-form): release v1.0.9
  packages/json-schema-form/CHANGELOG.md
  packages/json-schema-form/package.json
Due: prettier --write

docs(layui-vue): adjusting the homepage layout
  docs/document-component/src/assets/css/mobile.css
  docs/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(layui-vue): add sponsors
  docs/document-component/src/assets/lubase-logo.png
  docs/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: optimize contributing guide docs
  CONTRIBUTING.md
Due: prettier --write

fix(layer): 使用template场景min、success属性函数id参数失效
  packages/layer/src/component/HeaderBtn.vue
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 调整赞助商海报尺寸
  docs/document-component/src/language/zh_CN.ts
  docs/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(datePicker): clear事件rang为true时初始值改为[]
  packages/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(layer): 新增min expose
  docs/document-component/src/document/zh-CN/components/layer.md
  packages/layer/src/component/Header.vue
  packages/layer/src/component/HeaderBtn.vue
  packages/layer/src/component/index.vue
  packages/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  docs/document-component/src/document/zh-CN/components/layer.md
  packages/layer/src/component/index.vue
  packages/layer/src/types/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 修复 mybatis logo 不显示的问题
  docs/document-component/src/language/zh_CN.ts
  docs/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: add join sponsors btn
  docs/document-component/src/language/en_US.ts
  docs/document-component/src/language/zh_CN.ts
  docs/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: update
  docs/document-component/src/document/zh-CN/components/layer.md
  packages/layer/src/component/Photos.vue
  packages/layer/src/component/index.vue
  packages/layer/src/index.ts
  packages/layer/src/types/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: completion docs and completion functional methods
  docs/document-component/src/document/zh-CN/components/layer.md
  packages/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: dts build module
  packages/layer/package.json
  packages/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!327 fix(layer): 使用template场景min、success...属性函数id参数失效 * fix(layer): 使用template场景min、success属性函数id参数失效
  packages/layer/src/component/HeaderBtn.vue
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

!328 feat(layer): 组件内部优化 * chore: resolving conflicts * chore: dts build module * chore: completion docs and completion functional methods * docs: update * chore: update * feat(layer): 新增min expose
  docs/document-component/src/document/zh-CN/components/layer.md
  packages/layer/package.json
  packages/layer/src/component/Header.vue
  packages/layer/src/component/HeaderBtn.vue
  packages/layer/src/component/Photos.vue
  packages/layer/src/component/index.vue
  packages/layer/src/index.ts
  packages/layer/src/types/index.ts
  packages/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(layer): release v2.4.0
  packages/layer/package.json
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
