Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

🧹: unity version
  packages/component/package.json
  pnpm-lock.yaml
Due: prettier --write

📝: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

✨(component): 发布 2.15.2 版本
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write

✨(component): 更新合作伙伴
  docs/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): row 组件可选值由 1-24 调整为 0 - 24
  docs/document-component/src/document/zh-CN/components/grid.md
  packages/component/src/component/row/index.less
Due: prettier --write

✨(component): 发布 2.16.0 版本
  docs/document-component/src/document/zh-CN/components/layer.md
  docs/document-component/src/document/zh-CN/guide/changelog.md
  docs/document-component/src/view/index.vue
  docs/document-component/src/view/resources.vue
  docs/document-layer/src/document/zh-CN/demo.md
  packages/component/package.json
  packages/component/src/component/select/index.vue
  packages/layer/package.json
  packages/layer/src/component/index.vue
  packages/layer/src/index.ts
  packages/layer/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  docs/document-component/src/document/zh-CN/guide/changelog.md
  docs/document-layer/src/document/zh-CN/demo.md
  packages/component/package.json
  packages/layer/package.json
  packages/layer/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): (layer) template场景下zIndex参数并未更新为最新值#I927ZN
  packages/layer/src/component/index.vue
  play/main.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): (tree|treeSelect) 新增懒加载子节点功能#I8QWO5
  docs/document-component/src/document/zh-CN/components/tree.md
  docs/document-component/src/document/zh-CN/components/treeSelect.md
  packages/component/src/component/tree/TreeNode.vue
  packages/component/src/component/tree/index.less
  packages/component/src/component/tree/index.vue
  packages/component/src/component/tree/tree.ts
  packages/component/src/component/tree/tree.type.ts
  packages/component/src/component/tree/useTree.ts
  packages/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹: changelog.md
  docs/document-component/src/document/zh-CN/components/tree.md
  docs/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

update README.md.
  README.md
Due: prettier --write

✨(component): (json-schema-form) first version (todo)
  packages/json-schema-form/.gitignore
  packages/json-schema-form/package.json
  packages/json-schema-form/shims-vue.d.ts
  packages/json-schema-form/src/component/form-block.ts
  packages/json-schema-form/src/component/index.less
  packages/json-schema-form/src/component/index.ts
  packages/json-schema-form/src/component/index.vue
  packages/json-schema-form/src/component/types.ts
  packages/json-schema-form/src/component/useForm.ts
  packages/json-schema-form/src/component/useFormBlock.ts
  packages/json-schema-form/src/index.ts
  packages/json-schema-form/src/types/index.ts
  packages/json-schema-form/tsconfig.json
  packages/json-schema-form/vite.config.ts
  play/main.ts
  play/src/.gitignore
  play/src/App.vue
  play/src/demo.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): (json-schema-form): 补全form-item type (todo)
  packages/json-schema-form/src/component/checkbox/checkbox.ts
  packages/json-schema-form/src/component/checkbox/index.ts
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form-block/index.ts
  packages/json-schema-form/src/component/form-block/useFormBlock.ts
  packages/json-schema-form/src/component/form/index.less
  packages/json-schema-form/src/component/form/index.ts
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
  packages/json-schema-form/src/component/form/useForm.ts
  packages/json-schema-form/src/component/radio/index.ts
  packages/json-schema-form/src/component/radio/radio.ts
  packages/json-schema-form/src/index.ts
  play/main.ts
  play/src/App.vue
  play/src/demo.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): (json-schema-form) add docs (todo)
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
  docs/document-component/src/main.ts
  docs/document-component/src/router/zh-CN.ts
  docs/document-component/src/view/utils/menus.ts
  docs/document-component/vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): (json-schema-form) add slot
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
  play/main.ts
  play/src/App.vue
Due: prettier --write --no-verify, eslint --fix

🧹(component): (json-schema-form): add customRender type string|VNodeTypes
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
  play/src/App.vue
  play/src/demo.vue
Due: prettier --write --no-verify, eslint --fix

🧹: types
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/types.ts
  play/src/App.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): (json-schema-form) add inputs date type
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
  packages/json-schema-form/src/component/form/useForm.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): (json-schema-form) todo
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
Due: prettier --write

✨(component): (json-schema-form) 调整inputs参数为schema(数据结构改为json)
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form-block/useFormBlock.ts
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
  packages/json-schema-form/src/component/form/useForm.ts
  play/src/App.vue
  play/src/demo.vue
Due: prettier --write --no-verify, eslint --fix

🧹(component): (json-schema-form) schema componentsProps update componentProps
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
  play/src/App.vue
Due: prettier --write --no-verify, eslint --fix

🧹(component): (json-schema-form) check type info
  packages/json-schema-form/src/component/form-block/form-block.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): (json-schema-form) docs completed
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
  packages/json-schema-form/src/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 解构 json-schema-form 的 formItemProps 层级
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
  docs/document-component/src/view/utils/menus.ts
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  docs/document-component/src/view/resources.vue
  packages/json-schema-form/src/component/form/types.ts
Due: prettier --write --no-verify, eslint --fix

🧹: remove play App
  play/src/.gitignore
  play/src/App.vue
  play/src/demo.vue
Due: prettier --write --no-verify, eslint --fix

📝: (json-schema-form) SchemaValueType type
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
Due: prettier --write

🧹(component): (json-schema-form) 解构formItemprops
  packages/json-schema-form/src/component/form-block/useFormBlock.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form-block/useFormBlock.ts
  packages/json-schema-form/src/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛: v-bind
  packages/json-schema-form/src/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): (json-schema-form) form-item prop info
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
  packages/json-schema-form/src/component/form-block/useFormBlock.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 将 type 属性往上提一层
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/types.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): update.md
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
  packages/json-schema-form/src/component/form-block/form-block.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): (json-schema-form) 调整schema属性结构|添加组件内部插槽
  docs/document-component/src/document/zh-CN/components/jsonSchemaForm.md
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹(component): (json-schema-form) optimization code
  packages/json-schema-form/src/component/form-block/form-block.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 2.16.2 版本
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
  packages/layer/package.json
  pnpm-lock.yaml
Due: prettier --write

🐛(component): (json-schema-form) upgrade 1.0.2
  packages/json-schema-form/package.json
  packages/json-schema-form/src/component/form-block/form-block.ts
  play/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  docs/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix

✅(component): (json-schema-form) add tests(todo)
  packages/json-schema-form/package.json
  packages/json-schema-form/src/component/__tests__/form.test.tsx
  packages/json-schema-form/vitest.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✅(component): (json-schema-form) add slot test
  packages/json-schema-form/src/component/__tests__/form.test.tsx
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
