Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): 优化 table 组件 columns 无对应数据时仍保持列占位
  package/component/src/component/table/TableRow.vue
  package/component/src/component/treeSelect/index.ts
  package/component/src/component/treeSelect/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/view/component.vue
  package/document-component/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): table 复杂表头, 完成 body 平铺, header 的合并待处理
  package/component/src/component/table/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 table 复杂表头实现
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 完善复杂表头表格
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 工具栏 dropdown 随滚动条滚动
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/package.json
  package/component/src/component/formItem/index.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

🌀(component): 调整 input 组件 password 模式下的默认图标
  package/component/src/component/input/index.vue
  package/component/src/component/input/svg/Password.vue
  package/component/src/component/input/svg/unPassword.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 table 组件 loading 属性, 数据加载过渡
  package/component/src/component/input/index.vue
  package/component/src/component/input/svg/Password.vue
  package/component/src/component/input/svg/unPassword.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/formItem/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 固定列隐藏列的冲突
  package/component/src/component/switch/index.less
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 实现 table 复杂表头 与 单元格合并 的导出兼容
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 table 组件 getCheckboxProps 与 getRadioProps 方法
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [input]v-model 在 IME 输入拼字阶段触发更新的问题
  package/component/src/component/input/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新 table 文档
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 transfer 组件选项禁用
  package/component/src/component/input/index.vue
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/components/transfer.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 table 与 transfer 复选逻辑
  package/component/src/component/table/index.vue
  package/component/src/component/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix

📝: 添加 stackblitz
  package/document-component/package.json
  package/document-component/src/components/LayCode.vue
  package/document-component/src/utils/code-playground.ts
  package/document-component/src/utils/code-stackblitz.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [menu]在一个按需配置的项目中，只使用 menu 组件时,dropdown css 未自动引入导致的位置异常
  package/component/src/component/menu/index.less
  package/component/src/component/table/index.vue
  package/component/src/component/transfer/index.vue
  package/document-component/src/components/LayCode.vue
Due: prettier --write --no-verify, eslint --fix

📝: 将 stackblitz 模板修改为按需加载,用于快速测试按需加载方面的问题
  package/component/src/component/menu/index.less
  package/document-component/src/utils/code-stackblitz.ts
Due: prettier --write --no-verify, eslint --fix

📝: [tag]: 更新文档
  package/document-component/src/document/zh-CN/components/tag.md
Due: prettier --write

🐛(component): 修复 table 组件 height 属性改变时单元格错位
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

⚡️(git): update issues template
  package/component/src/component/page/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 table 组件按需模式下缺少 radio 样式
  package/component/src/component/table/index.less
Due: none

⚡️(template): update issues template
  .gitee/ISSUE_TEMPLATE.zh-CN.md
  .github/ISSUE_TEMPLATE.md
  package/component/src/component/table/index.less
Due: prettier --write

📝(changelog): update
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 table 销毁时未注销 onresize 事件
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 date-picker 组件 prefix-icon 与 suffix-icon 选项
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

🌀(component): 优化 input 组件 clear 与 password 背景色
  package/component/package.json
  package/component/src/component/datePicker/index.vue
  package/component/src/component/input/index.less
  package/component/src/component/table/index.vue
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/index.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): close issues https://gitee.com/layui/layui-vue/issues/I5M7A9
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

update README.md.
  README.md
Due: prettier --write

update README.zh.md.
  README.zh.md
Due: prettier --write

✨(component): 优化 table 组件 dataSource 属性改变时, 清空 selectedKey 与 selectedKeys 属性
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.4.2 版本
  package/component/package.json
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 切换分支前的提交准备
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🌀(git): update issues template
  .github/ISSUE_TEMPLATE.md
Due: prettier --write
