Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): update
  package/component/src/component/radio/typing.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 table 组件的 ts 警告信息
  package/component/script/build.types.ts
  package/component/src/component/popper/index.vue
  package/component/src/component/table/TableRow.vue
Due: prettier --write --no-verify, eslint --fix

🔧(types): 对 next 分支 typescript 支持代码进行手动合并, 并测试解决依赖包潜在的类型问题
  package.json
  package/component/api-extractor.json
  package/component/package.json
  package/component/script/build.types.ts
  package/component/src/component/input/index.vue
  package/component/src/component/ripple/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/textarea/index.vue
  package/component/src/component/tree/tree.type.ts
  package/component/tsconfig.build.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): update
  package/component/api-extractor.json
  package/component/script/build.types.ts
  package/component/src/component/table/TableData.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/table/TableData.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): ✨(component): update
  package/component/script/build.types.ts
  package/component/src/component/popper/index.vue
  package/component/src/component/table/TableData.vue
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 提供 vetur，volar，webstrom 支持, 调整 build 配置 (next)
  package.json
  package/component/package.json
  package/component/script/build.dts.ts
  package/component/script/build.helper.cjs
  package/component/src/component/table/TableData.vue
  package/component/src/component/table/composables/useTable.ts
  package/component/src/components.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 layer 组件 btn 属性 disabled 配置
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/Shade.vue
  package/layer/src/component/index.vue
  package/layer/src/theme/index.css
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(select): 优化 multiple 属性开启时, 传递非 array 类型时的异常信息
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(layer): 重构部分计算逻辑, 新增 offset 属性 tl tr bl br 可选值
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄(component): eslint
  package/component/src/component/select/index.vue
  package/component/src/component/table/composables/useTable.ts
  package/component/src/components.ts
  package/component/src/index.ts
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

✨(upload): 优化 multiple 属性为 false 时, fromData 的 file 属性不再采用数组的方式传递
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/upload.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(layer): 修复 title 属性改变时 contentHeight 不随之变化的问题
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(layer): 修复 layer-vue 历史遗留问题, 发布 1.5.0-alpha.3 版本
  package/document-layer/src/components/Children3.vue
  package/document-layer/src/components/Children4.vue
  package/document-layer/src/document/zh-CN/demo.md
  package/document-layer/src/main.ts
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(upload): 调整 cut 开启时, 裁剪框由固定 640px 调整为自适应
  package/component/package.json
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/components/Children3.vue
  package/document-layer/src/components/Children4.vue
  package/layer/src/component/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 清理无效的代码
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(layer): 优化 通知 类型弹层样式
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/index.vue
  package/layer/src/theme/index.css
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(layer): 发布 layer-vue 1.5.0 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/help.md
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write

🐛(form): 验证 prop 属性支持深度取值
  package/component/src/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): layer-vue 兼容 area 自适应语法
  package/component/src/component/formItem/index.vue
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layer-vue 1.5.1 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layer-vue 1.5.2 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/package.json
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/tokens/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄: lint
  package/layer/src/component/index.vue
  package/layer/src/tokens/index.ts
Due: prettier --write --no-verify, eslint --fix

✨(layer): drawer 组件 offset 不设置时，默认采用 r 值
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 tree-select 组件 search 属性, 用于开启数据查询
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 @1.9.0-alpha.17 内测版本
  package/component/package.json
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 移除 tree 组件中的无用代码
  package/component/src/component/tree/index.vue
  package/component/src/component/tree/tree.ts
  package/component/src/component/tree/useTree.ts
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(resources): 移除 helper 与 axure 资源链接
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/tree.ts
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/view/resource.vue
  package/layer/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄(component): 规范代码文件命名
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/components.vue
  package/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix

📝(icon): update
  package/document-component/src/document/zh-CN/components/icon.md
  package/document-component/src/router/zh-CN.ts
  package/layer/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(color): update
  package/document-component/src/document/zh-CN/components/color.md
Due: prettier --write

✨(component): 新增 input 组件 focus 与 blur 方法
  package/component/package.json
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/components/animation.md
  package/document-component/src/document/zh-CN/components/input.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(button): update
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(Animation): update
  package/document-component/src/document/zh-CN/components/animation.md
Due: prettier --write

📝(transition): update
  package/document-component/src/document/zh-CN/components/transition.md
Due: prettier --write

📝(ripple): update
  package/document-component/src/document/zh-CN/components/ripple.md
Due: prettier --write

✨(textarea): 新增 focus 和 blur 方法
  package/component/package.json
  package/component/src/component/textarea/index.vue
  package/document-component/src/document/zh-CN/components/textarea.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): update
  package/document-component/src/document/zh-CN/components/card.md
  package/document-component/src/document/zh-CN/components/container.md
  package/document-component/src/document/zh-CN/components/fullscreen.md
  package/document-component/src/document/zh-CN/components/panel.md
  package/document-component/src/document/zh-CN/components/skeleton.md
  package/document-component/src/document/zh-CN/components/space.md
Due: prettier --write
