Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

🌀(git): update issues template
  .gitee/ISSUE_TEMPLATE.zh-CN.md
Due: prettier --write

🐛(component): 修复 table 组件因 loading 加载时机产生的错位
  package/component/src/component/table/index.vue
  package/component/src/utils/withInstall.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 scroll 警告
  package/component/src/component/scroll/index.vue
  package/component/src/component/table/index.vue
  package/component/src/utils/withInstall.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 优化 scroll 组件内容改变时重新计算滚动条
  package/component/src/component/scroll/index.vue
  package/document-component/src/document/zh-CN/components/scroll.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 card 组件 footer 插槽
  package/component/src/component/card/index.less
  package/component/src/component/card/index.vue
  package/component/src/component/scroll/index.vue
  package/document-component/src/document/zh-CN/components/card.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): release 1.4.3
  package/component/package.json
  package/component/src/component/page/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/card.md
  package/document-component/src/document/zh-CN/components/page.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): release 1.4.3
  package/component/src/component/card/index.vue
  package/component/src/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 优化 quote 组件边距
  package/component/src/component/quote/index.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 table 组件 footer 插槽
  package/component/package.json
  package/component/src/component/quote/index.vue
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 date-picker 组件默认值不存在时导致选择值不回显
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): release 1.4.4
  package/component/package.json
  package/document-component/src/document/zh-CN/components/card.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): release 1.4.4
  package/component/src/component/datePicker/index.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 优化 input 组件 password 模式在 edge 的兼容性
  package/component/src/component/input/index.less
Due: none

🐛(component): 修复 total 为 0 时禁用下一页操作
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/components/page.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 恢复 page 文档
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/components/page.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 新增 menu 组件 changeSelectedKey 与 changeOpenKeys 说明
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/components/menu.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [dropdown]修复 popupContainer 不适用于 vue 自身渲染的元素的问题
  package/component/src/component/dropdown/TeleportWrapper.vue
  package/component/src/component/dropdown/index.vue
  package/document-component/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 开放 table 组件 page 的所有配置
  package/component/src/component/table/TablePage.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄(component): 整理 table.vue 代码
  package/component/src/component/dropdown/TeleportWrapper.vue
  package/component/src/component/dropdown/index.vue
  package/component/src/component/table/TablePage.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): [dropdown]修复 alignPoint
  package/component/src/component/dropdown/index.vue
  package/document-component/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 menu 组件初次加载触发 changeOpenkeys 事件
  package/component/src/component/menu/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 清理 upload 组件调试日志
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 修复 upload 组件 acceptMime 默认值无效
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): ....
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 upload 组件 field 属性无效
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/upload.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 upload 组件单选模式下仍传递数组的问题
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): 暂存
  package/component/src/component/carousel/index.vue
  package/component/src/component/page/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/upload.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): release 1.4.5
  package/component/package.json
  package/component/src/component/carousel/index.vue
  package/component/src/component/page/index.vue
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [dropdown]clickOutside 触发范围异常
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/interface.ts
  package/component/src/component/dropdownMenuItem/index.vue
Due: prettier --write --no-verify, eslint --fix

📝: 更新 dropdown 文档
  package/document-component/src/document/zh-CN/components/dropdown.md
Due: prettier --write

📝: 更新 changelog
  package/document-component/src/document/zh-CN/components/dropdown.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): [space]新增 space 组件
  package/component/src/component/space/Renderer.ts
  package/component/src/component/space/index.less
  package/component/src/component/space/index.ts
  package/component/src/component/space/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/space.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [tab]position 为 left,right 时 content 宽度异常
  package/component/src/component/tab/index.less
Due: none

📝(component): [tag]更新文档
  package/component/src/component/space/index.vue
  package/component/src/component/tag/index.less
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/tag.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

修复 table 警告
  package/component/src/component/table/TablePage.vue
Due: prettier --write --no-verify, eslint --fix

💄: fix lint
  package/component/src/component/space/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): release 1.4.6
  package/component/package.json
  package/component/src/component/table/TablePage.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): release 1.4.6
  package/component/src/component/table/TablePage.vue
Due: prettier --write --no-verify, eslint --fix

♻️: 重构 renderer
  package/component/src/component/_components/renderFunction.ts
  package/component/src/component/_components/teleportWrapper.vue
  package/component/src/component/dropdown/index.vue
  package/component/src/component/space/Renderer.ts
  package/component/src/component/space/index.vue
  package/component/src/component/tab/RenderTitle.vue
  package/component/src/component/tab/index.vue
  package/document-component/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [tabitem] title 支持渲染函数
  package/component/src/component/tab/index.vue
  package/component/src/component/tab/interface.ts
  package/component/src/component/tabItem/index.vue
  package/document-component/src/document/zh-CN/components/tab.md
Due: prettier --write --no-verify, eslint --fix, prettier --write
