Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

fix: placeholder
  packages/component/component/datePicker/component/common/InputBlock.vue
Due: prettier --write --no-verify, eslint --fix

test(component/LayDatePicker): add yearmonth test
  packages/component/component/datePicker/__tests__/yearmonth.test.tsx
Due: prettier --write --no-verify, eslint --fix

feat(treeSelect): 添加cacheData属性，用于渲染懒加载数据
  docs/src/document/zh-CN/components/treeSelect.md
  packages/component/component/tree/index.vue
  packages/component/component/tree/tree.ts
  packages/component/component/tree/useTree.ts
  packages/component/component/treeSelect/__tests__/treeSelect.test.tsx
  packages/component/component/treeSelect/index.vue
  packages/component/component/treeSelect/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

test(component/LayDatePicker): add more test
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
Due: prettier --write --no-verify, eslint --fix

chore: 支持传入 footer 自定义底栏左侧部分、增加 static 属性显示静态面板、simple 模式下触发 update:modelValue、Month 面板头部无法正确显示 1 月份、从模板中移走注释
  packages/component/component/datePicker/component/DatePicker.vue
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/MonthRange.vue
  packages/component/component/datePicker/component/TimeRange.vue
  packages/component/component/datePicker/component/YearRange.vue
  packages/component/component/datePicker/component/common/InputBlock.vue
  packages/component/component/datePicker/component/common/Month.vue
  packages/component/component/datePicker/index.less
  packages/component/component/datePicker/index.vue
  packages/component/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix

docs: datePicker 文档初步润色
  docs/src/document/zh-CN/components/datePicker.md
Due: prettier --write

docs: update
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/datePicker/component/interface.ts
  packages/component/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: update
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/TimeRange.vue
  packages/component/component/datePicker/component/common/InputBlock.vue
  packages/component/component/datePicker/component/interface.ts
  packages/component/component/datePicker/index.less
  packages/component/component/datePicker/index.vue
  packages/component/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  docs/src/document/zh-CN/components/segmented.md
  docs/src/view/utils/menus.ts
  packages/component/component/segmented/index.less
  packages/component/component/segmented/index.vue
  packages/component/component/segmented/interfaces.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  packages/component/component/segmented/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: update
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/TimeRange.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: default-value
  docs/src/document/zh-CN/components/datePicker.md
Due: prettier --write

feat: add disabled-date prop
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/__tests__/yearPanel.test.tsx
  packages/component/component/datePicker/__tests__/yearmonth.test.tsx
  packages/component/component/datePicker/component/common/DateContent.vue
  packages/component/component/datePicker/component/common/InputBlock.vue
  packages/component/component/datePicker/component/common/Month.vue
  packages/component/component/datePicker/component/common/Time.vue
  packages/component/component/datePicker/component/common/Year.vue
  packages/component/component/datePicker/component/interface.ts
  packages/component/component/datePicker/hook/useDatePicker.ts
  packages/component/component/datePicker/index.vue
  packages/component/component/datePicker/interface.ts
  packages/json-schema-form/src/component/__tests__/form.test.tsx
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor(component/LayTree): 重构 Tree 组件
  packages/component/component/_components/render.ts
  packages/component/component/treeV2/TreeNode.vue
  packages/component/component/treeV2/__test__/hook.test.tsx
  packages/component/component/treeV2/index.hook.ts
  packages/component/component/treeV2/index.less
  packages/component/component/treeV2/index.ts
  packages/component/component/treeV2/index.vue
  packages/component/component/treeV2/interface.ts
Due: prettier --write --no-verify, eslint --fix

fix: input value check disabledDate/max/min
  packages/component/component/datePicker/__tests__/yearPanel.test.tsx
  packages/component/component/datePicker/component/common/InputBlock.vue
Due: prettier --write --no-verify, eslint --fix

docs: update
  docs/src/document/zh-CN/components/datePicker.md
Due: prettier --write

chore: update
  packages/layer/src/__tests__/layer.test.tsx
  packages/layer/src/component/Footer.vue
  packages/layer/src/component/Header.vue
  packages/layer/src/component/index.vue
  packages/layer/tsconfig.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  docs/src/document/zh-CN/components/layer.md
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: ts type
  packages/layer/src/component/Footer.vue
  packages/layer/src/component/Header.vue
Due: prettier --write --no-verify, eslint --fix

test: add more test
  packages/layer/src/__tests__/layer.test.tsx
Due: prettier --write --no-verify, eslint --fix

chore: 目录调整
  packages/layer/src/component/__tests__/layer.test.tsx
Due: prettier --write --no-verify, eslint --fix

docs: update
  docs/src/document/zh-CN/components/autoComplete.md
  docs/src/document/zh-CN/components/cascader.md
  docs/src/document/zh-CN/components/colorPicker.md
  docs/src/document/zh-CN/components/dropdown.md
  docs/src/document/zh-CN/components/iconPicker.md
  docs/src/document/zh-CN/components/select.md
  docs/src/document/zh-CN/components/treeSelect.md
Due: prettier --write

!403 fix(tooltip): arrow箭头位置异常 * fix(tooltip): arrow箭头位置异常
  packages/component/component/popper/utils.ts
Due: prettier --write --no-verify, eslint --fix

!408 fix(affix): 内部props类型名称修正：AiffxProps > AffixProps * 🐛 (affix)：单词拼写错误
  docs/src/document/zh-CN/components/affix.md
  packages/component/component/affix/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!409 feat(textArea): 新增autosize.minRow/autosize.maxRow用于设置高度 * chore: 去除多余泛型，去除 template 中 props * docs(component/LayTextarea): 增加 `rows` 和 `autosize` 互斥的说明 * chore(component/LayTextarea): 多项修复
  docs/src/document/zh-CN/components/textarea.md
  packages/component/component/textarea/__tests__/textarea.test.tsx
  packages/component/component/textarea/index.vue
  packages/component/component/textarea/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!410 fix(carousel): 延迟渲染CarouselItem导致无法无缝轮播 * test(component/LayCarousel): 增加测试用例 #IAP00B * fix(component/LayCarousel): 多项修复
  packages/component/component/carousel/__tests__/carousel.test.tsx
  packages/component/component/carousel/index.vue
Due: prettier --write --no-verify, eslint --fix

!411 fix(tree): show-line为false时展开最后一级报错 * fix(tree): show-line为false时展开最后一级报错
  packages/component/component/tree/TreeNode.vue
  packages/component/component/tree/__tests__/tree.test.tsx
Due: prettier --write --no-verify, eslint --fix

!415 fix(qrcode): 设置width/height未生效与图片未居中 * fix(qrcode): 设置width/height未生效与图片未居中
  packages/component/component/qrcode/index.vue
Due: prettier --write --no-verify, eslint --fix

!422 fix:(splitPanel): 垂直布局嵌套水平布局line方向错误 * chore: update * fix:(splitPanel): 垂直布局嵌套水平布局line方向错误
  packages/component/component/splitPanel/index.less
  packages/component/component/splitPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

!423 fix(table): 点击未设置sort列程序报错 * test: update * fix(table): 点击未设置sort列程序报错
  packages/component/component/table/__tests__/table.test.ts
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!424 fix(table): 切换default-expand-all属性标题与主体单元格为对齐 * fix(table): 切换default-expand-all属性标题与主体单元格为对齐
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!425 fix(table): 设置导出excel文件单元格为文本 * fix(table): 设置导出excel文件单元格为文本
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/carousel/index.vue
  packages/component/component/datePicker/__tests__/yearPanel.test.tsx
Due: prettier --write --no-verify, eslint --fix

chore: code update
  docs/src/document/zh-CN/components/timeSelect.md
  packages/component/component/timeSelect/index.vue
  packages/component/component/timeSelect/interfaces.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: code update
  docs/src/document/zh-CN/components/progress.md
  packages/component/component/progress/index.less
  packages/component/component/progress/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: typo
  docs/src/document/zh-CN/components/progress.md
Due: prettier --write

fix(timeSelect): import icon component
  packages/component/component/timeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: code update
  docs/src/document/zh-CN/components/iconPicker.md
  packages/component/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!419 feat(component/LayProgress): 进度支持分段和动画 * docs: typo * chore: code update * docs: 文档补充 * feat: layProgress 进度支持分段和动画
  docs/src/document/zh-CN/components/progress.md
  packages/component/component/progress/index.less
  packages/component/component/progress/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
