Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

fix: dayjs format modelValue error
  packages/component/component/datePickerV2/component/DatePicker.vue
  packages/component/component/datePickerV2/component/common/InputBlock.vue
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/util.ts
Due: prettier --write --no-verify, eslint --fix

feat: add datetime type
  packages/component/component/datePicker/index.vue
  packages/component/component/datePickerV2/component/DatePicker.vue
  packages/component/component/datePickerV2/component/common/Footer.vue
  packages/component/component/datePickerV2/index.less
Due: prettier --write --no-verify, eslint --fix

feat: add props defaultValue
  docs/src/document/zh-CN/components/datePicker.md
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add yearmonth/month range
  packages/component/component/datePickerV2/component/MonthRange.vue
  packages/component/component/datePickerV2/component/common/Date.vue
  packages/component/component/datePickerV2/component/common/InputBlock.vue
  packages/component/component/datePickerV2/component/common/Month.vue
  packages/component/component/datePickerV2/component/common/Year.vue
  packages/component/component/datePickerV2/component/interface.ts
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/index.less
  packages/component/component/datePickerV2/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: add year range
  packages/component/component/datePickerV2/component/YearRange.vue
  packages/component/component/datePickerV2/component/common/Year.vue
  packages/component/component/datePickerV2/hook/useDatePicker.ts
Due: prettier --write --no-verify, eslint --fix

docs: update
  docs/src/document/zh-CN/components/datePicker.md
Due: prettier --write

refactor: 重构并解耦 datePicker
  packages/component/component/_components/render.ts
  packages/component/component/datePickerV2/component/Picker.vue
  packages/component/component/datePickerV2/component/common/Header.vue
  packages/component/component/datePickerV2/component/common/InputBlock.vue
  packages/component/component/datePickerV2/component/common/Month.vue
  packages/component/component/datePickerV2/component/common/Range.vue
  packages/component/component/datePickerV2/component/common/Year.vue
  packages/component/component/datePickerV2/component/header/YearHeader.vue
  packages/component/component/datePickerV2/component/interface.ts
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/hook/useYearPanel.ts
  packages/component/component/datePickerV2/index.vue
  packages/component/component/datePickerV2/interface.ts
  packages/component/index.ts
Due: prettier --write --no-verify, eslint --fix

feat: yearmonth/month year change
  packages/component/component/datePickerV2/component/MonthRange.vue
  packages/component/component/datePickerV2/component/common/Month.vue
Due: prettier --write --no-verify, eslint --fix

fix: normal mode all type min/max error
  packages/component/component/datePickerV2/component/DatePicker.vue
  packages/component/component/datePickerV2/component/common/DateContent.vue
  packages/component/component/datePickerV2/component/common/Time.vue
Due: prettier --write --no-verify, eslint --fix

feat: add time range
  packages/component/component/datePickerV2/component/TimeRange.vue
  packages/component/component/datePickerV2/component/common/Time.vue
  packages/component/component/datePickerV2/hook/useDatePicker.ts
Due: prettier --write --no-verify, eslint --fix

feat: layProgress 进度支持分段和动画
  docs/src/document/zh-CN/components/progress.md
  packages/component/component/progress/index.less
  packages/component/component/progress/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 文档补充
  docs/src/document/zh-CN/components/progress.md
Due: prettier --write

feat(component/Layer): 支持服务调用时给 header 和 footer 传入 VNode
  packages/layer/src/component/Footer.vue
  packages/layer/src/component/Header.vue
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: 增加文档和代码修复
  docs/src/document/zh-CN/components/layer.md
  packages/layer/src/component/Footer.vue
  packages/layer/src/component/Header.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add date/datetime range
  packages/component/component/datePickerV2/component/DateRange.vue
  packages/component/component/datePickerV2/component/common/Date.vue
  packages/component/component/datePickerV2/component/common/DateContent.vue
  packages/component/component/datePickerV2/component/common/Time.vue
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/index.less
Due: prettier --write --no-verify, eslint --fix

feat: add focus/blur emit
  packages/component/component/datePickerV2/component/common/InputBlock.vue
  packages/component/component/datePickerV2/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: range模式hover input右侧input内部偏移
  packages/component/component/datePickerV2/index.less
Due: none

feat: update input and now btn handling min/max
  packages/component/component/datePickerV2/component/DatePicker.vue
  packages/component/component/datePickerV2/component/DateRange.vue
  packages/component/component/datePickerV2/component/MonthRange.vue
  packages/component/component/datePickerV2/component/TimeRange.vue
  packages/component/component/datePickerV2/component/YearRange.vue
  packages/component/component/datePickerV2/component/common/InputBlock.vue
  packages/component/component/datePickerV2/util.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/datePickerV2/component/DateRange.vue
  packages/component/component/datePickerV2/component/MonthRange.vue
  packages/component/component/datePickerV2/component/TimeRange.vue
  packages/component/component/datePickerV2/component/YearRange.vue
Due: prettier --write --no-verify, eslint --fix

feat: timestamp
  packages/component/component/datePickerV2/component/common/InputBlock.vue
  packages/component/component/datePickerV2/util.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/datePickerV2/component/common/InputBlock.vue
Due: prettier --write --no-verify, eslint --fix

fix:(splitPanel): 垂直布局嵌套水平布局line方向错误
  packages/component/component/splitPanel/index.less
  packages/component/component/splitPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/splitPanel/index.less
Due: none

fix(table): 点击未设置sort列程序报错
  packages/component/component/table/__tests__/table.test.ts
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

test: update
  packages/component/component/table/__tests__/table.test.ts
Due: prettier --write --no-verify, eslint --fix

fix(table): 切换default-expand-all属性标题与主体单元格为对齐
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(table): 设置导出excel文件单元格为文本
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: optimiza month range ui
  packages/component/component/datePickerV2/component/MonthRange.vue
Due: prettier --write --no-verify, eslint --fix

chore: optimiza month range disabled
  packages/component/component/datePickerV2/component/MonthRange.vue
  packages/component/component/datePickerV2/component/common/Month.vue
Due: prettier --write --no-verify, eslint --fix

chore: optimiza DateContent Type
  packages/component/component/datePickerV2/component/DateRange.vue
  packages/component/component/datePickerV2/component/common/Date.vue
  packages/component/component/datePickerV2/component/common/DateContent.vue
  packages/component/component/datePickerV2/component/interface.ts
  packages/component/component/datePickerV2/day.ts
Due: prettier --write --no-verify, eslint --fix

feat(component/iconPicker): 新增图标集，可自定义图标
  docs/src/document/zh-CN/components/iconPicker.md
  packages/component/component/iconPicker/index.vue
  packages/component/component/iconPicker/wrapper.vue
  packages/icons/src/iconfont/iconfont.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add Shortcuts
  packages/component/component/datePickerV2/component/DatePicker.vue
  packages/component/component/datePickerV2/component/DateRange.vue
  packages/component/component/datePickerV2/component/MonthRange.vue
  packages/component/component/datePickerV2/component/TimeRange.vue
  packages/component/component/datePickerV2/component/YearRange.vue
  packages/component/component/datePickerV2/component/common/Date.vue
  packages/component/component/datePickerV2/component/common/Month.vue
  packages/component/component/datePickerV2/component/common/Shortcuts.vue
  packages/component/component/datePickerV2/component/common/Time.vue
  packages/component/component/datePickerV2/component/common/Year.vue
  packages/component/component/datePickerV2/hook/useShortcutsRange.ts
  packages/component/component/datePickerV2/index.less
  packages/component/component/datePickerV2/interface.ts
Due: prettier --write --no-verify, eslint --fix

test: add year type
  packages/component/component/datePicker/components/YearPanel.vue
  packages/component/component/datePickerV2/__tests__/yearPanel.test.tsx
  packages/component/component/datePickerV2/component/DatePicker.vue
  packages/component/component/datePickerV2/component/common/Year.vue
  packages/component/component/datePickerV2/day.ts
  packages/component/component/datePickerV2/index.vue
  packages/component/component/datePickerV2/interface.ts
Due: prettier --write --no-verify, eslint --fix

chore: day.ts move to util.ts
  packages/component/component/datePickerV2/__tests__/yearPanel.test.tsx
  packages/component/component/datePickerV2/component/DateRange.vue
  packages/component/component/datePickerV2/component/common/Date.vue
  packages/component/component/datePickerV2/component/common/Year.vue
  packages/component/component/datePickerV2/day.ts
  packages/component/component/datePickerV2/util.ts
Due: prettier --write --no-verify, eslint --fix

fix: 单面板模式取消默认选中当前日期
  packages/component/component/datePickerV2/component/DatePicker.vue
  packages/component/component/datePickerV2/component/common/Date.vue
  packages/component/component/datePickerV2/component/common/DateContent.vue
  packages/component/component/datePickerV2/component/common/Footer.vue
  packages/component/component/datePickerV2/component/common/Month.vue
  packages/component/component/datePickerV2/component/common/Time.vue
  packages/component/component/datePickerV2/component/common/Year.vue
  packages/component/component/datePickerV2/component/interface.ts
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/index.less
  packages/component/component/datePickerV2/interface.ts
  packages/component/component/datePickerV2/util.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/datePickerV2/component/interface.ts
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/index.vue
  packages/component/component/datePickerV2/interface.ts
  packages/component/types/util.ts
Due: prettier --write --no-verify, eslint --fix

chore: code optimization
  packages/component/component/datePickerV2/__tests__/yearPanel.test.tsx
  packages/component/component/datePickerV2/component/DatePicker.vue
  packages/component/component/datePickerV2/component/DateRange.vue
  packages/component/component/datePickerV2/component/MonthRange.vue
  packages/component/component/datePickerV2/component/TimeRange.vue
  packages/component/component/datePickerV2/component/YearRange.vue
  packages/component/component/datePickerV2/component/common/InputBlock.vue
  packages/component/component/datePickerV2/component/common/Time.vue
  packages/component/component/datePickerV2/hook/useBaseDatePicker.ts
  packages/component/component/datePickerV2/hook/useDatePicker.ts
  packages/component/component/datePickerV2/hook/useShortcutsRange.ts
  packages/component/component/datePickerV2/index.vue
  packages/component/component/datePickerV2/interface.ts
  packages/component/component/datePickerV2/util.ts
  packages/component/utils/index.ts
  packages/component/utils/type.ts
  packages/component/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

test: add date type
  packages/component/component/datePicker/__tests__/datePicker.test.tsx
  packages/component/component/datePicker/__tests__/yearPanel.test.tsx
Due: prettier --write --no-verify, eslint --fix
