Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

📝: 补全自 layui-vue 1.5.0 更新以来的所有更新日志
  package/component/package.json
  package/component/src/component/menuItem/index.vue
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/component/src/component/subMenu/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/getStarted.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.9.6 版本
  package/component/package.json
Due: prettier --write

✨(component): 新增 layui-vue 安装的 options 选项 zIndex 配置，用于设置 layer 的 z-index 起始值
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复文档 footer 无法触底的问题
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 回退操作
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(layer): 移除不必要的导出对象
  package/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛(dropdown): 修复 dropdown 组件 disabled 属性响应式改变时引起的错误
  package/component/package.json
  package/component/src/component/dropdown/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 table 组件 default-expand-all 属性，使其具备响应式能力
  package/component/src/component/table/TableData.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.9.7-alpha.2 版本
  package/component/package.json
  package/component/src/component/table/TableData.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(date-picker): 新增时间范围选择器
  package/component/package.json
  package/component/src/component/datePicker/components/TimeRange.vue
  package/component/src/component/datePicker/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(datepicker): 改善时间范围选择器国际化兼容性
  package/component/package.json
  package/component/src/component/datePicker/components/TimeRange.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/language/locales/en_US.ts
  package/component/src/language/locales/zh_CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): 单元格宽度根据内容自适应
  package/component/src/component/table/index.vue
  package/component/src/component/table/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

✨(table): 补充TableColumn类型
  package/component/src/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

🐛(datepicker): 修复时间范围选择器无法解析默认值的问题
  package/component/src/component/datePicker/components/TimeRange.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/language/locales/en_US.ts
  package/component/src/language/locales/zh_CN.ts
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 移除调试代码
  package/component/src/component/datePicker/components/TimeRange.vue
  package/component/src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.9.7-alpha.4 版本
  package/component/package.json
Due: prettier --write

🐛(table): 修复单元格没有响应数据源和表格列情况下，宽度无法自动处理
  package/component/src/component/table/hooks/useAutoColsWidth.ts
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

update README.zh.md.
  README.zh.md
Due: prettier --write

🐛(table): 开启单元格宽度自适应时，设置最小响应宽度
  package/component/src/component/table/hooks/useAutoColsWidth.ts
Due: prettier --write --no-verify, eslint --fix

💄(table): 补充 useAutoColsWidth 注释
  package/component/src/component/table/TableData.vue
  package/component/src/component/table/hooks/useAutoColsWidth.ts
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(datepicker): 修复 datepicker 的 range 属性启用时，内容没有沾满实际宽度，从而导致诡异的后边距
  package/component/src/component/datePicker/index.less
  package/component/src/component/table/hooks/useAutoColsWidth.ts
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/components/textarea.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): 内置单元格宽度自适应功能，同时在复杂表头情况下也支持自适应
  package/component/src/component/table/hooks/useAutoColsWidth.ts
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(table): 文档补充关于列自适应示例说明
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

🐛(table): 恢复 autoColsWidth 属性，不做破坏性更新
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(upload): 新增 upload 组件 on-progress 上传过程回调，本质为 xhr.upload.onprogress 回调函数
  package/component/src/component/table/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/upload.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄(git): 清空本地缓存
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.9.8 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(package): 修复es打包时无用代码没被树摇，而造成产物过大的问题
  package/component/package.json
Due: prettier --write

✨(layer): 新增 moveOut 属性，是否可以将弹出层拖拽到可视范围外，默认为 false
  package/component/package.json
  package/layer/src/component/index.vue
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(layer): 新增 moveEnd 回调函数，在拖拽结束时触发
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/index.vue
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 layer 组件 moveStart 回调函数
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/component/index.vue
  package/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 @layui/layui-vue-1.10.0-alpha.1 版本
  package.json
  package/component/package.json
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/composable/useDragable.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(form): 新增 pane 属性，增加表单面板风格适配
  package.json
  package/component/src/component/datePicker/index.less
  package/component/src/component/form/index.less
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.vue
  package/component/src/types/form.ts
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修复 transfer 组件处于 search 状态时，未被过滤选中的数据会被移回左侧的问题
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.vue
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 index.vue 文档首页
  package/component/package.json
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新 button + dropdown 实现下拉按钮案例
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write

✨(layer): 发布 layer-vue 1.8.0 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/components/msg.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  package/layer/src/theme/iconfont.css
  package/layer/src/theme/iconfont.js
  package/layer/src/theme/iconfont.json
  package/layer/src/theme/iconfont.ttf
  package/layer/src/theme/iconfont.woff
  package/layer/src/theme/iconfont.woff2
  package/layer/src/theme/index.css
  package/layer/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(menu): 修正 indent 属性描述错误
  package/document-component/src/document/zh-CN/components/menu.md
  package/layer/src/theme/iconfont.json
Due: prettier --write

📝(layer): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write
