Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

feat(layui-vue): release v2.19.2
  docs/src/document/zh-CN/guide/changelog.md
  packages/layui/package.json
Due: prettier --write

fix(form): 单个form-item必填未触发表单校验回调
  packages/component/component/form/__tests__/form.test.tsx
  packages/component/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(timeSelect): 补充select props默认值
  docs/src/assets/css/index.css
  docs/src/document/zh-CN/components/timeSelect.md
  packages/component/component/timeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: format
  docs/src/document/zh-CN/components/timeSelect.md
Due: prettier --write

fix(component/LayTimeSelect): 修复对slot的支持
  packages/component/component/timeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(component/LayTreeSelect): 支持设置 tailNodeIcon 和自定义 slot
  packages/component/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: changelog suffix miss
  docs/src/document/zh-CN/guide/changelog.md
Due: prettier --write

feat(component/LayFormItem): 支持表单全局校验时单独关闭表单项的校验
  packages/component/component/formItem/index.hooks.ts
  packages/component/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

update README.zh.md.
  README.zh.md
Due: prettier --write

fix(popconfirm): 点击确认/取消按钮无法关闭弹窗
  docs/src/document/zh-CN/components/dropdown.md
  docs/src/document/zh-CN/components/popconfirm.md
  docs/src/document/zh-CN/components/tooltip.md
  packages/component/component/popconfirm/__tests__/popconfirm.test.tsx
  packages/component/component/popconfirm/index.vue
  packages/component/component/popper/component/content.vue
  packages/component/component/tooltip/index.vue
  packages/component/component/tooltip/types.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(cascader): options未深度监听变化
  packages/component/component/cascader/__tests__/cascader.test.tsx
  packages/component/component/cascaderPanel/index.hook.ts
Due: prettier --write --no-verify, eslint --fix

feat(datePicker): 开启simple/range后点击快捷选项无需确认
  packages/component/component/datePicker/__tests__/datePicker-range.test.tsx
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/MonthRange.vue
  packages/component/component/datePicker/component/TimeRange.vue
  packages/component/component/datePicker/component/YearRange.vue
Due: prettier --write --no-verify, eslint --fix

fix(table): 初始化赋值expandKeys错误
  packages/component/component/table/__tests__/table.test.ts
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(subMenuPopup): dropdown extra class props
  packages/component/component/subMenu/SubMenuPopup.vue
Due: prettier --write --no-verify, eslint --fix

test: 补充tests
  packages/component/component/select/__tests__/select.test.tsx
Due: prettier --write --no-verify, eslint --fix

fix(table): column设置hide，expand展开内容错位
  packages/component/component/table/TableData.vue
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(tagInput): 初始化inputValue未反填至输入框
  packages/component/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

test: update
  packages/component/component/tagInput/__tests__/tagInput.test.tsx
Due: prettier --write --no-verify, eslint --fix

fix(layer): closeAll关闭notify，二次打开存在异常
  packages/layer/src/component/__tests__/layer.test.tsx
  packages/layer/src/component/index.vue
  packages/layer/src/index.ts
  packages/layer/src/utils/layer.ts
Due: prettier --write --no-verify, eslint --fix

!439 fix(component/LayTagInput): 修复标签输入框在开启检索时，无法通过鼠标关闭标签的问题 * test: 补充tests * fix(component/LayTagInput): 修复标签输入框在开启检索时，无法通过鼠标关闭标签的问题
  packages/component/component/select/__tests__/select.test.tsx
  packages/component/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

!440 fix(form): 单个form-item必填未触发表单校验回调 * fix(form): 单个form-item必填未触发表单校验回调
  packages/component/component/form/__tests__/form.test.tsx
  packages/component/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

!441 fix(timeSelect): 补充select props默认值 * fix(component/LayTimeSelect): 修复对slot的支持 * docs: format * fix(timeSelect): 补充select props默认值
  docs/src/assets/css/index.css
  docs/src/document/zh-CN/components/timeSelect.md
  packages/component/component/timeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!442 fix(popconfirm): 点击确认/取消按钮无法关闭弹窗 * fix(popconfirm): 点击确认/取消按钮无法关闭弹窗
  docs/src/document/zh-CN/components/dropdown.md
  docs/src/document/zh-CN/components/popconfirm.md
  docs/src/document/zh-CN/components/tooltip.md
  packages/component/component/popconfirm/__tests__/popconfirm.test.tsx
  packages/component/component/popconfirm/index.vue
  packages/component/component/popper/component/content.vue
  packages/component/component/tooltip/index.vue
  packages/component/component/tooltip/types.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!443 fix(cascader): options未深度监听变化 * fix(cascader): options未深度监听变化
  packages/component/component/cascader/__tests__/cascader.test.tsx
  packages/component/component/cascaderPanel/index.hook.ts
Due: prettier --write --no-verify, eslint --fix

!444 feat(datePicker): 开启simple/range后点击快捷选项无需确认 * feat(datePicker): 开启simple/range后点击快捷选项无需确认
  packages/component/component/datePicker/__tests__/datePicker-range.test.tsx
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/MonthRange.vue
  packages/component/component/datePicker/component/TimeRange.vue
  packages/component/component/datePicker/component/YearRange.vue
Due: prettier --write --no-verify, eslint --fix

!445 fix(table): 初始化赋值expandKeys错误 * fix(table): 初始化赋值expandKeys错误
  packages/component/component/table/__tests__/table.test.ts
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!446 fix(table): column设置hide，expand展开内容错位 * fix(table): column设置hide，expand展开内容错位
  packages/component/component/table/TableData.vue
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!447 fix(tagInput): 初始化inputValue未反填至输入框 * test: update * fix(tagInput): 初始化inputValue未反填至输入框
  packages/component/component/tagInput/__tests__/tagInput.test.tsx
  packages/component/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

!448 fix(layer): closeAll关闭notify，二次打开存在异常 * fix(layer): closeAll关闭notify，二次打开存在异常
  packages/layer/src/component/__tests__/layer.test.tsx
  packages/layer/src/component/index.vue
  packages/layer/src/index.ts
  packages/layer/src/utils/layer.ts
Due: prettier --write --no-verify, eslint --fix

fix(cascader): 开启multiple，输入框未初始modelValue值
  packages/component/component/cascader/__tests__/cascader.test.tsx
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

!449 fix(cascader): 开启multiple，输入框未初始modelValue值 * chore: update * fix(cascader): 开启multiple，输入框未初始modelValue值
  packages/component/component/cascader/__tests__/cascader.test.tsx
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(layer): release v2.4.5
  packages/layer/package.json
Due: prettier --write

feat(layui-vue): release v2.19.3
  docs/src/document/zh-CN/components/jsonSchemaForm.md
  docs/src/document/zh-CN/guide/changelog.md
  docs/src/utils/code-stackblitz.ts
  docs/src/view/index.vue
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(form): validate forin to forof formItem
  packages/component/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix

style: dropdown/tooltip import popper style
  packages/component/component/dropdown/index.less
  packages/component/component/tooltip/index.less
Due: none

fix(layer): 拖拽至iframe区域防止mousemove事件被中断
  packages/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix

feat(cascader): add defineExpose selectLabel
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascader/__tests__/cascader.test.tsx
  packages/component/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(layer): 清除创建不同类型layer函数多余参数
  docs/src/document/zh-CN/components/layer.md
  packages/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(datePicker): 日期范围类型，月份禁止异常
  packages/component/component/datePicker/__tests__/datePicker-range.test.tsx
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/common/Month.vue
Due: prettier --write --no-verify, eslint --fix

refactor: minor rewrite fixed
  packages/component/component/table/hooks/useNextTable.ts
  packages/component/component/table/hooks/useTableColumns.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
