Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 调整 tag-input 默认宽度
  package/component/src/component/tagInput/index.less
  package/document-component/src/document/zh-CN/components/tagInput.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 新增 table 组件 header 插槽
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

update package/component/src/component/layout/index.vue. 修复如果只引入了Footer组件，layui-layout-vertical样式不会生效，而导致布局错位的问题
  package/component/src/component/layout/index.vue
Due: prettier --write --no-verify, eslint --fix

♻️(component): 初步完成 select 组件重构
  package/component/script/build.es.ts
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/component/src/component/table/index.vue
  package/component/src/component/tag/index.vue
  package/component/src/component/tagInput/index.vue
  package/component/src/utils/arrayUtil.ts
  package/component/src/utils/index.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 完成 select 组件, 新增 tag-input 组件 disabled-input 属性
  package/component/script/build.es.ts
  package/component/src/component/dropdown/index.vue
  package/component/src/component/layout/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/component/src/component/tagInput/index.vue
  package/component/src/utils/arrayUtil.ts
  package/component/src/utils/index.ts
  package/document-component/src/document/zh-CN/components/dropdown.md
  package/document-component/src/document/zh-CN/components/tagInput.md
  package/icons/src/icons/TreadIcon.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/input/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/component/src/component/tagInput/index.less
  package/component/src/component/tagInput/index.vue
  package/document-component/src/document/zh-CN/components/tagInput.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/component/src/component/tagInput/index.vue
  package/document-component/src/document/zh-CN/components/tagInput.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 补充 tagInput 文档
  package/component/src/component/tagInput/index.vue
  package/document-component/src/document/zh-CN/components/tagInput.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): [tagInput]width 修改为 100%
  package/component/src/component/select/index.less
  package/component/src/component/tagInput/index.less
  package/document-component/src/document/zh-CN/components/tagInput.md
Due: prettier --write

🐛(component): [tagInput]: tagProps omit 参数类型错误
  package/component/src/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/component/src/component/tagInput/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update select
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 page 组件 limit 逻辑
  package/component/src/component/page/index.vue
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 select 组件外部修改 modelValue 值时, option 不选中的问题
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 增加avatar组件插槽,支持图标和文本方式
  package/component/src/component/avatar/index.vue
  package/component/src/component/avatarList/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 合并 github Pull Request
  package/component/src/component/avatar/index.vue
  package/component/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

💄(component): update
  package/component/src/utils/arrayUtil.ts
  package/component/src/utils/domUtil.ts
  package/component/src/utils/index.ts
  package/component/src/utils/withInstall.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/utils/arrayUtil.ts
  package/component/src/utils/domUtil.ts
  package/component/src/utils/index.ts
  package/component/src/utils/withInstall.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): [tagInput]modelValue 添加 tagData[] 类型
  package/component/src/component/select/index.less
  package/component/src/component/tagInput/index.less
  package/component/src/component/tagInput/index.vue
  package/document-component/src/document/zh-CN/components/tagInput.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复avatar组件样式错乱
  package/component/src/component/avatar/index.less
  package/document-component/src/components/LayContributor.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): [tagInput]添加事件
  package/component/src/component/tagInput/index.vue
  package/document-component/src/document/zh-CN/components/tagInput.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): select 借助 tag-input 的 tagData 完成多选回显
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新日志
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 icon-picker 组件 show-search 属性开启时, 无法搜索的问题
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/iconPicker.md
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 实现 select 组件单选多选禁用
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/icon.md
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 完善 select 组件的清空操作
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/input/index.less
  package/component/src/component/input/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/tagInput/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 select 组件 searchPlaceholder 属性
  package/component/src/component/input/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): notice-bar 组件切换页面后, NodeJS.Timeout 定时器不清除的问题
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/noticeBar/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component):
  package/component/package.json
  package/component/script/build.es.ts
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化文档体验
  package/component/package.json
  package/component/script/build.es.ts
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/icon.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/component/src/component/select/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.5.0 版本
  package/component/package.json
Due: prettier --write

✨(component): 新增 avatar 组件 default 插槽与 icon 属性, 支持文字与图标头像
  package/component/src/component/avatar/index.less
  package/component/src/component/avatar/index.vue
  package/document-component/src/document/zh-CN/components/avatar.md
  package/document-component/src/layouts/Layout.vue
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

✨: update
  package/document-component/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/avatar/index.vue
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/layouts/Layout.vue
  package/document-component/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
