Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): 调整更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 option 的 value 等于 0 或者 false 时，清空图标偏移的问题
  package/component/package.json
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 tree-select 组件 v-model 为 0 时，allow-clear 操作偏移的问题
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🌀(component): 优化 date-picker 组件时间选择器，隐藏时分秒列表滚动条
  package/component/src/component/datePicker/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复横向滚动条 min max 不可用的问题，优化滑动流畅度
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/Vertical.vue
  package/component/src/component/slider/VerticalRange.vue
  package/component/src/component/slider/utils/index.ts
  package/document-component/src/document/zh-CN/components/slider.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复滑块组件纵向模式 max min 属性不生效的问题
  package/component/src/component/slider/Standard.vue
  package/component/src/component/slider/Vertical.vue
  package/document-component/src/document/zh-CN/components/slider.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 slider 组件 max min 属性导致拖拽逻辑错乱的问题
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/Vertical.vue
  package/component/src/component/slider/VerticalRange.vue
  package/document-component/src/document/zh-CN/components/slider.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/slider/StandardRange.vue
  package/component/src/component/slider/VerticalRange.vue
  package/document-component/src/document/zh-CN/components/slider.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 form 组件 rules 属性类型警告，调整 Rule 为 Rules 类型
  package/component/package.json
  package/component/src/component/form/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 优化 page 组件 modelValue 与 change 执行顺序
  package/component/package.json
  package/component/src/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.3.16-alpha.2 版本
  package/component/package.json
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/components/MonthRange.vue
  package/component/src/component/datePicker/components/PanelFoot.vue
  package/component/src/component/datePicker/components/TimeRange.vue
  package/component/src/component/page/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 empty 组件采用 flex 布局，保证内容居中自适应
  package/component/src/component/datePicker/components/DateRange.vue
  package/component/src/component/datePicker/components/MonthRange.vue
  package/component/src/component/datePicker/components/PanelFoot.vue
  package/component/src/component/datePicker/components/TimeRange.vue
  package/component/src/component/empty/index.less
  package/component/src/component/input/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 优化 popconfirm 组件 content 插槽存在时 content 为非必填
  package/component/src/component/popconfirm/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修复 treeSelect 组件 multiple 为 true 时 placeholder 属性无效的问题
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.3.17 版本
  package/component/package.json
Due: prettier --write

✨(component): 优化 select 组件 change 事件回调类型
  package/component/package.json
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 table 组件 selectedKeys 与 selectedKey 属性 dataSource 变化时不再主动清空
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.3.18 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 menu 组件第一级菜单在折叠后 to 属性失效的问题
  package/component/package.json
  package/component/src/component/menuItem/index.vue
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 date-picker 组件 range 组件样式
  package/component/src/component/datePicker/index.less
  package/component/src/component/menuItem/index.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 date-picker 组件 showNow 必填的控制台警告
  package/component/src/component/datePicker/components/PanelFoot.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 tree-select 组件 multiple 属性启用时, 点击节点发生控制台异常
  package/component/src/component/tree/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.3.19 版本
  package/component/package.json
Due: prettier --write

✨(component): 发布 2.3.19 版本
  package/component/src/component/tree/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 layer-vue 1.9.2 支持宽度自适应
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/CloseBtn.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 layer 组件 animDuration 属性
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 2.3.20 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 table 组件某些情况下，表头与列错位的问题
  package/component/package.json
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增 loading 组件
  package/component/src/component/loading/index.less
  package/component/src/component/loading/index.vue
  package/component/src/component/loading/loading-0.svg
  package/component/src/component/loading/loading-1.svg
  package/component/src/component/loading/loading-2.svg
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/loading.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/src/component/loading/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/loading.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新文档
  package/document-component/src/document/zh-CN/components/layer.md
  package/document-component/src/document/zh-CN/components/loading.md
Due: prettier --write

📝(component): 更新 loading 文档
  package/document-component/src/document/zh-CN/components/loading.md
Due: prettier --write

🐛(component): 修复 input 组件 type 为 number 时 allow-clear 属性无效的问题
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write
