Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

✨: 发布 1.1.0 版本
  package/component/package.json
  package/document/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write

✨: 发布 1.1.0 版本
  package/component/src/component/checkbox/index.vue
  package/component/src/component/input/index.vue
  package/component/src/component/page/index.vue
  package/component/src/provider/index.vue
  package/document/components.d.ts
  package/document/src/auto-imports.d.ts
Due: prettier --write --no-verify, eslint --fix

🐛(table): 修复 size 属性 sm 与 lg 样式
  package/component/src/component/table/index.less
Due: none

⏪: 删除 resolver 内置按需解析器
  package/component/src/index.ts
  package/component/src/resolver/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛: 升级 vueuse/core 8.5.0
  package/component/package.json
  pnpm-lock.yaml
Due: prettier --write

📝: 更新日志
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨: 升级 vite 2.9.9
  package.json
  package/component/package.json
  pnpm-lock.yaml
Due: prettier --write

✨: 升级 vue-i18n 9.1.10
  package/component/package.json
  pnpm-lock.yaml
Due: prettier --write

✨: 升级 async-validator 4.1.1
  package/component/package.json
Due: prettier --write

✨: 发布 1.1.1-alpha.2
  package/component/package.json
  pnpm-lock.yaml
Due: prettier --write

✨(component): 评分组件增加清除功能
  package/component/src/component/rate/index.less
  package/component/src/component/rate/index.vue
  package/document/src/document/zh-CN/components/rate.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新日志
  package/component/package.json
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): table
  package/component/src/component/rate/index.vue
  package/document/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新文档
  package.json
  package/document/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write

📝: 发布 1.1.1 版本
  package/component/package.json
  package/icons/package.json
  package/layer/package.json
Due: prettier --write

⚡️: 升级 layer-vue 与 icons-vue
  package/component/package.json
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🔧: 增加 commitlint 可选项
  .cz-config.js
Due: prettier --write --no-verify, eslint --fix

🐛: 修复 date-picker 无法解析的问题
  package/component/src/component/datePicker/index.vue
  package/document/package.json
  package/document/src/main.ts
  package/document/vite.config.demand.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: 发布 1.1.2 版本
  package/component/package.json
  package/component/src/component/datePicker/index.vue
  package/document/src/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌶 update README.zh.md.
  README.zh.md
Due: prettier --write

📝 update README.zh.md.
  README.zh.md
Due: prettier --write

✨(all): update
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdownMenu/index.vue
  package/component/src/component/empty/interface.ts
  package/component/src/component/footer/index.ts
  package/component/src/component/formItem/index.vue
  package/component/src/component/fullscreen/index.ts
  package/component/src/component/header/index.ts
  package/component/src/component/header/index.vue
  package/component/src/component/icon/index.less
  package/component/src/component/iconPicker/index.less
  package/component/src/component/iconPicker/index.ts
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/iconPicker/interface.ts
  package/component/src/component/input/index.less
  package/component/src/component/input/index.ts
  package/component/src/component/input/index.vue
  package/component/src/component/input/interface.ts
  package/component/src/component/inputNumber/index.vue
  package/component/src/component/inputNumber/interface.ts
  package/component/src/component/layout/index.vue
  package/component/tsconfig.json
  package/document/src/components/LayCode.vue
  package/document/src/components/LayTableBox.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): update
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdownMenu/index.vue
  package/component/src/component/footer/index.ts
  package/component/src/component/formItem/index.vue
  package/component/src/component/fullscreen/index.ts
  package/component/src/component/header/index.ts
  package/component/src/component/header/index.vue
  package/component/src/component/iconPicker/index.ts
  package/component/src/component/input/index.ts
  package/component/src/component/input/index.vue
  package/component/src/component/layout/index.vue
  package/document/src/components/LayCode.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): tooltip,table
  package/component/src/component/popper/index.vue
  package/component/src/component/table/index.vue
  package/component/src/component/tooltip/index.less
  package/component/src/component/tooltip/index.vue
  package/document/src/document/zh-CN/components/table.md
  package/document/src/document/zh-CN/components/tooltip.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧(typescript): 新增 jsx 配置 preserve 选项
  package/document/tsconfig.json
  package/icons/tsconfig.json
  package/layer/tsconfig.json
Due: prettier --write

📝: update README.md
  README.md
Due: prettier --write

⬆️: 升级 typescript 4.6.4
  package.json
Due: prettier --write

🔧: 修改 eslintrc.js 配置
  .eslintrc.js
Due: prettier --write --no-verify, eslint --fix

✨(all): update
  package/component/src/component/tab/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

新增手风琴案例
  package/document/src/document/zh-CN/components/menu.md
Due: prettier --write

⏪: 删除提交的手风琴案例
  package/component/src/component/avatar/interface.ts
  package/component/src/component/col/interface.ts
  package/component/src/component/iconPicker/index.less
  package/component/src/component/tab/index.vue
  package/document/src/App.vue
  package/document/src/document/zh-CN/components/menu.md
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): update
  package/component/src/component/avatar/index.less
  package/component/src/component/avatar/index.vue
  package/document/src/App.vue
  package/document/src/document/zh-CN/components/avatar.md
  package/document/src/document/zh-CN/components/menu.md
  package/document/src/document/zh-CN/components/select.md
  package/document/src/document/zh-CN/components/timeline.md
  package/document/src/document/zh-CN/components/upload.md
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(tree): update
  package/component/src/component/avatar/index.vue
  package/document/src/document/zh-CN/components/tree.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): update
  package/component/src/component/countUp/interface.ts
  package/component/src/component/exception/interface.ts
  package/component/src/component/layout/interface.ts
  package/component/src/component/menu/interface.ts
  package/component/src/component/progress/interface.ts
  package/component/src/component/result/interface.ts
  package/component/src/component/select/interface.ts
  package/component/src/component/side/interface.ts
  package/component/src/component/skeleton/interface.ts
  package/component/src/component/skeletonItem/interface.ts
  package/component/src/component/splitPanel/interface.ts
  package/component/src/component/splitPanelItem/interface.ts
  package/component/src/component/step/interface.ts
  package/component/src/component/stepItem/interface.ts
  package/component/src/component/subMenu/interface.ts
  package/component/src/component/switch/interface.ts
  package/component/src/component/tab/interface.ts
  package/component/src/component/tabItem/interface.ts
  package/component/src/component/table/index.vue
  package/component/src/component/table/interface.ts
Due: prettier --write --no-verify, eslint --fix

⚡️(icon-picker): update
  package/component/src/component/container/interface.ts
  package/component/src/component/empty/index.vue
  package/component/src/component/field/index.vue
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(radio-group): 新增 radio-group 单选按钮组
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/radio/index.vue
  package/component/src/component/radioGroup/index.ts
  package/component/src/component/radioGroup/index.vue
  package/component/src/component/select/index.vue
  package/component/src/index.ts
  package/document/src/document/zh-CN/components/noticeBar.md
  package/document/src/document/zh-CN/components/radio.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
