Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

fix: 修复 carousel-item 无法嵌套 v-for 渲染
  example/docs/zh-CN/components/carousel.md
  example/docs/zh-CN/guide/changelog.md
  src/component/carousel/index.less
  src/component/carousel/index.ts
  src/component/carousel/index.vue
  src/component/carouselItem/index.vue
  src/component/tab/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update
  example/docs/zh-CN/components/datePicker.md
  example/docs/zh-CN/components/noticeBar.md
  example/docs/zh-CN/guide/changelog.md
  example/src/view/index.vue
  package.json
  src/component/carousel/index.ts
  src/component/carousel/index.vue
  src/component/carouselItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update
  example/docs/zh-CN/components/iconPicker.md
  example/docs/zh-CN/components/table.md
  src/component/carouselItem/index.vue
  src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update
  example/src/view/material.vue
  src/component/carouselItem/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: 拆分 dropdown 为 dropdown 与 dropdown-menu
  example/docs/zh-CN/components/dropdown.md
  example/docs/zh-CN/components/select.md
  example/docs/zh-CN/guide/changelog.md
  src/component/dropdown/index.less
  src/component/dropdown/index.vue
  src/component/dropdownMenu/index.ts
  src/component/dropdownMenu/index.vue
  src/component/dropdownMenuItem/index.less
  src/component/dropdownMenuItem/index.ts
  src/component/dropdownMenuItem/index.vue
  src/component/iconPicker/index.vue
  src/component/select/index.vue
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 transition 组件
  example/docs/zh-CN/components/transition.md
  example/docs/zh-CN/guide/changelog.md
  example/src/router/zh-CN.ts
  example/src/view/utils/menus.ts
  package.json
  src/component/dropdown/index.less
  src/component/dropdown/index.vue
  src/component/dropdownMenu/index.vue
  src/component/select/index.vue
  src/component/transition/index.ts
  src/component/transition/index.vue
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

style: update
  src/component/dropdown/index.less
  src/component/transition/index.ts
  src/index.ts
Due: prettier --write --no-verify, eslint --fix

fix: transition collapse 动画根元素无法设置内边距
  example/docs/zh-CN/components/transition.md
  src/component/collapseItem/index.less
  src/component/collapseItem/index.vue
  src/component/transition/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update
  example/docs/zh-CN/guide/changelog.md
  src/component/collapseItem/index.vue
  src/component/transition/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: icon-picker width
  package.json
  src/component/iconPicker/index.less
Due: prettier --write

fix: 解决表单错误提示没有间距的问题(#I4UNSR)
  src/component/formItem/index.less
  src/theme/index.less
Due: none

feat: publish 0.4.0
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/components/datePicker.md
  example/docs/zh-CN/guide/changelog.md
  example/index.html
  package.json
  src/component/collapseItem/index.vue
  src/component/datePicker/index.vue
  src/component/transition/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: publish 0.4.0
  src/component/datePicker/index.vue
  src/component/transition/index.vue
Due: prettier --write --no-verify, eslint --fix

update src/component/noticeBar/index.vue.
  src/component/noticeBar/index.vue
Due: prettier --write --no-verify, eslint --fix

style: 修改 通告栏 代码
  example/docs/zh-CN/components/noticeBar.md
  src/component/noticeBar/index.vue
  src/component/skeleton/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 transition 组件 type 属性, 默认为 collapse
  example/docs/zh-CN/components/transition.md
  src/component/transition/collapseTransition.vue
  src/component/transition/fadeTransition.vue
  src/component/transition/index.vue
  src/component/tree/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新日志
  example/docs/zh-CN/guide/changelog.md
  src/component/transition/fadeTransition.vue
  src/component/transition/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 transition 组件 type 属性 fade 值, 提供淡入淡出效果
  example/docs/zh-CN/guide/changelog.md
  src/component/transition/fadeTransition.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add input suffix prefix slot
  example/docs/zh-CN/components/input.md
  example/docs/zh-CN/guide/changelog.md
  src/component/input/index.less
  src/component/input/index.vue
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add input allow-clear props
  example/docs/zh-CN/components/input.md
  example/docs/zh-CN/guide/changelog.md
  src/component/input/index.less
  src/component/input/index.vue
  src/component/transition/index.vue
  src/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: input-number style
  package.json
  src/component/input/index.vue
  src/component/inputNumber/index.less
  src/component/inputNumber/index.vue
  src/component/transition/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: button 样式 primary 与 default
  example/docs/zh-CN/components/button.md
  example/src/layouts/Layout.vue
  src/component/button/index.less
  src/component/table/index.vue
  src/theme/public.less
  src/theme/variable.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: button group style
  package.json
  src/component/buttonGroup/index.less
  src/component/carousel/index.less
  src/component/carousel/index.vue
  src/component/carouselItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add switch onswitch-icon and unswitch-icon slot
  example/docs/zh-CN/components/switch.md
  example/docs/zh-CN/components/transfer.md
  example/docs/zh-CN/guide/changelog.md
  example/src/assets/css/code.css
  src/component/carousel/index.vue
  src/component/carouselItem/index.vue
  src/component/inputNumber/index.vue
  src/component/switch/index.less
  src/component/switch/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: transition 新增 enable 属性, 用于开启关闭过渡
  src/component/switch/index.vue
  src/component/transition/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(tree): add transition
  example/docs/zh-CN/components/tree.md
  src/component/tree/TreeNode.vue
  src/component/tree/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: collapse 动画警告
  example/docs/zh-CN/guide/changelog.md
  src/component/collapse/index.vue
  src/component/transition/collapseTransition.vue
  src/component/transition/index.vue
  src/component/tree/TreeNode.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 回退 tree 代码
  src/component/collapse/index.vue
  src/component/transition/index.vue
  src/component/tree/TreeNode.vue
Due: prettier --write --no-verify, eslint --fix

fix(switch): 修复图标插槽偏移
  src/component/switch/index.less
Due: none

docs(tree): update tree docs
  example/docs/zh-CN/components/tree.md
Due: prettier --write

feat: collapse 新增 isAmin 属性, 是否启用折叠动画
  example/docs/zh-CN/components/collapse.md
  example/docs/zh-CN/guide/changelog.md
  src/component/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: switch slot
  src/component/collapseItem/index.vue
  src/component/switch/index.less
Due: prettier --write --no-verify, eslint --fix

chore(tree): rename tree props `accordion` to `collapse-transition`
  example/docs/zh-CN/components/tree.md
  src/component/tree/TreeNode.vue
  src/component/tree/index.vue
  src/component/tree/tree.type.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 menu 组件 collapseTransition 属性
  example/docs/zh-CN/components/collapse.md
  example/docs/zh-CN/guide/changelog.md
  src/component/collapse/index.vue
  src/component/collapseItem/index.vue
  src/component/menu/index.less
  src/component/menu/index.vue
  src/component/subMenu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 menu 组件 collapseTransition 属性
  src/component/collapseItem/index.vue
  src/component/menu/index.vue
  src/component/subMenu/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(docs): fullscreen 文档样式
  example/docs/zh-CN/components/fullscreen.md
Due: prettier --write

chore: 升级 vue-i18n 依赖
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  package.json
  src/component/subMenu/index.vue
  src/language/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 0.4.1
  example/docs/zh-CN/components/collapse.md
  example/docs/zh-CN/components/menu.md
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  package.json
  src/component/subMenu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 优化 switch 组件
  example/docs/zh-CN/guide/changelog.md
  example/src/assets/dark.svg
  example/src/assets/light.svg
  example/src/layouts/Layout.vue
  src/component/switch/index.less
  src/component/switch/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write
