Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

🐛(component): 🐛(component): 修复轮播组件由于getStyle Computed在编译之后造成的错误
  package/component/src/component/carouselItem/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(all): 发布 1.2.1
  package/component/package.json
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): [dropdown]添加 visible,clickToClose,blueToClose 属性; hover 延时
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/interface.ts
  package/document/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(DocPlugin): usePlayGround 自动格式化 CSS 语句
  package/document/src/plugin/usePlayground.ts
Due: prettier --write --no-verify, eslint --fix

♻️(plugin): 重命名 document plugin, 移动 usePlayground 到 composable
  package/document/src/components/LayCode.vue
  package/document/src/composable/usePlayground.ts
  package/document/src/plugin/all-plugins.ts
  package/document/src/plugin/create-anchor.ts
  package/document/src/plugin/create-contributor.ts
  package/document/src/plugin/create-demo.ts
  package/document/src/plugin/create-describe.ts
  package/document/src/plugin/create-previous-next.ts
  package/document/src/plugin/create-quote.ts
  package/document/src/plugin/create-table.ts
  package/document/src/plugin/create-title.ts
  package/document/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

♻️(plugin): 重命名 document plugin, 移动 usePlayground 到 composable
  package/document/src/plugin/all-plugins.ts
  package/document/src/plugin/create-anchor.ts
  package/document/src/plugin/create-contributor.ts
  package/document/src/plugin/create-describe.ts
  package/document/src/plugin/create-previous-next.ts
  package/document/src/plugin/create-quote.ts
  package/document/src/plugin/create-table.ts
  package/document/src/plugin/create-title.ts
Due: prettier --write --no-verify, eslint --fix

🐛(layer): 修改 入口文件 为 构建产物
  package/component/src/index.ts
Due: prettier --write --no-verify, eslint --fix

💄: 格式化代码
  package/component/src/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix

✨: 将layer document整合到package
  package/layer-document/App.vue
  package/layer-document/docs/.keep
  package/layer-document/docs/zh-CN/index.md
  package/layer-document/entry-client.ts
  package/layer-document/entry-server.ts
  package/layer-document/index.html
  package/layer-document/main.ts
  package/layer-document/package.json
  package/layer-document/public/favicon.ico
  package/layer-document/src/assets/css/code.css
  package/layer-document/src/assets/css/index.css
  package/layer-document/src/assets/logo.jpg
  package/layer-document/src/assets/logo.png
  package/layer-document/src/components/Children1.vue
  package/layer-document/src/components/Children2.vue
  package/layer-document/src/components/LayCode.vue
  package/layer-document/src/layouts/Layout.vue
  package/layer-document/src/plugin/common-plugins.ts
  package/layer-document/src/plugin/demo.ts
  package/layer-document/src/plugin/highlight.ts
  package/layer-document/src/plugin/pre-wrapper.ts
  package/layer-document/src/plugin/snippet.ts
  package/layer-document/src/router/index.ts
  package/layer-document/src/router/zh-CN.ts
  package/layer-document/vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 补充 dropdown 文档
  package/component/src/component/dropdown/index.vue
  package/document/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: chore: scripts 添加 dev:layer
  package.json
Due: prettier --write

🌀: fix linter
  package/component/src/component/dropdown/index.vue
  package/layer-document/App.vue
  package/layer-document/entry-client.ts
  package/layer-document/main.ts
  package/layer-document/src/components/Children1.vue
  package/layer-document/src/components/Children2.vue
  package/layer-document/src/components/LayCode.vue
  package/layer-document/src/layouts/Layout.vue
  package/layer-document/src/plugin/common-plugins.ts
  package/layer-document/src/plugin/demo.ts
  package/layer-document/src/plugin/highlight.ts
  package/layer-document/src/plugin/pre-wrapper.ts
  package/layer-document/src/plugin/snippet.ts
  package/layer-document/src/router/index.ts
  package/layer-document/src/router/zh-CN.ts
  package/layer-document/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): [tab]添加 activeBarTransition 属性
  package/component/src/component/tab/index.vue
  package/document/src/document/zh-CN/components/tab.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): layer弹层扩展photos方法,用于图片预览
  package/layer-document/docs/zh-CN/index.md
  package/layer/src/component/Photos.vue
  package/layer/src/component/index.vue
  package/layer/src/index.ts
  package/layer/src/theme/index.css
  package/layer/src/utils/index.ts
  package/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄: 还原layer项目babel配置
  package/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

🐛: 更新layer babel配置,修复regeneratorRuntime is not defined
  package/layer/package.json
  package/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(document): 重构文档结构
  package/layer/src/component/Iframe.vue
  package/layer/src/component/Photos.vue
  package/layer/src/component/index.vue
  package/layer/src/index.ts
  package/layer/src/utils/index.ts
  package/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

🐛(checkbox): 修复 checkbox 组件 isIndeterminate 属性类型非必填, 与文档类型提供错误
  package/component/src/component/checkbox/index.vue
  package/document-component/src/document/zh-CN/components/checkbox.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(radio): name 属性非必填, 在非表单的应用场景下 name 没有存在的必要
  package/component/src/component/radio/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(修复 input 文档 allowClear 类型提供错误): 🐛(radio): name 属性非必填, 在非表单的应用场景下 name 没有存在的必要
  package/document-component/src/document/zh-CN/components/input.md
Due: prettier --write

🐛(upload): 修复 cutOptions 非必填, 因为 cut 会有 false 的情况
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛: 修复 icon-picker 组件 lay-input 引用使用类型错误
  package/component/src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(progress): 修复 progress 文档类型提供错误警告
  package/document-component/src/document/zh-CN/components/progress.md
Due: prettier --write

🐛(table): 修复 childrenColumnName 属性非必填
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(notice-bar): 修复 color 与 background 类型警告
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/page/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/components/page.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 🐛(component): 修复cascader组件 当传入children为空数组时 点击无反应问题
  .gitignore
  package/component/src/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix

🔧(script): 打包 build 去 注释 console.log debugger
  package/component/script/build.all.ts
  package/component/script/build.es.ts
  package/component/script/build.umd.ts
  package/document-layer/dist/assets/index.0df87e64.js
  package/document-layer/dist/assets/index.0e09c4d5.js
  package/document-layer/dist/assets/index.3f855dd4.css
  package/document-layer/dist/assets/index.e9614e1e.css
  package/document-layer/dist/index.html
  package/icons/vite.config.ts
  package/layer/script/.keep
  package/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): row 与 col 的所有属性同时兼容 number 与 string 类型
  package/component/script/build.all.ts
  package/component/script/build.es.ts
  package/component/script/build.umd.ts
  package/component/src/component/cascader/index.vue
  package/component/src/component/col/index.vue
  package/component/src/component/row/index.vue
  package/icons/vite.config.ts
  package/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

update .gitignore
  package/document-layer/.gitignore
  package/document-layer/dist/assets/icon-ext.e2e7a838.png
  package/document-layer/dist/assets/icon.99942159.png
  package/document-layer/dist/assets/index.0df87e64.js
  package/document-layer/dist/assets/index.0e09c4d5.js
  package/document-layer/dist/assets/index.3f855dd4.css
  package/document-layer/dist/assets/index.9bf043dd.css
  package/document-layer/dist/assets/loading-0.07236f68.gif
  package/document-layer/dist/assets/logo.a3fad609.jpg
  package/document-layer/dist/favicon.ico
  package/document-layer/dist/index.html
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(layer): 严格要求 type 的类型
  package/layer/src/component/index.vue
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复layer title闪烁抖动问题,待商榷
  package/layer/src/component/Photos.vue
  package/layer/src/theme/index.css
  package/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(document): 统一 component 与 layer 的 md 位置
  package/document-layer/src/document/.keep
  package/document-layer/src/document/zh-CN/index.md
  package/document-layer/src/router/zh-CN.ts
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(layer): update
  package/component/package.json
  package/document-layer/src/document/zh-CN/index.md
  package/document-layer/src/layouts/Layout.vue
  package/layer/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): cascader级联选择器 新增onlyLastLevel属性 控制displayValue回显数据层级
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/components/cascader.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.2.2
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/layouts/Layout.vue
  package/layer/src/component/Photos.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(all): 发布 1.2.2
  package/component/src/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix

✨: [#I55AK7] select 多选搜索
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

✨: update
  package/component/package.json
  package/component/script/build.all.ts
  package/component/script/build.es.ts
  package/component/script/build.umd.ts
  package/component/src/component/tree/tree.ts
  package/document-component/src/components/LayContributor.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨: update
  package/component/script/build.es.ts
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix
