Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.10.0 版本
  package/component/package.json
Due: prettier --write

📝(i18n): ✨(component): 发布 1.10.0 版本
  package/document-component/src/document/zh-CN/guide/problem.md
Due: prettier --write

🐛(form): 修复 modal 属性中对象字段为 number 类型的 0 时，总是验证为空的问题
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(form-item): 修复 form-item 组件 prop 属性无法深度取值的问题
  package/component/package.json
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(changelog): 更新日志
  package/component/package.json
  package/component/script/build.all.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧(build): 调整 build:all 命令
  package/component/script/build.all.ts
Due: prettier --write --no-verify, eslint --fix

🐛fix(component): 对样式文件开启副作用，使用webpack时防止css被树摇
  package/component/package.json
Due: prettier --write

🐛(config-provider): 修复 config-provider 组件 themeVariable 属性在夜间模式不生效的问题
  package/component/src/component/datePicker/index.less
  package/component/src/component/page/index.vue
  package/component/src/component/tab/index.less
  package/component/src/component/transfer/index.less
  package/component/src/provider/index.vue
  package/component/src/theme/variable.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(layer): 修复 layer 组件 maxmin 属性在首次拖拽前无法最小化的问题
  package/component/package.json
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新日志
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write

✨(layer): 新增 beforeClose 回调函数，他将在关闭前触发，你可以通过 return false 来阻止关闭
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/introduce.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layui-vue 1.11.0 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(icon-picker): 修复 icon-picker 分页问题，并发布 layui-vue 1.11.1 版本
  package/component/package.json
  package/component/src/component/iconPicker/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(playground): 更换 codesandbox 预览链接
  README.md
  README.zh.md
  package/document-component/src/document/zh-CN/components/modal.md
  package/document-component/src/document/zh-CN/guide/getStarted.md
  package/document-layer/src/document/zh-CN/demo.md
  package/layer/package.json
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(color-picker): 修改 eyeDropper 属性启用时的图标，由 svg 调整为内置 iconfont 图标项
  package/component/src/component/colorPicker/EyeDropper.vue
  package/component/src/component/colorPicker/index.vue
  package/document-component/src/document/zh-CN/components/colorPicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 gitee star 与 npm downloads
  package/component/src/component/input/index.vue
  package/component/src/component/input/svg/Password.vue
  package/component/src/component/input/svg/unPassword.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(color-picker): 修复 model-value 属性缺少响应式的问题
  package/component/src/component/colorPicker/index.vue
  package/document-component/src/document/zh-CN/components/colorPicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 1.11.2
  package/component/package.json
  package/component/src/component/colorPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 checkbox 组件 label 不垂直居中对齐的问题，并调整 size 属性不同值对应的宽高
  package/component/src/component/checkbox/index.less
  package/document-component/src/document/zh-CN/components/checkbox.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修改 index.css 中 width 属性的 fill-available 规范为 stretch
  package/component/package.json
  package/component/src/component/menu/index.less
Due: prettier --write

✨(component): 修订版本号为 1.11.3
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🔧(test): 集成 vitest 框架，添加 button 组件 2 个单元测试
  package.json
  package/component/package.json
  package/component/test/button.test.ts
  package/component/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 checkbox 组件 label 属性不启用时，icon 发生偏移的问题
  package/component/src/component/checkbox/index.less
  package/component/src/component/checkbox/index.vue
  package/component/test/button.test.ts
  package/component/vitest.config.ts
  package/document-component/src/document/zh-CN/components/checkbox.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(custom): 正式开放微信交流群
  README.zh.md
  package/component/package.json
  package/component/src/component/table/hooks/useResize.ts
  package/component/src/component/tag/interface.ts
  wechat.jpg
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(custom): update README.md
  README.md
  README.zh.md
Due: prettier --write

🐛(component): 修复 autocomplete 组件 fetchSuggestions 属性回调时间过快导致的控制台异常警告
  package/component/package.json
  package/component/src/component/autoComplete/index.vue
  package/component/src/component/dropdown/index.vue
  package/document-component/src/document/zh-CN/components/autoComplete.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 radio-button 组件，以按钮组的形式展现单选操作
  package/component/src/component/autoComplete/index.vue
  package/component/src/component/radio/index.less
  package/component/src/component/radioButton/index.less
  package/component/src/component/radioButton/index.ts
  package/component/src/component/radioButton/index.vue
  package/component/src/component/radioButton/typing.ts
  package/component/src/component/radioGroup/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/radio.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 移除 radio-group 组件中无用的 class 项
  package/component/src/component/radioButton/index.vue
  package/component/src/component/radioGroup/index.vue
  package/component/src/index.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): 移除 form-item 的打印日志
  package/component/src/component/formItem/index.vue
  package/component/src/component/radioButton/index.less
Due: prettier --write --no-verify, eslint --fix

🐛(component): 优化 form-item 组件，如果 label 属性与 label 插槽不存在，不再做 form-item 偏移
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 @layui/layui-vue-1.11.6-alpha.1
  package/component/package.json
  package/component/src/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 修正 select 组件 allow-clear 属性的案例代码
  package/component/src/component/input/index.less
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write

🐛(component): 固化 vue-tsc 版本，避免不确定的 typescript 类型检测错误
  package.json
  package/component/package.json
  pnpm-lock.yaml
Due: prettier --write

✨(component): 修订版本号为 1.12.0
  package/component/package.json
  package/component/src/component/radioButton/index.less
  package/component/src/component/radioButton/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(custom): 修正 form.md 案例代码
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write

✨(component): 新增 tree-select 组件 contentStyle 与 contentClass 属性
  package/component/package.json
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增了checkcard组件
  package/component/src/component/checkcard/index.less
  package/component/src/component/checkcard/index.ts
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.less
  package/component/src/component/checkcardGroup/index.ts
  package/component/src/component/checkcardGroup/index.vue
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/checkcard.md
  package/document-component/src/plugin/create-describe.ts
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
