Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

fix(tag-input): 修复在拼音输入状态下无法外部无法通过自定义事件阻止键盘删除事件
  packages/component/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(select): 删除无用代码
  packages/component/component/select/index.vue
  packages/component/component/tag/interface.ts
Due: prettier --write --no-verify, eslint --fix

fix(form):取消表单submit默认行为
  packages/component/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix

style(compoents): 修复因设置全局box-sizing=boxder-box导致样式问题
  packages/component/component/iconPicker/index.less
  packages/component/component/tree/index.less
Due: none

refactor(json-schema-form): 替换引用@layui/layui-vue为@layui/component
  package.json
  packages/component/component/col/index.vue
  packages/component/component/col/interface.ts
  packages/component/component/form/index.vue
  packages/component/component/form/interface.ts
  packages/json-schema-form/src/component/checkbox/checkbox.ts
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/index.less
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
  packages/json-schema-form/src/component/radio/radio.ts
  packages/json-schema-form/vite.config.ts
  packages/layui/package.json
  play/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  play/main.ts
Due: prettier --write --no-verify, eslint --fix

!367 refactor(json-schema-form)!: 替换引用包@layui/layui-vue为@layui/component * chore: update * refactor(json-schema-form): 替换引用@layui/layui-vue为@layui/component
  package.json
  packages/component/component/col/index.vue
  packages/component/component/col/interface.ts
  packages/component/component/form/index.vue
  packages/component/component/form/interface.ts
  packages/json-schema-form/src/component/checkbox/checkbox.ts
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/index.less
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
  packages/json-schema-form/src/component/radio/radio.ts
  packages/json-schema-form/vite.config.ts
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(table): data-source改变default-expand-all未更新 #IAF37Y
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(descriptions): 新增descriptions(描述列表)组件
  packages/component/component/descriptions/descriptions-cell.ts
  packages/component/component/descriptions/descriptions-row.ts
  packages/component/component/descriptions/descriptions.ts
  packages/component/component/descriptions/descriptions.vue
  packages/component/component/descriptions/index.less
  packages/component/component/descriptions/index.ts
  packages/component/component/descriptions/interface.ts
  packages/component/component/descriptionsItem/descriptionsItem.vue
  packages/component/component/descriptionsItem/index.ts
  packages/component/component/descriptionsItem/interface.ts
  packages/component/components.ts
  packages/component/index.ts
  packages/component/utils/domUtil.ts
  packages/component/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

docs(descriptions): 新增descriptions组件文档
  docs/package.json
  docs/src/assets/css/index.css
  docs/src/assets/css/markdown.css
  docs/src/document/zh-CN/components/descriptions.md
  docs/src/plugin/all-plugins.ts
  docs/src/router/zh-CN.ts
  docs/src/view/components.vue
  docs/src/view/utils/menus.ts
  package.json
  packages/component/component/descriptions/descriptions-cell.ts
  packages/component/component/descriptions/descriptions-row.ts
  packages/component/component/descriptions/descriptions.ts
  packages/component/component/descriptions/descriptions.vue
  packages/component/component/descriptions/index.less
  packages/component/component/descriptions/interface.ts
  packages/component/component/descriptionsItem/descriptionsItem.vue
  packages/component/component/descriptionsItem/interface.ts
  packages/component/utils/domUtil.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

update README.md.
  README.md
Due: prettier --write

update README.zh.md.
  README.zh.md
Due: prettier --write

chore(deps): docs依赖回退
  docs/package.json
  docs/src/plugin/all-plugins.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 高亮版本提醒
  docs/src/document/zh-CN/components/descriptions.md
Due: prettier --write

chore: cascader BUG 修改、字段更名和文档维护
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascader/index.vue
  packages/component/component/cascader/interface.ts
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.less
  packages/component/component/cascaderPanel/index.vue
  packages/component/component/cascaderPanel/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 修复 Linux 下 pnpm:build 指令中的正则表达式被 shell 解释成命令的问题
  package.json
  packages/layui/package.json
Due: prettier --write

chore(component/code): 组件问题修复及样式调整
  packages/component/component/code/LayCodePanel.less
  packages/component/component/code/LayCodePanel.vue
  packages/component/component/code/LayCodePreview.vue
  packages/component/component/code/LayCodeWrapper.tsx
  packages/component/component/code/useShiki.ts
Due: prettier --write --no-verify, eslint --fix

fix(package.json): 修复调整 build 脚本后 Linux 下构建失败的问题
  package.json
  packages/layui/package.json
Due: prettier --write

!370 fix(package.json): 修复调整 build 脚本后 Linux 下构建失败的问题 * fix(package.json): 修复调整 build 脚本后 Linux 下构建失败的问题
  package.json
  packages/layui/package.json
Due: prettier --write

docs(custom): 增加镜像站
  README.md
Due: prettier --write

docs(custom): 增加镜像站
  README.zh.md
Due: prettier --write

!371 docs: 新增两个镜像站(团队成员提供) * docs(custom): 增加镜像站 * docs(custom): 增加镜像站
  README.md
  README.zh.md
Due: prettier --write

fix(component/avatar): 修复 Avatar 组件在 src 和 fallback 均不能加载图片时的高频请求问题
  packages/component/component/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(table): 存在多级表头&totalRow开启行统计时设置fixed报错 #IAG1V5
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: cascader 兼容性修改、上下文共享及 hook type 定义
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.vue
  packages/component/component/cascaderPanel/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(component/cascader): 修复 Cascader 及 CascaderPanel 在懒加载、数据输出和选中逻辑的问题
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: code style
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascader/cascader.ts
  packages/component/component/cascader/index.less
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 调整icon|箭头样式
  packages/component/component/cascaderPanel/index.less
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(layer): 修复umd格式下globalIndex无默认值
  packages/layer/src/tokens/index.ts
Due: prettier --write --no-verify, eslint --fix

fix(component/cascader): 修复 Cascader 中搜索的问题
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.hook.ts
Due: prettier --write --no-verify, eslint --fix

fix(cascader): 修复多选搜索
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.hook.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascader/index.less
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.vue
  packages/component/component/tagInput/index.vue
  packages/component/utils/arrayUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  packages/component/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(component/cascader): 文档更新、去除无用 emit、废弃无用属性
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascaderPanel/index.vue
  packages/component/component/cascaderPanel/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!354 fix(tree): checkedKeys异常 #IAATWK * chore: update * chore: update * fix(tree): checkedKeys异常
  packages/component/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

!360 feat(auto-complete): 新增输入框input、focus、blur、clear事件 * feat(auto-complete): 新增输入框input、focus、blur、clear事件
  docs/src/document/zh-CN/components/autoComplete.md
  packages/component/component/autoComplete/index.vue
  packages/component/component/input/index.vue
  packages/component/component/input/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write
