Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): update
  package/component/src/component/avatarList/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 简化 table 文档
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修复 transition 动画导致的 header 错位
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.6.4 版本
  package/component/package.json
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [修复] datePicker 组件 类型为dateTime时 同时选择日期与时间不生效问题。
  package/component/src/component/datePicker/components/DatePanel.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 补充 load 文档描述
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/load.md
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 补充 confirm 对话框案例说明
  package/component/src/component/datePicker/components/DatePanel.vue
  package/document-component/src/document/zh-CN/components/confirm.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): datePicker新增时间戳模式
  package/component/src/component/datePicker/index.vue
  package/component/src/component/datePicker/interface.ts
  package/document-component/src/components/LayTableBox.vue
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复多级菜单下，不同层级增加不同缩进
  package/component/src/component/menu/index.less
Due: none

🐛(component): 修复 tree 组件 checkedKeys 属性默认选中全部子集的问题
  package/component/src/component/tree/tree.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 layer 在 google 高版本中的警告信息
  package/component/src/component/datePicker/index.vue
  package/component/src/component/datePicker/interface.ts
  package/layer/src/composable/useMove.ts
  package/layer/src/composable/useResize.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 修复 layer 在 google 高版本中的警告提示
  package/layer/src/composable/useMove.ts
  package/layer/src/composable/useResize.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 移除不算完善的代码, 在后续的更新中作为新特性提供
  package/component/src/component/menu/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 select 如果存在 default children, 优先代替 label 属性
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.6.5 版本
  package/component/package.json
  package/component/src/component/datePicker/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/layer/package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 table 组件 totalRowMethod 属性, 并修复一些问题
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 table 组件 column 配置 fixed 属性, 特殊情况下的列空白问题
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 多层级菜单支持配置缩进，默认为不缩进，可通过<lay-menu :indent="true">开启
  package/component/src/component/menu/index.less
  package/component/src/component/menu/index.vue
  package/component/src/component/menu/utils.ts
  package/component/src/component/menuItem/index.vue
  package/component/src/component/subMenu/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): 完善 menu 菜单缩进文档案例
  package/document-component/src/document/zh-CN/components/menu.md
Due: prettier --write

✨(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 1.6.6 版本
  package/component/package.json
Due: prettier --write

✨(component): 调整 dark theme 整体饱和度
  package/component/src/provider/index.vue
  package/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 修复骨架屏文档
  package/component/src/provider/index.vue
  package/document-component/src/document/zh-CN/components/skeleton.md
  package/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 switch 渲染逻辑和 text 描述边距
  package/component/src/component/switch/index.less
  package/component/src/component/switch/index.vue
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/switch/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 清理 upload 组件无用代码
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 新增拖拽上传支持, 待测试待整理
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 tansfer 组件 data-source 属性缺少响应式的特性
  package/component/src/component/transfer/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/transfer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 ident 属性带来的 typescript 警告
  package/component/src/component/menu/utils.ts
  package/component/src/component/menuItem/index.vue
  package/component/src/component/subMenu/index.vue
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/components/menu.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新日志
  package/component/src/component/subMenu/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 layui-vue 1.6.7 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 upload 事件注册警告
  package/component/src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 upload 组件 drag 属性为 false 时的 removeEventListener 警告
  package/component/src/component/upload/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.6.8 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/components/layout.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 补充 msg 案例说明
  package/component/src/component/carouselItem/index.vue
  package/component/src/provider/index.vue
  package/document-component/src/document/zh-CN/components/msg.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 整理 button 与 card 代码
  package/component/src/component/button/index.vue
  package/component/src/component/card/index.vue
  package/component/src/component/card/interface.ts
  package/component/src/component/carouselItem/index.vue
  package/component/src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/button/index.vue
  package/component/src/component/card/index.vue
  package/component/src/component/card/interface.ts
  package/component/src/component/carousel/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/card/index.vue
  package/component/src/component/carousel/index.vue
Due: prettier --write --no-verify, eslint --fix
