Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

refactor:(backtop)1.自动寻找可滚动祖先元素;props circular 修改为 circle
  example/docs/zh-CN/components/backtop.md
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

优化 package.json 结构
  package.json
  tsconfig.json
Due: prettier --write

生成全局依赖版本
  package.json
Due: prettier --write

补充 utils 注释
  src/tools/domUtil.js
  src/tools/guidUtil.ts
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix

升级 rollup 版本
  package.json
Due: prettier --write

新增 prettierrc.js 配置
  .prettierrc.js
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛[修复]formItem中的下拉框组件校验边框没有标红，下拉框复选框Write operation failed: computed value is readonly警告问题
  src/module/formItem/index.less
  src/module/selectOption/index.vue
Due: prettier --write --no-verify, eslint --fix

remove eslint cache
  .eslintcache
  package.json
Due: prettier --write

edit eslint config
  .eslintrc.js
Due: prettier --write --no-verify, eslint --fix

🐛 [修复]评分mouseleave事件绑定警告问题
  src/module/rate/index.vue
Due: prettier --write --no-verify, eslint --fix

升级 icons-vue 1.0.2
  package.json
Due: prettier --write

整理 changelog 更新日志
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

修复 checkbox 复选框 modelValue 属性必填警告
  example/docs/zh-CN/guide/changelog.md
  src/module/checkbox/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

调整 eslint 依赖环境
  package.json
Due: prettier --write

集成 commitizen 提交规范
  package.json
Due: prettier --write

删除 peerDependencies 配置
  package.json
  tsconfig.json
Due: prettier --write

调整 tsconfig.json 结构
  tsconfig.json
Due: prettier --write

edit next version
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

调整 backtop 文档
  example/docs/zh-CN/components/backtop.md
  example/docs/zh-CN/guide/member.md
Due: prettier --write

补充 button 文档
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/guide/changelog.md
  example/src/components/LayTableBox.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

补充 table 文档
  example/docs/zh-CN/components/table.md
Due: prettier --write

整理 src/index.js
  src/index.ts
  src/module/type/public.ts
Due: prettier --write --no-verify, eslint --fix

新增 table column 锚点跳转
  example/docs/zh-CN/components/table.md
Due: prettier --write

🐛 [修复] 原生系统剪贴板，只适用被授权安全的站点，http下不能使用的问题
  example/src/components/LayCode.vue
Due: prettier --write --no-verify, eslint --fix

slider - save
  example/docs/zh-CN/components/slider.md
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

slider - 区间形式
  example/docs/zh-CN/components/slider.md
  src/module/slider/index.less
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新日志
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

feat(backtop):新增 size 属性，移除 iconPrefix 属性
  example/docs/zh-CN/components/backtop.md
  src/module/backTop/index.less
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

完善 member.md 信息
  example/docs/zh-CN/guide/member.md
  example/docs/zh-CN/guide/problem.md
Due: prettier --write

补充
  example/docs/zh-CN/guide/member.md
Due: prettier --write

更新 团队成员 与 社区伙伴 模板信息
  example/docs/zh-CN/guide/member.md
Due: prettier --write

edit merber
  example/docs/zh-CN/guide/member.md
Due: prettier --write

feat(countUp): 第一版，实现基础功能
  example/docs/zh-CN/components/countup.md
  example/src/layouts/Layout.vue
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  package.json
  src/index.ts
  src/module/countUp/index.ts
  src/module/countUp/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修复][新增]给page组件增加pages参数，用于限定页数过多情况下的按钮显示数量
  example/docs/zh-CN/components/page.md
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修复]分页组件中每页数量变化时触发limit事件
  example/docs/zh-CN/components/page.md
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增]LayPage limits参数 设置每页数量选择范围
  example/docs/zh-CN/components/page.md
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增]显示页码总数，方便用户跳转时知道最大值，可以输入到最大值
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix
