Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

docs: 优化 夜间主题 切换策略
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  src/component/empty/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: 回退一些特性
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/guide/changelog.md
  example/src/view/index.vue
  src/component/button/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 layui-vue-1.0.0
  example/docs/zh-CN/guide/changelog.md
  package.json
  src/component/button/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(tabs): 修复默认类型 title样式
  src/component/tab/index.less
  src/component/tab/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: 修复文档
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(timeline): 横向排列
  example/docs/zh-CN/components/timeline.md
  src/component/tab/index.less
  src/component/timeline/index.less
  src/component/timeline/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(docs): 自适应系统暗色主题+持久化
  example/src/layouts/Layout.vue
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: upload补充disabled禁用状态,新增剪裁功能
  example/docs/zh-CN/components/upload.md
  package.json
  src/component/empty/index.vue
  src/component/input/index.vue
  src/component/upload/cropper.min.css
  src/component/upload/index.less
  src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor: 补充提交
  src/component/timeline/index.vue
  src/component/upload/index.vue
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

refactor: 更正补充modal部分文档
  example/docs/zh-CN/components/modal.md
  src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 global-dark-text-color 与 global-dark-background-color 主题变量
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  src/provider/index.vue
  src/theme/variable.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 global-dark-text-color 与 global-dark-background-color 主题变量
  src/component/timeline/index.vue
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: 删除 upload.md 的多余 md 元素
  example/docs/zh-CN/components/upload.md
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

[新增] select组件支持关键词筛选列表
  example/docs/zh-CN/components/select.md
  src/component/select/index.vue
  src/component/selectOption/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] select组件新增search事件，用于触发远程搜索或自定义搜索逻辑
  example/docs/zh-CN/components/select.md
  src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] selectOption 支持传入keyword属性用于自定义关键词查询内容
  example/docs/zh-CN/components/select.md
  src/component/selectOption/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] select组件支持传入items属性用于渲染选择项
  example/docs/zh-CN/components/select.md
  src/component/select/index.vue
  src/component/selectOption/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修正] select的选择项items属性支持disabled禁用
  example/docs/zh-CN/components/select.md
  src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] select组件支持create
  example/docs/zh-CN/components/select.md
  src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修复] input组件中的readonly属性不生效问题
  src/component/input/index.vue
Due: prettier --write --no-verify, eslint --fix

[修复] datePicker组件中的选中后判定问题导致无法修改传入对象
  example/docs/zh-CN/components/datePicker.md
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修正] types定义声明问题
  src/component/empty/index.vue
Due: prettier --write --no-verify, eslint --fix

[修正] 选择器右下角的当前值提示问题
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

[新增] dropdown组件添加disabled属性
  example/docs/zh-CN/components/dropdown.md
  src/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] datePicker添加disabled属性
  example/docs/zh-CN/components/datePicker.md
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] Dropdown添加open和hide事件用于进行自定义内容逻辑处理
  example/docs/zh-CN/components/dropdown.md
  src/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[新增] datePicker组件添加simple属性，用于快速交互
  example/docs/zh-CN/components/datePicker.md
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 资源 404 错误
  package/document/src/document/zh-CN/guide/getStarted.md
  package/document/src/document/zh-CN/guide/introduce.md
Due: prettier --write

ci: 升级全局依赖
  package.json
  package/component/package.json
  package/document/package.json
  package/iconfont/package.json
  package/modal/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 修复 table 组件 datasource 属性丢失响应特性
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 资源链接
  package.json
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/form.md
  package/document/src/layouts/Layout.vue
  package/layer/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci: 集成 pinia 提供主题持久化
  package/component/src/provider/index.vue
  package/document/package.json
  package/document/src/layouts/Layout.vue
  package/document/src/main.ts
  package/document/src/store/app.ts
  package/document/src/store/index.ts
  package/document/src/view/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci: 集成 pinia 提供主题持久化
  package/document/src/layouts/Layout.vue
  package/document/src/main.ts
  package/document/src/store/app.ts
  package/document/src/store/index.ts
  package/document/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: 发布 1.0.1
  package.json
  package/component/package.json
  package/component/src/component/transition/index.vue
  package/document/src/document/zh-CN/components/transition.md
  package/document/src/document/zh-CN/guide/changelog.md
  package/document/src/layouts/Layout.vue
  package/document/src/view/index.vue
  package/document/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 1.0.1
  package/component/src/component/transition/index.vue
  package/document/src/layouts/Layout.vue
  package/document/src/view/index.vue
  package/document/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix

fix: step修复dark 模式下线条不显示问题
  package/component/src/component/step/index.less
Due: none

fix: document 引用 main.ts 以实现实时调试
  package/component/src/component/page/index.vue
  package/component/src/component/table/index.vue
  package/document/src/document/zh-CN/components/page.md
  package/document/src/main.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(fullscreen): 修复事件移除
  package/component/src/component/fullscreen/index.vue
  package/document/src/document/zh-CN/components/animation.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
