Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): [line]: 新增 margin 属性，控制分割线边距
  package/component/src/component/dropdown/index.less
  package/component/src/component/line/index.less
  package/component/src/component/line/index.vue
  package/document-component/src/document/zh-CN/components/dropdown.md
  package/document-component/src/document/zh-CN/components/line.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): [dropdown] placement 更改为 *-start *-end
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/interface.ts
  package/component/src/component/dropdownSubMenu/index.vue
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/component/src/component/tab/index.vue
  package/document-component/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): [dropdown]移除包装元素
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.vue
  package/component/src/component/datePicker/index.vue
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/useFirstElement.ts
  package/document-component/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): [dropdown]placement 兼容旧版废弃属性
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/interface.ts
  package/component/src/component/dropdown/util.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): [carousel] 新增 pauseOnHover 属性
  package/component/src/component/carousel/index.vue
Due: prettier --write --no-verify, eslint --fix

♻️(component): [space} 切换至 tsx
  package.json
  package/component/script/build.all.ts
  package/component/script/build.es.ts
  package/component/script/build.umd.ts
  package/component/src/component/space/index.vue
  package/document-component/src/plugin/all-plugins.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 的 scroll 宽度适应性的问题
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

♻️(component): [subMenu]重构 subMenu
  package/component/src/component/dropdown/index.vue
  package/component/src/component/menuItem/index.vue
  package/component/src/component/subMenu/SubMenuPopup.vue
  package/component/src/component/subMenu/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): release 1.4.7
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

update README.zh.md.
  README.zh.md
Due: prettier --write

🐛(component): [countUp]修复 useGrouping 属性异常
  package/component/src/component/countUp/index.vue
  package/document-component/src/document/zh-CN/components/countup.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧: jsx 插件配置问题,导致全量 es 和 umd 构建转译 jsx 语法错误
  package/component/script/build.all.ts
  package/component/script/build.umd.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 select 组件多选情况下显示问题
  package/component/src/component/select/index.less
Due: none

🐛(component): 优化 table 的 page 参数 total 值为 0 时取消分页组件的显示
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/scroll.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 新增 CONTRIBUTING.md 贡献指南
  CONTRIBUTING.md
Due: prettier --write

🐛(component): 修复 scroll 组件无法监听 subtree 的节点变化
  package/component/src/component/scroll/index.less
  package/component/src/component/scroll/index.vue
  package/document-component/src/document/zh-CN/components/scroll.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [tab] 修复 tab 更新
  package/component/src/component/tab/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 发布 1.4.8 版本
  package/component/package.json
  package/component/src/component/scroll/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): merge code
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

♻️(icons-vue): iconfont 使用 woff2, 减少 css 文件大小
  package/icons/src/iconfont/iconfont.less
Due: none

✨(component): 优化 table 组件
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄(component): [tag] 优化 tag 样式
  package/component/src/component/tag/index.less
  package/document-component/src/document/zh-CN/components/tag.md
Due: prettier --write

📝: 更新 dropdown 文档
  package/document-component/src/document/zh-CN/components/dropdown.md
Due: prettier --write

📝: 更新 tab 文档
  package/document-component/src/document/zh-CN/components/dropdown.md
  package/document-component/src/document/zh-CN/components/tab.md
Due: prettier --write

🐛(component): 修复 uuid 在 typescript 中的兼容性问题
  package/component/package.json
  pnpm-lock.yaml
Due: prettier --write

🌀(component): 使用 flex 优化 table tool 布局
  package/component/src/component/table/index.less
Due: none

🐛(component): window.resize 动态计算 table 滚动条占位宽度
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): release 1.4.9
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): [tooltip]新增 visible 参数;修复定位; content 变化时更新位置
  package/component/src/component/popper/index.vue
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/components/tab.md
  package/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝: 更新插件文档
  package/document-component/src/document/zh-CN/components/tooltip.md
  package/document-component/src/document/zh-CN/guide/plugin.md
Due: prettier --write

🐛(component): 排除 uuid 依赖, 修复 table.css empty 与 tools 样式
  package/component/package.json
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/component/src/utils/guidUtil.ts
  package/component/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): release 1.4.10
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): release 1.4.11
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [dropdown]clickOutside 修改为监听事件捕获阶段
  package/component/src/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix

🌀(component): [dropdown]调整菜单样式
  package/component/src/component/dropdown/index.less
  package/component/src/component/dropdown/index.vue
  package/document-component/src/document/zh-CN/components/dropdown.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复表单的"空指针"问题
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 timeline 组件 title 插槽
  package/component/src/component/timelineItem/index.vue
  package/document-component/src/document/zh-CN/components/timeline.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 form-item 组件 requiredErrorMessage 属性, 允许用户自定义 required 错误提示信息
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 menu 横向导航栏嵌套 router 颜色不兼容问题
  package/component/src/component/menu/index.less
  package/document-component/src/document/zh-CN/components/menu.md
Due: prettier --write
