Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

fix(table): 多级表头，expand插槽内容错位
  packages/component/component/table/TableData.vue
  packages/component/component/table/__tests__/table.test.tsx
Due: prettier --write --no-verify, eslint --fix

chore: type error
  packages/component/component/table/TableData.vue
Due: prettier --write --no-verify, eslint --fix

fix(types): globalComponents types
  packages/component/components.ts
Due: prettier --write --no-verify, eslint --fix

fix(type): add timeSelect/segmented component type
  packages/component/components.ts
Due: prettier --write --no-verify, eslint --fix

docs: 网络协议造成图片缺失
  docs/src/document/zh-CN/components/checkcard.md
Due: prettier --write

fix: 表格部分场景下无底框的问题
  packages/component/component/table/index.less
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

!450 fix(layer): 拖拽至iframe区域防止mousemove事件被中断 * fix(layer): 拖拽至iframe区域防止mousemove事件被中断
  packages/layer/src/composable/useDragable.ts
Due: prettier --write --no-verify, eslint --fix

fix: 更新日志
  docs/src/document/zh-CN/guide/changelog.md
Due: prettier --write

feat: 发布 layer-vue 版本
  docs/src/document/zh-CN/guide/changelog.md
  packages/component/component/table/index.vue
  packages/layer/package.json
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 更新日志
  docs/src/document/zh-CN/guide/changelog.md
Due: prettier --write

feat: 修正文档
  docs/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix

!452 fix(datePicker): 日期范围类型，月份禁止异常 * fix(datePicker): 日期范围类型，月份禁止异常
  packages/component/component/datePicker/__tests__/datePicker-range.test.tsx
  packages/component/component/datePicker/component/DateRange.vue
  packages/component/component/datePicker/component/common/Month.vue
Due: prettier --write --no-verify, eslint --fix

feat(layer): 新增moveEnd/resizeEnd返回值
  docs/src/document/zh-CN/components/layer.md
  packages/layer/src/component/index.vue
  packages/layer/src/types/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(datePicker): type
  packages/component/component/datePicker/component/DateRange.vue
Due: prettier --write --no-verify, eslint --fix

!453 feat(layer): 新增moveEnd/resizeEnd返回值 * feat(layer): 新增moveEnd/resizeEnd返回值
  docs/src/document/zh-CN/components/layer.md
  packages/layer/src/component/index.vue
  packages/layer/src/types/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(layui): release v2.21.0
  docs/src/document/zh-CN/guide/changelog.md
  packages/component/component/table/index.vue
  packages/layer/package.json
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(table): 切换defaultExpandAll异常
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: 修复 Tree 勾选时重复监听导致 checkedkeys 异常的问题，修复 Tree 节点勾选时未 emit 的问题，TreeProps 增加注释，增加节点 icon 设置
  packages/component/component/treeV2/TreeNode.vue
  packages/component/component/treeV2/index.hook.ts
  packages/component/component/treeV2/interface.ts
Due: prettier --write --no-verify, eslint --fix

chore: 调整变量名称，去除 icon 列表类型标注
  packages/component/component/iconPicker/index.vue
  packages/component/component/iconPicker/wrapper.vue
  packages/icons/src/iconfont/iconfont.ts
Due: prettier --write --no-verify, eslint --fix

fix: 修复分页计算的问题
  packages/component/component/iconPicker/wrapper.vue
Due: prettier --write --no-verify, eslint --fix

!455 fix(table): 切换defaultExpandAll异常 * fix(table): 切换defaultExpandAll异常
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: 修复 table cell 内 progress 不显示的问题
  packages/component/component/table/index.less
Due: none

feat: update
  docs/src/document/zh-CN/guide/changelog.md
Due: prettier --write

feat: 发布 2.21.1 版本
  docs/vite.config.ts
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

wip: extract toolbar component and code
  packages/component/component/table/TableData.vue
  packages/component/component/table/components/Header.vue
  packages/component/component/table/components/Toolbar.vue
  packages/component/component/table/components/types.ts
  packages/component/component/table/hooks/useNextTable.ts
  packages/component/component/table/hooks/useTableColumns.ts
  packages/component/component/table/hooks/useToolbar.ts
  packages/component/component/table/index.less
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
  packages/component/utils/arrayUtil.ts
Due: prettier --write --no-verify, eslint --fix

ci: add wip commit type
  .cz-config.js
Due: prettier --write --no-verify, eslint --fix

chore(play): 改变文件后终端刷新打印Url入口
  play/plugins/vite-plugin-hmr-refresh-url-log.ts
  play/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

!457 chore(play): 改变文件后终端刷新打印Url入口 * chore(play): 改变文件后终端刷新打印Url入口
  play/plugins/vite-plugin-hmr-refresh-url-log.ts
  play/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

chore(datePicker): 新增类型为datetime底部选择日期/时间 i18翻译
  packages/component/component/datePicker/component/DatePicker.vue
Due: prettier --write --no-verify, eslint --fix

fix(layer): prompt模式输入类型为textarea时placeholder无效
  packages/layer/src/component/Prompt.vue
Due: prettier --write --no-verify, eslint --fix

fix(splitPanel): 当鼠标不在分割线按下时，cursor依旧会变化
  packages/component/component/splitPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(textarea): 新增readonly参数
  docs/src/document/zh-CN/components/textarea.md
  packages/component/component/textarea/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!458 chore(datePicker): 新增类型为datetime底部选择日期/时间 i18翻译 * chore(datePicker): 新增类型为datetime底部选择日期/时间 i18翻译
  packages/component/component/datePicker/component/DatePicker.vue
Due: prettier --write --no-verify, eslint --fix

!459 fix(layer): prompt模式输入类型为textarea时placeholder无效 * fix(layer): prompt模式输入类型为textarea时placeholder无效
  packages/layer/src/component/Prompt.vue
Due: prettier --write --no-verify, eslint --fix

!460 fix(splitPanel): 当鼠标不在分割线按下时，cursor依旧会变化 * fix(splitPanel): 当鼠标不在分割线按下时，cursor依旧会变化
  packages/component/component/splitPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

!461 feat(textarea): 新增readonly参数 * feat(textarea): 新增readonly参数
  docs/src/document/zh-CN/components/textarea.md
  packages/component/component/textarea/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): sort支持custom参数值
  docs/src/document/zh-CN/components/table.md
  packages/component/component/datePicker/__tests__/yearPanel.test.tsx
  packages/component/component/table/__tests__/table.test.tsx
  packages/component/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
