Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(component): 新增了checkcard组件
  package/component/src/component/checkcard/index.less
  package/component/src/component/checkcard/index.ts
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.less
  package/component/src/component/checkcardGroup/index.ts
  package/component/src/component/checkcardGroup/index.vue
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/checkcard.md
  package/document-component/src/plugin/create-describe.ts
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): tree-select 增强 config-provider 主题调整 layer-vue 修复升级 tree 缺陷修复
  package/component/package.json
  package/component/src/component/datePicker/index.vue
  package/component/src/component/tree/index.less
  package/component/src/component/treeSelect/index.vue
  package/component/src/theme/variable.less
  package/document-component/src/assets/background.svg
  package/document-component/src/assets/layui-logo.png
  package/document-component/src/assets/logo-new.png
  package/document-component/src/assets/logo-png.png
  package/document-component/src/assets/logo.jpg
  package/document-component/src/assets/logo.png
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/components/color.md
  package/document-component/src/document/zh-CN/components/datePicker.md
  package/document-component/src/document/zh-CN/components/layout.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/introduce.md
  package/document-component/src/document/zh-CN/guide/upgrade.md
  package/document-component/src/layouts/Layout.vue
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/store/app.ts
  package/document-component/src/view/guide.vue
  package/document-component/src/view/index.vue
  package/document-component/src/view/resources.vue
  package/document-component/src/view/utils/menus.ts
  package/layer/package.json
  package/layer/src/theme/index.css
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 新增 radio-button 独立菜单文档
  package/document-component/src/document/zh-CN/components/radioButton.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 调整 checkcard 菜单分类，并增加部分菜单项 badge 高亮
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/component/src/components.ts
  package/document-component/src/layouts/Layout.vue
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/components.vue
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): 整理更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 整理更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/components.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 form-item 组件 mode 属性为 inline 时，表单项仍以 block 的形式排布，并调整 inline 模式下的给定长度为 220px
  package/component/src/component/form/index.less
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/document/zh-CN/guide/introduce.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 rate 组件在 form-item 中不垂直居中的问题
  package/component/src/component/form/index.less
  package/component/src/component/rate/index.vue
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/rate.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 switch 组件 form-item 中不居中的问题
  package/component/src/component/form/index.less
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 回退 md 描述插件逻辑
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/plugin/create-describe.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 checkcard 文档，优化 checkcard 边框圆角跟随全局变量
  package/component/src/component/checkcard/index.less
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/components/checkcard.md
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/plugin/create-describe.ts
  package/document-component/src/view/resources.vue
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 form 组件 pane 属性启用时，边框角度不跟随主题变量的问题
  package/component/src/component/form/index.less
  package/component/src/component/formItem/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化全局组件主题覆盖率
  package/component/src/component/collapse/index.less
  package/component/src/component/datePicker/index.less
  package/component/src/component/iconPicker/index.less
  package/component/src/component/popper/index.less
  package/component/src/component/tab/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🌀(component): 🌀(component): 删除checkcard组件样式重复
  package/component/src/component/checkcard/index.less
Due: none

📝(component): 📝(component): 修复markdown-desc描述解析htmt错误
  package/document-component/src/plugin/create-describe.ts
Due: prettier --write --no-verify, eslint --fix

✅: 添加checkcard与checkecardGroup测试
  package/component/test/checkcard-group.test.ts
  package/component/test/checkcard.test.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): 更新 collapse 文档，补充案例说明
  package/document-component/src/document/zh-CN/components/collapse.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 更新 form.md 文档
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write

📝(component): 更新 form.md 文档
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/component/src/components.ts
  package/component/test/checkcard-group.test.ts
  package/component/test/checkcard.test.ts
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/plugin/create-describe.ts
  package/document-component/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 对 form 与 form-item 组件的改进
  package/component/src/component/form/index.less
  package/document-component/index.html
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 调整 space.md 文档
  package/document-component/src/document/zh-CN/components/space.md
Due: prettier --write

✨(component): 新增 form 组件 label-position 属性，全局设置标签位置
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.vue
  package/component/src/component/popper/index.vue
  package/component/src/types/form.ts
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/plugin/create-describe.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 tree-select 组件 search 属性，用于启用节点搜索功能
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 field 组件 title 插槽，支持标题自定义
  package/component/src/component/field/index.vue
  package/component/src/component/formItem/index.vue
  package/component/src/component/popper/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/field.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/plugin/create-describe.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 select-option-group 组件，为 select-option 提供分组
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/selectOptionGroup/index.ts
  package/component/src/component/selectOptionGroup/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-layer/src/document/zh-CN/demo.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 标注 select 文档菜单高亮
  package/component/src/component/select/index.vue
  package/component/src/component/selectOptionGroup/index.vue
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): 优化 header 头部 logo 样式
  package/document-component/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

📝(custom): 优化 index.vue 主页 svg 背景图颜色
  package/document-component/src/assets/background.svg
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix

✅(component): 修改checkcard测试文档文案
  package/component/test/checkcard.test.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新 gitee 与 github 链接
  package/document-component/src/layouts/Layout.vue
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): update
  package/document-component/src/document/zh-CN/guide/theme.md
  package/document-component/src/layouts/Layout.vue
  package/document-component/src/view/resources.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 fullscreen 文档
  package/document-component/src/document/zh-CN/components/fullscreen.md
Due: prettier --write

🐛(component): 修复 silder 组件 横向模式 与 竖向模式 进度条背景颜色不一致的问题
  package/component/src/component/slider/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 更新 button.md 文档
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/guide/introduce.md
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 新增 鸣谢 链接
  package/document-component/src/view/index.vue
  package/document-component/src/view/resources.vue
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix
