Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

slider - 增加step
  example/docs/zh-CN/components/slider.md
Due: prettier --write

chore: 修改 backtop 文档
  example/docs/zh-CN/components/backtop.md
  example/docs/zh-CN/components/color.md
  src/component/avatar/index.less
  src/component/avatar/interface.ts
  src/component/button/index.less
  src/component/card/index.less
  src/provider/index.vue
  src/theme/variable.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

补充组件描述信息
  example/docs/zh-CN/components/avatar.md
  example/docs/zh-CN/components/backtop.md
  example/docs/zh-CN/components/badge.md
  example/docs/zh-CN/components/breadcrumb.md
  example/docs/zh-CN/components/checkbox.md
  example/docs/zh-CN/components/collapse.md
  example/docs/zh-CN/components/container.md
  example/docs/zh-CN/components/dropdown.md
  example/docs/zh-CN/components/empty.md
  example/docs/zh-CN/components/inputNumber.md
  example/docs/zh-CN/components/menu.md
  example/docs/zh-CN/components/panel.md
  example/docs/zh-CN/components/progress.md
  example/docs/zh-CN/components/radio.md
  example/docs/zh-CN/components/rate.md
  example/docs/zh-CN/components/select.md
  example/docs/zh-CN/components/slider.md
  example/docs/zh-CN/components/tab.md
  example/docs/zh-CN/components/table.md
  example/docs/zh-CN/components/textarea.md
  package.json
  src/component/popper/index.vue
  src/theme/variable.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

补充组件描述信息
  example/docs/zh-CN/components/exception.md
  example/docs/zh-CN/components/result.md
Due: prettier --write

新增 build:less 命令
  build.less.ts
  package.json
  src/component/avatarList/index.less
  src/component/breadcrumb/index.less
  src/component/breadcrumbItem/index.less
  src/component/carousel/index.less
  src/component/carouselItem/index.less
  src/component/checkboxGroup/index.less
  src/component/col/index.less
  src/component/collapse/index.less
  src/component/collapseItem/index.less
  src/component/colorPicker/index.less
  src/component/countUp/index.less
  src/component/dropdown/index.less
  src/component/dropdownItem/index.less
  src/component/field/index.less
  src/component/form/index.less
  src/component/icon/index.less
  src/component/iconPicker/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

发布 0.3.7-alpha.2
  package.json
Due: prettier --write

替换全局主题变量
  build.less.ts
  src/component/block/index.less
  src/component/menu/index.less
  src/component/slider/index.less
  src/component/timeline/index.less
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix

slider - 支持全局颜色
  src/component/slider/index.less
Due: none

提供主题文档 与 组件主题变量替换
  example/docs/zh-CN/components/color.md
  example/docs/zh-CN/guide/theme.md
  example/src/assets/css/code.css
  example/src/view/guide.vue
  package.json
  src/component/avatar/index.less
  src/component/backTop/index.less
  src/component/badge/index.less
  src/component/button/index.less
  src/component/buttonGroup/index.less
  src/component/card/index.less
  src/component/inputNumber/index.less
  src/component/panel/index.less
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

修改兼容组件主题变量
  src/theme/index.less
Due: none

更新文档
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/components/icon.md
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/getStarted.md
  example/docs/zh-CN/guide/theme.md
  example/src/assets/start.svg
  example/src/assets/theme1.svg
  example/src/assets/theme2.svg
  example/src/view/ecology.vue
  src/component/button/index.less
  src/component/buttonGroup/index.less
  src/component/slider/index.less
  src/theme/variable.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

发布 0.3.7
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/theme.md
  example/src/assets/theme1.svg
  example/src/assets/theme2.svg
  package.json
  src/component/menu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新文档
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

补充组件描述, 起草 lay-config-provider 全局配置
  example/docs/zh-CN/components/block.md
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/components/card.md
  example/docs/zh-CN/components/iconPicker.md
  example/docs/zh-CN/components/page.md
  example/docs/zh-CN/components/splitPanel.md
  example/src/layouts/Layout.vue
  example/src/plugin/create-block.ts
  package.json
  src/component/block/index.vue
  src/component/tabItem/index.ts
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

兼容 css3 特性
  example/docs/zh-CN/components/animation.md
  example/docs/zh-CN/components/grid.md
  example/src/assets/css/markdown.css
  example/src/layouts/Layout.vue
  src/component/button/index.less
  src/provider/index.vue
  src/theme/variable.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

完成 input 与 textarea 样式拆解
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/components/panel.md
  src/component/button/index.less
  src/component/card/index.less
  src/component/input/index.less
  src/component/input/index.vue
  src/component/panel/index.less
  src/component/textarea/index.less
  src/component/textarea/index.vue
  src/theme/index.less
  src/theme/variable.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(playground): 适配 playground 0.04；可设置是否转换为 setup
  example/src/components/LayCode.vue
  example/src/plugin/usePlayground.ts
Due: prettier --write --no-verify, eslint --fix

fix(playground): 修改生成的链接
  example/src/plugin/usePlayground.ts
Due: prettier --write --no-verify, eslint --fix

提供除 primary 外的其他次色变量
  src/component/button/index.less
  src/theme/variable.less
Due: none

🐛[修复bug]解决tooltip组件第一次显示时，总是从左上角闪烁到对应位置的问题，删除visible属性(对外控制tooltip显示应使用isCanHide属性)
  example/docs/zh-CN/components/tooltip.md
  src/component/popper/index.vue
  src/component/tooltip/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛[修复bug]解决slider组件在拉拽时，tooltip不显示的问题
  src/component/slider/index.vue
Due: prettier --write --no-verify, eslint --fix

集成 vue-i18n 支持国际化
  example/src/layouts/Layout.vue
  package.json
  src/component/input/index.vue
  src/component/page/index.vue
  src/index.ts
  src/locales/index.ts
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

编写国际化文档 重写主题配置文档
  example/docs/zh-CN/guide/locale.md
  example/docs/zh-CN/guide/theme.md
  example/src/layouts/Layout.vue
  example/src/router/zh-CN.ts
  example/src/view/guide.vue
  package.json
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

简化项目结构
  example/docs/.keep
  example/docs/en-US/components/button.md
  example/docs/en-US/guide/home.md
  example/docs/en-US/guide/index.md
  example/docs/zh-CN/guide/introduce.md
  example/docs/zh-CN/guide/norms.md
  example/docs/zh-CN/guide/sandbox.md
  example/docs/zh-CN/guide/sponsor.md
  example/docs/zh-CN/guide/theme.md
  example/docs/zh-CN/hooks/useBoolean.md
  example/docs/zh-CN/hooks/useClickOutside.md
  example/docs/zh-CN/hooks/useFullScreen.md
  example/docs/zh-CN/hooks/useMove.md
  example/docs/zh-CN/hooks/useStarted.md
  example/docs/zh-CN/hooks/useState.md
  example/src/router/zh-CN.ts
  example/src/view/ecology.vue
  src/locales/en_US.ts
  src/locales/index.ts
  src/locales/zh_CN.ts
  src/types/select.ts
  src/utils/guidUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

切换 vue-i18n 到稳定版本
  package.json
Due: prettier --write

文档编写
  example/docs/zh-CN/guide/problem.md
Due: prettier --write

更新 README.md
  README.md
Due: prettier --write

新增 README.en.md
  README.en.md
  README.md
Due: prettier --write

修改 README.en.md
  README.en.md
Due: prettier --write

[移除] 删除多余的console，该console影响开发正常的console内容
  src/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

更新 README.md
  README.en.md
  README.md
Due: prettier --write

edit README.md
  README.en.md
Due: prettier --write

edit README.md
  README.md
Due: prettier --write

edit README.md
  README.en.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
