Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 修复 transfer 组件 search-method 属性
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新日志
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 transfer 组件 width 属性受 flex 影响宽度不稳定的问题
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(nprogress): router 添加 nprogress 加载过渡
  package/component/src/component/transfer/index.vue
  package/document-component/package.json
  package/document-component/src/assets/css/index.css
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/router/index.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(tab): 修复 tab 组件在夜间模式下的样式问题
  package/component/src/provider/index.vue
  package/document-component/src/document/zh-CN/components/tab.md
  package/document-component/src/document/zh-CN/components/transfer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/router/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

⚡️(transfer): 优化 search 属性开启时，拼字阶段仍触发搜索的问题
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.7.13 版本
  package/component/package.json
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

开放 treeSelect 组件
  package/component/package.json
  package/component/src/component/tree/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(tree-select): 开放 tree-select 组件
  package/component/src/component/tree/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(tree-select): 编写文档
  package/component/src/component/tree/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): 全组件 allow-clear 效果优化
  package/component/src/component/iconPicker/index.less
  package/component/src/component/input/index.less
  package/component/src/component/select/index.less
  package/component/src/component/tagInput/index.less
  package/component/src/component/textarea/index.less
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 升级 vue 3.2.45
  package.json
  pnpm-lock.yaml
Due: prettier --write

✨(component): 新增 qrcode 二维码组件
  package/component/package.json
  package/component/src/component/qrcode/index.less
  package/component/src/component/qrcode/index.ts
  package/component/src/component/qrcode/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/qrcode.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/src/component/qrcode/index.less
  package/component/src/component/qrcode/index.ts
  package/component/src/component/qrcode/index.vue
  package/document-component/src/document/zh-CN/components/qrcode.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): 优化 column 配置 type 属性为 number 时，起始索引集合分页数据
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/menuItem/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/menu.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 cascader 组件 当v-model不为空时，初始化会触发change回调的问题。
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): [修复] cascader 组件 外部更新v-model时，反显失效问题。
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 新增 menu-item 组件 to 属性
  package/component/src/component/menuItem/index.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): 更新日志
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(barcode): 新增条形码组件
  package/component/package.json
  package/component/src/component/barcode/index.ts
  package/component/src/component/barcode/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/barcode.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新日志
  package/component/src/component/barcode/index.vue
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/barcode.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(badge): 修复水波纹效果不生效的问题
  package/component/src/component/badge/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 完善文档
  package/component/src/component/qrcode/index.vue
  package/document-component/src/document/zh-CN/components/barcode.md
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化所有组件的 allow-clear 属性
  package/component/src/component/iconPicker/index.less
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/treeSelect/index.less
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/components/datePicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/cascader/index.less
  package/component/src/component/cascader/index.vue
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/qrcode/index.vue
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/button.md
  package/document-component/src/document/zh-CN/components/cascader.md
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新日志
  package/component/src/component/cascader/index.vue
  package/component/src/component/iconPicker/index.less
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/select/index.vue
  package/component/src/component/treeSelect/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/script/build.es.ts
  package/component/src/component/treeSelect/index.less
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/package.json
  package/component/script/build.es.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.8.0 版本
  package/component/package.json
  package/component/src/component/barcode/index.less
  package/component/src/component/barcode/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/barcode/index.vue
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/affix/index.vue
  package/component/src/component/barcode/index.vue
  package/component/src/component/qrcode/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/barcode/index.vue
  package/component/src/component/qrcode/index.vue
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 更新条形码文档
  package/document-component/src/document/zh-CN/components/barcode.md
Due: prettier --write

🐛(badge): 修复 badge 组件 color 属性无效的问题
  package/component/src/component/badge/index.vue
  package/document-component/src/document/zh-CN/components/badge.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.8.1 版本
  package/component/package.json
  package/component/src/component/badge/index.vue
  package/component/src/component/barcode/index.vue
  package/component/src/component/qrcode/index.vue
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/barcode.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 tree 点击 + - 仍触发 checkedKeys update 更新通知的问题
  package/component/src/component/tree/index.vue
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
