Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

chore: 发布 0.4.4
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 集成 dark-reader
  package.json
  src/component/button/index.vue
  src/component/card/index.vue
  src/component/datePicker/interface.ts
  src/provider/index.vue
  src/theme/variable.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 集成 dark-reader
  src/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix

fix(style): 夜间主题下忽略颜色选择器；添加菜单滚动条反转
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(checkbox): 暗色模式非选中状态显示异常的问题
  src/component/checkbox/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(style): 颜色选择器
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 新增 logo
  example/src/assets/logo.jpg
  package.json
Due: prettier --write

docs: 文档 dark 主题适配
  example/src/components/LayAnchor.vue
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  src/component/checkbox/index.vue
  src/provider/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 文档 dark 主题适配
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 优化文档
  example/docs/zh-CN/guide/dark.md
  example/src/layouts/Layout.vue
  example/src/router/zh-CN.ts
  example/src/view/guide.vue
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(tabs): 新增 tabPosition 属性, 更改选项卡位置
  example/docs/zh-CN/components/tab.md
  src/component/tab/index.less
  src/component/tab/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新文档
  example/src/layouts/Layout.vue
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: 修复 css 对现有 tab dom 结构的适配
  src/component/tab/index.less
Due: none

fix: 修复 css 对现有 tab dom 结构的适配
  src/component/tab/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(docs): 自动获取版本号
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  example/vite.config.ts
  src/utils/getLayuiVueVersion.ts
Due: prettier --write --no-verify, eslint --fix

chore: 格式化代码
  src/utils/getLayuiVueVersion.ts
Due: prettier --write --no-verify, eslint --fix

feat(docs): 图标列表新增复制功能
  example/docs/zh-CN/components/icon.md
  example/src/assets/css/markdown.css
Due: prettier --write

fix(docs): 优化获取版本
  example/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

docs: 更新日志, 修复文档细节
  example/docs/zh-CN/components/panel.md
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  src/component/avatar/index.vue
  src/component/dropdown/index.vue
  src/component/dropdown/interface.ts
  src/component/empty/index.vue
  src/component/input/index.vue
  src/component/panel/index.less
  src/component/panel/index.vue
  src/component/panel/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新日志, 修复文档细节
  src/component/avatar/index.vue
  src/component/dropdown/interface.ts
  src/component/empty/index.vue
  src/component/input/index.vue
  src/component/panel/index.vue
  src/component/panel/interface.ts
Due: prettier --write --no-verify, eslint --fix

fix: upload 组件 number 属性必填警告
  package.json
  src/component/upload/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(tabs): 完善卡片和默认类型的位置切换
  example/docs/zh-CN/components/tab.md
  src/component/tab/index.less
Due: prettier --write

chore(docs): 回退获取版本方式
  example/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

fix: 类型推断警告
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/getStarted.md
  example/src/components/LayAnchor.vue
  src/component/table/index.vue
  src/component/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: 修复 menu 组件 openKeys 属性失效
  example/docs/zh-CN/guide/changelog.md
  package.json
  src/component/card/index.less
  src/component/menu/index.vue
  src/component/subMenu/index.vue
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[修复] 日期选择组件在处理传入参数时无效的问题
  example/docs/zh-CN/components/datePicker.md
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(docs): animation 文档点击播放动画
  example/docs/zh-CN/components/animation.md
Due: prettier --write

feat: 新增 switch 组件 onswitch-value 与 unswitch-value 属性
  example/docs/zh-CN/components/switch.md
  example/docs/zh-CN/guide/changelog.md
  package.json
  src/component/menu/index.vue
  src/component/subMenu/index.vue
  src/component/switch/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(docs): 首页版本显示
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

docs: 更新文档
  example/docs/zh-CN/components/switch.md
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/dark.md
  src/component/datePicker/index.vue
  src/component/switch/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 button 组件 border-style 属性
  example/docs/zh-CN/components/animation.md
  example/docs/zh-CN/components/avatar.md
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/components/tree.md
  example/docs/zh-CN/guide/changelog.md
  src/component/button/index.vue
  src/component/transition/index.vue
  src/component/transition/transitions/collapseTransition.vue
  src/component/transition/transitions/fadeTransition.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: header nav 选中样式
  example/src/layouts/Layout.vue
  src/component/button/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(docs): 修复侧边目录滚动
  example/docs/zh-CN/components/animation.md
  example/docs/zh-CN/components/icon.md
  example/src/components/LayAnchor.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 发布 layui-vue-alpha.8
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/components/datePicker.md
  example/docs/zh-CN/guide/changelog.md
  package.json
  src/component/button/index.vue
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 编写 date-picker 文档
  example/docs/zh-CN/components/datePicker.md
  example/docs/zh-CN/guide/changelog.md
  package.json
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: 新增 date-picker 组件 type 属性 yearmonth 值
  example/docs/zh-CN/components/datePicker.md
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  src/component/datePicker/index.vue
  src/utils/getLayuiVueVersion.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: date-picker 的 v-model 默认 hh:mm:ss 读取不正确
  example/docs/zh-CN/components/datePicker.md
  example/docs/zh-CN/guide/changelog.md
  src/component/datePicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 优化 example 打包
  example/docs/zh-CN/components/card.md
  example/docs/zh-CN/components/empty.md
  example/docs/zh-CN/components/exception.md
  example/docs/zh-CN/components/result.md
  example/docs/zh-CN/guide/changelog.md
  example/src/components/LaySearch.vue
  example/vite.config.ts
  package.json
  script/build.es.ts
  src/component/datePicker/index.vue
  src/component/empty/index.less
  src/component/empty/index.vue
  src/component/exception/index.vue
  src/component/result/index.less
  src/component/result/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write
