Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

💗 publish 0.2.5
  README.md
  example/docs/zh-CN/components/icon.md
  example/docs/zh-CN/components/modal.md
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/getStarted.md
  example/src/layouts/Layout.vue
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  example/src/view/index.vue
  package.json
  src/css/icon-ext.png
  src/css/icon.png
  src/css/layer.css
  src/css/layui.css
  src/css/loading-0.gif
  src/css/loading-1.gif
  src/css/loading-2.gif
  src/font/iconfont.eot
  src/font/iconfont.less
  src/font/iconfont.svg
  src/font/iconfont.ts
  src/font/iconfont.ttf
  src/font/iconfont.woff
  src/font/iconfont.woff2
  src/index.ts
  src/module/button/index.vue
  src/module/icon/index.ts
  src/module/icon/index.vue
  src/module/iconPicker/index.vue
  src/module/layer/README.md
  src/module/layer/index.ts
  src/module/layer/index.vue
  src/module/layer/modal/index.ts
  src/module/table/index.vue
  vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

💗 publish 0.2.5
  package.json
Due: prettier --write

🌈 release 0.2.6
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

💬 补充 hooks 文档
  example/docs/zh-CN/components/icon.md
  example/docs/zh-CN/components/modal.md
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/getStarted.md
  example/docs/zh-CN/hooks/useBoolean.md
  example/docs/zh-CN/hooks/useClickOutside.md
  example/docs/zh-CN/hooks/useFullScreen.md
  example/docs/zh-CN/hooks/useMove.md
  example/docs/zh-CN/hooks/useStarted.md
  example/docs/zh-CN/hooks/useState.md
  example/src/layouts/Layout.vue
  example/src/main.ts
  example/src/router/zh-CN.ts
  example/src/view/hooks.vue
  example/src/view/index.vue
  package.json
  src/hooks/index.ts
  src/hooks/useClickOutside.ts
  src/hooks/useFullScreen.ts
  src/hooks/useMove.ts
  src/hooks/useNestedEvent.ts
  src/hooks/usePosition.ts
  src/index.ts
  src/module/colorPicker/ColorBox.vue
  src/module/dropdown/index.vue
  src/module/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌺 增补 load 加载层文档
  example/docs/zh-CN/components/load.md
  example/docs/zh-CN/components/modal.md
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  example/src/view/hooks.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

📊 更新栅格文档
  example/docs/zh-CN/components/grid.md
Due: prettier --write

🌸 优化 progress 组件结构
  example/docs/zh-CN/components/badge.md
  example/docs/zh-CN/components/card.md
  example/docs/zh-CN/components/icon.md
  example/docs/zh-CN/components/load.md
  example/src/router/zh-CN.ts
  src/module/progress/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

⬆️ 升级 vue 3.2.24
  example/docs/zh-CN/components/confirm.md
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/getStarted.md
  example/docs/zh-CN/guide/sponsor.md
  example/docs/zh-CN/guide/theme.md
  example/docs/zh-CN/hooks/useStarted.md
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  example/src/view/guide.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

完善评分组件
  example/docs/zh-CN/components/rate.md
  src/module/rate/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

修复 isHalf 模式下, 数值为整数时仍展示半选 Star
  example/docs/zh-CN/guide/changelog.md
  example/src/view/guide.vue
  package.json
  src/module/rate/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

整理更新日志
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

补充 useState 和 useBoolean 使用文档
  example/docs/zh-CN/hooks/useBoolean.md
  example/docs/zh-CN/hooks/useState.md
Due: prettier --write

补充 layer.msg 文档
  example/docs/zh-CN/components/confirm.md
  example/docs/zh-CN/components/msg.md
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

升级 layer-vue 1.1.0
  example/docs/zh-CN/components/load.md
  example/docs/zh-CN/components/msg.md
  package.json
Due: prettier --write

[拓展]评分组件增加可自定义图标
  example/docs/zh-CN/components/rate.md
  src/module/rate/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[完善]折叠面板(原手风琴)
  example/docs/zh-CN/components/collapse.md
  example/src/layouts/Layout.vue
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  src/module/collapse/index.vue
  src/module/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

升级 layer 1.1.1 与 icons-vue 1.0.1
  example/docs/zh-CN/components/load.md
  example/docs/zh-CN/components/modal.md
  example/docs/zh-CN/guide/changelog.md
  example/src/view/index.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

补充 layer 文档
  example/docs/zh-CN/components/confirm.md
  example/docs/zh-CN/components/load.md
  example/docs/zh-CN/components/msg.md
  src/module/menu/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[完善]tab关闭和切换tab操作
  example/docs/zh-CN/components/tab.md
  src/module/tab/index.vue
  src/module/tabItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌺 release 0.2.7
  example/docs/zh-CN/guide/changelog.md
  example/src/view/guide.vue
  package.json
  src/module/button/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix 按钮文字垂直居中
  src/module/button/index.less
Due: none

update README.md.
  README.md
Due: prettier --write

hooks module replace ecology
  example/docs/zh-CN/components/layer.md
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  example/src/view/ecology.vue
  example/src/view/index.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨ 新增input-number(数字输入框)、tooltip(文字提示)、修改input组件可接受number类型值
  example/docs/zh-CN/components/inputNumber.md
  example/docs/zh-CN/components/tooltip.md
  example/src/layouts/Layout.vue
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  src/index.ts
  src/module/input/index.vue
  src/module/inputNumber/index.less
  src/module/inputNumber/index.ts
  src/module/inputNumber/index.vue
  src/module/popper/calcPosition.ts
  src/module/popper/index.less
  src/module/popper/index.vue
  src/module/popper/usePopper.ts
  src/module/tooltip/index.ts
  src/module/tooltip/index.vue
  src/tools/domUtil.js
Due: prettier --write --no-verify, eslint --fix, prettier --write

升级 layer 1.1.3
  example/src/view/ecology.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

调整 input number 样式
  example/docs/zh-CN/guide/changelog.md
  src/module/inputNumber/index.less
  src/module/inputNumber/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛[完善]lay-code 文档 demo 代码复制功能
  example/src/components/LayCode.vue
Due: prettier --write --no-verify, eslint --fix

升级 layer 1.1.6
  package.json
  src/module/type/public.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

[临时修复]解决tooltip数据不更新的问题
  src/module/popper/index.vue
  src/module/tooltip/index.vue
Due: prettier --write --no-verify, eslint --fix

提交 Github 地址, 更改 ChangeLog 格式
  example/docs/zh-CN/components/animation.md
  example/docs/zh-CN/components/color.md
  example/docs/zh-CN/components/modal.md
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/contribution.md
  example/docs/zh-CN/guide/introduce.md
  example/src/components/LaySearch.vue
  example/src/layouts/Layout.vue
  example/src/view/component.vue
  example/src/view/index.vue
  package.json
  src/index.ts
  src/module/backTop/index.ts
  src/module/backTop/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛[修复bug]解决tooltip内容动态更新和深色主题边框白边的问题，新增禁用属性(disabled)
  example/docs/zh-CN/components/tooltip.md
  src/module/popper/calcPosition.ts
  src/module/popper/index.less
  src/module/popper/index.vue
  src/module/popper/usePopper.ts
  src/module/tooltip/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

📃 补充列配置文档
  example/docs/zh-CN/components/animation.md
  example/docs/zh-CN/components/table.md
  example/docs/zh-CN/guide/changelog.md
  example/src/view/component.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

slider组件
  example/docs/zh-CN/components/slider.md
  package.json
  src/module/slider/index.less
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛[优化] 优化tooltip动态位置显示问题，以及为滑块拉动提供显示属性
  example/docs/zh-CN/components/tooltip.md
  src/module/popper/index.vue
  src/module/popper/usePopper.ts
  src/module/tooltip/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

新增 lay-comment 组件
  example/docs/zh-CN/components/badge.md
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/components/color.md
  example/src/assets/css/markdown.css
  example/src/components/LayComment.vue
  example/src/main.ts
  example/src/plugin/common-plugins.ts
  example/src/plugin/create-comment.ts
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

router hash --> web 完善 utterances 集成
  example/docs/zh-CN/guide/changelog.md
  example/src/components/LayComment.vue
  example/src/main.ts
  example/src/router/index.ts
  example/src/router/zh-CN.ts
  example/src/view/guide.vue
  src/module/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更换评论源
  example/src/components/LayComment.vue
Due: prettier --write --no-verify, eslint --fix

升级 layer 1.1.9
  package.json
Due: prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
