Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

perf(field): 根据 slot 内容决定 块状 线条 状态
  docs/docs/zh-CN/components/collapse.md
  docs/docs/zh-CN/components/container.md
  docs/docs/zh-CN/components/field.md
  docs/src/styles/markdown.css
  src/index.ts
  src/module/checkboxGroup/index.ts
  src/module/checkboxGroup/index.vue
  src/module/field/index.vue
  src/module/header/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新文档
  docs/docs/zh-CN/components/container.md
Due: prettier --write

feat(checkbox): 整理 checkbox 组件
  src/module/checkbox/index.vue
Due: prettier --write --no-verify, eslint --fix

peaf(checkbox): 重构 checkbox 逻辑
  docs/docs/zh-CN/components/checkbox.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/module/checkbox/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新文档
  docs/docs/zh-CN/components/animation.md
  docs/docs/zh-CN/components/avatar.md
  docs/docs/zh-CN/components/badge.md
  docs/docs/zh-CN/components/block.md
  docs/docs/zh-CN/components/breadcrumb.md
  docs/docs/zh-CN/components/button.md
  docs/docs/zh-CN/components/cards.md
  docs/docs/zh-CN/components/checkbox.md
  docs/docs/zh-CN/components/collapse.md
  docs/docs/zh-CN/components/container.md
  docs/docs/zh-CN/components/dropdown.md
  docs/docs/zh-CN/components/empty.md
  docs/docs/zh-CN/components/field.md
  docs/docs/zh-CN/components/grid.md
  docs/docs/zh-CN/components/icon.md
  docs/docs/zh-CN/components/iconPicker.md
  docs/docs/zh-CN/components/line.md
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/components/page.md
  docs/docs/zh-CN/components/progress.md
  docs/docs/zh-CN/components/rate.md
  docs/docs/zh-CN/components/tab.md
  docs/docs/zh-CN/components/table.md
  docs/docs/zh-CN/components/timeline.md
  src/module/field/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(icon): 新增 prefix 前缀, 支持自定义图标
  docs/docs/zh-CN/components/checkbox.md
  docs/docs/zh-CN/components/collapse.md
  docs/docs/zh-CN/components/icon.md
  pnpm-lock.yaml
  src/module/checkbox/index.vue
  src/module/checkboxGroup/index.vue
  src/module/collapseItem/index.vue
  src/module/icon/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(card): 扩展 插槽 用法, 新增 title 属性
  docs/docs/zh-CN/components/avatar.md
  docs/docs/zh-CN/components/cards.md
  docs/docs/zh-CN/components/page.md
  src/module/avatar/index.vue
  src/module/card/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci: 升级全局依赖
  docs/docs/zh-CN/components/page.md
  docs/docs/zh-CN/components/tab.md
  package.json
  src/module/tab/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

...
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(field): 文档集成 field 组件解析
  docs/docs/zh-CN/components/avatar.md
  docs/docs/zh-CN/components/checkbox.md
  docs/docs/zh-CN/components/collapse.md
  docs/docs/zh-CN/components/rate.md
  docs/docs/zh-CN/components/tab.md
  docs/src/plugin/common-plugins.ts
  docs/src/plugin/create-container.ts
  src/module/avatar/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

document(global): 更新文档
  docs/docs/zh-CN/components/checkbox.md
  docs/docs/zh-CN/components/icon.md
  docs/docs/zh-CN/components/iconPicker.md
  docs/docs/zh-CN/components/line.md
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/components/page.md
Due: prettier --write

document(global): 更新文档
  docs/docs/zh-CN/components/animation.md
  docs/docs/zh-CN/components/avatar.md
  docs/docs/zh-CN/components/badge.md
  docs/docs/zh-CN/components/block.md
  docs/docs/zh-CN/components/breadcrumb.md
  docs/docs/zh-CN/components/button.md
  docs/docs/zh-CN/components/cards.md
  docs/docs/zh-CN/components/checkbox.md
  docs/docs/zh-CN/components/collapse.md
  docs/docs/zh-CN/components/container.md
  docs/docs/zh-CN/components/dropdown.md
  docs/docs/zh-CN/components/empty.md
  docs/docs/zh-CN/components/field.md
  docs/docs/zh-CN/components/grid.md
  docs/docs/zh-CN/components/icon.md
  docs/docs/zh-CN/components/iconPicker.md
  docs/docs/zh-CN/components/layout.md
  docs/docs/zh-CN/components/line.md
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/components/page.md
  docs/docs/zh-CN/components/progress.md
  docs/docs/zh-CN/components/rate.md
  docs/docs/zh-CN/components/tab.md
  docs/docs/zh-CN/components/table.md
  docs/docs/zh-CN/components/timeline.md
Due: prettier --write

document(global): 更新文档
  docs/docs/zh-CN/components/page.md
Due: prettier --write

[依赖] 升级 vue 3.2.20 版本
  package.json
  pnpm-lock.yaml
Due: prettier --write

perf(checkbox): 新增 disabled 禁用状态
  docs/docs/zh-CN/components/button.md
  docs/docs/zh-CN/components/checkbox.md
  docs/docs/zh-CN/components/icon.md
  docs/src/styles/markdown.css
  src/module/checkbox/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

document(checkbox): 更新文档
  docs/docs/zh-CN/components/checkbox.md
Due: prettier --write

fix(tree): keep the default behavior keepace with layui
  .pnpm-debug.log
  src/module/tree/TreeEntity.vue
  src/module/tree/index.vue
Due: prettier --write --no-verify, eslint --fix

perf(radio): 新增 radio 组件 change 事件
  docs/docs/zh-CN/components/radio.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/module/radio/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(input): 新增 input 组件 input 事件
  docs/docs/zh-CN/components/input.md
  docs/docs/zh-CN/components/page.md
  docs/src/layouts/Layout.vue
  docs/src/plugin/common-plugins.ts
  docs/src/router/zh-CN.ts
  src/module/input/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

document(component): 更新 input 和 radio 组件文档
  docs/docs/zh-CN/components/checkbox.md
  docs/docs/zh-CN/components/input.md
  docs/docs/zh-CN/components/radio.md
Due: prettier --write

perf(input): input 组件新增 disabled 属性, 支持禁用
  docs/docs/zh-CN/components/input.md
  src/module/input/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(textarea): 新增 disabled name 属性 input 事件
  docs/docs/zh-CN/components/textarea.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/module/textarea/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

test
  docs/docs/zh-CN/components/checkbox.md
Due: prettier --write

feat(tree): add showChecked and wip workspace
  docs/docs/zh-CN/components/tree.md
  src/module/tree/TreeEntity.vue
  src/module/tree/index.vue
  src/module/tree/tree.type.ts
  src/module/tree/treeHelper.ts
  src/module/tree/useTreeData.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(switch): 新增 active-text inactive-text disabled 属性
  docs/docs/zh-CN/components/switch.md
  docs/src/layouts/Layout.vue
  docs/src/plugin/common-plugins.ts
  docs/src/router/zh-CN.ts
  src/module/switch/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(form): 规范表单组件 boolean 类型
  src/module/checkbox/index.vue
  src/module/input/index.vue
  src/module/textarea/index.vue
Due: prettier --write --no-verify, eslint --fix

perf(checkbox): 删除 customChecked 内置逻辑
  docs/docs/zh-CN/components/checkbox.md
  src/css/layui.css
  src/module/breadcrumb/index.vue
  src/module/breadcrumbItem/index.vue
  src/module/checkbox/index.vue
  src/module/switch/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

perf(table): 新增 v-model:selectedKeys 选中项
  docs/docs/zh-CN/components/page.md
  docs/docs/zh-CN/components/table.md
  src/module/checkbox/index.vue
  src/module/table/component/checkbox.vue
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): table 组件支持打印
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix

perf(transfer): 初步集成穿梭框
  docs/docs/zh-CN/components/checkbox.md
  src/module/button/index.vue
  src/module/checkbox/index.vue
  src/module/table/index.vue
  src/module/transfer/component/checkbox.vue
  src/module/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(tree): 完成树形组件复选框功能
  .eslintrc.js
  docs/docs/zh-CN/components/tree.md
  src/module/tree/TreeEntity.vue
  src/module/tree/index.vue
  src/module/tree/tree.type.ts
  src/module/tree/treeHelper.ts
  src/module/tree/useTreeData.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(tree): 完成树形组件复选框功能
  src/module/tree/TreeEntity.vue
  src/module/tree/index.vue
  src/module/tree/treeHelper.ts
  src/module/tree/useTreeData.ts
Due: prettier --write --no-verify, eslint --fix

feat(tree): 完成树形组件复选框功能
  docs/docs/zh-CN/components/checkbox.md
  src/module/button/index.vue
  src/module/checkbox/index.vue
  src/module/table/component/checkbox.vue
  src/module/table/index.vue
  src/module/transfer/component/checkbox.vue
  src/module/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

document(tree): 树文档
  docs/docs/zh-CN/components/tree.md
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(tree): 添加属性描述
  docs/docs/zh-CN/components/tree.md
  src/module/tree/treeHelper.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(component): 完善 表格 穿梭狂 组件
  src/module/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix

更新文档
  docs/docs/zh-CN/components/tree.md
  src/module/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新文档
  docs/docs/zh-CN/components/transfer.md
  package.json
Due: prettier --write

changelog: 更新日志
  docs/docs/zh-CN/guide/changelog.md
Due: prettier --write

feat(menu): 新增 title 插槽, 调整 子菜单 height 为 46px
  docs/docs/zh-CN/components/breadcrumb.md
  docs/docs/zh-CN/components/grid.md
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/guide/changelog.md
  docs/src/layouts/Layout.vue
  docs/src/styles/markdown.css
  src/css/layui.css
  src/module/menuChildItem/index.vue
  src/module/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
