Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

feat(layui-vue): release v2.17.5
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
  pnpm-lock.yaml
Due: prettier --write

同步更新 Layer 文档
  docs/document-component/src/document/zh-CN/components/layer.md
  docs/document-layer/src/document/zh-CN/help.md
Due: prettier --write

fix(form): label-widtth为0时label隐藏
  packages/component/src/component/formItem/index.hooks.ts
  packages/component/src/component/formItem/index.vue
  packages/component/src/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

fix(menu-item): 删除to属性
  packages/component/script/build.es.ts
  packages/component/src/component/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(component/layer): layer 文档调整、 TypeScript 支持优化
  docs/document-component/src/document/zh-CN/components/layer.md
  packages/layer/src/component/index.vue
  packages/layer/src/types/index.ts
  packages/layer/src/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

style(component/layer): 修改 Layer 的底部按钮中的 class 覆盖默认样式
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

style(component/layer): layer btn 样式移植
  packages/layer/src/theme/index.less
Due: none

chore(layer/layui-vue): layer引入layui-vue
  package.json
  packages/component/package.json
  packages/component/script/build.es.ts
  packages/component/src/index.ts
  packages/json-schema-form/package.json
  packages/layer/package.json
  packages/layer/shims-vue.d.ts
  packages/layer/src/component/index.vue
  packages/layer/src/theme/index.css
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(date-picker): min/max属性丢失响应式
  packages/component/src/component/datePicker/components/components/DateContent.vue
  packages/component/src/component/datePicker/index.vue
  packages/component/src/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix

chore(component/layer): layer 现在按需引用 LayInput、LayButton 和 LayTextarea
  packages/layer/shims-vue.d.ts
  packages/layer/src/component/Prompt.vue
  packages/layer/src/component/index.vue
  packages/layer/src/types/index.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/src/component/input/index.less
  packages/layer/src/component/Header.vue
  packages/layer/src/component/HeaderBtn.vue
  packages/layer/src/component/Iframe.vue
  packages/layer/src/component/Notifiy.vue
  packages/layer/src/component/Photos.vue
  packages/layer/src/component/Prompt.vue
  packages/layer/src/component/Shade.vue
  packages/layer/src/component/index.vue
  packages/layer/src/index.ts
  packages/layer/src/theme/index.css
  packages/layer/src/theme/index.less
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: packageManager
  package.json
Due: prettier --write

fix(tree): check-strictly为false时checkedKeys值异常
  packages/component/src/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

!329 style(tree): tree 组件图标及连线样式优化 * fix(component/tree): 阻止叶子节点响应点击事件 * style(component/tree): tree 组件图标及连线样式调整
  packages/component/src/component/tree/TreeNode.vue
  packages/component/src/component/tree/index.less
Due: prettier --write --no-verify, eslint --fix

!330 fix(form): label-width为0时，label隐藏 * fix(form): label-widtth为0时label隐藏
  packages/component/src/component/formItem/index.hooks.ts
  packages/component/src/component/formItem/index.vue
  packages/component/src/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

!331 chore(menu-item): 删除props.to属性 * fix(menu-item): 删除to属性
  packages/component/script/build.es.ts
  packages/component/src/component/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix

!332 fix(badge): ripple动画闪动 * chore(component/badge): 简化代码 * feat(component/badge): badge 组件采用新 Ripple 动画
  packages/component/src/component/badge/index.vue
Due: prettier --write --no-verify, eslint --fix

!334 fix(date-picker): min/max属性丢失响应式 * fix(date-picker): min/max属性丢失响应式
  packages/component/src/component/datePicker/components/components/DateContent.vue
  packages/component/src/component/datePicker/index.vue
  packages/component/src/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix

!336 fix(tree): check-strictly为false时checkedKeys值异常 * fix(tree): check-strictly为false时checkedKeys值异常
  packages/component/src/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

feat(component/cascaderPanel): 新组件 级联面板 CascaderPanel
  docs/document-component/src/document/zh-CN/components/cascader.md
  packages/component/src/component/cascader/index.less
  packages/component/src/component/cascader/index.vue
  packages/component/src/component/cascaderPanel/index.less
  packages/component/src/component/cascaderPanel/index.ts
  packages/component/src/component/cascaderPanel/index.vue
  packages/component/src/component/cascaderPanel/interface.ts
  packages/component/src/component/dropdown/index.vue
  packages/component/src/components.ts
  packages/component/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(date-picker): 所有类型组件兼容min/max属性响应式 #I9W2Q6
  packages/component/src/component/datePicker/components/DatePanel.vue
  packages/component/src/component/datePicker/components/MonthPanel.vue
  packages/component/src/component/datePicker/components/TimePanel.vue
  packages/component/src/component/datePicker/components/YearPanel.vue
Due: prettier --write --no-verify, eslint --fix

fix(layer): 引入layui-vue公共样式
  packages/component/script/build.es.ts
  packages/layer/package.json
  packages/layer/src/theme/index.css
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(layer): 新增控制(min/max状态之间不能直接切换)
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(component/cascaderPanel): 修复级联面板的一些问题
  docs/document-component/src/document/zh-CN/components/cascader.md
  packages/component/src/component/cascader/index.vue
  packages/component/src/component/cascaderPanel/index.hook.ts
  packages/component/src/component/cascaderPanel/index.vue
  packages/component/src/component/cascaderPanel/interface.ts
  packages/component/src/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(layer): 最小化复原位置错误
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

style(form): layui-form-item-mode
  packages/component/src/component/form/index.less
  packages/component/src/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

!340 fix(layer): 最小化后还原位置错误 * fix(layer): 最小化复原位置错误
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

!341 style(form): layui-form-item>block类名调整为layui-form-item>layui-form-item-block * style(form): layui-form-item-mode
  packages/component/src/component/form/index.less
  packages/component/src/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(layer): release v2.4.1
  .npmrc
  packages/layer/package.json
Due: prettier --write

feat(layui-vue): release v2.17.6
  docs/document-component/src/document/zh-CN/guide/changelog.md
  packages/component/package.json
Due: prettier --write

feat(json-schema-form): release v1.0.10
  package.json
  packages/json-schema-form/CHANGELOG.md
  packages/json-schema-form/package.json
  packages/json-schema-form/src/component/form/index.vue
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(layer): 手动调用min/full函数切换状态异常
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

docs(layer): delete destroy callback
  docs/document-component/src/document/zh-CN/components/layer.md
Due: prettier --write

refactor(popper): use floatingui
  packages/component/package.json
  packages/component/src/component/popper-v2/component/content.vue
  packages/component/src/component/popper-v2/component/forward-ref.tsx
  packages/component/src/component/popper-v2/component/trigger.vue
  packages/component/src/component/popper-v2/index.less
  packages/component/src/component/popper-v2/index.ts
  packages/component/src/component/popper-v2/popper-v2.vue
  packages/component/src/component/popper-v2/types.ts
  packages/component/src/component/popper-v2/usePopper/index.ts
  packages/component/src/component/popper-v2/usePopper/types.ts
  packages/component/src/component/popper-v2/usePopper/usePopper.ts
  packages/component/src/component/popper-v2/usePopper/utils.ts
  packages/component/src/component/popper-v2/utils.ts
  packages/component/src/index.ts
  play/main.ts
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(component/cascaderPanel): 修复级联面板的一些问题
  docs/document-component/src/document/zh-CN/components/cascader.md
  packages/component/src/component/cascader/index.vue
  packages/component/src/component/cascaderPanel/index.hook.ts
  packages/component/src/component/cascaderPanel/index.less
  packages/component/src/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor(popper): in development
  packages/component/package.json
  packages/component/src/component/popper-v2/component/content.vue
  packages/component/src/component/popper-v2/component/forward-ref.tsx
  packages/component/src/component/popper-v2/component/trigger.vue
  packages/component/src/component/popper-v2/hook/useDelayTrigger.ts
  packages/component/src/component/popper-v2/index.less
  packages/component/src/component/popper-v2/popper-v2.vue
  packages/component/src/component/popper-v2/types.ts
  packages/component/src/component/popper-v2/usePopper/index.ts
  packages/component/src/component/popper-v2/utils.ts
  packages/component/src/component/popper/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  pnpm-lock.yaml
Due: none

refactor
  docs/document-component/src/document/zh-CN/components/tooltip.md
  packages/component/src/component/menu/index.less
  packages/component/src/component/popper-v2/component/content.vue
  packages/component/src/component/popper-v2/index.less
  packages/component/src/component/popper-v2/utils.ts
  packages/component/src/component/popper/calcPosition.ts
  packages/component/src/component/popper/component/content.vue
  packages/component/src/component/popper/component/forward-ref.tsx
  packages/component/src/component/popper/component/trigger.vue
  packages/component/src/component/popper/hook/useDelayTrigger.ts
  packages/component/src/component/popper/index.less
  packages/component/src/component/popper/index.ts
  packages/component/src/component/popper/index.vue
  packages/component/src/component/popper/popper.vue
  packages/component/src/component/popper/types.ts
  packages/component/src/component/popper/usePopper/index.ts
  packages/component/src/component/popper/usePopper/types.ts
  packages/component/src/component/popper/usePopper/usePopper.ts
  packages/component/src/component/popper/usePopper/utils.ts
  packages/component/src/component/popper/utils.ts
  packages/component/src/component/tagInput/index.less
  packages/component/src/component/tooltip/index.less
  packages/component/src/component/tooltip/index.vue
  packages/component/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor
  docs/document-component/src/document/zh-CN/components/tooltip.md
  packages/component/src/component/popper/component/content.vue
  packages/component/src/component/popper/usePopper/index.ts
  packages/component/src/component/popper/usePopper/usePopper.ts
  packages/component/src/component/popper/usePopper/utils.ts
  packages/component/src/component/tooltip/index.vue
  packages/component/src/component/tooltip/types.ts
  packages/component/src/theme/public.less
Due: prettier --write --no-verify, eslint --fix, prettier --write
