Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

✨(table): 优化 default-toolbar 根据设置顺序渲染
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(tab/select): 修复 slots 打包后解析逻辑不正确的问题
  package/component/package.json
  package/component/src/component/select/index.vue
  package/component/src/component/tab/index.vue
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): 修复 column 配置 align 属性失效
  package/component/src/component/select/index.vue
  package/component/src/component/tab/index.vue
  package/component/src/component/table/TableRow.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(changelog): update
  package/component/src/component/table/TableRow.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 发布 1.7.9 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

✨(component): 整理 vueUtil 工具, 常用插槽解析与类型判断
  package/component/src/component/dropdown/index.vue
  package/component/src/component/dropdown/util.ts
  package/component/src/utils/index.ts
  package/component/src/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): select / tab slots 解析逻辑优化
  package/component/src/component/dropdown/util.ts
  package/component/src/component/select/index.vue
  package/component/src/component/tab/index.vue
  package/component/src/utils/index.ts
  package/component/src/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/dropdown/util.ts
  package/component/src/component/select/index.vue
  package/component/src/component/tab/index.vue
Due: prettier --write --no-verify, eslint --fix

修复 search-method 自定义搜索逻辑不生效
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(select): 简化案例
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write

✨(component): 发布 1.7.10 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

指定网页语言类型 lang=zh，这样每次打开时浏览器就不会提醒需要翻译了
  package/document-component/index.html
Due: prettier --write

🐛(darkreader): 修复夜间模式普通 button 组件边框与背景色不一致
  package/component/src/theme/variable.less
Due: none

🐛(component): 优化 checkbox 默认复选样式
  package/component/src/component/checkbox/index.less
Due: none

🌀(icon-picker): 优化 icon-picker 下拉动效
  package/component/src/component/iconPicker/index.less
  package/component/src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): update
  package/component/src/component/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix

📝(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(icon-picker): 新增 allow-clear 属性, 开启清空操作
  package/component/src/component/iconPicker/index.less
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/tabItem/index.vue
  package/document-component/src/document/zh-CN/components/iconPicker.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): 修复 .layui-table-total 背景色 fixed 字段不生效的问题
  package/component/src/component/iconPicker/index.vue
  package/component/src/component/tabItem/index.vue
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(tab): add horizontalScroll 添加 tab 选项卡鼠标滚动功能, 兼容移动端触摸事件
  package/component/src/component/tab/index.vue
Due: prettier --write --no-verify, eslint --fix

fix(page-header): backIcon 插槽在html 文件中无效
  package/component/src/component/pageHeader/index.vue
  package/component/src/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

fix(layer): success 执行时机
  package/layer/src/component/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(textarea): 根据内容自适应大小
  package/component/src/component/textarea/index.less
  package/component/src/component/textarea/index.vue
Due: prettier --write --no-verify, eslint --fix

fix:select多选placeholder无效, 将多选和单选搜索样式统一
  package/component/src/component/select/index.vue
  package/component/src/component/tagInput/index.vue
Due: prettier --write --no-verify, eslint --fix

fix:select duplicate attribute
  package/component/src/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): cascader组件 修复初始值不为空时无反显问题
  package/component/src/component/cascader/index.vue
  package/document-component/src/document/zh-CN/components/cascader.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): 优化 tag-input 组件 disabled 状态优化
  package/component/package.json
  package/component/src/component/tab/index.vue
  package/component/src/component/tagInput/index.less
  package/component/src/component/tagInput/index.vue
  package/component/src/component/textarea/index.vue
  package/component/src/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

使 SplitPanelItem 的 space 可以接受包含 百分比的参数
  package/component/src/component/splitPanelItem/index.vue
Due: prettier --write --no-verify, eslint --fix

SplitPanelItem 新增参数 BUG修复
  package/component/src/component/splitPanelItem/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 icon-picker 组件按需加载 lay-icon 无法解析的警告
  package/component/package.json
  package/component/src/component/iconPicker/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(table): 修复 table 组件 columns 属性缺少响应式的能力
  package/component/src/component/splitPanelItem/index.vue
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(table): update
  package/component/src/component/table/TableRow.vue
  package/component/src/component/table/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 tag-input 与 select 组件前缀与后缀插槽
  package/component/src/component/select/index.vue
  package/component/src/component/table/index.vue
  package/component/src/component/tagInput/index.less
  package/component/src/component/tagInput/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/components/tagInput.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 更新 table select tag-input 文档
  package/component/src/component/select/index.vue
  package/component/src/component/tagInput/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/components/table.md
  package/document-component/src/document/zh-CN/components/tagInput.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(transfer): 新增 search-method 方法，用于自定义搜索逻辑
  package/component/src/component/select/index.vue
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/components/transfer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(transfer): 新增 leftTitle 与 rightTitle 插槽, 用于自定义列表标题
  package/component/src/component/transfer/index.vue
  package/document-component/src/document/zh-CN/components/transfer.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 更新 transfer 穿梭框文档
  package/document-component/src/document/zh-CN/components/transfer.md
Due: prettier --write

✨(component): 发布 1.7.12 版本
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 select 多选模式设置 style 属性 width 宽度失效问题
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write
