Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 优化 checkbox 与 radio 在 form-item 组件不同尺寸中居中的问题
  package/component/src/component/form/index.less
Due: none

✨(component): 优化 checkbox 组件在不同尺寸下 icon 与 label 的间隔问题
  package/component/src/component/checkbox/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/src/component/checkbox/index.less
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write

✨(component): 优化 icon-picker 组件 size 属性不同值情况下 icon 的大小样式
  package/component/src/component/iconPicker/index.less
Due: none

✨(component): 修订版本号为 2.2.0-alpha.1
  package/component/package.json
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

✨(component): 优化 select 组件多选模式下复选框和文本之间的间隔过大的问题
  package/component/src/component/select/index.less
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/component/src/component/selectOption/index.vue
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 table 与 select 中 checkbox 的错位问题
  package/component/src/component/select/index.less
  package/component/src/component/selectOption/index.vue
  package/component/src/component/table/index.less
Due: prettier --write --no-verify, eslint --fix

✨(component): 修订版本号为 2.2.0
  package/component/package.json
  package/component/src/component/form/index.less
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): update
  package/document-component/src/document/zh-CN/components/colorPicker.md
  package/document-component/src/document/zh-CN/components/form.md
  package/document-component/src/document/zh-CN/components/iconPicker.md
Due: prettier --write

📝(component): update
  wechat.jpg
Due: none

✨(component): 优化 page 组件，移除 showCount 为 true 时的页码展示
  package/component/src/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 layCheckcard 与 layCheckcardGroup 在 按需模式 中无法使用的问题
  package/component/src/index.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 修正 tree 与 tree-select 文档
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write

✨(component): 新增 tree 组件 selectedKey 属性，用于设置选中节点
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.less
  package/component/src/component/tree/index.vue
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): 优化 tree 组件 selectedKey 样式
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.less
  package/component/src/component/tree/index.vue
Due: prettier --write --no-verify, eslint --fix

✨(component): 修订版本号为 2.2.1-alpha.1
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 修订版本号为 2.2.1
  package/component/package.json
  package/component/src/components.ts
  package/component/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.2.2
  package/component/package.json
  package/component/src/component/checkcard/index.vue
  package/component/src/component/checkcardGroup/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): 优化 tree 组件，移除 text-decoration: underline 标题样式
  package/component/src/component/tree/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🌀(component): 优化 tree 组件，showLine 为 false 时 hover 状态 border-radius 跟随 css 变量
  package/component/src/component/tree/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): 修复 tree 组件 showLine 为 false 时，节点在展开与收起时，图标无区别的问题
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.less
  package/document-component/src/document/zh-CN/components/tree.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修复 tree 组件文档解析错误
  package/document-component/src/document/zh-CN/components/tree.md
Due: prettier --write

🌀(component): 优化 tree 组件 showLine 为 false 时候，尾节点的缩进宽度与其他节点不一致的问题
  package/component/src/component/tree/TreeNode.vue
  package/component/src/component/tree/index.less
  package/component/src/component/tree/index.vue
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): 修复 notice-bar 组件 textlist 远程加载时仅展示首个文本，滚动失效的问题
  package/component/src/component/carousel/index.vue
  package/component/src/component/noticeBar/index.vue
  package/document-component/src/document/zh-CN/components/noticeBar.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 input 组件 append 与 prepend 插槽 disabled 参数，表示当前输入框的禁用状态
  package/component/src/component/input/index.less
  package/component/src/component/input/index.vue
  package/document-component/src/document/zh-CN/components/input.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.3.0-alpha.1
  package/component/package.json
  package/component/src/component/input/index.vue
  package/component/src/component/noticeBar/index.vue
  package/component/src/component/tree/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

💄(component): 完成 loading 组件基础目录搭建
  package/component/src/component/loading/index.less
  package/component/src/component/loading/index.ts
  package/component/src/component/loading/index.vue
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/loading.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 新增 volar 组件对 radio-button 与 popconfirm 组件的支持，提供编码提示
  package/component/src/component/loading/index.vue
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/loading.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): 调整 loading 组件说明文档
  package/document-component/src/document/zh-CN/components/loading.md
Due: prettier --write

📝(component): 更新 下载量 与 star 信息
  package/document-component/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

⏪(component): 移除 loading 相关文件
  package/component/package.json
  package/component/src/components.ts
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/components/loading.md
  package/document-component/src/router/zh-CN.ts
  package/document-component/src/view/utils/menus.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): 修订版本号为 2.3.0
  package/component/src/index.ts
  package/document-component/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): 整理更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): 补充 form 组件遗漏属性说明
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write

📝(component): 更新微信交流群二维码
  wechat.jpg
Due: none

✨(component): 移除 table 组件无效元素
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/src/component/carousel/index.vue
  package/document-component/src/document/zh-CN/components/card.md
  package/document-component/src/document/zh-CN/guide/changelog.md
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
