Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

feat(table): 初步完成 table 组件
  docs/docs/zh-CN/components/table.md
  src/css/layui.css
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): columns 配置 新增 customSlot 自定义插槽
  docs/docs/zh-CN/components/table.md
  src/css/layui.css
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(transfer): 初步集成 tansfer 组件
  docs/docs/zh-CN/components/layout.md
  docs/docs/zh-CN/components/transfer.md
  docs/src/layouts/Layout.vue
  docs/src/router/zh-CN.ts
  src/index.ts
  src/module/transfer/index.ts
  src/module/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(page): 新增 @jump 回调函数
  docs/docs/zh-CN/components/page.md
  docs/src/layouts/Layout.vue
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(menu): 菜单项 与 目录 重复渲染
  src/module/menuItem/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(table): 新增 change 回调函数, 支持数据分页
  docs/docs/zh-CN/components/table.md
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): 新增 toolbar 插槽, 支持自定义工具栏
  docs/docs/zh-CN/components/table.md
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci(document): 支持移动端阅览
  docs/src/layouts/Layout.vue
Due: prettier --write --no-verify, eslint --fix

document(page): 更新 page 组件文档
  docs/docs/zh-CN/components/layout.md
  docs/docs/zh-CN/components/page.md
  package.json
Due: prettier --write

document(layout): 更新 layout 文档
  docs/docs/zh-CN/components/layout.md
  docs/docs/zh-CN/components/page.md
  docs/docs/zh-CN/guide/changelog.md
  docs/src/assets/layout.png
Due: prettier --write

document(rate): 更新 rate 评分文档
  docs/docs/zh-CN/components/rate.md
Due: prettier --write

feat(iconPicker): iconPicker 新增 showSearch 配置, 是否启用搜索
  docs/docs/zh-CN/components/iconPicker.md
  src/module/iconPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): 新增 defaultToolbar 属性, 用于开启默认工具栏
  docs/docs/zh-CN/components/table.md
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(warming): 修复大部分语法警告
  docs/docs/zh-CN/components/menu.md
  docs/docs/zh-CN/components/rate.md
  src/module/checkbox/index.vue
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(button): 新增 border 属性, 设置 边框 颜色
  README.md
  docs/docs/zh-CN/components/button.md
  src/module/button/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

document(button): 更新 button 文档
  docs/docs/zh-CN/components/button.md
Due: prettier --write

feat(table): 新增 id 与 selectedKeys, checkbox 属性, 待完善多选框逻辑
  docs/docs/zh-CN/components/table.md
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

update README.md.
  README.md
Due: prettier --write

[依赖] 升级全局依赖
  docs/src/router/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): 规范 table 组件代码
  docs/docs/zh-CN/guide/changelog.md
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): 新增 changeSelectedKeys 回调
  docs/docs/zh-CN/components/table.md
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

rest(checkbox): 重构 checkbox 逻辑
  src/module/checkbox/index.vue
  src/module/menuItem/index.vue
  src/module/table/index.vue
Due: prettier --write --no-verify, eslint --fix

[更新]:树形组件基础版
  docs/docs/zh-CN/components/tree.md
  src/module/tree/TreeEntity.vue
  src/module/tree/index.vue
  src/module/tree/props.ts
  src/module/tree/tree.type.ts
  src/module/tree/treeHelper.ts
  src/module/tree/useTreeData.ts
  src/module/type/public.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix(collapse): 方向图标根据展开状态变化
  package.json
  src/module/breadcrumb/index.vue
  src/module/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[更新]: 树形组件基础演示
  docs/docs/zh-CN/components/tree.md
  src/module/tree/TreeEntity.vue
  src/module/tree/index.ts
  src/module/tree/index.vue
  src/module/tree/tree.type.ts
  src/module/tree/treeHelper.ts
  src/module/tree/useTreeData.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

[更新]: 修改树形组件展示方案
  docs/docs/zh-CN/components/tree.md
Due: prettier --write

feat(transfer): 初步集成 transfer 组件
  docs/docs/zh-CN/components/transfer.md
  src/module/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci(commitlint): add commitlint in project
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

test: commit
  .husky/commit-msg
Due: none

test: commit
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write

style(prettier): reset code style with prettier
  pnpm-lock.yaml
Due: none

开启 eslint 检测
  .husky/commit-msg
Due: none

test
  src/index.ts
Due: prettier --write --no-verify, eslint --fix

test
  src/module/tree/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(other): test commitlint commit
  src/index.ts
Due: prettier --write --no-verify, eslint --fix

chore(other): test commitlint
  src/module/tree/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(other): test commitlint
  src/index.ts
Due: prettier --write --no-verify, eslint --fix

perf(collapse): 删除 collapseItem 的 show 配置, 使用 collapse openKeys 替换
  docs/docs/zh-CN/components/collapse.md
  src/module/collapse/index.vue
  src/module/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write
