Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

🌀(component): (tree-select) 搜索回调添加防抖
  package/component/src/component/treeSelect/index.vue
Due: prettier --write --no-verify, eslint --fix

💄: add .editorconfig file
  .editorconfig
Due: none

fix 表格内容为number，宽度检测有误
  package/component/src/component/table/hooks/useAutoColsWidth.ts
Due: prettier --write --no-verify, eslint --fix

fix 表格数据宽度问题
  package/component/src/component/table/hooks/useAutoColsWidth.ts
Due: prettier --write --no-verify, eslint --fix

🌀(component): (table) 当table-body出现滚动条tableTotal偏移量错位 #I8VGW2
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

修复表格自动设置宽度在换页时不工作
  package/component/src/component/table/hooks/useAutoColsWidth.ts
Due: prettier --write --no-verify, eslint --fix

🐛(component): (input-number) 触摸板点击触发两次事件 #I8VJCB
  package.json
  package/component/src/component/inputNumber/index.vue
  package/component/src/directives/index.ts
  package/component/src/directives/repeat-click/index.ts
  package/component/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

🔧: issue演示地址设置必填
  .gitee/ISSUE_TEMPLATE/bug.yml
Due: none

✨(component): (form) label长度溢出移入显示tooltip #I8UMQH
  package/component/src/component/form/index.vue
  package/component/src/component/formItem/index.hooks.ts
  package/component/src/component/formItem/index.vue
  package/component/src/types/form.ts
  package/component/src/types/tooltip.ts
  package/document-component/src/document/zh-CN/components/form.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): (TreeSelect) 搜索逻辑调整 #I8ULRO
  package/component/src/component/treeSelect/index.vue
  package/document-component/src/document/zh-CN/components/treeSelect.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🐛(component): (form-item) 引入tooltip less
  package/component/src/component/formItem/index.vue
Due: prettier --write --no-verify, eslint --fix

📝: 2.13.3-alpha.1 版本更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛: isFunction函数声明
  package/component/src/directives/repeat-click/index.ts
  package/component/src/utils/vueUtil.ts
Due: prettier --write --no-verify, eslint --fix

📝(component): 补充日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): update
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): (select) 新增头部，底部插槽
  package/component/src/component/select/index.less
  package/component/src/component/select/index.vue
  package/document-component/src/document/zh-CN/components/select.md
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): (select) select option slot(header、footer)
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write

✨(component): update
  package/component/package.json
  package/component/src/index.ts
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

✨(component): update
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 优化 switch 组件 size 为 lg md sm xs 时的样式尺寸
  package/component/src/component/switch/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

📝(component): (select) footer slot
  package/document-component/src/document/zh-CN/components/select.md
Due: prettier --write

✨(component): 优化 checkcard 组件边框颜色，角标位置
  package/component/src/component/checkcard/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 修复 checkcard 组件 hover 状态边框不跟随主题色
  package/component/src/component/checkcard/index.less
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

🐛(component): (table) y轴出现滚动条header与total部分padding错位 #I8TSK1
  package/component/src/component/table/index.less
  package/component/src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

🐛(component): 修复 table 内 switch 的样式问题
  package/component/src/component/table/index.less
  package/document-component/src/document/zh-CN/components/table.md
Due: prettier --write

📝(component): 更新日志
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): 发布 2.14.0 版本
  package/component/package.json
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

♻️(component): (input-number) 组件内部逻辑重构|新增precision配置支持精度 #I8VNLY
  package/component/src/component/inputNumber/index.vue
  package/component/src/utils/vueUtil.ts
  package/document-component/src/document/zh-CN/components/inputNumber.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

📝(component): (input-number) 修改precision默认值说明
  package/document-component/src/document/zh-CN/components/inputNumber.md
Due: prettier --write

🔧: 新增PULL_REQUEST_TEMPLATE.md
  .gitee/PULL_REQUEST_TEMPLATE.zh-CN.md
Due: prettier --write

🔩: add commit chore emoji
  .cz-config.js
Due: prettier --write --no-verify, eslint --fix

🧹: update chore emoji
  .cz-config.js
  package/component/src/component/tag/interface.ts
Due: prettier --write --no-verify, eslint --fix

🧹: 清除layer docs中其他demo
  package/document-layer/src/document/zh-CN/demo.md
Due: prettier --write

🐛(component): (tooltip) 添加hide事件，当tooltip弹窗隐藏后触发
  package/component/src/component/popper/index.vue
  package/component/src/component/tooltip/index.vue
  package/document-component/src/document/zh-CN/components/tooltip.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

🧹: 补充changelog file
  package/document-component/src/document/zh-CN/guide/changelog.md
Due: prettier --write

✨(component): (color-picker) popper底部添加确认、清空按钮
  package/component/src/component/colorPicker/index.less
  package/component/src/component/colorPicker/index.vue
  package/document-component/src/document/zh-CN/components/colorPicker.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
