Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

docs: 新增 Qrcode.vue 物料
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/introduce.md
  example/src/components/LaySearch.vue
  example/src/view/extend.vue
  example/src/view/material.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 新增 Nprogress 物料
  example/docs/zh-CN/components/load.md
  example/docs/zh-CN/components/msg.md
  example/src/view/material.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

refactor: slider - 拆分index.vue
  example/docs/zh-CN/components/slider.md
  src/component/slider/Standard.vue
  src/component/slider/StandardRange.vue
  src/component/slider/Vertical.vue
  src/component/slider/VerticalRange.vue
  src/component/slider/index.less
  src/component/slider/index.vue
  src/component/slider/utils/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: slider - 删除多余代码
  src/component/slider/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: slider - 删除多余代码
  src/component/slider/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

ci: docsearch 依赖
  package.json
  src/component/button/index.less
  src/component/table/index.vue
  src/utils/guidUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

ci: 国际化
  example/src/locales/en_US.ts
  example/src/locales/zh_CN.ts
  example/src/view/index.vue
  src/component/slider/utils/index.ts
  src/component/table/index.vue
  src/utils/guidUtil.ts
Due: prettier --write --no-verify, eslint --fix

chore: 发布 0.3.9 版本
  package.json
Due: prettier --write

docs: 修改 header 样式
  example/src/layouts/Layout.vue
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

style: 格式化代码结构
  src/component/dropdown/index.vue
Due: prettier --write --no-verify, eslint --fix

fix: slider - 修复step参数 & 优化拖动逻辑
  src/component/slider/StandardRange.vue
  src/component/slider/VerticalRange.vue
  src/component/slider/index.vue
  src/component/slider/utils/index.ts
Due: prettier --write --no-verify, eslint --fix

chore: split index.css
  example/src/components/LaySearch.vue
  example/src/view/material.vue
  src/component/breadcrumb/index.less
  src/component/breadcrumb/index.vue
  src/component/carousel/index.less
  src/component/carousel/index.vue
  src/component/checkbox/index.less
  src/component/checkbox/index.vue
  src/component/collapse/index.less
  src/component/collapse/index.vue
  src/component/collapseItem/index.less
  src/component/collapseItem/index.vue
  src/component/colorPicker/index.less
  src/component/container/index.less
  src/component/dropdown/index.less
  src/component/dropdown/index.vue
  src/component/fullscreen/index.less
  src/component/keyboard/index.less
  src/component/page/index.less
  src/component/page/index.vue
  src/component/progress/index.less
  src/component/progress/index.vue
  src/component/radio/index.less
  src/component/radio/index.vue
  src/component/select/index.less
  src/component/switch/index.less
  src/component/switch/index.vue
  src/component/tab/index.less
  src/component/tab/index.vue
  src/component/table/index.vue
  src/component/upload/index.less
  src/theme/index.less
  src/theme/public.less
Due: prettier --write --no-verify, eslint --fix

chore: merge code
  src/component/checkbox/index.vue
  src/component/tab/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: edit extend -> resources
  example/src/layouts/Layout.vue
  example/src/locales/en_US.ts
  example/src/locales/zh_CN.ts
  example/src/router/zh-CN.ts
  example/src/view/hooks.vue
  example/src/view/resource.vue
Due: prettier --write --no-verify, eslint --fix

chore: edit license
  LICENSE
Due: none

feat(utils): 自动按需引入插件
  src/utils/layui-vue.ts
Due: prettier --write --no-verify, eslint --fix

chore(utils): 代码格式调整
  src/utils/layui-vue.ts
Due: prettier --write --no-verify, eslint --fix

chore(resolver): add resolver floder
  src/resolver/index.ts
Due: prettier --write --no-verify, eslint --fix

chore: 升级 layer-vue 1.3.10
  example/src/components/LaySearch.vue
  package.json
  src/index.ts
  src/resolver/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 研发 date-picker 日期组件
  example/docs/zh-CN/components/datePicker.md
  example/src/router/zh-CN.ts
  example/src/view/utils/menus.ts
  src/component/datePicker/index.ts
  src/component/datePicker/index.vue
  src/index.ts
  src/resolver/index.ts
  src/theme/date.less
  src/theme/font/iconfont.eot
  src/theme/font/iconfont.svg
  src/theme/font/iconfont.ttf
  src/theme/font/iconfont.woff
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: date-picker 月份显示不正确
  src/component/datePicker/index.vue
  src/index.ts
Due: prettier --write --no-verify, eslint --fix

docs: 更新日志
  example/docs/zh-CN/components/button.md
  example/docs/zh-CN/guide/changelog.md
  example/src/components/LayAnchor.vue
  src/component/datePicker/index.vue
  src/component/scroll/index.vue
  src/theme/index.less
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: edit README.en.md
  README.en.md
  README.md
  example/docs/zh-CN/guide/changelog.md
  example/src/components/LayAnchor.vue
  src/component/scroll/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: upgrade dependency
  package.json
Due: prettier --write

docs: 新增 scroll 文档说明
  example/docs/zh-CN/components/scroll.md
  example/src/layouts/Layout.vue
  example/src/router/zh-CN.ts
  example/src/view/index.vue
  example/src/view/utils/menus.ts
  package.json
  src/component/scroll/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update document
  example/docs/zh-CN/components/backtop.md
  example/docs/zh-CN/components/scroll.md
Due: prettier --write

docs: update
  example/docs/zh-CN/components/confirm.md
  example/docs/zh-CN/components/datePicker.md
  example/docs/zh-CN/components/drawer.md
  example/docs/zh-CN/components/modal.md
  example/docs/zh-CN/components/scroll.md
  src/component/datePicker/index.vue
  src/component/input/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 更新成员信息
  example/docs/zh-CN/components/backtop.md
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/member.md
  src/component/datePicker/index.vue
  src/component/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: add page component v-model props
  example/docs/zh-CN/components/page.md
  example/docs/zh-CN/components/table.md
  src/component/colorPicker/index.vue
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): excel export
  package.json
  src/component/colorPicker/index.vue
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs(fullscreen): 修复文档样式冲突
  example/docs/zh-CN/components/fullscreen.md
  example/docs/zh-CN/guide/changelog.md
  src/component/colorPicker/index.vue
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: checkbox checked color
  example/docs/zh-CN/guide/changelog.md
  src/component/checkbox/index.less
  src/component/colorPicker/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(transfer): 新增 showSearch 属性
  example/docs/zh-CN/components/badge.md
  example/docs/zh-CN/components/transfer.md
  example/docs/zh-CN/guide/changelog.md
  src/component/page/index.vue
  src/component/table/index.vue
  src/component/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  src/component/page/index.vue
  src/component/table/index.vue
  src/component/transfer/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: 新增 notice-bar 目录
  src/component/noticeBar/index.ts
  src/component/noticeBar/index.vue
  src/index.ts
Due: prettier --write --no-verify, eslint --fix

update src/component/noticeBar/index.vue.
  src/component/noticeBar/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: 新增 notice-bar 组件
  example/docs/zh-CN/components/noticeBar.md
  example/src/router/zh-CN.ts
  example/src/view/utils/menus.ts
  src/component/noticeBar/index.ts
  src/component/noticeBar/index.vue
  src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update
  example/docs/zh-CN/components/noticeBar.md
  example/docs/zh-CN/components/page.md
  example/docs/zh-CN/guide/changelog.md
  src/component/noticeBar/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat: table column 新增 sort 字段
  example/docs/zh-CN/components/table.md
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update
  src/component/table/index.vue
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
