Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

[优化]LayPage 限制用户在跳转输入时页码数不能超过最大页码
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix

临时恢复 page 逻辑
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix

更新成员信息, 梳理更新日志
  example/docs/zh-CN/guide/changelog.md
  example/docs/zh-CN/guide/member.md
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

发布 0.3.0 版本
  LICENSE
  example/docs/zh-CN/components/page.md
  example/docs/zh-CN/guide/changelog.md
  package.json
  shims-vue.d.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

发布 0.3.1 版本
  example/docs/zh-CN/guide/changelog.md
  package.json
Due: prettier --write

发布 0.3.1 版本
  example/src/layouts/Layout.vue
  example/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

[修复]LayPage页码起止范围计算问题
  example/docs/zh-CN/components/page.md
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

slider - 纵向区间
  .prettierrc
  example/docs/zh-CN/components/slider.md
  src/module/slider/index.less
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

弥补版本回退错误的问题
  .prettierrc
  example/docs/zh-CN/components/slider.md
  src/module/slider/index.less
  src/module/slider/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

1.骨架屏组件封装
  example/docs/zh-CN/components/skeleton.md
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  src/index.ts
  src/module/skeleton/index.less
  src/module/skeleton/index.ts
  src/module/skeleton/index.vue
  src/module/skeletonItem/index.ts
  src/module/skeletonItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

[完善]个人成员信息
  example/docs/zh-CN/guide/member.md
Due: prettier --write

新增 publish 发布命令
  example/docs/zh-CN/guide/member.md
  package.json
Due: prettier --write

✨[完善]使用teleport重构tooltip所使用的内部popper组件，支持移动到tooltip内容而不隐藏tooltip
  src/module/popper/index.less
  src/module/popper/index.vue
  src/module/popper/usePopper.ts
  src/module/tooltip/index.vue
Due: prettier --write --no-verify, eslint --fix

提交 md 目录样式调整
  example/src/components/LayAnchor.vue
  example/src/main.ts
  example/src/plugin/create-anchor.ts
Due: prettier --write --no-verify, eslint --fix

整理 docs 代码
  example/docs/zh-CN/components/skeleton.md
  example/src/components/LayTableBox.vue
  example/src/plugin/common-plugins.ts
  example/src/plugin/create-anchor.ts
  example/src/plugin/create-block.ts
  example/src/plugin/create-comment.ts
  example/src/plugin/create-describe.ts
  example/src/plugin/create-table.ts
  example/src/plugin/create-title.ts
  example/src/plugin/snippet.ts
  example/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(mdAnchor):页面滚动时对应锚点标签跟随高亮；点击锚点标签平滑滚动
  example/src/components/LayAnchor.vue
Due: prettier --write --no-verify, eslint --fix

fix(mdAnchor):折叠Anchor时body宽度自适应
  example/src/components/LayAnchor.vue
Due: prettier --write --no-verify, eslint --fix

fix(mdAnchor):body变化动画效果
  example/src/view/component.vue
Due: prettier --write --no-verify, eslint --fix

fix(mdAnchor): 折叠md目录后切换页面缩放异常的问题
  example/src/components/LayAnchor.vue
Due: prettier --write --no-verify, eslint --fix

升级 layer-vue 1.2.3
  example/src/components/LayAnchor.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新 layer 文档, 整理更新日志
  example/docs/zh-CN/components/modal.md
  example/docs/zh-CN/guide/changelog.md
  src/index.ts
  src/module/layer/README.md
  src/module/layer/index.ts
  src/module/layer/modal/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

升级 layer-vue 1.2.4
  package.json
Due: prettier --write

废除 menu-children-item 组件, 菜单初步支持无限极
  example/docs/zh-CN/components/menu.md
  src/css/layui.css
  src/index.ts
  src/module/menuChildItem/index.ts
  src/module/menuChildItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

优化 anchor 样式
  example/src/components/LayAnchor.vue
Due: prettier --write --no-verify, eslint --fix

更新日志
  example/docs/zh-CN/guide/changelog.md
Due: prettier --write

next-version
  example/docs/zh-CN/guide/changelog.md
  example/src/layouts/Layout.vue
  example/src/view/index.vue
  package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

发布 0.3.2
  package.json
  src/css/layui.css
Due: prettier --write

update README.md.
  README.md
Due: prettier --write

1.步骤条封装
  example/docs/zh-CN/components/step.md
  example/src/entry-server.ts
  example/src/router/zh-CN.ts
  example/src/view/component.vue
  src/index.ts
  src/module/slider/index.vue
  src/module/step/index.less
  src/module/step/index.ts
  src/module/step/index.vue
  src/module/stepItem/index.ts
  src/module/stepItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

1.步骤条封装
  example/src/router/zh-CN.ts
Due: prettier --write --no-verify, eslint --fix

切换私有源
  package.json
  src/module/page/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

添加prepublishOnly命令
  package.json
Due: prettier --write

修复 menu 导航模式下的 more 动画
  example/docs/zh-CN/components/modal.md
  example/docs/zh-CN/components/timeline.md
  src/module/menuItem/index.vue
  src/module/timelineItem/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

更新成员信息
  example/docs/zh-CN/guide/member.md
Due: prettier --write
