Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

update README.zh.md.
  README.zh.md
Due: prettier --write

update README.md.
  README.md
Due: prettier --write

fix(select): 多选时placeholder不可见
  packages/component/component/tagInput/index.less
Due: none

feat(component/datePicker): 支持选择任意年份
  packages/component/component/datePicker/components/YearPanel.vue
  packages/component/component/datePicker/day.ts
  packages/component/component/datePicker/index.less
Due: prettier --write --no-verify, eslint --fix

fix(component/cascader): 向外提供 change 事件
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(table): 重写sort部分逻辑代码
  packages/component/component/table/index.less
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

docs: 优化移动设备的文档查看
  docs/src/assets/css/index.css
  docs/src/assets/css/mobile.css
  docs/src/assets/css/mobile.less
  docs/src/layouts/Layout.vue
  docs/src/view/components.vue
  docs/src/view/guide.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 优化移动设备的文档查看
  docs/src/assets/css/mobile.less
  docs/src/view/components.vue
  docs/src/view/guide.vue
Due: prettier --write --no-verify, eslint --fix

style: 修改 code 的 margin，并且修复 backtop 的样式
  docs/src/assets/css/mobile.less
Due: none

chore: 优化组件滚动、优化菜单点击效果
  docs/src/assets/css/mobile.less
  docs/src/view/components.vue
  docs/src/view/guide.vue
Due: prettier --write --no-verify, eslint --fix

fix(table): ellipsisTooltip只在文本超出隐藏生效
  packages/component/component/carousel/__tests__/carousel.test.tsx
  packages/component/component/popper/__tests__/popper.test.tsx
  packages/component/component/tooltip/index.vue
  packages/component/component/tree/__tests__/tree.test.tsx
Due: prettier --write --no-verify, eslint --fix

chore(package): update module format
  packages/icons/package.json
  packages/icons/vite.config.ts
  packages/json-schema-form/package.json
  packages/json-schema-form/vite.config.ts
  packages/layer/package.json
  packages/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: eslint format
  packages/icons/vite.config.ts
  packages/json-schema-form/vite.config.ts
  packages/layer/vite.config.ts
Due: prettier --write --no-verify, eslint --fix

chore(deps): docs fixed vite version
  docs/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(icons): add types exports path
  packages/icons/package.json
Due: prettier --write

docs(table) add initsort/page props info
  docs/src/components/LayTableBox.vue
  docs/src/document/zh-CN/components/table.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: 切换属性添加锚点(用于复制网页点击快速跳转)
  docs/src/components/LayAnchor.vue
  docs/src/document/zh-CN/components/color.md
Due: prettier --write --no-verify, eslint --fix, prettier --write

!388 docs: 优化官方文档交互 * docs: 切换属性添加锚点(用于复制网页点击快速跳转) * chore: 优化组件滚动、优化菜单点击效果 * style: 修改 code 的 margin，并且修复 backtop 的样式 * docs: 优化移动设备的文档查看 * docs: 优化移动设备的文档查看
  docs/src/assets/css/index.css
  docs/src/assets/css/mobile.css
  docs/src/assets/css/mobile.less
  docs/src/components/LayAnchor.vue
  docs/src/document/zh-CN/components/color.md
  docs/src/layouts/Layout.vue
  docs/src/view/components.vue
  docs/src/view/guide.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: delay position
  docs/src/components/LayAnchor.vue
Due: prettier --write --no-verify, eslint --fix

chore: code optimization
  packages/component/component/qrcode/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(select): 新增clear、remove-tag emitt 事件
  docs/src/document/zh-CN/components/select.md
  packages/component/component/select/__tests__/select.test.tsx
  packages/component/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: add version info
  docs/src/document/zh-CN/components/select.md
  packages/component/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: update
  docs/src/document/zh-CN/components/select.md
Due: prettier --write

chore: eslint 和文档补充
  docs/src/document/zh-CN/components/qrcode.md
  packages/component/component/qrcode/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: typescript 类型适配
  packages/component/component/qrcode/index.vue
Due: prettier --write --no-verify, eslint --fix

!382 feat(layQrcode ): 支持内插图片 * fix: typescript 类型适配 * chore: eslint 和文档补充 * chore: code optimization * feat: layQrcode 组件支持内插图片
  docs/src/document/zh-CN/components/qrcode.md
  packages/component/component/qrcode/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

!383 fix(radioButton): 结合radioGroup未触发change事件 * fix(radioButton): 结合radioGroup未触发change事件
  packages/component/component/radio/__tests__/radio.test.tsx
  packages/component/component/radioButton/__tests__/radioButton.test.tsx
  packages/component/component/radioButton/index.vue
Due: prettier --write --no-verify, eslint --fix

!384 fix(treeSelect): props.data改变内部未更新 * fix(treeSelect): props.data改变内部未更新
  docs/src/document/zh-CN/components/treeSelect.md
  packages/component/component/tagInput/index.less
  packages/component/component/treeSelect/__tests__/treeSelect.test.tsx
  packages/component/component/treeSelect/index.vue
  packages/component/utils/treeUtil.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!385 fix(select): 多选时placeholder不可见 * fix(select): 多选时placeholder不可见
  packages/component/component/tagInput/index.less
Due: none

!386 feat(table): 新增点击th可触发排序 * docs(table) add initsort/page props info * feat(table): 重写sort部分逻辑代码
  docs/src/components/LayTableBox.vue
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/index.less
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

!389 fix(table): ellipsisTooltip只在文本超出隐藏生效 * fix(table): ellipsisTooltip只在文本超出隐藏生效
  packages/component/component/carousel/__tests__/carousel.test.tsx
  packages/component/component/popper/__tests__/popper.test.tsx
  packages/component/component/tooltip/index.vue
  packages/component/component/tree/__tests__/tree.test.tsx
Due: prettier --write --no-verify, eslint --fix

!391 feat(select): 新增clear、remove-tag emit 事件 * chore: update * docs: add version info * feat(select): 新增clear、remove-tag emitt 事件
  docs/src/document/zh-CN/components/select.md
  packages/component/component/select/__tests__/select.test.tsx
  packages/component/component/select/index.vue
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(icons): release 1.1.2
  packages/icons/package.json
Due: prettier --write

feat(json-schema-form): release 1.0.14
  packages/json-schema-form/CHANGELOG.md
  packages/json-schema-form/package.json
Due: prettier --write

feat(layui-vue): release 2.18.3
  docs/src/document/zh-CN/guide/changelog.md
  docs/src/view/index.vue
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: lack :::
  docs/src/document/zh-CN/components/layer.md
Due: prettier --write

chore(component/datePicker): props 提取，样式修改、年份生成方法修改和 YearPanel 修改
  packages/component/component/datePicker/components/YearPanel.vue
  packages/component/component/datePicker/day.ts
  packages/component/component/datePicker/index.less
  packages/component/component/datePicker/index.vue
  packages/component/component/datePicker/interface.ts
Due: prettier --write --no-verify, eslint --fix

docs: 镜像调整
  README.md
  README.zh.md
Due: prettier --write

style: 移动端样式调整
  docs/src/assets/css/mobile.less
Due: none

chore(component/segmented): 分段选择器样式和功能调整
  packages/component/component/segmented/__tests__/segmented.test.tsx
  packages/component/component/segmented/index.less
  packages/component/component/segmented/index.vue
Due: prettier --write --no-verify, eslint --fix

Path conditions:
  prettier --write --no-verify: any of: *.{ts,vue,js,tsx,jsx}
  eslint --fix: any of: *.{ts,vue,js,tsx,jsx}
  prettier --write: any of: *.{html,css,md,json}
