Repository layui-vue/layui-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-verify, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,vue,js,tsx,jsx}": ["prettier --write --no-verify ", "eslint --fix"],
  "*.{html,css,md,json}": "prettier --write",
}

update docs/package.json.
  docs/package.json
Due: prettier --write

删除文件 docs/move.sh
  docs/move.sh
Due: none

rename move to move.sh.
  move
  move.sh
Due: none

update _redirects.
  _redirects
Due: none

style(docs): icon展示模块高度调整
  docs/src/assets/css/markdown.css
Due: prettier --write

update package.json.
  package.json
Due: prettier --write

rename move.sh to cloudflare_redirect.sh.
  cloudflare_redirect.sh
Due: none

fix(tree): checkedKeys异常
  packages/component/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/tree/tree.ts
Due: prettier --write --no-verify, eslint --fix

chore(component/cascader): 修复 cascader 中单选、多选及其严格模式下的问题
  docs/src/document/zh-CN/components/cascader.md
  packages/component/component/cascader/cascaderInputs.tsx
  packages/component/component/cascader/index.less
  packages/component/component/cascader/index.vue
  packages/component/component/cascader/interface.ts
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.vue
  packages/component/component/cascaderPanel/interface.ts
  packages/component/tsconfig.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

新增表格拖拽获取宽度事件&&跳转form-json检索重置问题
  packages/component/component/table/hooks/useResize.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
  packages/json-schema-form/src/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix

修正表单逻辑更新错误
  packages/component/component/table/index.vue
  packages/json-schema-form/src/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix

调整下代码结构
  packages/component/component/table/index.vue
  packages/json-schema-form/src/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: lint code
  packages/component/component/table/hooks/useResize.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix

!357 feat(table): 新增表头拖拽(resize-change)事件 * chore: lint code * 调整下代码结构 * 修正表单逻辑更新错误 * 新增表头拖拽(resize-change)事件
  packages/component/component/table/hooks/useResize.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
  packages/json-schema-form/src/component/form/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(collapse-item): vIf replace vShow
  packages/component/component/collapseItem/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: update
  packages/component/component/table/hooks/useResize.ts
  packages/layui/package.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

docs: update sponsors
  docs/src/view/index.vue
Due: prettier --write --no-verify, eslint --fix

chore(deps): update vue to v3.3.14
  docs/package.json
  package.json
  packages/icons/package.json
  pnpm-lock.yaml
Due: prettier --write

!359 chore(deps): update vue to v3.3.14 * chore(deps): update vue to v3.3.14
  docs/package.json
  package.json
  packages/icons/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(auto-complete): 新增输入框input、focus、blur、clear事件
  docs/src/document/zh-CN/components/autoComplete.md
  packages/component/component/autoComplete/index.vue
  packages/component/component/input/index.vue
  packages/component/component/input/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

feat(component/code): 新增 LayCode 代码预览组件
  package.json
  packages/component/component/code/ILayCode.ts
  packages/component/component/code/ILayCodePanel.ts
  packages/component/component/code/LayCode.less
  packages/component/component/code/LayCodePanel.less
  packages/component/component/code/LayCodePanel.vue
  packages/component/component/code/LayCodePreview.vue
  packages/component/component/code/LayCodeWrapper.tsx
  packages/component/component/code/hljs.css
  packages/component/component/code/index.ts
  packages/component/component/code/index.vue
  packages/component/component/code/prism.css
  packages/component/component/code/useShiki.ts
  packages/component/components.ts
  packages/component/index.ts
  packages/component/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 适配2.x对依赖项的修改
  packages/component/component/cascader/cascaderInputs.tsx
  packages/component/component/cascader/interface.ts
  packages/component/component/cascaderPanel/index.vue
  packages/component/tsconfig.json
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore: 新增了pnpm clean命令，修正layui在build dts环节未清除types的问题
  package.json
  packages/layui/package.json
Due: prettier --write

chore(layer): render replace Back createApp
  packages/layer/package.json
  packages/layer/src/index.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

fix: update
  packages/layui/package.json
Due: prettier --write

chore: 调整制品生成的目录
  package.json
  packages/icons/package.json
  packages/icons/tsconfig.json
  packages/icons/vite.config.ts
  packages/json-schema-form/package.json
  packages/json-schema-form/src/component/checkbox/checkbox.ts
  packages/json-schema-form/src/component/form-block/form-block.ts
  packages/json-schema-form/src/component/form/index.less
  packages/json-schema-form/src/component/form/index.vue
  packages/json-schema-form/src/component/form/types.ts
  packages/json-schema-form/src/component/radio/radio.ts
  packages/json-schema-form/tsconfig.json
  packages/json-schema-form/vite.config.ts
  packages/layer/package.json
  packages/layer/tsconfig.json
  packages/layer/vite.config.ts
  packages/layui/package.json
  packages/layui/script/build.all.ts
  packages/layui/script/build.es.ts
  packages/layui/script/build.umd.ts
  packages/layui/tsconfig.json
  play/main.ts
  play/package.json
  pnpm-workspace.yaml
Due: prettier --write --no-verify, eslint --fix, prettier --write

rename _redirects
  _redirects
  baobaobao
Due: none

rename _redirects.
  _redirects 
Due: none

rename _redirects to _redirects.
  _redirects
Due: none

chore: 修改了cascaderPanel中使用slots.default会显示一个默认下拉框的问题
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.hook.ts
  packages/component/component/cascaderPanel/index.vue
  packages/component/component/cascaderPanel/interface.ts
Due: prettier --write --no-verify, eslint --fix

chore: 修改cascaderPanel的数据加载机制，并支持在多选模式下的cascader中删除tag
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: 暂用 LayCheckboxV2 实现 panel 的多选，并且修复多选模式下删除单个 Tag 偶然无效的问题
  packages/component/component/cascader/index.vue
  packages/component/component/cascaderPanel/index.less
  packages/component/component/cascaderPanel/index.vue
  packages/component/component/checkboxV2/index.hooks.ts
  packages/component/component/checkboxV2/index.less
  packages/component/component/checkboxV2/index.ts
  packages/component/component/checkboxV2/index.vue
  packages/component/component/checkboxV2/interface.ts
Due: prettier --write --no-verify, eslint --fix

chore: 去除 cascader 代码内 FIXME 注释
  packages/component/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix

feat: cascader 现在在多选模式下支持搜索任意一级节点
  packages/component/component/cascader/index.less
  packages/component/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix

chore: 讨论：按下退格键是否删除Tag？
  packages/component/component/cascader/index.vue
Due: prettier --write --no-verify, eslint --fix

feat(table): 新增expand事件
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/TableData.vue
  packages/component/component/table/hooks/useEmit.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write

chore(table): 调整expand事件名为expand-change
  docs/src/document/zh-CN/components/table.md
  packages/component/component/table/TableData.vue
  packages/component/component/table/hooks/useEmit.ts
  packages/component/component/table/index.vue
  packages/component/component/table/typing.ts
  packages/component/component/tag/interface.ts
Due: prettier --write --no-verify, eslint --fix, prettier --write
